# 1 Assignment

It is totally prohibited to use any kind of loop. You can use stackoverflow. If you copy codes from previous answers, explain each step. No explanation is `0 points`.

## 1.1 Tuple



1. Print the first item of the second item of `tuple1` object. **Hint: Use indexing**<br><br>
2. Print the last item of the `tuple1` object.**Hint: Use indexing**<br><br>
3. Change the value "orange" for "pink grapefruit". Comment the output. **Hint: Is it possible?** <br><br>
4. Print the length of `tuple1`. **Hint: Length function**<br><br>
5. Sum all the elements of tuple2 and describe your steps and explain each of them. **Hint: Use `map` function.**<br><br>
6. Generate a new tuple object named as `tuple3` with the half values of `tuple2`. This tuple should be similar as `tuple2`, tuple of lists.  **Hint: Use `map` funciont.**<br><br>

In [1]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple2 = ([7, 8], [9, 1], [10, 7])

#### Answer 1:
First, select the second object of the tuple. Next, select the second element of the previous selection.

In [2]:
print(tuple1[1][0])

10

#### Answer 2:
Directly select the third item of the tuple.

In [3]:
print(tuple1[2])

(5, 15, 25)

#### Answer 3:
Tuples can not be changed. For that reason, is not possible to modify the first item as "pink grapefruit".

In [4]:
tuple1[0] = "pink grapefruit"

TypeError: 'tuple' object does not support item assignment

#### Answer 4:
Considering only the quantity of items per object.

In [5]:
print(len(tuple1))

3

#### Answer 5:
First, convert tuple2 in a list. Then, using map function, sum each value for each item of the list. Next, convert the last result into another list with three elements. Finally, the three elements of the resulting list must be sum.

In [6]:
sum(list(map(sum,list(tuple2))))

42

#### Answer 6:
First, we define the function that divides in 2 the values of each value of the tuple called "lambda". Then, we apply this to `tuple2` using the map function.

In [7]:
tuple3 = tuple(map(lambda x: [y//2 for y in x], tuple2))
print(tuple3)

([3, 4], [4, 0], [5, 3])

However, if you meant that we get only half the values (that is, one value) of each list in the tuple. The steps are the following. First, we define a function that only uses half the lenght of the elements in `tuple2`. After that, we apply this function to `tuple2` using the map function as well.

In [8]:
tuple3 = tuple(map(lambda x: x[:len(x)//2], tuple2))
print(tuple3)

([7], [9], [10])

## 1.2 Lists
1. Show the indices of the `np.nan` values  in the `f_list` list. We want to see this output: `The indices 0, 1, 4, 7 have np.nan values.` **Hint: Use print function and [f-strings](https://realpython.com/python-f-strings/) to insert the indices values.**<br><br>

2. Replicate 4 times the values of the list `p2_list`. We expect an ouput like this: `[ 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5]`.  **Hint: Use multiplication function in `lists`and see the output.**<br><br>
3. Print the length of `f_list`. **Hint: Length function**<br><br>
4. Print `My teacher assistant is so boring.` using `text1` list. **Hint: Use the [`join` function](https://stackoverflow.com/questions/493819/why-is-it-string-joinlist-instead-of-list-joinstring)**<br><br>
5. Print `My TA is so boring, but is very funny.` using `text1` list.**Hint: Use the `join` function, and `extend` method.**<br><br>
6. Print <br>
`The max value of values1 is 86 and is located in the 0 index. ` <br>
`The min value of values1 is 0 and is located in the 7 index. ` <br> **Hint: Use the `f-string`, `min`, and `max` functions.**
<br>
7. Get two lists: `names` and `last_names` using `last_and_name` list. **Hint: Use `map` and `split`.**
<br>
8. Give only the last names of students who do not have email. Use the `emails` and `last_names` listt. **Hint: Use `map` and `split`.**
<br>

In [9]:
import numpy as np

In [10]:
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]

In [11]:
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']

In [12]:
p2_list = [ 2 , 3, 4, 5 ]

In [13]:
values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1 ]

In [14]:
# These two are lists 
last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe", "", "", "", "", "", "f0873079@pucp.edu.pe", "", "", "", "", "", "", "", "", "", "", "flores.alexis@pucp.edu.pe", ]

#### Answer 1
First, we use the function "where" to obtain indexes of the elements that meet a condition. To use this function we convert the list to an array. After that, we create an array containing only these results. Finally, we transform that array to a list to use f-string and obtain the requested.

In [15]:
z = np.where(np.array(f_list) == str (np.nan))
z = z[0]
z = list(z)

In [16]:
print(f"The indices {z} have np.nan values")

The indices [0, 1, 4, 7] have np.nan values

#### Answer 2
We use " * " for create several copies of the list and joins them together.

In [17]:
p2_list * 4

[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

#### Answer 3
To know the length of the list, we use "lenght" function.

In [18]:
len(f_list)

8

#### Answer 4
We put an espace " " to join with the list elements.

In [19]:
s = " "
s = s.join(text1)

In [20]:
print(s)

My teacher assistant is so boring.

#### Answer 5 
First, we create the list text2, after We do the same as in the previos question in order to join the elements. Then we use the "extend" function to join this two list and finally, we use again the join function to get the requested.

In [21]:
text2 = [',but', 'is', 'very', 'funny.']
x=" "
x = x.join(text2)
print(x)

,but is very funny.

In [22]:
text1.extend(text2)
y = " "
y = y.join(text1)
print(y)

My teacher assistant is so boring. ,but is very funny.

#### Answer 6:
First, with enumerate function, we give each value of the list an index number inside a tuple, that also contains the values. The max function allows us to extract the value of the tuple and the index of that value that is the maximun inside `values1`. With this, we get the index of the maximun value of `values1` and the value that is effectively the maximun in the list. We called them max_index and max_value. Then, we repeat the same process to get the minimun. 

Finally, we print the statements using the variables created previously through f-string function.

In [23]:
max_index, max_value = max(enumerate(values1), key=lambda x: x[1])

min_index, min_value = min(enumerate(values1), key=lambda x: x[1])

print(f"The max value of values1 is {max_value} and is located in the {max_index} index.")
print(f"The min value of values1 is {min_value} and is located in the {min_index} index.")

The max value of values1 is 86 and is located in the 0 index.
The min value of values1 is 0 and is located in the 7 index.

In [24]:
#print(list(enumerate(values1)))

#### Answer 7:
First, we create the function "lambda" that splits each element using as parse the comma (","). With the map function, we apply this function to the `last_and_name` string, creating variables that end in `split_names`. After that, using the zip function, we we put the elements together in lists: `last_names` for the last names and `names` for the names of the students.

In [25]:
split_names = map(lambda x: x.split(","), last_and_name)

last_names, names = zip(*split_names)

print(last_names)
print(names)

('CORNEJO SANCHEZ', 'ORELLANA QUISPE', 'MORALES CHOQUEHUANCA', 'GUIMARAY RIBEYRO', 'CAMACHO GAVIDIA', 'TINTAYA ORIHUELA', 'CHAVEZ MARTINEZ', 'FIGUEROA MURO', 'GOMEZ CRIBILLERO', 'PALOMINO SEGUÍN', 'LUZON CUEVA', 'SUAÑA ZEGARRA', 'SOTO POMACHAGUA', 'FIORENTINO MARTINEZ', 'LAMA MAVILA', 'MEZA HINOJO', 'LOZADA MURILLO', 'ZAMBRANO JIMENEZ', 'JACOBS LUQUE', 'VIDAL VIDAL', 'TORRES ANICAMA', 'LOPEZ ESTRADA', 'BOYCO ORAMS', 'DIAZ BERROSPI', 'RIEGA ESCALANTE', 'LEVANO TORRES', 'ESQUIVES BRAVO', 'PEREZ GONZALES', 'OTERO MAGUIÑA', 'CLAVO CAMPOS', 'AGUILAR GARCIA', 'CALDAS VELASQUEZ', 'SALAS NUÑEZ BORJA', 'PIZARRO VILLANES', 'QUILLATUPA MORALES', 'HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'HINOJOSA CAHUANA', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ', 'FLORES CADILLO')
(' CHRISTIAN SANTOS', ' CRISTIAN NASSER', ' ANGELICA KARINA', ' JOSE ROBERTO', ' ABEL FERNANDO', ' MEIR ALVARO', ' JOSELIN ALEXANDRA', ' LEONEL ARTURO', ' JOSE FELIPE', ' AFRANIA', ' BIANCA MARIETTE', ' ADRIAN ANDRE', ' DORKAS YOMIRA JHERMY', ' LADY ALY', ' HECTOR ANDRE', ' GUSTAVO', ' PERSEO MARCELO', ' MIGUEL ALONZO', ' NICOLAS', ' ROCIO GABRIELA', ' JANE CAMILA', ' MARIA ELISA', ' ALEJANDRO', ' KARLINE ROSMELI', ' STEPHY ROSARIO', ' VALERIA CECILIA', ' SEBASTIAN RENATO', ' JUAN CARLOS', ' MARIANA', ' ANDREA BRIZETH', ' ERICK JOSUE', ' JOSUE DANIEL', ' FABIO MANUEL', ' FERNANDA NICOLLE', ' ANGELA ADELINA', ' CESAR DANTE', ' GABRIELA ISABEL', ' ANGEL MAURICIO', ' JUAN DIEGO', ' ARONE', ' PERCY ALBERTH', ' KEVIN ARTURO', ' CESAR ERNESTO', ' CÉSAR AGUSTO', ' DIANA EDITH', ' RODRIGO FRANCO', ' GRETTEL ALEXANDRA', ' ROSA ANGELA', ' DANTE OMAR', ' YAJAIRA ALEXANDRA', ' JORGE ALBERTO', ' ALEXIS')

#### Answer 8:
First, we put together the names and emails of the students using the zip function and create the `name_email_pairs`, a list of tuples.

After that, we create the lambda function that allows us to identify the elements that don't have an email, that is the second element in the tuple (`x[1]`). The filter function restricts the pair of elements of the list that meet this condition and created the list `filtered pairs`. 

Later, we create another lambda function that allows us to split - *using as parse the comma (",")* - the list of names, that is the first element in the  restricted pairs of the tuple (`x[0]`). The map function applies this to the list `filtered pairs` and created the list `last_names`.

In [26]:
name_email_pairs = zip(last_and_name, emails)

filtered_pairs = filter(lambda x: x[1] == "", name_email_pairs)

last_names = map(lambda x: x[0].split(",")[0], filtered_pairs)

print(list(last_names))

['HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ']

## 1.3 Strings


1. Drop the duplicated blank spaces in `str1`. Do not use the regular expresions. Do not use the code shown in class. Explain your steps.**Hint: Use `split` method and `join` function.**

2. Get the number of letters in the string .**Hint: Use `len`function.**

3. Get the number of blank spaces (all of them) in the string .**Hint: Use `len`function.**

4. Get the position of `@` in each string in the emails list. **Hint: Use `map`function and `find` method.**

5. Identifies if exists `.edu.`  in each string in the `emails` list. Get a list of Booleans. **Hint: Use `map`function and `find` method.**

6. Get all the strings before the first dot `.`in each string in the `emails` list. Identifies how many of them has `@`. **Hint: Use `map`function and `find` method.**

In [27]:
str1 = 'I am                            too                                                        old'

In [28]:
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

#### Answer 1
First, the "split" function separates the elements of a string and converts them into a list, ignoring special characters (in this case, spaces). Then the join function joins the elements of the list, and is instructed to separate them with a character (space) in order to eliminate duplicate spaces.

In [29]:
print(" ".join(str1.split()))

I am too old

#### Answer 2
First, the split function allows us to remove the special characters and form a list of elements, which are joined with the join function but without adding a space between the words. With the len function, we find the number of letters (the length of the element) in the string.

In [30]:
len("".join(str1.split()))

9

#### Answer 3
Using the previous methods, we can know the number of letters in the original string. That is, the len function - that finds the number of letters (the length of the element) in the string. From that, we can subtract this value from the total number of characters in the original string, to find the difference, which will be the number of spaces.

In [31]:
len(str1) - len("".join(str1.split()))

85

#### Answer 4

First, we create the function "lambda" that searchs in each element the `@` character. With the map function, we apply this function to the `emails` string. After that, we print the position of each one in relation to its own element.

In [32]:
#len(emails)
print([*map(lambda a: a.find("@"), emails)])

[9, 11, 14, 9, 12, 8, 14, 9, 8, 16, 12, 13, 6, 9, 10, 12, 8, 11, 14, 6, 11, 7, 15, 9, 12, 8, 9, 11, 13, 6, 9, 12, 11, 16, 11]

#### Answer 5
We use the previous method to identify the position of ".edu" in each element. That is  we create the function "lambda" that searchs in each element the `.edu` character. With the map function, we apply this function to the emails string, creating the `lista` variable.

Those elements that do not have `.edu`, the result indicates it as "-1". Subsequently, using the function map, we convert the result to boolean, by including the condition of "being greater than 0" and print the results.

In [33]:
lista = [*map(lambda a: a.find(".edu"), emails)]
print(*map(lambda x: x>0, lista))

True True True False False True True False False False False False True False True True True True True True True True True True True True True True True True True True True True False

#### Answer 6
First, we use the map function to apply the lambda function to each element in the emails list. We created the lambda function that allows us to split - *using as parse the dot (".")* - the list of emails. With this, we create the `substrings` variable. 

After that, we count how many substrings contain the `@` character. We give the value of 1 for each element in `substrings` that has an `@` character and, using the sum function, we get the sum of the elements of the emails that have `@`.

In [34]:
substrings = map(lambda x: x.split(".")[0], emails)

count = sum(1 for x in substrings if "@" in x)

print(count)

14