# 1 Assignment

It is totally prohibited to use any kind of loop. You can use stackoverflow. If you copy codes from previous answers, explain each step. No explanation is `0 points`.

## Members:

Joselin Chavez (20102168)

Alexis Flores (#)

Afrania Palomino (#)

Meir Tintaya (20098137)

José Gómez (#) 

Leonel Arturo (#)
...
...

## 1.1 Tuple



1. Print the first item of the second item of `tuple1` object. **Hint: Use indexing**<br><br>
2. Print the last item of the `tuple1` object.**Hint: Use indexing**<br><br>
3. Change the value "orange" for "pink grapefruit". Comment the output. **Hint: Is it possible?** <br><br>
4. Print the length of `tuple1`. **Hint: Length function**<br><br>
5. Sum all the elements of tuple2 and describe your steps and explain each of them. **Hint: Use `map` function.**<br><br>
6. Generate a new tuple object named as `tuple3` with the half values of `tuple2`. This tuple should be similar as `tuple2`, tuple of lists.  **Hint: Use `map` funciont.**<br><br>

In [64]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple2 = ([7, 8], [9, 1], [10, 7])

In [65]:
#1. Print the first item of the second item of tuple1 object. Hint: Use indexing

#We use a double index to get an element inside other element:
p1 = tuple1[1][1]
print(f"The first item of the second item of tuple1 object is {p1}")

The first item of the second item of tuple1 object is 20

In [66]:
#2. Print the last item of the tuple1 object.Hint: Use indexing

#We use a double index to get an element inside other element:
p2 = tuple1[2][2]

print(f"The last item of the tuple1 object is {p2}")

The last item of the tuple1 object is 25

In [67]:
#3. Change the value "orange" for "pink grapefruit". Comment the output. Hint: Is it possible? 

# In this case, we couldn't change a value for another because a tuple isn't allow it. Tuples cannot be modified:
tuple1[0] = "pink grapefruit"

# Nevertheless, to change the value "orange" for "pink grapefruit", we could change the object type 
#from tupla to list, like this:

#tuple1_new = list(tuple1)
#tuple1_new[0] = "pink grapefruit"
#tuple1_new

TypeError: 'tuple' object does not support item assignment

In [68]:
#4. Print the length of tuple1. Hint: Length function

#We used the function and got the three elements inside the tuple:
p4 = len(tuple1)

print(f"The length of tuple1 is {p4}")

The length of tuple1 is 3

In [69]:
#5. Sum all the elements of tuple2 and describe your steps and explain each of them. Hint: Use map function.

# To this, we use the map function to apply or assign a new function to a data set (https://stackoverflow.com/questions/10973766/understanding-the-map-function)

# The first element corresponds to the method or function to be applied and the second one to the database used.
#For this exercise we must apply the sum function to obtain the sum of elements in addition to the map function. 

#sum_ele = map(sum, tuple2)
#print(list(sum_ele))

# However, we get the sum of each pair of values within the three elements of the tuple. So we must sum all 
#the results:
sum_elements = sum(map(sum, tuple2))

print(f"The sum of the all elements of tuple2 is {sum_elements}")

The sum of the all elements of tuple2 is 42

In [70]:
#6. Generate a new tuple object named as tuple3 with the half values of tuple2. This tuple should be similar 
# as tuple2, tuple of lists. Hint: Use map function.

# In this case, we use the map function too. In addition, we include the lambda function to define a new function,
#inside the map function, because we want to obtain half of the value of each list in the tuple:

tuple3 = tuple(map(lambda x: [x[0]*0.5, x[1]*0.5], tuple2))

print(f"The new tuple3 is {tuple3}")

The new tuple3 is ([3.5, 4.0], [4.5, 0.5], [5.0, 3.5])

## 1.2 Lists
1. Show the indices of the `np.nan` values  in the `f_list` list. We want to see this output: `The indices 0, 1, 4, 7 have np.nan values.` **Hint: Use print function and [f-strings](https://realpython.com/python-f-strings/) to insert the indices values.**<br><br>

2. Replicate 4 times the values of the list `p2_list`. We expect an ouput like this: `[ 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5]`.  **Hint: Use multiplication function in `lists`and see the output.**<br><br>
3. Print the length of `f_list`. **Hint: Length function**<br><br>
4. Print `My teacher assistant is so boring.` using `text1` list. **Hint: Use the [`join` function](https://stackoverflow.com/questions/493819/why-is-it-string-joinlist-instead-of-list-joinstring)**<br><br>
5. Print `My TA is so boring, but is very funny.` using `text1` list.**Hint: Use the `join` function, and `extend` method.**<br><br>
6. Print <br>
`The max value of values1 is 86 and is located in the 0 index. ` <br>
`The min value of values1 is 0 and is located in the 7 index. ` <br> **Hint: Use the `f-string`, `min`, and `max` functions.**
<br>
7. Get two lists: `names` and `last_names` using `last_and_name` list. **Hint: Use `map` and `split`.**
<br>
8. Give only the last names of students who do not have email. Use the `emails` and `last_names` listt. **Hint: Use `map` and `split`.**
<br>

In [11]:
import numpy as np

In [12]:
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]

In [13]:
#1 
#Show the indices of the np.nan values in the f_list list. We want to see this output: The indices 0, 1, 4, 7 have np.nan values. Hint: Use print function and f-strings to insert the indices values.

#To resolve the problem, we convert first the list into an array, then we used the formula "where" to identificate the index of the "nan" components.
#After that, we convert the secuence of index into a list. As when we print the list is appear with square bracket, so we used string function in other to just obtain the secuence of numbers as the question.
#We found another ways to resolve the problem, but this other ways needed to "loops" (like enumerate or For in i).
#Webpages that we visited:
# -https://stackoverflow.com/questions/6294179/how-to-find-all-occurrences-of-an-element-in-a-list
# -https://www.delftstack.com/es/howto/python/list-without-brackets-python/
# -https://realpython.com/python-f-strings/
index = np.where(np.array(f_list) == 'nan')[0]
a_str = str(index.tolist())[1:-1] 
print(f"The indices {a_str} have np.nan values.")

The indices 0, 1, 4, 7 have np.nan values.

In [14]:
p2_list = [ 2 , 3, 4, 5 ]

In [11]:
#2
#Replicate 4 times the values of the list p2_list. We expect an ouput like this: [ 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5]. Hint: Use multiplication function in listsand see the output.

#We used the multiplication function.
p2_list*4

[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

In [12]:
#3 Print the length of f_list. Hint: Length function
#We used the lenght function.
len(f_list)

8

In [7]:
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']

In [8]:
#4 Print My teacher assistant is so boring. using text1 list. Hint: Use the join function

#The structure of the function we obtained of this webpage: https://www.delftstack.com/es/howto/python/how-to-convert-a-list-to-string/ 
print(" ".join(text1))

My teacher assistant is so boring.

In [5]:
values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1 ]

In [16]:
# These two lists a
last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe", "", "", "", "", "", "f0873079@pucp.edu.pe", "", "", "", "", "", "", "", "", "", "", "flores.alexis@pucp.edu.pe", ]

In [17]:
#1.
val1 = f_list.index(np.nan)

print(f"The indices {val1}, {val1}, {val1}, {val1} have np.nan values")

The indices 0, 0, 0, 0 have np.nan values

In [18]:
#2. Replicate 4 times the values of the list p2_list. We expect an ouput like this: 
#[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]. Hint: Use multiplication function in lists and see the output.

print(p2_list*4)

[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

In [19]:
#3.Print the length of f_list. Hint: Length function

print(len(f_list))

8

In [20]:
#4. Print My teacher assistant is so boring. using text1 list. Hint: Use the join function

print(" ".join(text1))

My teacher assistant is so boring.

In [1]:
#5. Print My TA is so boring, but is very funny. using text1 list.
#Hint: Use the join function, and extend method.

#Primer Método

text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']
text2 = ['but', 'is', 'very', 'funny']

text1.extend(text2)
print(text1)
text3_join1 = " ".join(text1)
print(text3_join1)
text4_replace = text3_join1.replace("teacher", "T", 1).replace("assistant", "A", 1)
print(text4_replace)

#Segundo Método

text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']
text2 = ['but', 'is', 'very', 'funny']

del text1[2]
text1[1] = "TA"
text1[4] = "boring, "
text1.extend(text2)
text3_join2 = " ".join(text1)
print(text3_join2)

['My', 'teacher', 'assistant', 'is', 'so', 'boring.', 'but', 'is', 'very', 'funny']
My teacher assistant is so boring. but is very funny
My T A is so boring. but is very funny
My TA is so boring,  but is very funny

In [2]:
#6. Print "The max value of values1 is 86 and is located in the 0 index."
#and "The min value of values1 is 0 and is located in the 7 index."
#Hint: Use the f-string, min, and max functions.

values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1 ]
max_values1 = max(values1)
min_values1 = min(values1)
max_index = values1.index(max_values1)
min_index = values1.index(min_values1)
print(max_values1)
print(max_index)
print(min_values1)
print(min_index)

max_value_index = F"The max value of 'values1' is {max_values1} and is located in the {max_index}"
min_value_index = F"The min value of 'values1' is {min_values1} and is located in the {min_index}"
print(max_value_index)
print(min_value_index)

86
0
0
7
The max value of 'values1' is 86 and is located in the 0
The min value of 'values1' is 0 and is located in the 7

In [3]:
#7. Get two lists: `names` and `last_names` using `last_and_name` list. 
#Hint: Use `map` and `split`.

last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]

last_and_name2 = list(map(lambda n: n.split(", "), last_and_name))
last_names = list(map(lambda n: n[0], last_and_name2))
print(last_names)
names = list(map(lambda n: n[1], last_and_name2))
print(names)

['CORNEJO SANCHEZ', 'ORELLANA QUISPE', 'MORALES CHOQUEHUANCA', 'GUIMARAY RIBEYRO', 'CAMACHO GAVIDIA', 'TINTAYA ORIHUELA', 'CHAVEZ MARTINEZ', 'FIGUEROA MURO', 'GOMEZ CRIBILLERO', 'PALOMINO SEGUÍN', 'LUZON CUEVA', 'SUAÑA ZEGARRA', 'SOTO POMACHAGUA', 'FIORENTINO MARTINEZ', 'LAMA MAVILA', 'MEZA HINOJO', 'LOZADA MURILLO', 'ZAMBRANO JIMENEZ', 'JACOBS LUQUE', 'VIDAL VIDAL', 'TORRES ANICAMA', 'LOPEZ ESTRADA', 'BOYCO ORAMS', 'DIAZ BERROSPI', 'RIEGA ESCALANTE', 'LEVANO TORRES', 'ESQUIVES BRAVO', 'PEREZ GONZALES', 'OTERO MAGUIÑA', 'CLAVO CAMPOS', 'AGUILAR GARCIA', 'CALDAS VELASQUEZ', 'SALAS NUÑEZ BORJA', 'PIZARRO VILLANES', 'QUILLATUPA MORALES', 'HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'HINOJOSA CAHUANA', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ', 'FLORES CADILLO']
['CHRISTIAN SANTOS', 'CRISTIAN NASSER', 'ANGELICA KARINA', 'JOSE ROBERTO', 'ABEL FERNANDO', 'MEIR ALVARO', 'JOSELIN ALEXANDRA', 'LEONEL ARTURO', 'JOSE FELIPE', 'AFRANIA', 'BIANCA MARIETTE', 'ADRIAN ANDRE', 'DORKAS YOMIRA JHERMY', 'LADY ALY', 'HECTOR ANDRE', 'GUSTAVO', 'PERSEO MARCELO', 'MIGUEL ALONZO', 'NICOLAS', 'ROCIO GABRIELA', 'JANE CAMILA', 'MARIA ELISA', 'ALEJANDRO', 'KARLINE ROSMELI', 'STEPHY ROSARIO', 'VALERIA CECILIA', 'SEBASTIAN RENATO', 'JUAN CARLOS', 'MARIANA', 'ANDREA BRIZETH', 'ERICK JOSUE', 'JOSUE DANIEL', 'FABIO MANUEL', 'FERNANDA NICOLLE', 'ANGELA ADELINA', 'CESAR DANTE', 'GABRIELA ISABEL', 'ANGEL MAURICIO', 'JUAN DIEGO', 'ARONE', 'PERCY ALBERTH', 'KEVIN ARTURO', 'CESAR ERNESTO', 'CÉSAR AGUSTO', 'DIANA EDITH', 'RODRIGO FRANCO', 'GRETTEL ALEXANDRA', 'ROSA ANGELA', 'DANTE OMAR', 'YAJAIRA ALEXANDRA', 'JORGE ALBERTO', 'ALEXIS']

In [4]:
#8. Give only the last names of students who do not have email. 
#Use the `emails` and `last_names` list.
#Hint: Use `map` and `split`

emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe", "", "", "", "", "", "f0873079@pucp.edu.pe", "", "", "", "", "", "", "", "", "", "", "flores.alexis@pucp.edu.pe", ]

import numpy as np
emails = np.array(emails)
result = np.where(emails == "")
index_emails = list(result[0])
print(index_emails)

last_names_emails = list(map(lambda n: last_names[n], index_emails))
print(last_names_emails)

[35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
['HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ']

## 1.3 Strings


1. Drop the duplicated blank spaces in `str1`. Do not use the regular expresions. Do not use the code shown in class. Explain your steps.**Hint: Use `split` method and `join` function.**

2. Get the number of letters in the string .**Hint: Use `len`function.**

3. Get the number of blank spaces (all of them) in the string .**Hint: Use `len`function.**

4. Get the position of `@` in each string in the emails list. **Hint: Use `map`function and `find` method.**

5. Identifies if exists `.edu.`  in each string in the `emails` list. Get a list of Booleans. **Hint: Use `map`function and `find` method.**

6. Get all the strings before the first dot `.`in each string in the `emails` list. Identifies how many of them has `@`. **Hint: Use `map`function and `find` method.**

In [ ]:
str1 = 'I am                            too                                                        old'

In [18]:
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

### 1.3.1 Drop the duplicated blank spaces: Split and Join 
   ####  I. Split Method 
   To apply the split method, It is necessary to understand how to work this method with argument one o more blank spaces, when we don't know how many blank spaces are and if theses are consecutives or not.
   In example **str1**, we have a text with more spaces and we don't have time to count how many spaces are. Consecuenly,  **Split Method** enable to split a string by an unknown number of spaces. The results will be a list of substrings using a delimiter. Furthermore, this method takes two argument: _separatador_ (kind of element that separate the text) and _maxsplit_ (indicates the place the element separate and split the original string two string in the list.

In [75]:
str1 = 'I am                            too                                                        old'

The example **str1** is replaced by a list of substrings using not a delimiter (Why?  Because this method works by default with bank space). After that, we display with a print the new list **str1**.

In [57]:
str1 = str1.split()
print(str1)

['I', 'am', 'too', 'old']

   ####  II. Join function
   To apply the **join** function, we must know that this function put together which list's element' in one string. However, this new text string can be modified as a typed text, that is to say, place the necessary white spaces between each word or element within the string. As result of before part, we replace **str1** with this new string structure itself. Resulting in the string ** I am too old.**.

In [58]:
str1 =" ".join(str1)
print(str1 + ".")

I am too old.

### Abbreviated version 

While the previous steps explain how the method and functions work, there is the possibility of uniting them in a single line of code. The logic of this is to understand it as the petals of a flower to open where the internal petals are those functions that are included within them and the first to be carried out, while the last function or method outside the parentheses will be the last petals or actions to be carried out.

   First action : **str1.split()**
   
   Second action: **" ".join(**  _str1.split()_  **)**
   
   Last action  : **print(**  _" ".join(str1.split())_  **)**

In [59]:
#Step to Step 
str1 = 'I am                            too                                                        old'
str1 = (" ".join(str1.split()))
print(str1 + ".")

I am too old.

In [60]:
#Abbreviated version
str1 = 'I am                            too                                                        old'
print((" ".join(str1.split())) + ".")

I am too old.

### 1.3.2 Number of letters in str1

Using the shortened version, we'll add one more function to count the number of spaces occupied by characters in the initial text string: **len**. However, we are not changing the string in the new **str1**.

In [61]:
print(len("".join(str1.split())))

9

### 1.3.3 Number of blank spaces in str1

Using the original **str1**, we use the **count** function with the internal argument to count the whitespace in the string.

In [62]:
print(str1.count(' '))

85

### Task 1.3 Strings N°4

In [81]:
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

In the list **emails**, we must find the position of the **@** inside of  each string of the list "emails". To do this, we use the **find method** and the map function. The first will allow us to find the desired character or characters within a string, if necessary within a range of positions as the second and third argument of the method. Instead, **map** will allow us to iterate the function's action on each list item, either by first defining the function or within it as a shorthand version.

In this first example, we use the lambda option in map which will allow us to add any function that can be worked inside each list item. To do this, it is necessary to indicate an iterator: **i** that indicates that it will work on each element of the list until it is completed. As it iterates between each element, it will search for the position of the @.

In [42]:
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

result_1_3_4 = list(map(lambda i: i.find('@'), emails))
print(result_1_3_4)

[9, 11, 14, 9, 12, 8, 14, 9, 8, 16, 12, 13, 6, 9, 10, 12, 8, 11, 14, 6, 11, 7, 15, 9, 12, 8, 9, 11, 13, 6, 9, 12, 11, 16, 11]

The other way to do this is to define the function as **myfunc** which will store the action performed by the _find_ method by iterating through each element with the **a** iterator. However, the order of the arguments of the map function will not change, since the function will be placed first (**myfunc**) and then the object where it will work (**emails**). Then, the results will be stored in the _result_ object as a list to be displayed with the print.

In [45]:
emails2 = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]
def myfunc(a):
    return a.find('@')
result = list(map(myfunc, emails2))
print(result)

[9, 11, 14, 9, 12, 8, 14, 9, 8, 16, 12, 13, 6, 9, 10, 12, 8, 11, 14, 6, 11, 7, 15, 9, 12, 8, 9, 11, 13, 6, 9, 12, 11, 16, 11]

### Task 1.3 Strings N°5

In [2]:
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

result_1_3_5a = list(map(lambda i: i.find('.edu.'), emails))
print(result_1_3_5a)
# We use the above fuction, reemplecing @ for .edu. Then, we define a function as valor (n).
# With this fuction, we identify -1 in the list, because -1 means that the object do not contain '.edu.' in the list.
# In the function, we use the operator != which implies that it returns as True those different values of -1. 
# Then we use map fuction to get the list of booleans.
def valor(n):
    return n!=-1
result_1_3_5b = list(map(valor, result_1_3_5a))
print("La lista de Booleans = ",result_1_3_5b)

[14, 16, 19, -1, -1, 13, 19, -1, -1, -1, -1, -1, 11, -1, 15, 17, 13, 16, 19, 11, 16, 12, 20, 14, 17, 13, 14, 16, 18, 11, 14, 17, 16, 21, -1]
La lista de Booleans =  [True, True, True, False, False, True, True, False, False, False, False, False, True, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, False]

### Task 1.3 Strings N°6

In [3]:
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]
#Here, we use str function that allow to extract a part of characters from a string-object
# Also, we add :i.find to extract a part of charactes until the fisrt dot.
result_1_3_6a = list(map(lambda i: str(i[:i.find('.')]), emails))
print("La lista de string hasta ubicarse antes del punto =",result_1_3_6a)
#We use map fuction and count function to identify object with "@".
result_1_3_6b = list(map(lambda i: i.count("@"), result_1_3_6a)) 
print("La cantidad de objetos que contienen @ es",result_1_3_6b.count(1))

La lista de string hasta ubicarse antes del punto = ['cscornejo@pucp', 'orellana', 'karina', 'a20083223@pucp', 'abel', 'mtintaya@pucp', 'joselin', 'a20105737@pucp', 'jfgomezc@pucp', 'afrania', 'luzon', 'adrian', 'soto', 'a20132766@pucp', 'andre', 'gustavo', 'pmlozada@pucp', 'm', 'nicolas', 'gvidal@pucp', 'jane', 'm', 'alejandro', 'a20167070@pucp', 'riega', 'vlevanot@pucp', 'sesquives@pucp', 'perez', 'mariana', 'aclavo@pucp', 'a20182474@pucp', 'josue', 'fabio', 'fernanda', 'aquillatupa@pucp']
La cantidad de objetos que contienen @ es 14