## 1.1 Tuple



1. Print the first item of the second item of `tuple1` object. **Hint: Use indexing**<br><br>
2. Print the last item of the `tuple1` object.**Hint: Use indexing**<br><br>
3. Change the value "orange" for "pink grapefruit". Comment the output. **Hint: Is it possible?** <br><br>
4. Print the length of `tuple1`. **Hint: Length function**<br><br>
5. Sum all the elements of tuple2 and describe your steps and explain each of them. **Hint: Use `map` function.**<br><br>
6. Generate a new tuple object named as `tuple3` with the half values of `tuple2`. This tuple should be similar as `tuple2`, tuple of lists.  **Hint: Use `map` funciont.**<br><br>

In [6]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple2 = ([7, 8], [9, 1], [10, 7])

In [8]:
tuple3 = tuple(map(lambda x: list(map(lambda y: y/2, x)), tuple2))
print("tuple3 con valores a la mitad de tuple2:", tuple3)

tuple3 con valores a la mitad de tuple2: ([3.5, 4.0], [4.5, 0.5], [5.0, 3.5])

## 1.2 Lists
1. Show the indices of the `np.nan` values  in the `f_list` list. We want to see this output: `The indices 0, 1, 4, 7 have np.nan values.` **Hint: Use print function and [f-strings](https://realpython.com/python-f-strings/) to insert the indices values.**<br><br>

2. Replicate 4 times the values of the list `p2_list`. We expect an ouput like this: `[ 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5]`.  **Hint: Use multiplication function in `lists`and see the output.**<br><br>
3. Print the length of `f_list`. **Hint: Length function**<br><br>
4. Print `My teacher assistant is so boring.` using `text1` list. **Hint: Use the [`join` function](https://stackoverflow.com/questions/493819/why-is-it-string-joinlist-instead-of-list-joinstring)**<br><br>
5. Print `My TA is so boring, but is very funny.` using `text1` list.**Hint: Use the `join` function, and `extend` method.**<br><br>
6. Print <br>
`The max value of values1 is 86 and is located in the 0 index. ` <br>
`The min value of values1 is 0 and is located in the 7 index. ` <br> **Hint: Use the `f-string`, `min`, and `max` functions.**
<br>
7. Get two lists: `names` and `last_names` using `last_and_name` list. **Hint: Use `map` and `split`.**
<br>
8. Give only the last names of students who do not have email. Use the `emails` and `last_names` listt. **Hint: Use `map` and `split`.**
<br>

In [4]:
import pandas as pd

In [5]:
import numpy as np

In [6]:
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]

In [7]:
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']

In [8]:
p2_list = [ 2 , 3, 4, 5 ]

In [9]:
values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1 ]

In [26]:
# These two lists a
last_and_name = [ "Okumura, Leonardo", "Toledo, Nuria", "Morro, Aurio","Huaman, Guido"]
emails = ["arumuko15@gmail.com", "auri.morro@gmail.com", "Budin7.ghl@gmail.com","nuriamusic16@gmail.com" ]

## PREGUNTA 1

In [12]:
indices = np.where(np.array(f_list) == str(np.nan))[0].tolist()

In [13]:
F"The indices {str(indices)[1:-1]} have np.nan values"

'The indices 0, 1, 4, 7 have np.nan values'

## PREGUNTA 2

In [14]:
p2_list*4

[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

## PREGUNTA 3

In [15]:
print(len(f_list))

8

## PREGUNTA 4

In [16]:
print(" ".join(text1))

My teacher assistant is so boring.

## PREGUNTA 5

In [19]:
text1_2 = text1.copy()
text1_2[1] = "TA"
text1_2[-1] = "boring,"
text1_2.remove("assistant")
text1_2.extend(["but", "is", "very", "funny."])

In [21]:
print(" ".join(text1_2))

My TA is so boring, but is very funny.

## Pregunta 6

In [22]:
print(f"The max value of values1 is {max(values1)} and is located in the {values1.index(max(values1))} index.")
print(f"The min value of values1 is {min(values1)} and is located in the {values1.index(min(values1))} index.")

The max value of values1 is 86 and is located in the 0 index.
The min value of values1 is 0 and is located in the 7 index.

## PREGUNTA 7

In [28]:
names = [*map(lambda x: x.split(", ")[1], last_and_name)]
print(names)

['Okumura', 'Toledo', 'Morro', 'Huaman']

In [29]:
last_names = [*map(lambda x: x.split(", ")[0], last_and_name)]
print(last_names)

['Leonardo', 'Nuria', 'Auiro', ' Guido']