# 1 Assignment

## 1.1 Tuple

In [3]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple2 = ([7, 8], [9, 1], [10, 7])

In [42]:
print( f"The first item of the second item of tuple1 is: {tuple1[1].index(20)}0")

The first item of the second item of tuple1 is: 10

In [18]:
print("This is the first item:", tuple1[0])

This is the first item: Orange

In [20]:
print('This is the last item:',tuple1[-1])

This is the last item: (5, 15, 25)

In [21]:
tuple1[0] = 'pink grapefruit'

TypeError: 'tuple' object does not support item assignment

In [23]:
len(tuple1)

3

In [4]:
j = map(sum, tuple2)
i = tuple(j)
print(i)

(15, 10, 17)

In [79]:
type(i)

tuple

In [80]:
k = sum(i)
print(k)

42

In [101]:
m1 = map(lambda x: x / 2, tuple2[0])
tuple3_1 = list(m1)
m2 = map(lambda x: x / 2, tuple2[1])
tuple3_2 = list(m2)
m3 = map(lambda x: x / 2, tuple2[2])
tuple3_3 = list(m3)

tuple3 = (tuple3_1, tuple3_2, tuple3_3)
print(tuple3)

([3.5, 4.0], [4.5, 0.5], [5.0, 3.5])

In [102]:
type(tuple3)

tuple

In [1]:
# list_numbers = [1, 2, 3, 4]

# map_iterator = map(lambda x: x * 2, list_numbers)
# y = tuple(map_iterator)
# print(y)

In [68]:
type(y)

tuple

In [2]:
# x = map(str, [1, 2, 3, 4, 5])
# list(x)

## 1.2 Lists

In [3]:
import numpy as np

In [4]:
f_list = [np.nan, np.nan, "Australia", "Germany", np.nan, "Pakistan", "np.nan", np.nan]
print(f_list)

[nan, nan, 'Australia', 'Germany', nan, 'Pakistan', 'np.nan', nan]

In [32]:
# pip install more_itertools # https://stackoverflow.com/questions/6294179/how-to-find-all-occurrences-of-an-element-in-a-list

Collecting more_itertools
  Downloading more_itertools-9.0.0-py3-none-any.whl (52 kB)
     |████████████████████████████████| 52 kB 813 kB/s eta 0:00:01
Installing collected packages: more-itertools
Successfully installed more-itertools-9.0.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
# from more_itertools import locate
# list(locate(['a', 'b', 'c', 'b'], lambda x: x == 'b'))

In [13]:
# print(f'The indices {f_list[0]}, {f_list[1]}, {f_list[4]}, {f_list[7]} have np.nan values')

The indices nan, nan, nan, nan have np.nan values

In [16]:
print(f'The indices {f_list.index(np.nan)}, {f_list.index(np.nan)+1}, {f_list.index(np.nan)+4}, {f_list.index(np.nan)+7} have np.nan values')

The indices 0, 1, 4, 7 have np.nan values

In [43]:
p2_list = [2, 3, 4, 5]

In [45]:
t = p2_list * 4
print(t)

[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

In [6]:
print('The length of f_list is', len(f_list))

The length of f_list is 8

In [3]:
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']

In [5]:
print(f'{text1[0]}')

My

In [7]:
print(str.join(' ', text1)) # https://stackoverflow.com/questions/493819/why-is-it-string-joinlist-instead-of-list-joinstring

My teacher assistant is so boring.

In [20]:
text2 = ['TA', 'boring,', 'but is very funny.']
text1.extend(text2)
print(text1)

['My', 'teacher', 'assistant', 'is', 'so', 'boring.', 'TA', 'boring,', 'but is very funny.']

In [56]:
print(str.join('', text1[0]), str.join('', text1[6]), str.join(' ',text1[3:5]), str.join(' ',text1[7:]))

My TA is so boring, but is very funny.

In [57]:
values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1 ]

In [64]:
print(f'The max value of values1 is {max(values1)} and is located in the {values1.index(max(values1))} index.')

The max value of values1 is 86 and is located in the 0 index.

In [65]:
print(f'The min value of values1 is {min(values1)} and is located in the {values1.index(min(values1))} index.')

The min value of values1 is 0 and is located in the 7 index.

## 1.3 Strings

In [1]:
str1 = 'I am                            too                                                        old'

In [2]:
str2 = str1.split()
print(str2)

['I', 'am', 'too', 'old']

In [10]:
type(str2)

list

In [5]:
str3 = str.join(' ',str2)
print(str3)

I am too old

In [11]:
type(str3)

str

In [15]:
print(sum(map(len, str3.split()))) # https://www.geeksforgeeks.org/python-avoid-spaces-in-string-length/

9

In [27]:
print(len(str3) - sum(map(len, str3.split())))

3

In [30]:
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

In [43]:
arroba = list(map(lambda x: x.find("@"), emails)) # https://j2logo.com/python/funciones-lambda-en-python/
print(arroba)

[9, 11, 14, 9, 12, 8, 14, 9, 8, 16, 12, 13, 6, 9, 10, 12, 8, 11, 14, 6, 11, 7, 15, 9, 12, 8, 9, 11, 13, 6, 9, 12, 11, 16, 11]

In [46]:
edu = list(map(lambda x: x.find(".edu."), emails))
print(edu)

[14, 16, 19, -1, -1, 13, 19, -1, -1, -1, -1, -1, 11, -1, 15, 17, 13, 16, 19, 11, 16, 12, 20, 14, 17, 13, 14, 16, 18, 11, 14, 17, 16, 21, -1]

In [48]:
edu_TF = list(map(lambda x: x > 0, edu))
print(edu_TF)

[True, True, True, False, False, True, True, False, False, False, False, False, True, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, False]

In [58]:
prueba = 'bcdalk'
print(prueba[:prueba.find("a")])

bcd

In [59]:
punto = list(map(lambda x: x[0:x.find(".")], emails))
print(punto)

['cscornejo@pucp', 'orellana', 'karina', 'a20083223@pucp', 'abel', 'mtintaya@pucp', 'joselin', 'a20105737@pucp', 'jfgomezc@pucp', 'afrania', 'luzon', 'adrian', 'soto', 'a20132766@pucp', 'andre', 'gustavo', 'pmlozada@pucp', 'm', 'nicolas', 'gvidal@pucp', 'jane', 'm', 'alejandro', 'a20167070@pucp', 'riega', 'vlevanot@pucp', 'sesquives@pucp', 'perez', 'mariana', 'aclavo@pucp', 'a20182474@pucp', 'josue', 'fabio', 'fernanda', 'aquillatupa@pucp']

In [61]:
punto_arroba = list(map(lambda x: x.find("@"), punto))
punto_arroba_TF = list(map(lambda x: x > 0, punto_arroba))
print(punto_arroba_TF)

[True, False, False, True, False, True, False, True, True, False, False, False, False, True, False, False, True, False, False, True, False, False, False, True, False, True, True, False, False, True, True, False, False, False, True]

In [62]:
punto_arroba_TF.count(True)

14

In [63]:
punto_arroba_TF.count(False)

21

In [65]:
len(emails)

35