In [1]:
import numpy as np
import pandas as pd

# 4. If and Loops

- <a href='#def'>4.1. If condition</a>
     - <a href='#4.1.1.'>4.1.1. The structure of the code </a> 
     - <a href='#4.1.2.'>4.1.2. If condition with more than 1 expression </a> 
     - <a href='#4.1.3.'>4.1.3. Logical Operators </a> 
     - <a href='#4.1.4.'>4.1.4. Python Identity Operators </a> 
     - <a href='#4.1.5.'>4.1.5. Final IF condition structure </a>
     - <a href='#4.1.6.'>4.1.6. Python Nested if Statement </a> 
- <a href='#4.2.'>4.2. For Loops </a> 
     - <a href='#4.2.1.'>4.2.1. In numpy </a> 
     - <a href='#4.2.2.'> 4.2.2. In List </a> 
     - <a href='#4.2.3.'> 4.2.3. In Dictionary </a> 
     - <a href='#4.2.4.'> 4.2.4. For loop using range</a>
     - <a href='#4.2.5.'> 4.2.5. Nested For Loop</a>
     - <a href='#4.2.6.'> 4.2.6. Iterations over Pandas</a>
- <a href='#4.3.'> 4.3. Pass, Continue, Break, Try</a>
     - <a href='#4.3.1.'>4.3.1. Pass</a>
     - <a href='#4.3.2.'>4.3.2. Continue</a>
     - <a href='#4.3.3.'>4.3.3. Break</a>
     - <a href='#4.3.4.'>4.3.4. Try </a>
     
- <a href='#4.4.'>4.4. While Loop </a>
     - <a href='#4.4.1.'>4.4.1. Structure </a>
- <a href='#4.5.'>4.5. References </a>

## 4.1. <a id='def'> If condition </a>

Function **if** test conditions. 
- Equals: a == b
- Not Equals: a != b
- Less than: a < b
- Less than or equal to: a <= b
- Greater than: a > b
- Greater than or equal to: a >= b

<img src="../_images/if-statement.jpg" alt="image info" />

## 4.1.1.  <a id='4.1.1.'> The structure of the code </a> <br>

<font size="4">
if <font color='green'>test expresion</font>:<br>
&nbsp;&nbsp;&nbsp;&nbsp;Code to excute<br>
</font>

The function **if** tests the veracity of a logic expression. The result of test statement should be a **<font color='red'>boolean</font>**. In other words, the output of the test statemen must be **<font color='red'>True</font>** or **<font color='red'>False</font>**. To sum, any function that its output is **boolean** can be used as a test expression in the **if** function.

#### Examples

In [17]:
A = 30
B = 20

In [2]:
result = A > B
result

True

In [23]:
A = 20
B = 30

result = A == B
print( f' Is A greater than B? \t {result}') # f'' help us to use numeric variables in strings

 Is A greater than B? 	 False

In [25]:
A = 30
B = 30

if A != B:
    print( 'A is not equal B' )

In [26]:
A = 20
B = 30

result = A == B
print( f'result A == B \t{result} \n')

result = A != B
print(f'result A != B \t  {result} \n' )

result = A > B
print(f'result A > B \t {result} \n')

result A == B 	False

result A != B 	  True

result A > B 	 False

In [31]:
A = 20
B = 30

result = A == B
print(int(result))

0

### 4.1.2.   <a id='4.1.2.'> If condition with more than 1 expression </a> 

We will use **elif**. This function allows us to add more test expressions.  <br><br>



<font size="4">
if <font color='green'>test expresion1</font>: <br>
&nbsp;&nbsp;&nbsp;&nbsp;Code1<br><br>
elif <font color='green'>test expresion2</font>:<br>
&nbsp;&nbsp;&nbsp;&nbsp;Code2<br><br>
elif <font color='green'>test expresion3</font>:<br>
&nbsp;&nbsp;&nbsp;&nbsp;Code3<br><br>
elif <font color='green'>test expresion4</font>:<br>
&nbsp;&nbsp;&nbsp;&nbsp;Code4<br><br>
elif <font color='green'>test expresion5</font>:<br>
&nbsp;&nbsp;&nbsp;&nbsp;Code5<br><br>
else :<br>
&nbsp;&nbsp;&nbsp;&nbsp;Code6<br><br>
</font>

Python will read the conditions of the test in order. 
If **Test expression 1** is `True`, the rest of the test expressions will not be evaluated. 
R execute **Code2** and will not test the next conditions. <br>

In case no Test expression is `True`, the **Code6** will be excuted.

#### Examples

In [41]:
A = "no nacio"
B = 22

if A == B:
    print( 'jose misma edad yoseph' )
    
elif A > B:
    print( 'Jose es mayor que yoseph' )
    
elif A < B:
    print( 'Jose es menor que yoseph' )
    
else:
    print("no nacieron")

TypeError: '>' not supported between instances of 'str' and 'int'

In [7]:
A = 20
B = 30

if A == B:
     print ('A is the same as B. Condition 1 is true.')
    
elif A > B:
     print ('A is greater than B. Condition 2 is true.')
    
elif A < B:
     print ('A is less than B. Condition 4 is true.')
    
    
else:
     print ('When neither condition is true, this phrase is printed.')

A is less than B. Condition 4 is true.

### 4.1.3.   <a id='4.1.3.'> [Logical Operators](https://www.geeksforgeeks.org/python-logical-operators-with-examples-improvement-needed/) </a> 


Three key logical operators: **<font color = 'red' >and</font>**, **<font color = 'red' > or</font>**, and **<font color = 'red' > not</font>**.

In [46]:
A = 30
B = 30
C = 30

if ( A == B ) and ( A < C ):
     print ('A is equal to B and less than C. Condition 1 is true.')
    
elif ( A > B ) or ( A > C ):
     print ('A is greater than B or greater than C. Condition 2 is true.')

elif ( B > C ) and ( B > A ):
     print ('B is greater than C and greater than A. Condition 3 is true.')

else:
     print ('When neither condition is true, this phrase is printed.')

When neither condition is true, this phrase is printed.

In [47]:
# A = 20
# B = 30
# C = 25

if not (A> 27):
     print ('A is not equal to 27. Condition 1 is true.')
        
else:
     print ('When neither condition is true, this phrase is printed.')

When neither condition is true, this phrase is printed.

### 4.1.4.   <a id='4.1.4.'> [Python Identity Operators](https://www.w3schools.com/python/gloss_python_identity_operators.asp) </a> 

These operators help us to compare whether variables refer to the same object.
We have **<font color = 'red' >is</font>**, and **<font color = 'red' > is not</font>** as identity operators.

In [51]:
C = None
type(C)

NoneType

In [49]:
if C is None:
    print( 'Ohh C is None :( ')

Ohh C is None :(

In [52]:
if C is not float:
    print( 'C is not a float')

C is not a float

#### Difference between **<font color = 'red' > ==</font>** and **<font color = 'red' > is</font>** operator in Python

1. **<font color = 'red' > ==</font>** operator compares the values of both the operands and checks for value equality.
2. **<font color = 'red' > is</font>** operator checks whether both the operands refer to the same object or not (present in the same memory location).

In [75]:
id(10-5)

140723202762672

In [67]:
id(5)

140723202762672

In [68]:
a = 5
b = 5

a is b

True

In [69]:
id(a)

140723202762672

In [70]:
id(b)

140723202762672

In [71]:
id(np.array( [0, 1 , 2 , 3 ] ))

2696514267136

In [72]:
id(np.arange(0, 4))

2696514268336

In [61]:
a_1 = np.arange(0, 4)
b_1 = np.array( [0, 1 , 2 , 3 ] )

a_1 == b_1

array([ True,  True,  True,  True])

In [65]:
a_1 =

array([0, 1, 2, 3])

In [66]:
[a_1] is b_1

False

In [63]:
id(a_1)

2696514264400

In [64]:
id(b_1)

2696514261440

### 4.1.5.   <a id='4.1.5.'> Final IF condition structure </a>

The strict way to run the if conditions is as follows: <br>

<font size = "4">


if <font color = 'green'> condition1 </font>: <font color = 'red'> (Required) </font> <br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; code1 <br> <br>
elif <font color = 'green'> condition2 </font>:**(Optional)**<br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; code2 <br> <br>
elif <font color = 'green'> condition3 </font>:**(Optional)**<br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; code3 <br> <br>
elif <font color = 'green'> condition4 </font>:**(Optional)**<br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; code4 <br> <br>
else: <font color = 'red'> (Required) </font> <br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; code5 <br>
<br>
</font>

### 4.1.6.   <a id='4.1.6.'> Python Nested if Statement </a>

In [83]:
total = 30
#country = "PE"
#country = "AR"
country = "DE"

if country == "PE":
    if total <= 50 :
        print("Shipping Cost is  $50")
    elif total <= 100:
        print("Shipping Cost is $25")
    elif total <= 150:
        print("Shipping Costs $5")
    else:
        print("FREE")

elif country == "AR": 
    if total <= 50:
        print("Shipping Cost is  $100")
    else:
        print("FREE")

else : 
    print("no defined for this country")

no defined for this country

The **if** function is not only useful with logical expressions, but also with functions whose result is a **<font color = 'red' > Boolean </font>** (**True** or **False**).<br>
For example, the **isinstance** function evaluates whether a variable is string, bool, int, float and returns a Boolean (True or False) as a result. For more information [here](https://docs.python.org/3/library/functions.html#isinstance). <br>

In [18]:
# The result of isinstance is a Boolean. Then it can be used as a condition in the if function.
isinstance (A, str)

False

In [86]:
#A = 20.8
A = np.array([3, 4, 5])

if isinstance( A, str ):
    print( 'A is a string' )

elif isinstance( A, bool ):
    print( 'A is a boolean' )

elif isinstance( A, float ):
    print( 'A is a float' )

elif isinstance( A, int ):
    print( 'A is an integer' )

elif isinstance( A, complex ):
    print( 'A is a complex' )

else:
    print( 'A is another type of variable')

A is another type of variable

## 4.2.   <a id='4.2.'> For Loops </a> 


A for loop is used for iterating over a sequence. It executes a code a definite number of times. It has the following structure:

<img src="../_images/for_loop.jpg" alt="image info" />

### 4.2.1. <a id='4.2.1.'> In numpy </a>

In [89]:
vector = np.array( [15, 20, 25, 30 , 35 , 40 , 48 ] )
vector

array([15, 20, 25, 30, 35, 40, 48])

In [92]:
for v in vector:
    print(v - 5)

10
15
20
25
30
35
43

### 4.2.2 <a id='4.2.2.'> In List </a>

In [95]:
class_age = [ [11, 12, 11] , [15, 16, 16] , [17, 17, 18]]
type(class_age)

list

In [97]:
for age in class_age:
    print( type(age) )

<class 'list'>
<class 'list'>
<class 'list'>

In [100]:
list_ages = [ 21, 23, 25, 24, 20]
# The list is shorter
list_age_reiner = list_ages[1:]
list_age_reiner

[23, 25, 24, 20]

In [103]:
for age in list_age_reiner:
    print( type(age) , age)

<class 'int'> 23
<class 'int'> 25
<class 'int'> 24
<class 'int'> 20

### 4.2.3  <a id='4.2.3.'>In Dictionary </a>

In [109]:
class_1 = {"students" : ['Miguel', 'Anthony', 'Paul', 'Rodrigo', 'Jason'] , "age" : [20, 18, 15, 20, 22]}
list_keys = list(class_1.keys())
list_keys

['students', 'age']

In [121]:
class_1["students"]

['Miguel', 'Anthony', 'Paul', 'Rodrigo', 'Jason']

In [118]:
for key in class_1.keys():
    print(key)

students
age

In [123]:
for val in class_1[]:
        print(val)

students
age

In [132]:
list_1 = list(class_1.keys())[1:]
list_1

['age']

In [133]:
for key in list_1:
    for val in class_1[key]:
         print (val)

20
18
15
20
22

In [134]:
for key in class_1.keys():
    print(key)

students
age

In [135]:
for val in class_1.values():
    print( val )

['Miguel', 'Anthony', 'Paul', 'Rodrigo', 'Jason']
[20, 18, 15, 20, 22]

In [136]:
for key, val in class_1.items():
    print( key, val )

students ['Miguel', 'Anthony', 'Paul', 'Rodrigo', 'Jason']
age [20, 18, 15, 20, 22]

In [140]:
dict1 = {}

for i in range(5):
    dict1[f'random_{i+1}' ] = np.random.rand(3)
    print(i)

0
1
2
3
4

In [141]:
dict1

{'random_1': array([0.85769849, 0.2129166 , 0.90615378]),
 'random_2': array([0.63486667, 0.15084979, 0.77051944]),
 'random_3': array([0.10665645, 0.69714846, 0.73485985]),
 'random_4': array([0.49002328, 0.99149862, 0.49138472]),
 'random_5': array([0.25015925, 0.47989071, 0.89231883])}

### 4.2.4 <a id = '4.2.4.'>  For loop using range </a>

In [143]:
# Class
students = ['Miguel', 'Anthony', 'Paul', 'Rodrigo', 'Jason']

# Ages
ages = [20, 18, 15, 20, 22]

len(students)

5

In [144]:
for index in range (0, len (students)):
     print (f'{ students[index] } is { ages[index] } years old.')

Miguel is 20 years old.
Anthony is 18 years old.
Paul is 15 years old.
Rodrigo is 20 years old.
Jason is 22 years old.

### 4.2.5 <a id='4.2.5.'>  Nested For Loop </a>

A for loop inside of another for loop.

In [147]:
age_class = [ [11, 12, 11] , [15, 16, 16] , [17, 17, 18]]
age_class

[[11, 12, 11], [15, 16, 16], [17, 17, 18]]

In [152]:
for cl in age_class:
    print( cl )
    
    for age in cl:
        print( age )

[11, 12, 11]
11
12
11
[15, 16, 16]
15
16
16
[17, 17, 18]
17
17
18

In [153]:
# sequence
students = [ 'Justin' , 'Pogba', 'Paul', 'Carrillo', 'Xavi' ]

# age
gr_age = [ 20, 18, 15, 20, 22]

In [155]:
zip( students , gr_age )

<zip object at 0x00000273D4C89A40>

In [156]:
# Loops
for student, age in zip( students , gr_age ):
    print(f'{ student } is { age }')

Justin is 20
Pogba is 18
Paul is 15
Carrillo is 20
Xavi is 22

In [5]:
## Diferent dimmensions
# sequence
students = [ 'Justin' , 'Pogba', 'Paul', 'Carrillo', 'Xavi' ]

# Edades
gr_age = [ 20, 18, 15, 20 ]

for student, age in zip( students , gr_age ):
    print(f'{ student } is { age }')

Justin is 20
Pogba is 18
Paul is 15
Carrillo is 20

In [6]:
list(zip( students , gr_age ))

[('Justin', 20), ('Pogba', 18), ('Paul', 15), ('Carrillo', 20)]

### 4.2.6. <a id = '4.2.6.'> Iterations over Pandas</a>

[Marine fishing extraction by destination and main species (thousands of tons)](https://estadisticas.bcrp.gob.pe/estadisticas/series/anuales/extraccion-pesquera-maritima-por-destino-y-principales-especies-miles-de-toneladas)

In [43]:
extraction_fish = pd.read_csv( r"..\_data\production_fish.csv" )
extraction_fish

,year,Consumo Industrial - Anchoveta,Consumo Humano - Congelado - Concha de abanico,Consumo Humano - Congelado - Langostino,Consumo Humano - Congelado - Merluza,Consumo Humano - Congelado - Calamar gigante,Consumo Humano - Conservas - Atún,Consumo Humano - Conservas - Caballa,Consumo Humano - Conservas - Jurel,Consumo Humano - Conservas - Sardina,Consumo Humano - Fresco - Concha de abanico,Consumo Humano - Fresco - Jurel,Consumo Humano - Fresco - Liza,Consumo Humano - Fresco - Tollo,total_production
0,2005,8628.396000,13.537000,9.021000,23.279000,235.630000,9.877000,25.711000,20.481000,0.165000,1.843080,56.167940,5.875600,0.430000,9030.413620
1,2006,5891.838000,14.714000,11.295000,25.189000,365.729000,11.336000,58.245000,122.904000,0.048000,4.048000,136.827000,3.166000,1.584000,6646.923000
2,2007,6084.713000,19.937000,13.548000,28.358488,379.556594,3.713293,26.248739,82.910307,0.001020,4.822991,134.887316,9.317622,2.834958,6790.849328
3,2008,6159.387000,18.790000,12.817000,26.348398,484.162082,3.283711,47.694121,58.864202,0.000000,0.828187,80.092885,14.514054,2.933360,6909.715000
4,2009,5828.636000,24.634372,11.877399,36.774763,355.106589,2.017061,51.355908,14.289041,0.000000,1.843072,47.079175,17.311344,4.057886,6394.982610
5,2010,3330.413040,60.001250,14.477939,25.647697,327.571909,9.182845,9.729522,5.774274,0.000000,2.824749,10.404933,9.706363,4.994712,3810.729233
6,2011,7000.092781,92.027637,23.384478,28.544458,373.195661,6.586856,20.478814,83.277943,0.054463,0.873130,72.955117,12.124808,5.687520,7719.283666
7,2012,3693.871080,38.933390,22.707220,21.054780,457.072670,1.115060,9.978510,43.693940,0.088460,0.744610,72.930470,17.162420,4.235380,4383.587990
8,2013,4754.118210,89.293284,19.111372,31.187461,410.759534,7.136436,26.600553,7.197624,0.000000,2.180252,54.454541,12.530821,3.945647,5418.515737
9,2014,2255.453460,52.266500,21.762990,30.770800,465.007580,4.734540,29.576440,8.882560,0.000000,0.608160,46.346459,12.248670,5.206880,2932.865039
10,2015,3616.481500,14.843150,26.772210,25.644130,426.932300,11.082120,15.314910,2.769796,0.164140,0.615910,17.536930,12.463520,7.717680,4178.338296
11,2016,2732.733740,10.090130,29.253750,25.800210,246.124700,10.884490,57.675170,0.412040,0.007490,0.579750,12.472050,15.757580,9.453130,3151.244230
12,2017,3165.490240,4.596090,38.760070,37.147430,252.429930,11.802750,23.249140,1.052910,0.000000,0.373700,6.889530,29.061740,6.692660,3577.546190
13,2018,6072.887839,36.530349,31.505879,34.876576,319.146488,18.138975,24.610468,14.619846,0.000000,1.551366,14.720969,23.326310,3.672117,6595.587183
14,2019,3381.437222,53.112863,42.857637,28.979849,483.765239,17.839298,19.598784,27.733432,0.000000,1.226521,40.798701,24.029820,1.241883,4122.621249
15,2020,4314.558220,46.995287,34.516971,19.842900,407.384850,3.843680,28.408700,23.475890,0.000000,0.616697,48.115810,14.992172,0.544585,4943.295762

In [44]:
extraction_fish.columns

Index(['year', 'Consumo Industrial - Anchoveta',
       'Consumo Humano - Congelado - Concha de abanico',
       'Consumo Humano - Congelado - Langostino',
       'Consumo Humano - Congelado - Merluza',
       'Consumo Humano - Congelado - Calamar gigante',
       'Consumo Humano - Conservas - Atún',
       'Consumo Humano - Conservas - Caballa',
       'Consumo Humano - Conservas - Jurel',
       'Consumo Humano - Conservas - Sardina',
       'Consumo Humano - Fresco - Concha de abanico',
       'Consumo Humano - Fresco - Jurel', 'Consumo Humano - Fresco - Liza',
       'Consumo Humano - Fresco - Tollo', 'total_production'],
      dtype='object')

In [45]:
extraction_fish.iloc[ :, 1:-2 ]

,Consumo Industrial - Anchoveta,Consumo Humano - Congelado - Concha de abanico,Consumo Humano - Congelado - Langostino,Consumo Humano - Congelado - Merluza,Consumo Humano - Congelado - Calamar gigante,Consumo Humano - Conservas - Atún,Consumo Humano - Conservas - Caballa,Consumo Humano - Conservas - Jurel,Consumo Humano - Conservas - Sardina,Consumo Humano - Fresco - Concha de abanico,Consumo Humano - Fresco - Jurel,Consumo Humano - Fresco - Liza
0,8628.396000,13.537000,9.021000,23.279000,235.630000,9.877000,25.711000,20.481000,0.165000,1.843080,56.167940,5.875600
1,5891.838000,14.714000,11.295000,25.189000,365.729000,11.336000,58.245000,122.904000,0.048000,4.048000,136.827000,3.166000
2,6084.713000,19.937000,13.548000,28.358488,379.556594,3.713293,26.248739,82.910307,0.001020,4.822991,134.887316,9.317622
3,6159.387000,18.790000,12.817000,26.348398,484.162082,3.283711,47.694121,58.864202,0.000000,0.828187,80.092885,14.514054
4,5828.636000,24.634372,11.877399,36.774763,355.106589,2.017061,51.355908,14.289041,0.000000,1.843072,47.079175,17.311344
5,3330.413040,60.001250,14.477939,25.647697,327.571909,9.182845,9.729522,5.774274,0.000000,2.824749,10.404933,9.706363
6,7000.092781,92.027637,23.384478,28.544458,373.195661,6.586856,20.478814,83.277943,0.054463,0.873130,72.955117,12.124808
7,3693.871080,38.933390,22.707220,21.054780,457.072670,1.115060,9.978510,43.693940,0.088460,0.744610,72.930470,17.162420
8,4754.118210,89.293284,19.111372,31.187461,410.759534,7.136436,26.600553,7.197624,0.000000,2.180252,54.454541,12.530821
9,2255.453460,52.266500,21.762990,30.770800,465.007580,4.734540,29.576440,8.882560,0.000000,0.608160,46.346459,12.248670
10,3616.481500,14.843150,26.772210,25.644130,426.932300,11.082120,15.314910,2.769796,0.164140,0.615910,17.536930,12.463520
11,2732.733740,10.090130,29.253750,25.800210,246.124700,10.884490,57.675170,0.412040,0.007490,0.579750,12.472050,15.757580
12,3165.490240,4.596090,38.760070,37.147430,252.429930,11.802750,23.249140,1.052910,0.000000,0.373700,6.889530,29.061740
13,6072.887839,36.530349,31.505879,34.876576,319.146488,18.138975,24.610468,14.619846,0.000000,1.551366,14.720969,23.326310
14,3381.437222,53.112863,42.857637,28.979849,483.765239,17.839298,19.598784,27.733432,0.000000,1.226521,40.798701,24.029820
15,4314.558220,46.995287,34.516971,19.842900,407.384850,3.843680,28.408700,23.475890,0.000000,0.616697,48.115810,14.992172

In [46]:
extraction_fish_2 = extraction_fish.iloc[ :, 1:-2 ]

In [47]:
for index, row in extraction_fish_2.iterrows():
    print(index, row)

0 Consumo Industrial - Anchoveta                    8628.39600
Consumo Humano - Congelado - Concha de abanico      13.53700
Consumo Humano - Congelado - Langostino              9.02100
Consumo Humano - Congelado - Merluza                23.27900
Consumo Humano - Congelado - Calamar gigante       235.63000
Consumo Humano - Conservas - Atún                    9.87700
Consumo Humano - Conservas - Caballa                25.71100
Consumo Humano - Conservas - Jurel                  20.48100
Consumo Humano - Conservas - Sardina                 0.16500
Consumo Humano - Fresco - Concha de abanico          1.84308
Consumo Humano - Fresco - Jurel                     56.16794
Consumo Humano - Fresco - Liza                       5.87560
Name: 0, dtype: float64
1 Consumo Industrial - Anchoveta                    5891.838
Consumo Humano - Congelado - Concha de abanico      14.714
Consumo Humano - Congelado - Langostino             11.295
Consumo Humano - Congelado - Merluza                25.189
Consumo Humano - Congelado - Calamar gigante       365.729
Consumo Humano - Conservas - Atún                   11.336
Consumo Humano - Conservas - Caballa                58.245
Consumo Humano - Conservas - Jurel                 122.904
Consumo Humano - Conservas - Sardina                 0.048
Consumo Humano - Fresco - Concha de abanico          4.048
Consumo Humano - Fresco - Jurel                    136.827
Consumo Humano - Fresco - Liza                       3.166
Name: 1, dtype: float64
2 Consumo Industrial - Anchoveta                    6084.713000
Consumo Humano - Congelado - Concha de abanico      19.937000
Consumo Humano - Congelado - Langostino             13.548000
Consumo Humano - Congelado - Merluza                28.358488
Consumo Humano - Congelado - Calamar gigante       379.556594
Consumo Humano - Conservas - Atún                    3.713293
Consumo Humano - Conservas - Caballa                26.248739
Consumo Humano - Conservas - Jurel                  82.910307
Consumo Humano - Conservas - Sardina                 0.001020
Consumo Humano - Fresco - Concha de abanico          4.822991
Consumo Humano - Fresco - Jurel                    134.887316
Consumo Humano - Fresco - Liza                       9.317622
Name: 2, dtype: float64
3 Consumo Industrial - Anchoveta                    6159.387000
Consumo Humano - Congelado - Concha de abanico      18.790000
Consumo Humano - Congelado - Langostino             12.817000
Consumo Humano - Congelado - Merluza                26.348398
Consumo Humano - Congelado - Calamar gigante       484.162082
Consumo Humano - Conservas - Atún                    3.283711
Consumo Humano - Conservas - Caballa                47.694121
Consumo Humano - Conservas - Jurel                  58.864202
Consumo Humano - Conservas - Sardina                 0.000000
Consumo Humano - Fresco - Concha de abanico          0.828187
Consumo Humano - Fresco - Jurel                     80.092885
Consumo Humano - Fresco - Liza                      14.514054
Name: 3, dtype: float64
4 Consumo Industrial - Anchoveta                    5828.636000
Consumo Humano - Congelado - Concha de abanico      24.634372
Consumo Humano - Congelado - Langostino             11.877399
Consumo Humano - Congelado - Merluza                36.774763
Consumo Humano - Congelado - Calamar gigante       355.106589
Consumo Humano - Conservas - Atún                    2.017061
Consumo Humano - Conservas - Caballa                51.355908
Consumo Humano - Conservas - Jurel                  14.289041
Consumo Humano - Conservas - Sardina                 0.000000
Consumo Humano - Fresco - Concha de abanico          1.843072
Consumo Humano - Fresco - Jurel                     47.079175
Consumo Humano - Fresco - Liza                      17.311344
Name: 4, dtype: float64
5 Consumo Industrial - Anchoveta                    3330.413040
Consumo Humano - Congelado - Concha de abanico      60.001250
Consumo Humano - Congelado - Langostino             14.477939
Consumo Humano - Congelado - Merluza                25.647697
Consumo Humano - Congelado - Calamar gigante       327.571909
Consumo Humano - Conservas - Atún                    9.182845
Consumo Humano - Conservas - Caballa                 9.729522
Consumo Humano - Conservas - Jurel                   5.774274
Consumo Humano - Conservas - Sardina                 0.000000
Consumo Humano - Fresco - Concha de abanico          2.824749
Consumo Humano - Fresco - Jurel                     10.404933
Consumo Humano - Fresco - Liza                       9.706363
Name: 5, dtype: float64
6 Consumo Industrial - Anchoveta                    7000.092781
Consumo Humano - Congelado - Concha de abanico      92.027637
Consumo Humano - Congelado - Langostino             23.384478
Consumo Humano - Congelado - Merluza                28.544458
Consumo Humano - Congelado - Calamar gigante       373.195661
Consumo Humano - Conservas - Atún                    6.586856
Consumo Humano - Conservas - Caballa                20.478814
Consumo Humano - Conservas - Jurel                  83.277943
Consumo Humano - Conservas - Sardina                 0.054463
Consumo Humano - Fresco - Concha de abanico          0.873130
Consumo Humano - Fresco - Jurel                     72.955117
Consumo Humano - Fresco - Liza                      12.124808
Name: 6, dtype: float64
7 Consumo Industrial - Anchoveta                    3693.87108
Consumo Humano - Congelado - Concha de abanico      38.93339
Consumo Humano - Congelado - Langostino             22.70722
Consumo Humano - Congelado - Merluza                21.05478
Consumo Humano - Congelado - Calamar gigante       457.07267
Consumo Humano - Conservas - Atún                    1.11506
Consumo Humano - Conservas - Caballa                 9.97851
Consumo Humano - Conservas - Jurel                  43.69394
Consumo Humano - Conservas - Sardina                 0.08846
Consumo Humano - Fresco - Concha de abanico          0.74461
Consumo Humano - Fresco - Jurel                     72.93047
Consumo Humano - Fresco - Liza                      17.16242
Name: 7, dtype: float64
8 Consumo Industrial - Anchoveta                    4754.118210
Consumo Humano - Congelado - Concha de abanico      89.293284
Consumo Humano - Congelado - Langostino             19.111372
Consumo Humano - Congelado - Merluza                31.187461
Consumo Humano - Congelado - Calamar gigante       410.759534
Consumo Humano - Conservas - Atún                    7.136436
Consumo Humano - Conservas - Caballa                26.600553
Consumo Humano - Conservas - Jurel                   7.197624
Consumo Humano - Conservas - Sardina                 0.000000
Consumo Humano - Fresco - Concha de abanico          2.180252
Consumo Humano - Fresco - Jurel                     54.454541
Consumo Humano - Fresco - Liza                      12.530821
Name: 8, dtype: float64
9 Consumo Industrial - Anchoveta                    2255.453460
Consumo Humano - Congelado - Concha de abanico      52.266500
Consumo Humano - Congelado - Langostino             21.762990
Consumo Humano - Congelado - Merluza                30.770800
Consumo Humano - Congelado - Calamar gigante       465.007580
Consumo Humano - Conservas - Atún                    4.734540
Consumo Humano - Conservas - Caballa                29.576440
Consumo Humano - Conservas - Jurel                   8.882560
Consumo Humano - Conservas - Sardina                 0.000000
Consumo Humano - Fresco - Concha de abanico          0.608160
Consumo Humano - Fresco - Jurel                     46.346459
Consumo Humano - Fresco - Liza                      12.248670
Name: 9, dtype: float64
10 Consumo Industrial - Anchoveta                    3616.481500
Consumo Humano - Congelado - Concha de abanico      14.843150
Consumo Humano - Congelado - Langostino             26.772210
Consumo Humano - Congelado - Merluza                25.644130
Consumo Humano - Congelado - Calamar gigante       426.932300
Consumo Humano - Conservas - Atún                   11.082120
Consumo Humano - Conservas - Caballa                15.314910
Consumo Humano - Conservas - Jurel                   2.769796
Consumo Humano - Conservas - Sardina                 0.164140
Consumo Humano - Fresco - Concha de abanico          0.615910
Consumo Humano - Fresco - Jurel                     17.536930
Consumo Humano - Fresco - Liza                      12.463520
Name: 10, dtype: float64
11 Consumo Industrial - Anchoveta                    2732.73374
Consumo Humano - Congelado - Concha de abanico      10.09013
Consumo Humano - Congelado - Langostino             29.25375
Consumo Humano - Congelado - Merluza                25.80021
Consumo Humano - Congelado - Calamar gigante       246.12470
Consumo Humano - Conservas - Atún                   10.88449
Consumo Humano - Conservas - Caballa                57.67517
Consumo Humano - Conservas - Jurel                   0.41204
Consumo Humano - Conservas - Sardina                 0.00749
Consumo Humano - Fresco - Concha de abanico          0.57975
Consumo Humano - Fresco - Jurel                     12.47205
Consumo Humano - Fresco - Liza                      15.75758
Name: 11, dtype: float64
12 Consumo Industrial - Anchoveta                    3165.49024
Consumo Humano - Congelado - Concha de abanico       4.59609
Consumo Humano - Congelado - Langostino             38.76007
Consumo Humano - Congelado - Merluza                37.14743
Consumo Humano - Congelado - Calamar gigante       252.42993
Consumo Humano - Conservas - Atún                   11.80275
Consumo Humano - Conservas - Caballa                23.24914
Consumo Humano - Conservas - Jurel                   1.05291
Consumo Humano - Conservas - Sardina                 0.00000
Consumo Humano - Fresco - Concha de abanico          0.37370
Consumo Humano - Fresco - Jurel                      6.88953
Consumo Humano - Fresco - Liza                      29.06174
Name: 12, dtype: float64
13 Consumo Industrial - Anchoveta                    6072.887839
Consumo Humano - Congelado - Concha de abanico      36.530349
Consumo Humano - Congelado - Langostino             31.505879
Consumo Humano - Congelado - Merluza                34.876576
Consumo Humano - Congelado - Calamar gigante       319.146488
Consumo Humano - Conservas - Atún                   18.138975
Consumo Humano - Conservas - Caballa                24.610468
Consumo Humano - Conservas - Jurel                  14.619846
Consumo Humano - Conservas - Sardina                 0.000000
Consumo Humano - Fresco - Concha de abanico          1.551366
Consumo Humano - Fresco - Jurel                     14.720969
Consumo Humano - Fresco - Liza                      23.326310
Name: 13, dtype: float64
14 Consumo Industrial - Anchoveta                    3381.437222
Consumo Humano - Congelado - Concha de abanico      53.112863
Consumo Humano - Congelado - Langostino             42.857637
Consumo Humano - Congelado - Merluza                28.979849
Consumo Humano - Congelado - Calamar gigante       483.765239
Consumo Humano - Conservas - Atún                   17.839298
Consumo Humano - Conservas - Caballa                19.598784
Consumo Humano - Conservas - Jurel                  27.733432
Consumo Humano - Conservas - Sardina                 0.000000
Consumo Humano - Fresco - Concha de abanico          1.226521
Consumo Humano - Fresco - Jurel                     40.798701
Consumo Humano - Fresco - Liza                      24.029820
Name: 14, dtype: float64
15 Consumo Industrial - Anchoveta                    4314.558220
Consumo Humano - Congelado - Concha de abanico      46.995287
Consumo Humano - Congelado - Langostino             34.516971
Consumo Humano - Congelado - Merluza                19.842900
Consumo Humano - Congelado - Calamar gigante       407.384850
Consumo Humano - Conservas - Atún                    3.843680
Consumo Humano - Conservas - Caballa                28.408700
Consumo Humano - Conservas - Jurel                  23.475890
Consumo Humano - Conservas - Sardina                 0.000000
Consumo Humano - Fresco - Concha de abanico          0.616697
Consumo Humano - Fresco - Jurel                     48.115810
Consumo Humano - Fresco - Liza                      14.992172
Name: 15, dtype: float64

In [48]:
list(extraction_fish_2.iterrows())[0][1].max()

8628.396

In [49]:
for index, row in extraction_fish_2.iterrows():
    extraction_fish.at[ index, 'Max_min'] = row.max() - row.min()

In [50]:
extraction_fish.head()

,year,Consumo Industrial - Anchoveta,Consumo Humano - Congelado - Concha de abanico,Consumo Humano - Congelado - Langostino,Consumo Humano - Congelado - Merluza,Consumo Humano - Congelado - Calamar gigante,Consumo Humano - Conservas - Atún,Consumo Humano - Conservas - Caballa,Consumo Humano - Conservas - Jurel,Consumo Humano - Conservas - Sardina,Consumo Humano - Fresco - Concha de abanico,Consumo Humano - Fresco - Jurel,Consumo Humano - Fresco - Liza,Consumo Humano - Fresco - Tollo,total_production,Max_min
0,2005,8628.396,13.537000,9.021000,23.279000,235.630000,9.877000,25.711000,20.481000,0.16500,1.843080,56.167940,5.875600,0.430000,9030.413620,8628.23100
1,2006,5891.838,14.714000,11.295000,25.189000,365.729000,11.336000,58.245000,122.904000,0.04800,4.048000,136.827000,3.166000,1.584000,6646.923000,5891.79000
2,2007,6084.713,19.937000,13.548000,28.358488,379.556594,3.713293,26.248739,82.910307,0.00102,4.822991,134.887316,9.317622,2.834958,6790.849328,6084.71198
3,2008,6159.387,18.790000,12.817000,26.348398,484.162082,3.283711,47.694121,58.864202,0.00000,0.828187,80.092885,14.514054,2.933360,6909.715000,6159.38700
4,2009,5828.636,24.634372,11.877399,36.774763,355.106589,2.017061,51.355908,14.289041,0.00000,1.843072,47.079175,17.311344,4.057886,6394.982610,5828.63600

#### Exercise - Create new Columns

In [51]:
col_names = list(extraction_fish.columns)
col_names

['year',
 'Consumo Industrial - Anchoveta',
 'Consumo Humano - Congelado - Concha de abanico',
 'Consumo Humano - Congelado - Langostino',
 'Consumo Humano - Congelado - Merluza',
 'Consumo Humano - Congelado - Calamar gigante',
 'Consumo Humano - Conservas - Atún',
 'Consumo Humano - Conservas - Caballa',
 'Consumo Humano - Conservas - Jurel',
 'Consumo Humano - Conservas - Sardina',
 'Consumo Humano - Fresco - Concha de abanico',
 'Consumo Humano - Fresco - Jurel',
 'Consumo Humano - Fresco - Liza',
 'Consumo Humano - Fresco - Tollo',
 'total_production',
 'Max_min']

In [52]:
col_names[ 1:-2 ]

['Consumo Industrial - Anchoveta',
 'Consumo Humano - Congelado - Concha de abanico',
 'Consumo Humano - Congelado - Langostino',
 'Consumo Humano - Congelado - Merluza',
 'Consumo Humano - Congelado - Calamar gigante',
 'Consumo Humano - Conservas - Atún',
 'Consumo Humano - Conservas - Caballa',
 'Consumo Humano - Conservas - Jurel',
 'Consumo Humano - Conservas - Sardina',
 'Consumo Humano - Fresco - Concha de abanico',
 'Consumo Humano - Fresco - Jurel',
 'Consumo Humano - Fresco - Liza',
 'Consumo Humano - Fresco - Tollo']

In [53]:
for col in col_names[ 1:-2 ]:
    extraction_fish[ f'%_{col}' ]  = extraction_fish[ f'{col}' ] * 100 / extraction_fish[ 'total_production' ]

extraction_fish.head()

,year,Consumo Industrial - Anchoveta,Consumo Humano - Congelado - Concha de abanico,Consumo Humano - Congelado - Langostino,Consumo Humano - Congelado - Merluza,Consumo Humano - Congelado - Calamar gigante,Consumo Humano - Conservas - Atún,Consumo Humano - Conservas - Caballa,Consumo Humano - Conservas - Jurel,Consumo Humano - Conservas - Sardina,...,%_Consumo Humano - Congelado - Merluza,%_Consumo Humano - Congelado - Calamar gigante,%_Consumo Humano - Conservas - Atún,%_Consumo Humano - Conservas - Caballa,%_Consumo Humano - Conservas - Jurel,%_Consumo Humano - Conservas - Sardina,%_Consumo Humano - Fresco - Concha de abanico,%_Consumo Humano - Fresco - Jurel,%_Consumo Humano - Fresco - Liza,%_Consumo Humano - Fresco - Tollo
0,2005,8628.396,13.537000,9.021000,23.279000,235.630000,9.877000,25.711000,20.481000,0.16500,...,0.257784,2.609294,0.109375,0.284716,0.226800,0.001827,0.020410,0.621986,0.065065,0.004762
1,2006,5891.838,14.714000,11.295000,25.189000,365.729000,11.336000,58.245000,122.904000,0.04800,...,0.378957,5.502230,0.170545,0.876270,1.849036,0.000722,0.060900,2.058501,0.047631,0.023831
2,2007,6084.713,19.937000,13.548000,28.358488,379.556594,3.713293,26.248739,82.910307,0.00102,...,0.417599,5.589236,0.054681,0.386531,1.220912,0.000015,0.071022,1.986310,0.137208,0.041747
3,2008,6159.387,18.790000,12.817000,26.348398,484.162082,3.283711,47.694121,58.864202,0.00000,...,0.381324,7.006976,0.047523,0.690247,0.851905,0.000000,0.011986,1.159134,0.210053,0.042453
4,2009,5828.636,24.634372,11.877399,36.774763,355.106589,2.017061,51.355908,14.289041,0.00000,...,0.575057,5.552894,0.031541,0.803066,0.223441,0.000000,0.028821,0.736189,0.270702,0.063454

## 4.3. <a id = '4.3.'>Break, Continue, Pass, Try</a>

|Function|Description|
|---|---|
| `Pass`| Allows you to handle the condition <br> without the loop being impacted in any way|
| `Continue`| The current iteration of the loop will be disrupted, <br> but the program will return to the top of the loop|
| `Break`| The loop will exit|
| `Try`| This command lets you test a block of code for errors.|
| `Exception`| An exception is an event, which occurs during <br> the execution of a program that disrupts the normal <br> flow of the program's instructions. <br> It allows you to raise a message to help the user.|

### 4.3.3. <a id = '4.3.3.'>Break</a>

In [50]:
#number = 0

for number in range(10):
    if number == 8:
        break    # break here

    print('Number is ' + str(number))

print('Out of loop')

Number is 0
Number is 1
Number is 2
Number is 3
Number is 4
Number is 5
Number is 6
Number is 7
Out of loop

### 4.3.2. <a id = '4.3.2.'>Continue</a>

In [53]:
# number = 0

for number in range(10):
    if number == 5:
        continue 
        # continue here

    print('Number is ' + str(number))

print('Out of loop')

Number is 0
Number is 1
Number is 2
Number is 3
Number is 4
Number is 6
Number is 7
Number is 8
Number is 9
Out of loop


### 4.3.1 <a id = '4.3.1.'> Pass</a>

In [59]:
# number = 0

for number in range(10):
    if number == 5:
        pass    # pass here
    
    else: 
        print("Jesus")
    
    print('Number is ' + str(number) + "\n" )

print('Out of loop')

Jesus
Number is 0

Jesus
Number is 1

Jesus
Number is 2

Jesus
Number is 3

Jesus
Number is 4

Number is 5

Jesus
Number is 6

Jesus
Number is 7

Jesus
Number is 8

Jesus
Number is 9

Out of loop

### 4.3.4. <a id = '4.3.4.'> Try </a>

|Function|Description|
|---|---|
|`except`| Run a code if an error occurs.|
|`else`| The code will be executed whether there is no error.|
|`finally`| The code will be executed <br> does no matter whether or not the try raises an exception.|

`except`: Run a code if an error occurs.[List of errors](https://www.tutorialsteacher.com/python/error-types-in-python)

In [60]:
x = 'hola'

In [62]:
print(x + 4)

TypeError: can only concatenate str (not "int") to str

In [66]:
try:
    print(z + 4)
    
except TypeError:
    print("An error tipo TypeError")
    
except NameError:
    print("Variable x is not defined")
    
except:
    print("Something else went wrong")

Variable x is not defined

`else`: The code will be executed whether there is no error.

In [73]:
x = "string"

In [74]:
try:
    print(z + 4)
    
except:
    print("Something went wrong")
    #print( 5 + 4)
    
else:
    print("Nothing went wrong")

Something went wrong

`finally`: The code will be executed does no matter whether or not the try raises an exception.

In [84]:
x = 5

In [85]:
try:
    print(x + 4)
    
except:
    print("Something went wrong")
    
finally:
    print( f'no importa lo que sucedió antes, {x} ya pasará el filtro')

9
no importa lo que sucedió antes, 5 ya pasará el filtro

## 4.4. <a id='4.4.'> While Loop </a>
While loop is used to repeat code as long as the condition is true. When the logical expression is false, the code will finish executing. [More Info](https://python101.pythonlibrary.org/chapter5_loops.html)
<img src="../_images\while_loop.jpg">

### 4.4.1. <a id='4.4.1.'> Structure </a>

while <font color='green'>condition</font>: <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;code 1<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color='red'>break code</font><br><br>

The break code is an expression that allows the logical condition to be false at some point, because if not, the code will continue to execute infinitely.

In [88]:
i = 1

# condition  "i < 6"
while i < 6:
    
    print(i)
    
    # break code, 
    #i = i + 1
    i += 1

1
2
3
4
5

#### Excersice
1. Print $2^n$, but the result is less than 10,000.

In [89]:
x = 2
while x < 10000:
    print(x)
    
    #break code
    x = 2*x

2
4
8
16
32
64
128
256
512
1024
2048
4096
8192

3. Print all elements of an array.

In [91]:
edad.size

13

In [92]:
import numpy as np

edad = np.array([ 3, 6, 7, 10, 15, 17, 18, 31, 26, 88 , 100, 120, 110])
i = 0

while i < edad.size:
    
    print(edad[i])
    i += 1

3
6
7
10
15
17
18
31
26
88
100
120
110

5. Pandas with While loop

In [1]:
import pandas as pd

data1 = {'names': ['Martins', 'Raul', 'Estremadoyro', "Kante", 'Tigo', 'Betson', 'Finado', 'Alex', 'Miracles', 'Bambi'], 
     'age': [23, 25, 36, 78, 90, 32, 200, 24, 12, 18]}

people = pd.DataFrame( data = data1)

In [2]:
people

          names  age
0       Martins   23
1          Raul   25
2  Estremadoyro   36
3         Kante   78
4          Tigo   90
5        Betson   32
6        Finado  200
7          Alex   24
8      Miracles   12
9         Bambi   18

In [3]:
i = 0
# row by row
nrows = people.age.count()
# nrows = people.shape[0]

In [4]:
while i < nrows:
        
    if people['age'][i] < 18:
        # New column
        people.loc[[i], ["pass"]] = "No pass"

    elif people['age'][i] > 150:
        print('Ohhh no a phantom')
        pass
    
    else:
        people.loc[[i], ["pass"]] = "Pass"
        
    i += 1

Ohhh no a phantom

In [5]:
people

          names  age     pass
0       Martins   23     Pass
1          Raul   25     Pass
2  Estremadoyro   36     Pass
3         Kante   78     Pass
4          Tigo   90     Pass
5        Betson   32     Pass
6        Finado  200      NaN
7          Alex   24     Pass
8      Miracles   12  No pass
9         Bambi   18     Pass

## 4.5. <a id = '4.5.'> References </a>

1. [DataCamp](https://www.datacamp.com/community/tutorials/python-if-elif-else?utm_source=adwords_ppc&utm_medium=cpc&utm_campaignid=1455363063&utm_adgroupid=65083631748&utm_device=c&utm_keyword=&utm_matchtype=b&utm_network=g&utm_adpostion=&utm_creative=332602034358&utm_targetid=dsa-429603003980&utm_loc_interest_ms=&utm_loc_physical_ms=9060932&gclid=CjwKCAiA7dKMBhBCEiwAO_crFCArGqe0fxSaO2q6eTaTtigeALef5CcM1hRWgNI8hMEoVCg-uOwFDhoCu1kQAvD_BwE)
2. https://www.programiz.com/python-programming/if-elif-else
3. https://www.guru99.com/if-loop-python-conditional-structures.html
4. https://www.w3schools.com/python/python_for_loops.asp
5. https://www.programiz.com/python-programming/for-loop
6. https://www.geeksforgeeks.org/loops-in-python/
7. https://www.w3schools.com/python/python_while_loops.asp
8. https://www.programiz.com/python-programming/while-loop
9. https://www.tutorialspoint.com/python/python_while_loop.htm

In [9]:
# Python program to demonstrate
# break statement

# Python program to
# demonstrate break statement
    
s = 'geeksforgeeks'
# Using for loop
for letter in s:
    
    print(letter)
    # break the loop as soon it sees 'e' or 's'
    if letter == 'e' or letter == 's':
        break

print("Out of for loop")
print()

g
e
Out of for loop

In [10]:
i = 0

# Using while loop
while True:
    print(s[i])
    
    # break the loop as soon it sees 'e' or 's'
    if s[i] == 'e' or s[i] == 's':
        break
    i += 1
    
print("Out of while loop")

g
e
Out of while loop

In [31]:
for number in range(10):
    if number == 5:
        # comment
        raise Exception('This is the output of exception.')

    elif number == 3:
        #number = number + 1
        print( f'This number is {number}' )

    else:
        #number = number + 2
        print('Different number')

    print('Number is ' + str(number))

print('Out of loop')

Different number
Number is 0
Different number
Number is 1
Different number
Number is 2
This number is 3
Number is 3
Different number
Number is 4

Exception: This is the output of exception.