In [307]:
# QLAB-PYTHON-ASSIGNMENT 2-GRUPO 10

In [308]:
import pandas as pd
import numpy as np

In [309]:
enaho300_2023 = r"C:\Users\Lenovo\OneDrive\Documentos\qlab_ccssgp_python\eva2\906-Modulo03\906-Modulo03\Enaho01A-2023-300.csv"

In [310]:
df_enaho2023_mod300 = pd.read_csv(enaho300_2023, encoding="ISO-8859-10")
df_enaho2023_mod300

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_18688\2967242174.py:1: DtypeWarning: Columns (26,32,60) have mixed types. Specify dtype option on import or set low_memory=False.
  df_enaho2023_mod300 = pd.read_csv(enaho300_2023, encoding="ISO-8859-10")

,AŅO,MES,CONGLOME,VIVIENDA,HOGAR,CODPERSO,UBIGEO,DOMINIO,ESTRATO,CODINFOR,...,I311D$5,I311D$6,I311D$7,I3121C,I3122C,I315B,FACTOR07,FACTORA07,NCONGLOME,SUB_CONGLOME
0,2023,1,5030,2,11,1,10201,7,4,1,...,,,,,,,118.374542,165.623856,6618,0
1,2023,1,5030,2,11,2,10201,7,4,2,...,,,,,,,118.374542,112.328087,6618,0
2,2023,1,5030,2,11,3,10201,7,4,2,...,,,,,,,118.374542,120.091476,6618,0
3,2023,1,5030,2,11,4,10201,7,4,2,...,,,8,,,,118.374542,110.974678,6618,0
4,2023,1,5030,11,11,1,10201,7,4,1,...,,,,,,,118.374542,96.035370,6618,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108349,2023,12,20670,67,11,5,10503,4,8,2,...,,,,,,,65.991585,76.758545,7051,0
108350,2023,12,20670,68,11,1,10503,4,8,1,...,,,,,,,65.991585,94.397972,7051,0
108351,2023,12,20670,69,11,1,10503,4,8,1,...,,,,,,,65.991585,54.246708,7051,0
108352,2023,12,20670,69,11,2,10503,4,8,2,...,,,,,,,65.991585,69.487373,7051,0
108353,2023,12,20670,69,11,3,10503,4,8,3,...,,,,,,,65.991585,94.397972,7051,0

Pregunta 1.1-Lea y muestre las primeras 5 filas:

In [311]:
print(df_enaho2023_mod300.head(5))

    AŅO  MES  CONGLOME  VIVIENDA  HOGAR  CODPERSO  UBIGEO  DOMINIO  ESTRATO  \
0  2023    1      5030         2     11         1   10201        7        4
1  2023    1      5030         2     11         2   10201        7        4
2  2023    1      5030         2     11         3   10201        7        4
3  2023    1      5030         2     11         4   10201        7        4
4  2023    1      5030        11     11         1   10201        7        4

   CODINFOR  ...  I311D$5  I311D$6  I311D$7  I3121C I3122C I315B    FACTOR07  \
0         1  ...                                                  118.374542
1         2  ...                                                  118.374542
2         2  ...                                                  118.374542
3         2  ...                          8                       118.374542
4         1  ...                                                  118.374542

    FACTORA07 NCONGLOME SUB_CONGLOME
0  165.623856      6618            0
1  112.328087      6618            0
2  120.091476      6618            0
3  110.974678      6618            0
4   96.035370      6618            0

[5 rows x 511 columns]

1.2. Convierte los nombres de las columnas en una lista e imprímela.

In [312]:
list_columnas = df_enaho2023_mod300.columns.tolist()
print(list_columnas)

['AŅO', 'MES', 'CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO', 'UBIGEO', 'DOMINIO', 'ESTRATO', 'CODINFOR', 'P300N', 'P300I', 'P300A', 'P301A', 'P301B', 'P301C', 'P301D', 'P301A0', 'P301A1', 'P301B0', 'P301B1', 'P301B3', 'P302', 'P302X', 'P302A', 'P302B', 'P303', 'P304A', 'P304B', 'P304C', 'P304D', 'P305', 'P306', 'P307', 'P307A1', 'P307A2', 'P307A3', 'P307A4', 'P307A4_5', 'P307A4_6', 'P307A4_7', 'P307B1', 'P307B2', 'P307B3', 'P307B4', 'P307B4_5', 'P307B4_6', 'P307B4_7', 'P307C', 'P308A', 'P308B', 'P308C', 'P308D', 'P308B1', 'P308B2', 'P308B3', 'P308B4', 'P308B5', 'P308C1', 'P308C2', 'P310', 'P310B1', 'P310C0', 'P310C1', 'P310D1', 'P310D2', 'P310E0', 'P310E1', 'P310E3', 'P311N$1', 'P311N$2', 'P311N$3', 'P311N$4', 'P311N$5', 'P311N$6', 'P311N$7', 'P311N$8', 'P311N$9', 'P311$1', 'P311$2', 'P311$3', 'P311$4', 'P311$5', 'P311$6', 'P311$7', 'P311$8', 'P311$9', 'P311A1$1', 'P311A1$2', 'P311A1$3', 'P311A1$4', 'P311A1$5', 'P311A1$6', 'P311A1$7', 'P311A1$8', 'P311A1$9', 'P311A2$1', 'P311A2$2', 'P311A2$3', 'P311A2$4', 'P311A2$5', 'P311A2$6', 'P311A2$7', 'P311A2$8', 'P311A2$9', 'P311A3$1', 'P311A3$2', 'P311A3$3', 'P311A3$4', 'P311A3$5', 'P311A3$6', 'P311A3$7', 'P311A3$8', 'P311A3$9', 'P311A4$1', 'P311A4$2', 'P311A4$3', 'P311A4$4', 'P311A4$5', 'P311A4$6', 'P311A4$7', 'P311A4$8', 'P311A4$9', 'P311A5$1', 'P311A5$2', 'P311A5$3', 'P311A5$4', 'P311A5$5', 'P311A5$6', 'P311A5$7', 'P311A5$8', 'P311A5$9', 'P311A6$1', 'P311A6$2', 'P311A6$3', 'P311A6$4', 'P311A6$5', 'P311A6$6', 'P311A6$7', 'P311A6$8', 'P311A6$9', 'P311A7$1', 'P311A7$2', 'P311A7$3', 'P311A7$4', 'P311A7$5', 'P311A7$6', 'P311A7$7', 'P311A7$8', 'P311A7$9', 'P311B$1', 'P311B$2', 'P311B$3', 'P311B$4', 'P311B$5', 'P311B$6', 'P311B$7', 'P311B$8', 'P311B$9', 'P311C$1', 'P311C$2', 'P311C$3', 'P311C$4', 'P311C$5', 'P311C$6', 'P311C$7', 'P311C$8', 'P311C$9', 'P311D$1', 'P311D$2', 'P311D$3', 'P311D$4', 'P311D$5', 'P311D$6', 'P311D$7', 'P311D$8', 'P311D$9', 'P311D2$1', 'P311D2$2', 'P311D2$3', 'P311D2$4', 'P311D2$5', 'P311D2$6', 'P311D2$7', 'P311D2$8', 'P311D2$9', 'P311D3$1', 'P311D3$2', 'P311D3$3', 'P311D3$4', 'P311D3$5', 'P311D3$6', 'P311D3$7', 'P311D3$8', 'P311D3$9', 'P311D4$1', 'P311D4$2', 'P311D4$3', 'P311D4$4', 'P311D4$5', 'P311D4$6', 'P311D4$7', 'P311D4$8', 'P311D4$9', 'P311D5$1', 'P311D5$2', 'P311D5$3', 'P311D5$4', 'P311D5$5', 'P311D5$6', 'P311D5$7', 'P311D5$8', 'P311D5$9', 'P311D6$1', 'P311D6$2', 'P311D6$3', 'P311D6$4', 'P311D6$5', 'P311D6$6', 'P311D6$7', 'P311D6$8', 'P311D6$9', 'P311D7$1', 'P311D7$2', 'P311D7$3', 'P311D7$4', 'P311D7$5', 'P311D7$6', 'P311D7$7', 'P311D7$8', 'P311D7$9', 'P311E$1', 'P311E$2', 'P311E$3', 'P311E$4', 'P311E$5', 'P311E$6', 'P311E$7', 'P311E$8', 'P311E$9', 'P311T1', 'P311T22', 'P311T23', 'P311T24', 'P311T25', 'P311T26', 'P311T27', 'P311T2', 'P3121', 'P3121A1', 'P3121A2', 'P3121A3', 'P3121A4', 'P3121A5', 'P3121A6', 'P3121B', 'P3121C', 'P3121C2', 'P3121C3', 'P3121C4', 'P3121C5', 'P3121C6', 'P3121D', 'P3122', 'P3122A1', 'P3122A2', 'P3122A3', 'P3122A4', 'P3122A5', 'P3122A6', 'P3122B', 'P3122C', 'P3122C2', 'P3122C3', 'P3122C4', 'P3122C5', 'P3122C6', 'P3122D', 'P312T1', 'P312T22', 'P312T23', 'P312T24', 'P312T25', 'P312T26', 'P312T2', 'P313', 'P314A', 'P314B$1', 'P314B$2', 'P314B$3', 'P314B$4', 'P314B$5', 'P314B$6', 'P314B$7', 'P314B1_1', 'P314B1_2', 'P314B1_6', 'P314B1_7', 'P314B1_8', 'P314B1_9', 'P314D', 'P3151', 'P3152', 'P3153', 'P3154', 'P3155', 'P3156', 'P315A', 'P315B', 'P315B2', 'P315B3', 'P315B4', 'P315B5', 'P315B6', 'P316$1', 'P316$2', 'P316$3', 'P316$4', 'P316$5', 'P316$6', 'P316$7', 'P316$8', 'P316$9', 'P316$10', 'P316$11', 'P316$12', 'P316A1', 'P316A2', 'P316A3', 'P316A4', 'P316A5', 'P316A6', 'P316B', 'P316C1', 'P316C2', 'P316C3', 'P316C4', 'P316C5', 'P316C6', 'P316C7', 'P316C8', 'P316C9', 'P316C10', 'T313A', 'P203', 'P204', 'P205', 'P206', 'P207', 'P208A', 'P209', 'IMPUTADO', 'TICUEST01A', 'D311B$1', 'D311D2$1', 'D311D3$1', 'D311D4$1', 'D311D5$1', 'D311D6$1', 'D311D7$1', 'D311D$1', 'D311B$2', 'D311D2$2', 'D311D3$2', 'D311D4$2', 'D311D5$2', 'D311D6$2', 'D311D7$2', 'D311D$2', 'D311B$3', 'D311D2$3', 'D311D3$3', 'D311D4$3', 'D311D5$3', 'D311D6$3', 'D311D7$3', 'D311D$3', 'D311B$4', 'D311D2$4', 'D311D3$4', 'D311D4$4', 'D311D5$4', 'D311D6$4', 'D311D7$4', 'D311D$4', 'D311B$5', 'D311D2$5', 'D311D3$5', 'D311D4$5', 'D311D5$5', 'D311D6$5', 'D311D7$5', 'D311D$5', 'D311B$6', 'D311D2$6', 'D311D3$6', 'D311D4$6', 'D311D5$6', 'D311D6$6', 'D311D7$6', 'D311D$6', 'D311B$7', 'D311D2$7', 'D311D3$7', 'D311D4$7', 'D311D5$7', 'D311D6$7', 'D311D7$7', 'D311D$7', 'D3121B', 'D3121C2', 'D3121C3', 'D3121C4', 'D3121C5', 'D3121C6', 'D3121C', 'D3122B', 'D3122C2', 'D3122C3', 'D3122C4', 'D3122C5', 'D3122C6', 'D3122C', 'D315A', 'D315B2', 'D315B3', 'D315B4', 'D315B5', 'D315B6', 'D315B', 'I311B$1', 'I311B$2', 'I311B$4', 'I311B$6', 'I311B$3', 'I311B$5', 'I311B$7', 'I311D2$1', 'I311D3$1', 'I311D4$1', 'I311D5$1', 'I311D6$1', 'I311D7$1', 'I311D2$2', 'I311D3$2', 'I311D4$2', 'I311D5$2', 'I311D6$2', 'I311D7$2', 'I311D2$4', 'I311D3$4', 'I311D4$4', 'I311D5$4', 'I311D6$4', 'I311D7$4', 'I311D2$6', 'I311D3$6', 'I311D4$6', 'I311D5$6', 'I311D6$6', 'I311D7$6', 'I311D2$3', 'I311D3$3', 'I311D4$3', 'I311D5$3', 'I311D6$3', 'I311D7$3', 'I311D2$5', 'I311D3$5', 'I311D4$5', 'I311D5$5', 'I311D6$5', 'I311D7$5', 'I311D2$7', 'I311D3$7', 'I311D4$7', 'I311D5$7', 'I311D6$7', 'I311D7$7', 'I3121B', 'I3122B', 'I3121C2', 'I3121C3', 'I3121C4', 'I3121C5', 'I3121C6', 'I3122C2', 'I3122C3', 'I3122C4', 'I3122C5', 'I3122C6', 'I315A', 'I315B2', 'I315B3', 'I315B4', 'I315B5', 'I315B6', 'I311D$1', 'I311D$2', 'I311D$3', 'I311D$4', 'I311D$5', 'I311D$6', 'I311D$7', 'I3121C', 'I3122C', 'I315B', 'FACTOR07', 'FACTORA07', 'NCONGLOME', 'SUB_CONGLOME']

1.3. Verifique los tipos de datos del DataFrame.

In [313]:
df_enaho2023_mod300.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108354 entries, 0 to 108353
Columns: 511 entries, AŅO to SUB_CONGLOME
dtypes: float64(2), int64(21), object(488)
memory usage: 422.4+ MB

In [314]:
print(df_enaho2023_mod300.dtypes) #datos de las columnas

AŅO               int64
MES               int64
CONGLOME          int64
VIVIENDA          int64
HOGAR             int64
                 ...
I315B            object
FACTOR07        float64
FACTORA07       float64
NCONGLOME         int64
SUB_CONGLOME      int64
Length: 511, dtype: object

1.4. Seleccione una submuestra que contenga variables de interés

In [315]:
df_sub_enaho2023_mod300= df_enaho2023_mod300[[ 'CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO','UBIGEO','DOMINIO','ESTRATO','CODINFOR','P300N'] ]
print(df_sub_enaho2023_mod300.head())

   CONGLOME  VIVIENDA  HOGAR  CODPERSO  UBIGEO  DOMINIO  ESTRATO  CODINFOR  \
0      5030         2     11         1   10201        7        4         1
1      5030         2     11         2   10201        7        4         2
2      5030         2     11         3   10201        7        4         2
3      5030         2     11         4   10201        7        4         2
4      5030        11     11         1   10201        7        4         1

   P300N
0      1
1      2
2      3
3      4
4      1

In [316]:
df_sub_enaho2023_mod300

,CONGLOME,VIVIENDA,HOGAR,CODPERSO,UBIGEO,DOMINIO,ESTRATO,CODINFOR,P300N
0,5030,2,11,1,10201,7,4,1,1
1,5030,2,11,2,10201,7,4,2,2
2,5030,2,11,3,10201,7,4,2,3
3,5030,2,11,4,10201,7,4,2,4
4,5030,11,11,1,10201,7,4,1,1
...,...,...,...,...,...,...,...,...,...
108349,20670,67,11,5,10503,4,8,2,5
108350,20670,68,11,1,10503,4,8,1,1
108351,20670,69,11,1,10503,4,8,1,1
108352,20670,69,11,2,10503,4,8,2,2
108353,20670,69,11,3,10503,4,8,3,3

Seleccionando una submuestra aleatoria con las variables de interés indicadas

In [317]:
#Seleccionando el 10% aleatoriamente de los datos, con una semilla
df_sub2_enaho2023_mod300=df_sub_enaho2023_mod300[[ 'CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO','UBIGEO','DOMINIO','ESTRATO','CODINFOR','P300N'] ].sample(frac=0.1, random_state=5) 
df_sub2_enaho2023_mod300

,CONGLOME,VIVIENDA,HOGAR,CODPERSO,UBIGEO,DOMINIO,ESTRATO,CODINFOR,P300N
1284,15202,151,11,3,21801,2,2,3,3
106718,19520,33,11,4,210601,6,5,4,4
39454,16746,48,11,2,100601,7,3,2,2
49948,17652,78,11,4,140105,1,1,2,4
42103,18593,58,11,3,160113,7,2,3,3
...,...,...,...,...,...,...,...,...,...
55054,15126,38,11,1,10604,7,6,1,1
96484,18645,64,11,5,160113,7,2,1,5
78648,18649,25,11,4,160101,7,2,4,4
45549,8199,47,11,1,160101,7,2,1,1
63113,20351,32,11,1,250204,7,7,1,1

In [318]:
# Pregunta 2: Manipulación de datos

2.1. Explora el DataFrame utilizando funciones de resumen.

In [319]:
df.info() #muestra número de filas, columnas, tipo de datos,valores no nulos y uso de memoria.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108354 entries, 0 to 108353
Columns: 511 entries, AŅO to SUB_CONGLOME
dtypes: float64(2), int64(21), object(488)
memory usage: 422.4+ MB

In [320]:
df.shape #para ver la cantidad de filas y columnas

(108354, 511)

In [321]:
df.dtypes #para ver el tipo de datos en cada columna

AŅO               int64
MES               int64
CONGLOME          int64
VIVIENDA          int64
HOGAR             int64
                 ...
I315B            object
FACTOR07        float64
FACTORA07       float64
NCONGLOME         int64
SUB_CONGLOME      int64
Length: 511, dtype: object

2.2. Identificar si hay valores faltantes.

In [322]:
df.isnull().sum() #muestra los nulos por columna
df_enaho300_null=df.isnull().sum() #genero una variable
print(df_enaho300_null)

AŅO             0
MES             0
CONGLOME        0
VIVIENDA        0
HOGAR           0
               ..
I315B           0
FACTOR07        0
FACTORA07       0
NCONGLOME       0
SUB_CONGLOME    0
Length: 511, dtype: int64

In [323]:
df_enaho300_null.describe() #se comprueba que ninguna variable tiene missings, porque los valores de todas las variables resultan 0.
# Por lo tanto, no hay valores faltantes en ninguna variable.

count    511.0
mean       0.0
std        0.0
min        0.0
25%        0.0
50%        0.0
75%        0.0
max        0.0
dtype: float64

## Pregunta 3

In [324]:
df_enaho2023_mod200=pd.read_csv(r"C:\Users\Lenovo\OneDrive\Documentos\qlab_ccssgp_python\eva2\906-Modulo02\906-Modulo02\Enaho01-2023-200.csv", encoding="ISO-8859-10")

3.1. Mostrar las primeras 5 filas .

In [325]:
df_enaho2023_mod200.head(5)

,AŅO,MES,CONGLOME,VIVIENDA,HOGAR,CODPERSO,UBIGEO,DOMINIO,ESTRATO,P201P,...,OCUPAC_R3,OCUPAC_R4,RAMA_R3,RAMA_R4,CODTAREA,CODTIEMPO,TICUEST01,FACPOB07,NCONGLOME,SUB_CONGLOME
0,2023,2,5007,22,11,1,10101,4,4,20190050070221101,...,,,,,,,2,50.466671,7070,0
1,2023,2,5007,22,11,2,10101,4,4,20190050070221102,...,,,,,,,2,50.466671,7070,0
2,2023,2,5007,22,11,3,10101,4,4,20190050070221104,...,,,,,,,2,50.466671,7070,0
3,2023,2,5007,31,11,1,10101,4,4,20190050070311102,...,,,,,,,2,50.466671,7070,0
4,2023,2,5007,31,11,2,10101,4,4,20230050070311102,...,,,,,,,2,50.466671,7070,0

3.2. Convierte los nombres de las columnas en una lista e imprímela.

In [326]:
list_col_enaho2023_mod200=df.columns.tolist()

3.3.Compruebe los tipos de datos .

In [327]:
df_enaho2023_mod200.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119747 entries, 0 to 119746
Data columns (total 40 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   AŅO           119747 non-null  int64
 1   MES           119747 non-null  int64
 2   CONGLOME      119747 non-null  int64
 3   VIVIENDA      119747 non-null  int64
 4   HOGAR         119747 non-null  int64
 5   CODPERSO      119747 non-null  int64
 6   UBIGEO        119747 non-null  int64
 7   DOMINIO       119747 non-null  int64
 8   ESTRATO       119747 non-null  int64
 9   P201P         119747 non-null  int64
 10  P203          119747 non-null  int64
 11  P203A         119747 non-null  object
 12  P203B         119747 non-null  object
 13  P204          119747 non-null  object
 14  P205          119747 non-null  object
 15  P206          119747 non-null  object
 16  P207          119747 non-null  object
 17  P208A         119747 non-null  object
 18  P208B         119747 non-null  object
 19  P209          119747 non-null  object
 20  P210          119747 non-null  object
 21  P211A         119747 non-null  object
 22  P211D         119747 non-null  object
 23  P212          119747 non-null  object
 24  P213          119747 non-null  object
 25  P214          119747 non-null  object
 26  P215          119747 non-null  object
 27  P216          119747 non-null  object
 28  P217          119747 non-null  object
 29  T211          119747 non-null  object
 30  OCUPAC_R3     119747 non-null  object
 31  OCUPAC_R4     119747 non-null  object
 32  RAMA_R3       119747 non-null  object
 33  RAMA_R4       119747 non-null  object
 34  CODTAREA      119747 non-null  object
 35  CODTIEMPO     119747 non-null  object
 36  TICUEST01     119747 non-null  int64
 37  FACPOB07      119747 non-null  float64
 38  NCONGLOME     119747 non-null  int64
 39  SUB_CONGLOME  119747 non-null  int64
dtypes: float64(1), int64(14), object(25)
memory usage: 36.5+ MB

In [328]:
df_enaho2023_mod200.dtypes #2da forma de ver los tipos de datos

AŅO               int64
MES               int64
CONGLOME          int64
VIVIENDA          int64
HOGAR             int64
CODPERSO          int64
UBIGEO            int64
DOMINIO           int64
ESTRATO           int64
P201P             int64
P203              int64
P203A            object
P203B            object
P204             object
P205             object
P206             object
P207             object
P208A            object
P208B            object
P209             object
P210             object
P211A            object
P211D            object
P212             object
P213             object
P214             object
P215             object
P216             object
P217             object
T211             object
OCUPAC_R3        object
OCUPAC_R4        object
RAMA_R3          object
RAMA_R4          object
CODTAREA         object
CODTIEMPO        object
TICUEST01         int64
FACPOB07        float64
NCONGLOME         int64
SUB_CONGLOME      int64
dtype: object

3.4. Seleccione una submuestra que contenga las variables ['CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO']y entre 3 y 5 variables adicionales de su interés.

In [329]:
df_sub_mod200=df_enaho2023_mod200[['MES','CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO','DOMINIO','P207','P208A','P208B']]
df_sub_mod200 # variables seleccionadas

        MES  CONGLOME  VIVIENDA  HOGAR  CODPERSO  DOMINIO P207 P208A P208B
0         2      5007        22     11         1        4    1    64
1         2      5007        22     11         2        4    2    63
2         2      5007        22     11         3        4    1    31
3         2      5007        31     11         1        4    2    79
4         2      5007        31     11         2        4    1    50
...     ...       ...       ...    ...       ...      ...  ...   ...   ...
119742    4     21001        60     11         2        6    2    88
119743    4     21001        60     11         3        6    2    46
119744    4     21001        63     11         1        6    2    81
119745    4     21001        64     11         1        6    1    50
119746    4     21001        64     11         2        6    2    46

[119747 rows x 9 columns]

In [330]:
df_sub2_mod200=df_sub_mod200.sample(n=100, random_state=10)
df_sub2_mod200 # se hizo una 2da submuestra con 100 datos con las variables seleccionadas previamente.

        MES  CONGLOME  VIVIENDA  HOGAR  CODPERSO  DOMINIO P207 P208A P208B
46740     6     16799        57     11         4        5    1    16
99847     4     19498        48     11         2        6    2    28
20567     3     15462        47     11         2        6    2    62
92451    12     19146         6     11         4        5    1    11
105057   11     19768        38     11         4        7    2     2
...     ...       ...       ...    ...       ...      ...  ...   ...   ...
5895      3      8261       101     11         3        7    1    14
98353     4     19416        69     11         1        1    1    75
89352    10     18964        57     11         3        3    2    21
22429     7     15550        83     11         1        6    2    74
83942     7     18704       106     11         1        7    2    32

[100 rows x 9 columns]

3.5.Realice las siguientes modificaciones:
A. Cambiar el tipo de datos de una variable (por ejemplo, de texto a numérico).

In [331]:
df_sub_mod200.loc[:,'MES']=df_sub_mod200['MES'].astype(str)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_18688\1143640149.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['2' '2' '2' ... '4' '4' '4']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_sub_mod200.loc[:,'MES']=df_sub_mod200['MES'].astype(str)

In [332]:
type(df_sub_mod200['MES'].iloc[0]) #comprobando que pasó de numérico a texto.

str

3.  5. B. Modificar algunos valores en una columna específica.

In [333]:
df_sub_mod200.loc[:,'MES']=df_sub_mod200['MES'].replace({'1.0' : 'Enero', '2.0':'Febrero'})

In [334]:
df_sub_mod200['MES'].unique() #comprobando que se cambió

array(['2', '8', '1', '5', '6', '3', '10', '12', '9', '4', '7', '11'],
      dtype=object)

In [335]:
df_sub_mod200

       MES  CONGLOME  VIVIENDA  HOGAR  CODPERSO  DOMINIO P207 P208A P208B
0        2      5007        22     11         1        4    1    64
1        2      5007        22     11         2        4    2    63
2        2      5007        22     11         3        4    1    31
3        2      5007        31     11         1        4    2    79
4        2      5007        31     11         2        4    1    50
...     ..       ...       ...    ...       ...      ...  ...   ...   ...
119742   4     21001        60     11         2        6    2    88
119743   4     21001        60     11         3        6    2    46
119744   4     21001        63     11         1        6    2    81
119745   4     21001        64     11         1        6    1    50
119746   4     21001        64     11         2        6    2    46

[119747 rows x 9 columns]

In [336]:
# Pregunta 4: Fusión

4.1. Identifique las columnas comunes entre los dos conjuntos de datos (de las preguntas 1 y 3).

In [337]:
# 4.1. Las columnas comunes entre las bases de datos originales son: "CONGLOME", "VIVIENDA", "HOGAR", "CODPERSO"

4.2. Verifique si los valores coinciden en ambos conjuntos de datos. De lo contrario, corrija los valores no coincidentes para garantizar una fusión correcta.

In [338]:
(
    df_sub_enaho2023_mod300[['CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO']].apply(tuple, axis=1)
    .isin(
        df_sub_mod200[['CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO']].apply(tuple, axis=1)
    )
).value_counts()
# solo coinciden 108354 datos

True    108354
Name: count, dtype: int64

In [339]:
df_sub_enaho2023_mod300[['CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO']]

        CONGLOME  VIVIENDA  HOGAR  CODPERSO
0           5030         2     11         1
1           5030         2     11         2
2           5030         2     11         3
3           5030         2     11         4
4           5030        11     11         1
...          ...       ...    ...       ...
108349     20670        67     11         5
108350     20670        68     11         1
108351     20670        69     11         1
108352     20670        69     11         2
108353     20670        69     11         3

[108354 rows x 4 columns]

In [340]:
df_sub_mod200[['CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO']]

        CONGLOME  VIVIENDA  HOGAR  CODPERSO
0           5007        22     11         1
1           5007        22     11         2
2           5007        22     11         3
3           5007        31     11         1
4           5007        31     11         2
...          ...       ...    ...       ...
119742     21001        60     11         2
119743     21001        60     11         3
119744     21001        63     11         1
119745     21001        64     11         1
119746     21001        64     11         2

[119747 rows x 4 columns]

In [341]:
df_sub_enaho2023_mod300

,CONGLOME,VIVIENDA,HOGAR,CODPERSO,UBIGEO,DOMINIO,ESTRATO,CODINFOR,P300N
0,5030,2,11,1,10201,7,4,1,1
1,5030,2,11,2,10201,7,4,2,2
2,5030,2,11,3,10201,7,4,2,3
3,5030,2,11,4,10201,7,4,2,4
4,5030,11,11,1,10201,7,4,1,1
...,...,...,...,...,...,...,...,...,...
108349,20670,67,11,5,10503,4,8,2,5
108350,20670,68,11,1,10503,4,8,1,1
108351,20670,69,11,1,10503,4,8,1,1
108352,20670,69,11,2,10503,4,8,2,2
108353,20670,69,11,3,10503,4,8,3,3

In [342]:
df_sub_mod200

       MES  CONGLOME  VIVIENDA  HOGAR  CODPERSO  DOMINIO P207 P208A P208B
0        2      5007        22     11         1        4    1    64
1        2      5007        22     11         2        4    2    63
2        2      5007        22     11         3        4    1    31
3        2      5007        31     11         1        4    2    79
4        2      5007        31     11         2        4    1    50
...     ..       ...       ...    ...       ...      ...  ...   ...   ...
119742   4     21001        60     11         2        6    2    88
119743   4     21001        60     11         3        6    2    46
119744   4     21001        63     11         1        6    2    81
119745   4     21001        64     11         1        6    1    50
119746   4     21001        64     11         2        6    2    46

[119747 rows x 9 columns]

In [343]:
columns_merge = ['CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO']

In [344]:
# 4.3 Se realiza la fusión
df_merged_1=pd.merge(df_sub_enaho2023_mod300,df_sub_mod200, on=columns_merge, how='inner')

In [345]:
# 4.4. mostrando las primeras 5 filas

In [346]:
df_merged_1.head(5)

,CONGLOME,VIVIENDA,HOGAR,CODPERSO,UBIGEO,DOMINIO_x,ESTRATO,CODINFOR,P300N,MES,DOMINIO_y,P207,P208A,P208B
0,5030,2,11,1,10201,7,4,1,1,1,7,1,43,
1,5030,2,11,2,10201,7,4,2,2,1,7,2,41,
2,5030,2,11,3,10201,7,4,2,3,1,7,1,9,
3,5030,2,11,4,10201,7,4,2,4,1,7,2,7,
4,5030,11,11,1,10201,7,4,1,1,1,7,1,60,

In [347]:
df_merged_1['P208A'].value_counts().sort_index() #no hay valores missings, porque los missings son "99".

P208A
10    2154
11    2136
12    2364
13    2297
14    2306
      ...
94      45
95      38
96      24
97      16
98      42
Name: count, Length: 96, dtype: int64

In [348]:
df_merged_1['P207'].value_counts() #no hay missings en esta variable

P207
2    55632
1    52722
Name: count, dtype: int64

In [349]:
df_merged_1.rename(columns={'P207':'sexo','P208A':'edad'}, inplace=True)
df_merged_1

,CONGLOME,VIVIENDA,HOGAR,CODPERSO,UBIGEO,DOMINIO_x,ESTRATO,CODINFOR,P300N,MES,DOMINIO_y,sexo,edad,P208B
0,5030,2,11,1,10201,7,4,1,1,1,7,1,43,
1,5030,2,11,2,10201,7,4,2,2,1,7,2,41,
2,5030,2,11,3,10201,7,4,2,3,1,7,1,9,
3,5030,2,11,4,10201,7,4,2,4,1,7,2,7,
4,5030,11,11,1,10201,7,4,1,1,1,7,1,60,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108349,20670,67,11,5,10503,4,8,2,5,12,4,2,3,
108350,20670,68,11,1,10503,4,8,1,1,12,4,1,24,
108351,20670,69,11,1,10503,4,8,1,1,12,4,1,56,
108352,20670,69,11,2,10503,4,8,2,2,12,4,2,46,
108353,20670,69,11,3,10503,4,8,3,3,12,4,1,24,

In [350]:
df_merged_1['edad']=pd.to_numeric(df_merged_1['edad'], errors='coerce') #convirtiendo a numerico.

In [351]:
df_merged_1['edad'].dtypes # comprobando el cambio

dtype('int64')

In [352]:
#PREGUNTA 5

5.1. Agrupe los datos por una variable de su elección utilizando groupby().

In [353]:
df_merged_1.groupby('sexo')

5.2. Calcular un indicador estadístico relevante, por ejemplo: el ingreso promedio por categoría .

In [354]:
df_merged_1.groupby('sexo')['edad'].mean() #1 es hombre;2 es mujer

sexo
1    34.736675
2    36.456805
Name: edad, dtype: float64

Parte 2 

6.- Basic If Condition (Hecho por Georgina)

Write a Python function that checks if a given number is positive. If the number is greater than zero, return "The number X is positive.". Otherwise, return "The number X is not positive."

In [355]:
def calculator_square( x ):
    
    x = x
    
    result = x   
    
    if ( 0 < result ):
        print(f'The number {result} is positive')
    
    else:
        print( f'The number {result} is not positive')
    
    return result

In [356]:
calculator_square(10)

The number 10 is positive

10

7. If Condition with Multiple Expressions - Georgina
* Create a program that checks the temperature (in Celsius) and returns a message depending on the value:
  * If the temperature is below 0, return "It is freezing.".
  * If the temperature is between 0 and 20, return "It is cold.".
  * If the temperature is between 21 and 30, return "It is warm.".
  * If the temperature is greater than 30, return "It is hot.".

In [357]:
T_Cesius = 50

if T_Cesius < 0: 
    print('It is freezing')

elif (T_Cesius > 0) and (T_Cesius <20):
    print('It is cold')

elif (T_Cesius >= 21) and (T_Cesius <30):
    print('It is warm')

else:
    print('It is hot')

It is hot

8. Logical Operators - Georgina
* Write a function that determines if a person is eligible for a scholarship based on these conditions:
  * The person must have a GPA greater than 3.5 AND
  * Either their extracurricular activities are "Yes" OR they have community service hours     greater than 50.
 * The function should return:
    * "Eligible for scholarship." if conditions are met.
    * "Not eligible for scholarship." otherwise.

In [358]:
def scholarship_eligibility(GPA,extra_activ, comun_serv_hour):
    if GPA > 3.5 and (extra_activ == "Yes" or comun_serv_hour > 50 ):
        return("Eligible for scholarship")
    else:
        return("Not eligible for scholarship")

In [359]:
scholarship_eligibility(0,"Yes", 55)

'Not eligible for scholarship'

9. Python Identity Operators -Georgina
* Create two lists:
  * list1 = [1, 2, 3]
  * list2 = [1, 2, 3]
  * list3 = list1 

* Check with identity operators:
  * list1 is list2
  * list1 is list3
  * list1 == list2 

* Explain the difference in the results for each comparison.

In [360]:
list1 = [1, 2, 3]
list2 = [1, 2, 3]
list3 = list1

In [361]:
print(list1 is list2)

False

In [362]:
print(list1 is list3)

True

In [363]:
print(list1 == list2)

True

In [364]:
# 5. Part 3 – For loops

In [365]:
import pandas as pd

In [366]:
## PREGUNTA 10 - Hecho por Eduardo
def calificacion(score):
    if score >= 90:
        return "A"
    elif 80 <= score <= 89:
        return "B+" if score == 85 else "B"
    elif 70 <= score <= 79:
        return "C"
    else:
        return "Fail"

for s in [95, 85, 82, 71, 60]:
    print(s, "=>", calificacion(s))

95 => A
85 => B+
82 => B
71 => C
60 => Fail

In [367]:
## PREGUNTA 11  - Hecho por Eduardo
import numpy as np

arr = np.array([10, 20, 30, 40, 50])
for x in arr:
    print(x * 2)

# Re-pregunta: guardar resultados en nueva matriz:
arr2 = np.array([v * 2 for v in arr])
print("Nuevo array:", arr2)

20
40
60
80
100
Nuevo array: [ 20  40  60  80 100]

In [368]:
#12. For Loop in List

In [369]:
palabras12 = ["python", "loop", "list", "iteration"]
for palabra in palabras12:
    print(len(palabra))

6
4
4
9

In [370]:
# Una list comprehesion implica elaborar una sintaxis más corta cuando se busca crear una nueva lista a partir de los valores de una lista existente.

In [371]:
tamaño = [len(palabra) for palabra in palabras12]
print(tamaño)

[6, 4, 4, 9]

In [372]:
#13. For Loop in Dictionary

In [373]:
stud_scores = {"Alice": 85, "Bob": 92, "Charlie": 78, "Diana": 88}

In [374]:
stud_scores

{'Alice': 85, 'Bob': 92, 'Charlie': 78, 'Diana': 88}

In [375]:
for nombre, nota in stud_scores.items():
    print("Estudiante", nombre, "obtuvo una nota de", nota )

Estudiante Alice obtuvo una nota de 85
Estudiante Bob obtuvo una nota de 92
Estudiante Charlie obtuvo una nota de 78
Estudiante Diana obtuvo una nota de 88

In [376]:
# Solo consideramos a los estudiantes con una nota mayor a 80
for nombre, nota in stud_scores.items():
    if nota > 80:
        print("Estudiante", nombre, "obtuvo una nota de", nota )

Estudiante Alice obtuvo una nota de 85
Estudiante Bob obtuvo una nota de 92
Estudiante Diana obtuvo una nota de 88

In [377]:
# 14. For Loop using Range

In [378]:
for num in range(1, 21):
    if num % 2 == 0:
        print(num)

2
4
6
8
10
12
14
16
18
20

In [379]:
# Modificamos el loop para sumar los elementos:
total = 0   
for num in range(1, 21):
    if num % 2 == 0:
        print(num)
        total += num   
print("La suma de los números pares es:", total)

2
4
6
8
10
12
14
16
18
20
La suma de los números pares es: 110

In [380]:
#15. Iterations over Pandas (ENAHO dataset) [2 pts]

In [381]:
import pandas as pd
# Cargamos el dataset
enaho400_2023 = pd.read_csv(r"C:\Users\Lenovo\OneDrive\Documentos\qlab_ccssgp_python\eva2\906-Modulo04\906-Modulo04/Enaho01A-2023-400.csv", encoding="latin-1")

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_18688\1572389115.py:3: DtypeWarning: Columns (15,32,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,79,81,123,125,127,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,553,554,555,556,557,558,559,560,569) have mixed types. Specify dtype option on import or set low_memory=False.
  enaho400_2023 = pd.read_csv(r"C:\Users\Lenovo\OneDrive\Documentos\qlab_ccssgp_python\eva2\906-Modulo04\906-Modulo04/Enaho01A-2023-400.csv", encoding="latin-1")

In [382]:
# Convertimos la columna P41601 a numérica
enaho400_2023["P41601"] = pd.to_numeric(enaho400_2023["P41601"], errors="coerce")

In [383]:
# Realizamos la iteración
for valor in enaho400_2023["P41601"]:
    if valor > 5000:
        print(valor)

99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9

In [384]:
# Optimimzamos con boolean indexing: seleccionamos directamente los valores mayores a 5000
valores = enaho400_2023.loc[enaho400_2023["P41601"] > 5000, "P41601"]
print(valores)

784       99999.9
794       99999.9
797       99999.9
799       99999.9
3925      99999.9
5731      99999.9
7555      99999.9
8007      99999.9
13958     99999.9
17211     99999.9
26244     99999.9
26639     99999.9
28578     99999.9
36256     99999.9
43753     99999.9
43754     99999.9
45170     99999.9
47369     99999.9
48779     99999.9
49699     99999.9
52736     99999.9
53781     99999.9
66071     99999.9
71331     99999.9
75239     99999.9
76090     99999.9
80685     99999.9
84911     99999.9
87190     99999.9
92416     99999.9
96582     99999.9
99087     99999.9
103332    99999.9
104854    99999.9
107255    99999.9
107757    99999.9
109416    99999.9
110537    99999.9
Name: P41601, dtype: float64