# 3. <a id='intro'>[Pandas](https://www.freecodecamp.org/news/how-to-analyze-data-with-python-pandas/)</a>

- <a href='#def'> 3.1 Definition</a>  
- <a href='#series'>3.2. Pandas Series</a>
     - <a href='#3.2.1'>3.2.1. From `lists` to `Series`</a>
     - <a href='#3.2.2'> 3.2.2. From `NumPy array` to `Series`</a>
     - <a href='#3.2.3'> 3.2.3. From `Dictionary` to `Series`</a>
     - <a href='#3.2.4'> 3.2.4. `Series` vs `NumPy`</a>
     - <a href='#3.2.5'> 3.2.5 Indexing</a></a>
- <a href='#3.3'>3.3 DataFrame</a>
     - <a href='#3.3.1'>3.3.1 DataFrame Generation</a>
     - <a href='#3.3.2'>3.3.2 Indexing</a>
     - <a href='#3.3.3'>3.3.3 General Methods</a>
     - <a href='#3.3.4'>3.3.4 Importing Data</a>
     - <a href='#3.3.5'>3.3.5 Filtering data</a> 
     - <a href='#3.3.6'>3.3.6 Dealing with nulls</a>  
     - <a href='#3.3.7'>3.3.7 Duplicates</a>  
     - <a href='#3.3.8'>3.3.8 Groupby</a>  
     - <a href='#3.3.9'>3.3.9 Reshape</a>  
     - <a href='#3.3.10'>3.3.10 Merge</a>  
     
- <a href='#3.4'>3.4 References</a>

## 3.1. <a id='def'>Definition</a>

Pandas is a Python library used for working with data sets. This is the "must-learn" library for Data I/O, cleansing, transforming and aggregation. It is an external library so we need to import it in your applications by adding the `import` keyword

In [1]:
import pandas as pd
import numpy as np

Now the `Pandas` package can be referred to as `pd` instead of pandas.

## 3.2. <a id='series'>[Pandas Series](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html)</a>

The first pandas data strucuture is a Series. A Series is a one-dimensional array that can hold any datatype, similar to a ndarray. However, a Series has a **index** that gives a a label to each entry. An index generally is used to label the data.
Typically a Series contains information about **one feature** of the data. <br>

**Es la unidad básica de pandas (cada columna de un data frame)**

A `Pandas Series` is a one-dimensional array of indexed data. It can be created from a list or array as follows:

### 3.2.1. <a id='3.2.1'>From `lists` to `Series`<a>

In [2]:
list_1 = [0.25, 0.5, 0.75, 1.0]
list_1

[0.25, 0.5, 0.75, 1.0]

In [3]:
data = pd.Series([0.25, 0.5, 0.75, 1.0]) 
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [4]:
data = pd.Series(list_1) 
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [5]:
print(data)

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [6]:
type(list_1)

list

In [7]:
type(data)

pandas.core.series.Series

### 3.2.2. <a id='3.2.2'> From `NumPy array` to `Series` <a>

In [8]:
vector_1 = np.array( [ 10, 20, 1, 2, 
                      3, 4, 5, 6, 7] )
vector_1

array([10, 20,  1,  2,  3,  4,  5,  6,  7])

In [9]:
series1 = pd.Series( vector_1 )
series1

0    10
1    20
2     1
3     2
4     3
5     4
6     5
7     6
8     7
dtype: int32

In [10]:
type(vector_1)

numpy.ndarray

In [11]:
type(series1)

pandas.core.series.Series

### 3.2.3.  <a id='3.2.3'> From `Dictionary` to `Series` </a>

Los diccionarios son json files, y se desea pasar a pandas

In [12]:
population_dict = { 'California' : 38332521,
                    'Texas'      : 26448193,
                    'New York'   : 19651127,
                    'Florida'    : 19552860,
                    'Illinois'   : 12882135 }

In [13]:
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

As we see in the output, the `Series` wraps both a sequence of values and a sequence of indices, which we can access with the `values` and `index` attributes. The values are simply a familiar NumPy array:

In [14]:
population.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [15]:
population.values

array([38332521, 26448193, 19651127, 19552860, 12882135], dtype=int64)

### 3.2.4.  <a id='3.2.4'> `Series` vs `NumPy`</a>

The essential difference is the presence of the index: while the `Numpy Array` has an implicitly defined integer index used to access the values, the `Pandas Series` has an explicitly defined index associated with the values. <br>

The `index` do not need to be an integer. we can use `strings`.

In [16]:
claudia = np.arange(5, 21, 2)
claudia

array([ 5,  7,  9, 11, 13, 15, 17, 19])

In [17]:
import numpy as np
math = pd.Series( np.arange(5,21,3) , ['joyce','jeremy','ivan','marcy','daniel','franclin']) # pd.Series(valores, indices)
math

joyce        5
jeremy       8
ivan        11
marcy       14
daniel      17
franclin    20
dtype: int32

In [18]:
info = np.arange(5, 15 ,3.)
index_info =  ['joyce','jeremy','ivan','marcy']

In [19]:
math_2 = pd.Series(info, index_info) # pd.Series(valores, indices)
math_2

joyce      5.0
jeremy     8.0
ivan      11.0
marcy     14.0
dtype: float64

In [20]:
math_3 = pd.Series(info, index_info, dtype = int,  name = "Daniel") #pd.Series(valores, indices, tipo_de_dato, nombre_de_col)
math_3

joyce      5
jeremy     8
ivan      11
marcy     14
Name: Daniel, dtype: int32

Excersice: <br>
Get the `values` and `index` from `math` `Series`.

In [21]:
math_3.values

array([ 5,  8, 11, 14])

In [22]:
math_3.index

Index(['joyce', 'jeremy', 'ivan', 'marcy'], dtype='object')

### 3.2.5.  <a id='3.2.5'> Indexing</a>


Indexing in pandas means simply selecting particular rows and columns of data from a DataFrame. Indexing could mean selecting all the rows and some of the columns, some of the rows and all of the columns, or some of each of the rows and columns. Indexing can also be known as Subset Selection.

In [23]:
print( data )

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [24]:
print( data[ 1:3 ] ) # segunda y tercera fila (posiciones 1 y 2 en Python) # la indexación normalmente no incluye el último elemento

1    0.50
2    0.75
dtype: float64

In [25]:
print( population )

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [26]:
print( population[ 'California':'New York' ] ) # cuando la indexación es con texto, sí incluye el último

California    38332521
Texas         26448193
New York      19651127
dtype: int64

| Method 	| Definition 	|
| --- | --- |
| loc() 	| Gets rows (and/or columns) with particular labels.<br> Accept `Boolean` for indexing. |
| iloc() 	| gets rows (and/or columns) at integer locations. <br> Do not accept `Boolean` for indexing.|

Get the value of New York.

In [27]:
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [28]:
population.loc["New York"]  # fila de posición New York

19651127

In [29]:
population.iloc[2] # fila de posición 2

19651127

In [30]:
print( population.loc[ "New York" ] == population.iloc[ 2 ] )

True

In [31]:
population.iloc[1:4] # filas de posiciones 1, 2 y 3 (o sea la segunda, tercera y cuarta)

Texas       26448193
New York    19651127
Florida     19552860
dtype: int64

In [32]:
print(population.loc[["Texas","New York","Florida"]])

Texas       26448193
New York    19651127
Florida     19552860
dtype: int64

Replicate this excersice for `data` Series.

## 3.3.  <a id='3.3'> [DataFrame](https://www.w3schools.com/python/pandas/pandas_dataframes.asp)</a>


A DataFrame is a collection of multiple Series. It can be thought of as a 2-dimensional array, where each row is a separate datapoint and each column is a feature of the data. The rows are labeled with an index(as in a Series) and the columns are lebeled in the attribute columns.<br>
There are many different ways to initialize a DataFrame. <br>

### 3.3.1. <a id='3.3.1'> DataFrame Generation</a>
#### From `lists` and `dict` to `DataFrame`

In [33]:
# Grades
students = [ "Alejandro", "Pedro", "Ramiro", "Axel", "Juan" ]
math     = [ 15, 16, 10, 12, 13 ]
english  = [ 13, 9, 16, 14, 17 ]
art      = [ 12, 16, 15, 19, 10 ]

# Dictionary
grades_A = {'Students':students, 'Math':math, 'English':english, 'Art':art}

In [34]:
grades_A

{'Students': ['Alejandro', 'Pedro', 'Ramiro', 'Axel', 'Juan'],
 'Math': [15, 16, 10, 12, 13],
 'English': [13, 9, 16, 14, 17],
 'Art': [12, 16, 15, 19, 10]}

In [35]:
gradesA1 = pd.DataFrame( grades_A )
gradesA1

    Students  Math  English  Art
0  Alejandro    15       13   12
1      Pedro    16        9   16
2     Ramiro    10       16   15
3       Axel    12       14   19
4       Juan    13       17   10

In [36]:
type(gradesA1)

pandas.core.frame.DataFrame

#### From `lists` and `NumPy` to `DataFrame`

In [37]:
values = np.array([ [ 1, 2, 3 ], [ 4, 5, 6 ], [ 7, 8, 9 ] ] )
values

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [38]:
col_names = [ 'a', 'b', 'c' ]

In [39]:
data2 = pd.DataFrame( values, columns = col_names )
data2

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [40]:
type(data2)

pandas.core.frame.DataFrame

### 3.3.2. <a id='3.3.2'> Indexing</a>

We can use the same methods as `Series`: `iloc` and `loc`. We can select columns and rows.

In [41]:
# Grades
students = [ "Gissela", "Daniel", "Andres", "Sandra", "Rosalyn" ]
math     = [ 16, 14, 17, 17, 17 ]
english  = [ 16, 17, 19, 18, 15 ]
art      = [ 11, 17, 13, 14, 17 ]

# Dictionary
diplomado = {'Students':students, 'Math':math, 'English':english, 'Art':art}
gradesA1 = pd.DataFrame( diplomado )
gradesA1

  Students  Math  English  Art
0  Gissela    16       16   11
1   Daniel    14       17   17
2   Andres    17       19   13
3   Sandra    17       18   14
4  Rosalyn    17       15   17

#### Using .loc

In [42]:
gradesA1.loc[:, "Students"] # : significa toda la información de las filas

0    Gissela
1     Daniel
2     Andres
3     Sandra
4    Rosalyn
Name: Students, dtype: object

In [43]:
(gradesA1.loc[0:2, "Students"]) # 0:2 significa que seleccionará las filas 0 al 2 (sí incluye el último índice). loc es de ubicación precisa

0    Gissela
1     Daniel
2     Andres
Name: Students, dtype: object

In [44]:
(gradesA1.loc[0:2, :])

  Students  Math  English  Art
0  Gissela    16       16   11
1   Daniel    14       17   17
2   Andres    17       19   13

In [45]:
gradesA1.loc[:, ["Students" , "Art", "English"] ] # se puede cambiar el orden de las columnas

  Students  Art  English
0  Gissela   11       16
1   Daniel   17       17
2   Andres   13       19
3   Sandra   14       18
4  Rosalyn   17       15

#### Using .iloc

In [46]:
gradesA1

  Students  Math  English  Art
0  Gissela    16       16   11
1   Daniel    14       17   17
2   Andres    17       19   13
3   Sandra    17       18   14
4  Rosalyn    17       15   17

In [47]:
gradesA1.iloc[ 0,0 ] # dato de la fila 0 y columna 0 (primera fila y primera columna)

'Gissela'

In [48]:
gradesA1.iloc[ 0:3, 1:3 ] # filas de posiciones 0 al 2 (no incluye 3), columnas de posición 1 y 2

   Math  English
0    16       16
1    14       17
2    17       19

In [49]:
gradesA1.iloc[[0, 2], [1, 3]] # filas de posiciones 0 y 2 (primera y tercera) columnas de posiciones 1 y 3 (segunda y cuarta)

   Math  Art
0    16   11
2    17   13

### 3.3.3. <a id='3.3.3'> General Methods</a>

|Method|Description|
|------|-----------|
|columns()|Get the name of the columns.|
|sort_values()|Sort by the values along either axis.|
|sort_index()|Sort by the index.|
|head()|Show the first N observations.|
|drop( )| Remove the entries  <br>  with the specified label or labels|
|append( )| Concatenate two or more Series.|
|drop_duplicates( )| Remove duplicate values|
|dropna( ) |Drop null entries|
|fillna( ) |Replace null entries <br> with a specified value or strategy|
|reset_index( )| Index as column.|
|sample( ) |Draw a random entry|
|shift( ) |Shift the index|
|unique( ) |Return unique values|

In [50]:
deps = {
        'dep' : ['Lima', 'Piura', 'Tumbes', 'Cuzco', 'Ica', 'Puno'],
        'year': [ 2000, 2001, 2002, 2001, 2002, 2003 ],
        'pop' : [ 1.5, 1.7, 3.6, 2.4, 2.9, 3.2 ] 
        }
dep1 = pd.DataFrame( deps )
dep1

      dep  year  pop
0    Lima  2000  1.5
1   Piura  2001  1.7
2  Tumbes  2002  3.6
3   Cuzco  2001  2.4
4     Ica  2002  2.9
5    Puno  2003  3.2

#### sort

In [51]:
# Not `inplace` argument
dep1_sort = dep1.sort_values(['year','pop'], ascending = False)

In [52]:
dep1

      dep  year  pop
0    Lima  2000  1.5
1   Piura  2001  1.7
2  Tumbes  2002  3.6
3   Cuzco  2001  2.4
4     Ica  2002  2.9
5    Puno  2003  3.2

In [53]:
dep1_sort

      dep  year  pop
5    Puno  2003  3.2
2  Tumbes  2002  3.6
4     Ica  2002  2.9
3   Cuzco  2001  2.4
1   Piura  2001  1.7
0    Lima  2000  1.5

In [54]:
# `inplace` argument # sobreescribe
dep1.sort_values(['year','pop'],ascending = False , inplace = True )
dep1

      dep  year  pop
5    Puno  2003  3.2
2  Tumbes  2002  3.6
4     Ica  2002  2.9
3   Cuzco  2001  2.4
1   Piura  2001  1.7
0    Lima  2000  1.5

In [55]:
# `inplace` argument # sobreescribe
dep1.sort_values(['year','pop'],ascending = False , inplace = True, ignore_index = True)
dep1

      dep  year  pop
0    Puno  2003  3.2
1  Tumbes  2002  3.6
2     Ica  2002  2.9
3   Cuzco  2001  2.4
4   Piura  2001  1.7
5    Lima  2000  1.5

In [56]:
# Back to the original
dep1.sort_index(inplace = True)
dep1

      dep  year  pop
0    Puno  2003  3.2
1  Tumbes  2002  3.6
2     Ica  2002  2.9
3   Cuzco  2001  2.4
4   Piura  2001  1.7
5    Lima  2000  1.5

In [57]:
dep1.sort_values(['year','pop'], ascending = False)

      dep  year  pop
0    Puno  2003  3.2
1  Tumbes  2002  3.6
2     Ica  2002  2.9
3   Cuzco  2001  2.4
4   Piura  2001  1.7
5    Lima  2000  1.5

In [58]:
dep1.sort_values(['year','pop'], ascending = [False,True])

      dep  year  pop
0    Puno  2003  3.2
2     Ica  2002  2.9
1  Tumbes  2002  3.6
4   Piura  2001  1.7
3   Cuzco  2001  2.4
5    Lima  2000  1.5

#### Operations with DataFrame, new column

In [59]:
gradesA1[ 'avg' ] = ( gradesA1[ 'Math' ] + gradesA1[ 'English' ] + gradesA1[ 'Art' ] ) / 3
gradesA1

  Students  Math  English  Art        avg
0  Gissela    16       16   11  14.333333
1   Daniel    14       17   17  16.000000
2   Andres    17       19   13  16.333333
3   Sandra    17       18   14  16.333333
4  Rosalyn    17       15   17  16.333333

In [60]:
gradesA1.rename(columns = {'avg': 'promedio'}, inplace = True)
gradesA1

  Students  Math  English  Art   promedio
0  Gissela    16       16   11  14.333333
1   Daniel    14       17   17  16.000000
2   Andres    17       19   13  16.333333
3   Sandra    17       18   14  16.333333
4  Rosalyn    17       15   17  16.333333

In [61]:
# Mean English & Art
gradesA1.iloc[:, 2:4].mean( axis = 1) # es un panda.Series

0    13.5
1    17.0
2    16.0
3    16.0
4    16.0
dtype: float64

In [62]:
# Mean Math & Art
gradesA1.iloc[:, [1, 3]].mean( axis = 1) # es un panda.Series

0    13.5
1    15.5
2    15.0
3    15.5
4    17.0
dtype: float64

In [63]:
# head
gradesA1.head( 4 )

  Students  Math  English  Art   promedio
0  Gissela    16       16   11  14.333333
1   Daniel    14       17   17  16.000000
2   Andres    17       19   13  16.333333
3   Sandra    17       18   14  16.333333

In [64]:
# drop column
# Always use copy when you want to modify your DataFrame
gradesA1_1 = gradesA1.drop( [ 'promedio' , 'Art' ], axis = 1 )
gradesA1_1

  Students  Math  English
0  Gissela    16       16
1   Daniel    14       17
2   Andres    17       19
3   Sandra    17       18
4  Rosalyn    17       15

#### Concatenate

In [65]:
# add new data gradesA2
students = [ "Rebeca", "Xavi", "Cristiano", "Ronaldo", "Leo" ]
math     = [ 15, 18, 14, 7, 10 ]
english  = [ 18, 9, 11, 12, 20 ]
art      = [ 10, 16, 20, 19, 5 ]

# Dictionary
grades_A2 = {'Students':students, 'Math':math, 'English':english, 'Art':art}
gradesA2 = pd.DataFrame( grades_A2 )

In [66]:
gradesA2

    Students  Math  English  Art
0     Rebeca    15       18   10
1       Xavi    18        9   16
2  Cristiano    14       11   20
3    Ronaldo     7       12   19
4        Leo    10       20    5

In [67]:
gradesA1

  Students  Math  English  Art   promedio
0  Gissela    16       16   11  14.333333
1   Daniel    14       17   17  16.000000
2   Andres    17       19   13  16.333333
3   Sandra    17       18   14  16.333333
4  Rosalyn    17       15   17  16.333333

In [68]:
pd.concat([gradesA1,gradesA2], ignore_index=True)

    Students  Math  English  Art   promedio
0    Gissela    16       16   11  14.333333
1     Daniel    14       17   17  16.000000
2     Andres    17       19   13  16.333333
3     Sandra    17       18   14  16.333333
4    Rosalyn    17       15   17  16.333333
5     Rebeca    15       18   10        NaN
6       Xavi    18        9   16        NaN
7  Cristiano    14       11   20        NaN
8    Ronaldo     7       12   19        NaN
9        Leo    10       20    5        NaN

In [69]:
grades_total = pd.concat([gradesA1,gradesA2], ignore_index=True).copy()
grades_total

    Students  Math  English  Art   promedio
0    Gissela    16       16   11  14.333333
1     Daniel    14       17   17  16.000000
2     Andres    17       19   13  16.333333
3     Sandra    17       18   14  16.333333
4    Rosalyn    17       15   17  16.333333
5     Rebeca    15       18   10        NaN
6       Xavi    18        9   16        NaN
7  Cristiano    14       11   20        NaN
8    Ronaldo     7       12   19        NaN
9        Leo    10       20    5        NaN

In [70]:
# grades_total =  gradesA1.append( gradesA2 ) 
# a partir de la versión 2.0 de pandas, el método append() fue eliminado.

#### Duplicates

In [71]:
cars = pd.DataFrame({
            'brands'    : [ 'hyundai', 'hyundai', 'kia', 'kia', 'kia' ] ,
            'model'     : [ 'sedan', 'sedan', 'sedan', 'truck', 'truck' ] ,
            'passengers': [ 4, 4, 5, 6, 8 ]
            })
cars

    brands  model  passengers
0  hyundai  sedan           4
1  hyundai  sedan           4
2      kia  sedan           5
3      kia  truck           6
4      kia  truck           8

In [72]:
cars_subset = cars.drop_duplicates(subset = [ 'brands' ])
cars_subset

    brands  model  passengers
0  hyundai  sedan           4
2      kia  sedan           5

In [73]:
cars_subset1 = cars.drop_duplicates(subset = [ 'brands' ], keep = 'last') # keep = last mantiene la última fila
cars_subset1

    brands  model  passengers
1  hyundai  sedan           4
4      kia  truck           8

In [74]:
cars_subset2 = cars.drop_duplicates(subset = [ 'brands', 'model' ])
cars_subset2

    brands  model  passengers
0  hyundai  sedan           4
2      kia  sedan           5
3      kia  truck           6

In [75]:
cars.drop_duplicates(subset = ['brands','model','passengers' ], keep = 'last')

    brands  model  passengers
1  hyundai  sedan           4
2      kia  sedan           5
3      kia  truck           6
4      kia  truck           8

In [76]:
all_columns = cars.columns
cars.drop_duplicates(subset = all_columns) # hacemos esto para evitar escribir el nombre de todas las columnas

    brands  model  passengers
0  hyundai  sedan           4
2      kia  sedan           5
3      kia  truck           6
4      kia  truck           8

In [77]:
cars

    brands  model  passengers
0  hyundai  sedan           4
1  hyundai  sedan           4
2      kia  sedan           5
3      kia  truck           6
4      kia  truck           8

#### unique

In [78]:
cars['brands'].unique()

array(['hyundai', 'kia'], dtype=object)

In [79]:
cars['model'].unique()

array(['sedan', 'truck'], dtype=object)

#### drop na y fill na

In [80]:
#dropna
grades_total

    Students  Math  English  Art   promedio
0    Gissela    16       16   11  14.333333
1     Daniel    14       17   17  16.000000
2     Andres    17       19   13  16.333333
3     Sandra    17       18   14  16.333333
4    Rosalyn    17       15   17  16.333333
5     Rebeca    15       18   10        NaN
6       Xavi    18        9   16        NaN
7  Cristiano    14       11   20        NaN
8    Ronaldo     7       12   19        NaN
9        Leo    10       20    5        NaN

In [81]:
grades_total_NA = grades_total.dropna() # no es bueno chancar la base de datos existente
grades_total_NA

  Students  Math  English  Art   promedio
0  Gissela    16       16   11  14.333333
1   Daniel    14       17   17  16.000000
2   Andres    17       19   13  16.333333
3   Sandra    17       18   14  16.333333
4  Rosalyn    17       15   17  16.333333

In [82]:
# fillna
print( grades_total , "\n" )
grades_total_fill_na = grades_total.fillna(5)
print( grades_total_fill_na )

    Students  Math  English  Art   promedio
0    Gissela    16       16   11  14.333333
1     Daniel    14       17   17  16.000000
2     Andres    17       19   13  16.333333
3     Sandra    17       18   14  16.333333
4    Rosalyn    17       15   17  16.333333
5     Rebeca    15       18   10        NaN
6       Xavi    18        9   16        NaN
7  Cristiano    14       11   20        NaN
8    Ronaldo     7       12   19        NaN
9        Leo    10       20    5        NaN

    Students  Math  English  Art   promedio
0    Gissela    16       16   11  14.333333
1     Daniel    14       17   17  16.000000
2     Andres    17       19   13  16.333333
3     Sandra    17       18   14  16.333333
4    Rosalyn    17       15   17  16.333333
5     Rebeca    15       18   10   5.000000
6       Xavi    18        9   16   5.000000
7  Cristiano    14       11   20   5.000000
8    Ronaldo     7       12   19   5.000000
9        Leo    10       20    5   5.000000

In [83]:
print( grades_total , "\n" )
grades_total_fill_na = grades_total.fillna( "No value" )
print( grades_total_fill_na )

    Students  Math  English  Art   promedio
0    Gissela    16       16   11  14.333333
1     Daniel    14       17   17  16.000000
2     Andres    17       19   13  16.333333
3     Sandra    17       18   14  16.333333
4    Rosalyn    17       15   17  16.333333
5     Rebeca    15       18   10        NaN
6       Xavi    18        9   16        NaN
7  Cristiano    14       11   20        NaN
8    Ronaldo     7       12   19        NaN
9        Leo    10       20    5        NaN

    Students  Math  English  Art   promedio
0    Gissela    16       16   11  14.333333
1     Daniel    14       17   17       16.0
2     Andres    17       19   13  16.333333
3     Sandra    17       18   14  16.333333
4    Rosalyn    17       15   17  16.333333
5     Rebeca    15       18   10   No value
6       Xavi    18        9   16   No value
7  Cristiano    14       11   20   No value
8    Ronaldo     7       12   19   No value
9        Leo    10       20    5   No value

#### reset index

In [84]:
grades_total

    Students  Math  English  Art   promedio
0    Gissela    16       16   11  14.333333
1     Daniel    14       17   17  16.000000
2     Andres    17       19   13  16.333333
3     Sandra    17       18   14  16.333333
4    Rosalyn    17       15   17  16.333333
5     Rebeca    15       18   10        NaN
6       Xavi    18        9   16        NaN
7  Cristiano    14       11   20        NaN
8    Ronaldo     7       12   19        NaN
9        Leo    10       20    5        NaN

In [85]:
grades_total.reset_index()
# a diferencia de ignore_index, sí guarda los índices anteriores

   index   Students  Math  English  Art   promedio
0      0    Gissela    16       16   11  14.333333
1      1     Daniel    14       17   17  16.000000
2      2     Andres    17       19   13  16.333333
3      3     Sandra    17       18   14  16.333333
4      4    Rosalyn    17       15   17  16.333333
5      5     Rebeca    15       18   10        NaN
6      6       Xavi    18        9   16        NaN
7      7  Cristiano    14       11   20        NaN
8      8    Ronaldo     7       12   19        NaN
9      9        Leo    10       20    5        NaN

In [86]:
grades_total.reset_index( drop = True ) # drop = True permite retirar los índices

    Students  Math  English  Art   promedio
0    Gissela    16       16   11  14.333333
1     Daniel    14       17   17  16.000000
2     Andres    17       19   13  16.333333
3     Sandra    17       18   14  16.333333
4    Rosalyn    17       15   17  16.333333
5     Rebeca    15       18   10        NaN
6       Xavi    18        9   16        NaN
7  Cristiano    14       11   20        NaN
8    Ronaldo     7       12   19        NaN
9        Leo    10       20    5        NaN

#### sample

In [87]:
grades_total.sample(n = 5)

    Students  Math  English  Art   promedio
2     Andres    17       19   13  16.333333
9        Leo    10       20    5        NaN
7  Cristiano    14       11   20        NaN
4    Rosalyn    17       15   17  16.333333
6       Xavi    18        9   16        NaN

In [88]:
grades_total.sample( frac = 0.5).reset_index()

   index Students  Math  English  Art   promedio
0      0  Gissela    16       16   11  14.333333
1      4  Rosalyn    17       15   17  16.333333
2      2   Andres    17       19   13  16.333333
3      3   Sandra    17       18   14  16.333333
4      6     Xavi    18        9   16        NaN

In [89]:
print(grades_total.sample( frac = 0.5).reset_index(), "\n\n", grades_total)

   index Students  Math  English  Art   promedio
0      0  Gissela    16       16   11  14.333333
1      8  Ronaldo     7       12   19        NaN
2      2   Andres    17       19   13  16.333333
3      4  Rosalyn    17       15   17  16.333333
4      1   Daniel    14       17   17  16.000000

     Students  Math  English  Art   promedio
0    Gissela    16       16   11  14.333333
1     Daniel    14       17   17  16.000000
2     Andres    17       19   13  16.333333
3     Sandra    17       18   14  16.333333
4    Rosalyn    17       15   17  16.333333
5     Rebeca    15       18   10        NaN
6       Xavi    18        9   16        NaN
7  Cristiano    14       11   20        NaN
8    Ronaldo     7       12   19        NaN
9        Leo    10       20    5        NaN

In [90]:
print(grades_total.sample( frac = 0.5).reset_index(drop = True), "\n\n", grades_total)

    Students  Math  English  Art   promedio
0     Daniel    14       17   17  16.000000
1    Gissela    16       16   11  14.333333
2  Cristiano    14       11   20        NaN
3     Rebeca    15       18   10        NaN
4        Leo    10       20    5        NaN

     Students  Math  English  Art   promedio
0    Gissela    16       16   11  14.333333
1     Daniel    14       17   17  16.000000
2     Andres    17       19   13  16.333333
3     Sandra    17       18   14  16.333333
4    Rosalyn    17       15   17  16.333333
5     Rebeca    15       18   10        NaN
6       Xavi    18        9   16        NaN
7  Cristiano    14       11   20        NaN
8    Ronaldo     7       12   19        NaN
9        Leo    10       20    5        NaN

### 3.3.4. <a id='3.3.4'> Importing Data</a>

|Method|Description|
|------|-----------|
|read_excel( )|Read a excel file and convert to a DataFrame.|
|to_csv( )| Write the index and entries to a CSV file|
|read_csv( )| Read a csv and convert into a DataFrame|
|to_json( )| Convert the object to a JSON string|
|to_pickle( )| Serialize the object and store it in an external file|
|to_sql( )| Write the object data to an open SQL database|
|read_html( )| Read a table in an html page and convert to a DataFrame|
|read_spss( )| Read a spss file and convert to a DataFrame.|

[ENAPRES DATA](http://proyecto.inei.gob.pe/enapres/)

The National Survey of Budgetary Programs - ENAPRES, has been running since 2010 in the urban and rural areas of the 24 Departments and the Constitutional Province of Callao, as part of the research carried out by the National Institute of Statistics and Informatics (INEI) in coordination with the Ministry of Economy and Finance (MEF) and the different ministries and agencies of the public sector.

In [91]:
!pip install pyreadstat > NUL 2>&1
!pip install savReaderWriter > NUL 2>&1

In [92]:
# enapres2020_1 = pd.read_spss( r"../_data/enapres_2020_ch_100/736-Modulo1618/CAP_100_URBANO_RURAL_3.sav" )

In [93]:
import pyreadstat
enapres2020_1, meta = pyreadstat.read_sav("../_data/enapres_2020_ch_100/736-Modulo1618/CAP_100_URBANO_RURAL_3.sav", apply_value_formats=True)

In [94]:
# Display the data
print("Data:")
print(enapres2020_1.head())

# Display the metadata
print("\nMetadata:")
print(meta)

Data:
   PER  ANIO MES CONGLOMERADO NSELV   TSELV VIVREM  NUMVIVREM    AREA CCDD  \
0  2.0  2020  07        04046  0046   Rural    0.0        NaN   RURAL   14
1  2.0  2020  09        03981  0120  Urbano    0.0        NaN  URBANO   14
2  2.0  2020  09        03981  0189  Urbano    0.0        NaN  URBANO   14
3  2.0  2020  09        03981  0189  Urbano    0.0        NaN  URBANO   14
4  2.0  2020  07        04046  0043   Rural    0.0        NaN   RURAL   14

   ... P189_5 P189_6 P189_7 P189_8 P189_8_O REGIONNATU    ESTRATO  \
0  ...    NaN    NaN    NaN    NaN               COSTA        NaN
1  ...    NaN    NaN    NaN    NaN               COSTA  Estrato D
2  ...    NaN    NaN    NaN    NaN               COSTA  Estrato D
3  ...    NaN    NaN    NaN    NaN               COSTA  Estrato D
4  ...    NaN    NaN    NaN    NaN               COSTA        NaN

         MOD_ENC     FACTOR  FACTOR_CALIBRADO
0  No Presencial  121.27014               NaN
1     Presencial  245.10805          395.8496
2     Presencial  245.10805          395.8496
3     Presencial  245.10805          395.8496
4  No Presencial  121.27014               NaN

[5 rows x 491 columns]

Metadata:
<pyreadstat._readstat_parser.metadata_container object at 0x000001FEF9CAF560>

In [95]:
enapres2020_1.attrs[ 'value_labels' ] = meta.variable_value_labels # etiquetas de valores de variables
enapres2020_1.attrs[ 'var_labels' ] = meta.column_names_to_labels # etiquetas de variables

In [96]:
enapres2020_1.head(5)

,PER,ANIO,MES,CONGLOMERADO,NSELV,TSELV,VIVREM,NUMVIVREM,AREA,CCDD,...,P189_5,P189_6,P189_7,P189_8,P189_8_O,REGIONNATU,ESTRATO,MOD_ENC,FACTOR,FACTOR_CALIBRADO
0,2.0,2020,07,04046,0046,Rural,0.0,NaN,RURAL,14,...,NaN,NaN,NaN,NaN,,COSTA,NaN,No Presencial,121.27014,NaN
1,2.0,2020,09,03981,0120,Urbano,0.0,NaN,URBANO,14,...,NaN,NaN,NaN,NaN,,COSTA,Estrato D,Presencial,245.10805,395.8496
2,2.0,2020,09,03981,0189,Urbano,0.0,NaN,URBANO,14,...,NaN,NaN,NaN,NaN,,COSTA,Estrato D,Presencial,245.10805,395.8496
3,2.0,2020,09,03981,0189,Urbano,0.0,NaN,URBANO,14,...,NaN,NaN,NaN,NaN,,COSTA,Estrato D,Presencial,245.10805,395.8496
4,2.0,2020,07,04046,0043,Rural,0.0,NaN,RURAL,14,...,NaN,NaN,NaN,NaN,,COSTA,NaN,No Presencial,121.27014,NaN

In [97]:
enapres2020_1.attrs[ 'var_labels' ]

{'PER': 'PERIODO',
 'ANIO': 'AÑO',
 'MES': 'MES DE LA ENCUESTA',
 'CONGLOMERADO': 'N° de conglomerado',
 'NSELV': 'Nº de selección de la vivienda',
 'TSELV': 'Tipo de selección de la vivienda',
 'VIVREM': '¿Es una vivienda de reemplazo?',
 'NUMVIVREM': 'Anote el número de selección de la vivienda reemplazada',
 'AREA': 'AREA',
 'CCDD': 'Código de Departamento',
 'NOMBREDD': 'Nombre de Departamento',
 'CCPP': 'Código de Provincia',
 'NOMBREPP': 'Nombre de la Provincia',
 'CCDI': 'Código del Distrito',
 'NOMBREDI': 'Nombre del Distrito',
 'VIVIENDA': 'N° de Vivienda',
 'TOT_HOGAR': '¿Cuántos hogares ocupa esta vivienda?',
 'HOGAR': 'Hogar N°',
 'RESFIN': 'Resultado final del hogar',
 'P100_C': 'INFORMANTE N°',
 'P101': 'TIPO DE VIVIENDA',
 'P101_O': 'TIPO DE VIVIENDA: ESPECIFIQUE',
 'P102A': 'EN LA VIVIENDA, ¿EL MATERIAL DE CONSTRUCCIÓN PREDOMINANTE EN LAS PAREDES EXTERIORES ES DE:',
 'P102A_O': 'EN LA VIVIENDA, ¿EL MATERIAL DE CONSTRUCCIÓN PREDOMINANTE EN LAS PAREDES EXTERIORES ES DE: Otros materiales Especifique',
 'P103': 'EL MATERIAL PREDOMINANTE EN LOS PISOS DE LA VIVIENDA ES',
 'P103_O': 'EL MATERIAL PREDOMINANTE EN LOS PISOS DE LA VIVIENDA ES: ESPECIFIQUE',
 'P104B': 'EN LA VIVIENDA,  ¿EL MATERIAL DE CONSTRUCCIÓN PREDOMINANTE EN LOS TECHOS ES DE:',
 'P104B_O': 'EN LA VIVIENDA,  ¿EL MATERIAL DE CONSTRUCCIÓN PREDOMINANTE EN LOS TECHOS ES DE: Otro maaterial Especifique',
 'P105': '¿CUÁNTAS HABITACIONES EN TOTAL TIENE LA VIVIENDA, SIN CONTAR EL BAÑO, LA COCINA, LOS PASADIZOS, NI EL GARAJE?',
 'P106': 'LA VIVIENDA QUE OCUPA ES:',
 'P106_O': 'LA VIVIENDA QUE OCUPA ES: ESPECIFIQUE',
 'P106A': '¿DESDE QUE AÑO VIVEN EN ESTA VIVIENDA?',
 'P107': '¿LA VIVIENDA CUENTA CON ALGÙN DOCUMENTO QUE ACREDITE LA PROPIEDAD?',
 'P107A': '¿QUÉ TIPO DE DOCUMENTO ACREDITA EL DERECHO DE PROPIEDAD DE LA VIVIENDA?',
 'P107A_O': '¿QUÉ TIPO DE DOCUMENTO ACREDITA EL DERECHO DE PROPIEDAD DE LA VIVIENDA?_ESPECIFIQUE',
 'P107B': '¿QUÉ ENTIDAD O AUTORIDAD LE EMITIÓ EL/LA …...?',
 'P107B_O': '¿QUÉ ENTIDAD O AUTORIDAD LE EMITIÓ EL/LA …...?_ESPECIFIQUE',
 'P107C': '¿EL/LA ……ESTÁ A NOMBRE DE ALGÚN MIEMBRO DEL HOGAR DE ESTA VIVIENDA?',
 'P108': '¿EL/LA …… DE ESTA VIVIENDA ESTÀ REGISTRADO EN LOS REGISTROS PÚBLICOS?',
 'P108_1': '¿CUÁL ES EL PRINCIPAL MOTIVO POR EL CUAL NO REGISTRO EL/LA…?',
 'P108_1_O': '¿CUÁL ES EL PRINCIPAL MOTIVO POR EL CUAL NO REGISTRO EL/LA…?_ESPECIFIQUE',
 'P108A': 'LA CONSTRUCCIÓN DE ESTA VIVIENDA, ¿ESTÁ REGISTRADA EN LOS REGISTROS PÚBLICOS?',
 'P108B': '¿CUÁL ES EL PRINCIPAL MOTIVO POR EL CUAL NO REGISTRO LA CONSTRUCCIÓN?',
 'P108B_O': '¿CUÁL ES EL PRINCIPAL MOTIVO POR EL CUAL NO REGISTRO LA CONSTRUCCIÓN?_ESPECIFIQUE',
 'P109': '¿LA VIVIENDA TIENE ALUMBRADO ELÉCTRICO POR RED PÚBLICA?',
 'P110A': '¿LA VIVIENDA TIENE ACCESO AL SERVICIO DE LA ENERGÍA ELÉCTRICA POR RED PÚBLICA TODOS LOS DÍAS DE LA SEMANA?',
 'P110AA': '¿CUÁNTAS HORAS AL DÍA?',
 'P110AB': '¿CUÁNTOS DÍAS A LA SEMANA TIENE ESTE SERVICIO?',
 'P110AC': '¿CUÁNTAS HORAS AL DÍA?',
 'P111A': 'EL MES ANTERIOR……., LA VIVIENDA ¿HA TENIDO INTERRUPCIONES O CORTES EN LA ENERGÍA ELÉCTRICA?',
 'P111AA': '¿Cuántas interrupciones o cortes tuvo en el mes anterior…..?',
 'P111AB_HORAS': '¿Cuánto tiempo duró la última interrupción o corte?.....HORAS',
 'P111AB_MINUTOS': '¿Cuánto tiempo duró la última interrupción o corte?.....MINUTOS',
 'P112_1': 'EN LOS ÚLTIMOS 12 MESES ¿HAN SIDO VÍCTIMAS DE:..ROBO EN LA VIVIENDA',
 'P113_1': 'EN LOS ÚLTIMOS 12 MESES ¿CUÁNTAS VECES FUERON VÍCTIMAS DE…ROBO EN LA VIVIENDA:',
 'P113A_1': 'DE ESTAS ……… VECES ¿CUÁNTAS FUERON DENUNCIADAS?....ROBO EN LA VIVIENDA',
 'P113B_1_1': 'DE ESTAS ……¿CUÁNTAS FUERON DENUNCIADAS EN: La Comisaria (Policia Nacional del Peru)....ROBO EN LA VIVIENDA',
 'P113B_1_1_ENT': 'DE ESTAS ……¿CUÁNTAS FUERON DENUNCIADAS EN: La Comisaria (Policia Nacional del Peru)_Nro DE VECES....ROBO EN LA VIVIENDA',
 'P113B_1_2': 'DE ESTAS ……¿CUÁNTAS FUERON DENUNCIADAS EN:  El Ministerio Publico o Fiscalia?....ROBO EN LA VIVIENDA',
 'P113B_1_2_ENT': 'DE ESTAS ……¿CUÁNTAS FUERON DENUNCIADAS EN:  El Ministerio Publico o Fiscalia?_Nro DE VECES....ROBO EN LA VIVIENDA',
 'P113B_1_3': 'DE ESTAS ……¿CUÁNTAS FUERON DENUNCIADAS EN: Otro?....ROBO EN LA VIVIENDA',
 'P113B_1_3_ENT': 'DE ESTAS ……¿CUÁNTAS FUERON DENUNCIADAS EN: Otro?_Nro DE VECES....ROBO EN LA VIVIENDA',
 'P113B_1_3_O': 'DE ESTAS ……¿CUÁNTAS FUERON DENUNCIADAS EN: Otro?.....ROBO EN LA VIVIENDA_OTRO/ESPECIFIQUE',
 'P117_1': '¿DENUNCIÓ EL: ROBO EN LA VIVIENDA?',
 'P118_1': '¿DÓNDE REALIZÓ LA DENUNCIA DEL? ROBO EN LA VIVIENDA',
 'P118_1_O': '¿DONDE REALIZÓ LA DENUNCIA DEL? ROBO EN LA VIVIENDA_OTRO/ESPECIFIQUE',
 'P119_1': '¿QUÉ SUCEDIÓ CON SU DENUNCIA ? ROBO EN LA VIVIENDA',
 'P119_1_O': '¿QUÉ SUCEDIÓ CON SU DENUNCIA ?…ROBO EN LA VIVIENDA_OTRO/ESPECIFIQUE',
 'P121_1': '¿CUÁL FUE EL MOTIVO PRINCIPAL POR EL CUAL NO REALIZÓ LA DENUNCIA?…ROBO EN LA VIVIENDA',
 'P121_1_O': '¿CUÁL FUE EL MOTIVO PRINCIPAL POR EL CUAL NO REALIZÓ LA DENUNCIA?…ROBO EN LA VIVIENDA_OTRO/ESPECIFIQUE',
 'P115_1': 'EL DELINCUENTE / AGRESOR PORTABA ALGÚN ARMA (REVÓLVER, PISTOLA, PIEDRAS, PALOS, ETC.)…ROBO EN LA VIVIENDA',
 'P116_1_1': '¿QUÉ TIPO DE ARMA PORTABA? ROBO EN LA VIVIENDA Armas de fuego de mano (revólver, pistola u otro)',
 'P116_1_2': '¿QUÉ TIPO DE ARMA PORTABA? ROBO EN LA VIVIENDA Armas de fuego largo (escopeta, rifle, ametralladora)',
 'P116_1_3': '¿QUÉ TIPO DE ARMA PORTABA? ROBO EN LA VIVIENDA Arma blanca (cuchillo, objeto punzo cortante)',
 'P116_1_4': '¿QUÉ TIPO DE ARMA PORTABA? ROBO EN LA VIVIENDA Objetos contundentes (palos, piedras, etc.)',
 'P116_1_5': '¿QUÉ TIPO DE ARMA PORTABA? ROBO EN LA VIVIENDA Otro',
 'P116_1_5_O': '¿QUÉ TIPO DE ARMA PORTABA? ROBO EN LA VIVIENDA Otro _ESPECIFIQUE',
 'P121A_1': '¿EN QUÉ MES SUCEDIÓ EL ROBO EN LA VIVIENDA?',
 'P121B_1': '¿EL/LA  ROBO EN LA VIVIENDA OCURRIÓ UN:...',
 'P121C_1': '¿EL/LOS DELINCUENTE/S UTILIZARON ALGÚN MEDIO DE TRANSPORTE PARA MOVILIZARSE?',
 'P121D_1_1': '¿Qué MEDIO DE TRANSPORTE UTILIZÓ O UTILIZARÓN? Auto/camioneta',
 'P121D_1_2': '¿Qué MEDIO DE TRANSPORTE UTILIZÓ O UTILIZARÓN? Motocicleta',
 'P121D_1_3': '¿Qué MEDIO DE TRANSPORTE UTILIZÓ O UTILIZARÓN? Mototaxi/Mototriciclo',
 'P121D_1_4': '¿Qué MEDIO DE TRANSPORTE UTILIZÓ O UTILIZARÓN? Bicicleta',
 'P121D_1_5': '¿Qué MEDIO DE TRANSPORTE UTILIZÓ O UTILIZARÓN? Otro',
 'P121D_1_5_O': '¿Qué MEDIO DE TRANSPORTE UTILIZÓ O UTILIZARÓN? Otro_Especifique',
 'P112_2': 'EN LOS ÚLTIMOS 12 MESES DE……A……., ¿HAN SIDO VÍCTIMAS DE: INTENTO DE ROBO EN LA VIVIENDA?',
 'P113_2': 'EN LOS ÚLTIMOS 12 MESES DE…….A………., ¿CUANTAS VECES FUERON VÍCTIMAS DE: INTENTO DE ROBO EN LA VIVIENDA?',
 'P113A_2': 'DE ESTAS ……… VECES ¿CUÁNTAS FUERON DENUNCIADAS? ...... INTENTO DE ROBO EN LA VIVIENDA',
 'P113B_2_1': 'DE ESTAS ……¿CUÁNTAS FUERON DENUNCIADAS EN: La Comisaria (Policia Nacional del Peru) ...... INTENTO DE ROBO EN LA VIVIENDA',
 'P113B_2_1_ENT': 'DE ESTAS ……¿CUÁNTAS FUERON DENUNCIADAS EN: La Comisaria (Policia Nacional del Peru)_Nro DE VECES ...... INTENTO DE ROBO EN LA VIVIENDA',
 'P113B_2_2': 'DE ESTAS ……¿CUÁNTAS FUERON DENUNCIADAS EN:  El Ministerio Publico o Fiscalia? ...... INTENTO DE ROBO EN LA VIVIENDA',
 'P113B_2_2_ENT': 'DE ESTAS ……¿CUÁNTAS FUERON DENUNCIADAS EN:  El Ministerio Publico o Fiscalia?_Nro DE VECES ...... INTENTO DE ROBO EN LA VIVIENDA',
 'P113B_2_3': 'DE ESTAS ……¿CUÁNTAS FUERON DENUNCIADAS EN: Otro? ...... INTENTO DE ROBO EN LA VIVIENDA',
 'P113B_2_3_ENT': 'DE ESTAS ……¿CUÁNTAS FUERON DENUNCIADAS EN: Otro?_Nro DE VECES ...... INTENTO DE ROBO EN LA VIVIENDA',
 'P113B_2_3_O': 'DE ESTAS ……¿CUÁNTAS FUERON DENUNCIADAS EN: Otro? ...... INTENTO DE ROBO EN LA VIVIENDA',
 'P117_2': 'DENUNCIÓ EL …INTENTO DE ROBO EN LA VIVIENDA',
 'P118_2': '¿DÓNDE REALIZO LA DENUNCIA ?…INTENTO DE ROBO EN LA VIVIENDA',
 'P118_2_O': '¿DÓNDE REALIZO LA DENUNCIA ?…INTENTO DE ROBO EN LA VIVIENDA_OTRO/ESPECIFIQUE',
 'P119_2': '¿QUÉ SUCEDIÓ CON SU DENUNCIA ?…INTENTO DE ROBO EN LA VIVIENDA',
 'P119_2_O': '¿QUÉ SUCEDIÓ CON SU DENUNCIA ?…INTENTO DE ROBO EN LA VIVIENDA OTRO/ESPECIFIQUE',
 'P121_2': '¿CUÁL FUE EL MOTIVO PRINCIPAL POR EL CUAL NO REALIZÓ LA DENUNCIA?…INTENTO DE ROBO EN LA VIVIENDA',
 'P121_2_O': '¿CUÁL FUE EL MOTIVO PRINCIPAL POR EL CUAL NO REALIZÓ LA DENUNCIA?…INTENTO DE ROBO EN LA VIVIENDA_OTRO/ESPECIFIQUE',
 'P115_2': 'EL DELINCUENTE / AGRESOR PORTABA ALGÚN ARMA (REVÓLVER, PISTOLA, PIEDRAS, PALOS, ETC.)…INTENTO DE ROBO EN LA VIVIENDA',
 'P116_2_1': '¿QUÉ TIPO DE ARMA PORTABA? INTENTO ROBO EN LA VIVIENDA Armas de fuego de mano (revólver, pistola u otro)',
 'P116_2_2': '¿QUÉ TIPO DE ARMA PORTABA? INTENTO ROBO EN LA VIVIENDA Armas de fuego largo (escopeta, rifle, ametralladora)',
 'P116_2_3': '¿QUÉ TIPO DE ARMA PORTABA? INTENTO ROBO EN LA VIVIENDA Arma blanca (cuchillo,objeto punzo cortante)',
 'P116_2_4': '¿QUÉ TIPO DE ARMA PORTABA? INTENTO ROBO EN LA VIVIENDA Objetos contundentes (palos, piedras, etc.)',
 'P116_2_5': '¿QUÉ TIPO DE ARMA PORTABA? INTENTO ROBO EN LA VIVIENDA Otro',
 'P116_2_5_O': '¿QUÉ TIPO DE ARMA PORTABA? INTENTO ROBO EN LA VIVIENDA Otro _ESPECIFIQUE',
 'P121A_2': '¿EN QUÉ MES SUCEDIÓ EL ….?',
 'P121B_2': '¿EL/LA  INTENTO DE ROBO EN LA VIVIENDA OCURRIÓ UN:...',
 'P121C_2': '¿EL/LOS DELINCUENTE/S UTILIZARON ALGÚN MEDIO DE TRANSPORTE PARA MOVILIZARSE?',
 'P121D_2_1': '¿Qué MEDIO DE TRANSPORTE UTILIZÓ O UTILIZARÓN? Auto/camioneta',
 'P121D_2_2': '¿Qué MEDIO DE TRANSPORTE UTILIZÓ O UTILIZARÓN? Motocicleta',
 'P121D_2_3': '¿Qué MEDIO DE TRANSPORTE UTILIZÓ O UTILIZARÓN? Mototaxi/Mototriciclo',
 'P121D_2_4': '¿Qué MEDIO DE TRANSPORTE UTILIZÓ O UTILIZARÓN? Bicicleta',
 'P121D_2_5': '¿Qué MEDIO DE TRANSPORTE UTILIZÓ O UTILIZARÓN? Otro',
 'P121D_2_5_O': '¿Qué MEDIO DE TRANSPORTE UTILIZÓ O UTILIZARÓN? Otro_Especifique',
 'P122A_1': 'EN SU ZONA O BARRIO, ¿SE HA ADOPTADO ALGUNA MEDIDA DE SEGURIDAD PARA PREVENIR LA DELINCUENCIA, COMO: Sistema de vigilancia a través de video camaras?',
 'P122A_2': 'EN SU ZONA O BARRIO, ¿SE HA ADOPTADO ALGUNA MEDIDA DE SEGURIDAD PARA PREVENIR LA DELINCUENCIA, COMO: Vigilante particular?',
 'P122A_3': 'EN SU ZONA O BARRIO, ¿SE HA ADOPTADO ALGUNA MEDIDA DE SEGURIDAD PARA PREVENIR LA DELINCUENCIA, COMO: Sistema de alarma comunitaria?',
 'P122A_4': 'EN SU ZONA O BARRIO, ¿SE HA ADOPTADO ALGUNA MEDIDA DE SEGURIDAD PARA PREVENIR LA DELINCUENCIA, COMO: Sistema de control de acceso a personas ajenas al lugar?',
 'P122A_5': 'EN SU ZONA O BARRIO, ¿SE HA ADOPTADO ALGUNA MEDIDA DE SEGURIDAD PARA PREVENIR LA DELINCUENCIA, COMO: Junta vecinal con fines de velar por la seguridad?',
 'P122A_6': 'EN SU ZONA O BARRIO, ¿SE HA ADOPTADO ALGUNA MEDIDA DE SEGURIDAD PARA PREVENIR LA DELINCUENCIA, COMO: Otra?',
 'P122A_6_O': 'EN SU ZONA O BARRIO, ¿SE HA ADOPTADO ALGUNA MEDIDA DE SEGURIDAD PARA PREVENIR LA DELINCUENCIA, COMO: Otra?/Especifique',
 'P122B_1': '¿DESDE QUE AÑO CUENTAN CON EL/LA: Sistema de vigilancia a traves de video camaras?',
 'P122B_2': '¿DESDE QUE AÑO CUENTAN CON EL/LA: Vigilante particular?',
 'P122B_3': '¿DESDE QUE AÑO CUENTAN CON EL/LA: Sistema de alarma comunitaria?',
 'P122B_4': '¿DESDE QUE AÑO CUENTAN CON EL/LA: Sistema de control de acceso a personas ajenas al lugar?',
 'P122B_5': '¿DESDE QUE AÑO CUENTAN CON EL/LA: Junta vecinal con fines de velar por la seguridad?',
 'P122B_6': '¿DESDE QUE AÑO CUENTAN CON EL/LA: Otra?',
 'P122C_1': '¿ESTA MEDIDA LA TOMÓ O SE INSTALÓ DURANTE LOS ÚLTIMOS 12 MESES DE………A ……….? Sistema de vigilancia a traves de video camaras?',
 'P122C_2': '¿ESTA MEDIDA LA TOMÓ O SE INSTALÓ DURANTE LOS ÚLTIMOS 12 MESES DE………A ……….? Vigilante particular?',
 'P122C_3': '¿ESTA MEDIDA LA TOMÓ O SE INSTALÓ DURANTE LOS ÚLTIMOS 12 MESES DE………A ……….? Sistema de alarma comunitaria?',
 'P122C_4': '¿ESTA MEDIDA LA TOMÓ O SE INSTALÓ DURANTE LOS ÚLTIMOS 12 MESES DE………A ……….? Sistema de control de acceso a personas ajenas al lugar?',
 'P122C_5': '¿ESTA MEDIDA LA TOMÓ O SE INSTALÓ DURANTE LOS ÚLTIMOS 12 MESES DE………A ……….? Junta vecinal con fines de velar por la seguridad?',
 'P122C_6': '¿ESTA MEDIDA LA TOMÓ O SE INSTALÓ DURANTE LOS ÚLTIMOS 12 MESES DE………A ……….? Otra?',
 'P122D_1': 'ACTUALMENTE, ¿HAN ADOPTADO ALGUNA MEDIDA DE SEGURIDAD PARA PREVENIR EL ROBO EN SU VIVIENDA COMO: Evitar dejar la casa sola?',
 'P122D_2': 'ACTUALMENTE, ¿HAN ADOPTADO ALGUNA MEDIDA DE SEGURIDAD PARA PREVENIR EL ROBO EN SU VIVIENDA COMO: Colocar o adicionar cerrojos?',
 'P122D_3': 'ACTUALMENTE, ¿HAN ADOPTADO ALGUNA MEDIDA DE SEGURIDAD PARA PREVENIR EL ROBO EN SU VIVIENDA COMO: Colocar o adicionar cerraduras y/o candados?',
 'P122D_4': 'ACTUALMENTE, ¿HAN ADOPTADO ALGUNA MEDIDA DE SEGURIDAD PARA PREVENIR EL ROBO EN SU VIVIENDA COMO: Cambiar cerraduras y/o candados?',
 'P122D_5': 'ACTUALMENTE, ¿HAN ADOPTADO ALGUNA MEDIDA DE SEGURIDAD PARA PREVENIR EL ROBO EN SU VIVIENDA COMO: Tener perro guardián?',
 'P122D_6': 'ACTUALMENTE, ¿HAN ADOPTADO ALGUNA MEDIDA DE SEGURIDAD PARA PREVENIR EL ROBO EN SU VIVIENDA COMO: Poner puerta de rejas?',
 'P122D_7': 'ACTUALMENTE, ¿HAN ADOPTADO ALGUNA MEDIDA DE SEGURIDAD PARA PREVENIR EL ROBO EN SU VIVIENDA COMO: Instalar rejas en las ventanas?',
 'P122D_8': 'ACTUALMENTE, ¿HAN ADOPTADO ALGUNA MEDIDA DE SEGURIDAD PARA PREVENIR EL ROBO EN SU VIVIENDA COMO: Otro?',
 'P122D_O': 'ACTUALMENTE, ¿HAN ADOPTADO ALGUNA MEDIDA DE SEGURIDAD PARA PREVENIR EL ROBO EN SU VIVIENDA COMO: Otro?_Especifique',
 'P122E_1': '122E. ¿DESDE QUÉ AÑO ADOPTÓ ESTA MEDIDA?  Evitar dejar la casa sola?',
 'P122E_2': '122E. ¿DESDE QUÉ AÑO ADOPTÓ ESTA MEDIDA?  Colocar o adicionar cerrojos?',
 'P122E_3': '122E. ¿DESDE QUÉ AÑO ADOPTÓ ESTA MEDIDA?  Colocar o adicionar cerraduras y/o candados?',
 'P122E_4': '122E. ¿DESDE QUÉ AÑO ADOPTÓ ESTA MEDIDA?  Cambiar cerraduras y/o candados?',
 'P122E_5': '122E. ¿DESDE QUÉ AÑO ADOPTÓ ESTA MEDIDA?  Tener perro guardián?',
 'P122E_6': '122E. ¿DESDE QUÉ AÑO ADOPTÓ ESTA MEDIDA?  Poner puerta de rejas?',
 'P122E_7': '122E. ¿DESDE QUÉ AÑO ADOPTÓ ESTA MEDIDA?  Instalar rejas en las ventanas?',
 'P122E_8': '122E. ¿DESDE QUÉ AÑO ADOPTÓ ESTA MEDIDA?  Otro?',
 'P122F_1': '122F. ¿ESTA MEDIDA FUE ADOPTADA O SE INSTALÓ DURANTE LOS ÚLTIMOS 12 MESES DE………A ……….? Evitar dejar la casa sola?',
 'P122F_2': '122F. ¿ESTA MEDIDA FUE ADOPTADA O SE INSTALÓ DURANTE LOS ÚLTIMOS 12 MESES DE………A ……….? Colocar o adicionar cerrojos?',
 'P122F_3': '122F. ¿ESTA MEDIDA FUE ADOPTADA O SE INSTALÓ DURANTE LOS ÚLTIMOS 12 MESES DE………A ……….? Colocar o adicionar cerraduras y/o candados?',
 'P122F_4': '122F. ¿ESTA MEDIDA FUE ADOPTADA O SE INSTALÓ DURANTE LOS ÚLTIMOS 12 MESES DE………A ……….? Cambiar cerraduras y/o candados?',
 'P122F_5': '122F. ¿ESTA MEDIDA FUE ADOPTADA O SE INSTALÓ DURANTE LOS ÚLTIMOS 12 MESES DE………A ……….? Tener perro guardián?',
 'P122F_6': '122F. ¿ESTA MEDIDA FUE ADOPTADA O SE INSTALÓ DURANTE LOS ÚLTIMOS 12 MESES DE………A ……….? Poner puerta de rejas?',
 'P122F_7': '122F. ¿ESTA MEDIDA FUE ADOPTADA O SE INSTALÓ DURANTE LOS ÚLTIMOS 12 MESES DE………A ……….? Instalar rejas en las ventanas?',
 'P122F_8': '122F. ¿ESTA MEDIDA FUE ADOPTADA O SE INSTALÓ DURANTE LOS ÚLTIMOS 12 MESES DE………A ……….? Otro?',
 'P123': '¿EN SU CENTRO POBLADO EXISTE EL SERVICIO DE INTERNET EN CABINA PÚBLICA?',
 'P124': '¿EN SU CENTRO POBLADO EXISTEN INSTALACIONES PARA BRINDAR EL SERVICIO DE TELEFONÍA PÚBLICA?',
 'P125': '¿EN SU CENTRO POBLADO EXISTE SEÑAL DE TELEFONÍA CELULAR?',
 'P126': '¿TIENE QUE SALIR DE SU VIVIENDA PARA ENCONTRAR SEÑAL?',
 'P127_1': '¿CUAL ES EL TIPO DE ALUMBRADO QUE USA SU HOGAR:_ELECTRICIDAD',
 'P127_2': '¿CUAL ES EL TIPO DE ALUMBRADO QUE USA SU HOGAR:_PETROLEO GAS (Lámpara)',
 'P127_3': '¿CUAL ES EL TIPO DE ALUMBRADO QUE USA SU HOGAR:_VELA',
 'P127_4': '¿CUAL ES EL TIPO DE ALUMBRADO QUE USA SU HOGAR:_GENERADOR',
 'P127_5': '¿CUAL ES EL TIPO DE ALUMBRADO QUE USA SU HOGAR:_PANEL SOLAR',
 'P127_6': '¿CUAL ES EL TIPO DE ALUMBRADO QUE USA SU HOGAR:_OTRO',
 'P127_6_O': '¿CUAL ES EL TIPO DE ALUMBRADO QUE USA SU HOGAR:_OTRO/ESPECIFIQUE',
 'P128A_1': 'EN SU HOGAR, ¿LA ENERGÍA O COMBUSTIBLE QUE UTILIZA PARA COCINAR LOS ALIMENTOS ES: (Circule uno o más códigos) Electricidad?',
 'P128A_2': 'EN SU HOGAR, ¿LA ENERGÍA O COMBUSTIBLE QUE UTILIZA PARA COCINAR LOS ALIMENTOS ES: (Circule uno o más códigos) Gas (balón GLP)?',
 'P128A_3': 'EN SU HOGAR, ¿LA ENERGÍA O COMBUSTIBLE QUE UTILIZA PARA COCINAR LOS ALIMENTOS ES: (Circule uno o más códigos) .Gas natural (sistema de tuberías)?',
 'P128A_4': 'EN SU HOGAR, ¿LA ENERGÍA O COMBUSTIBLE QUE UTILIZA PARA COCINAR LOS ALIMENTOS ES: (Circule uno o más códigos) .Carbón?',
 'P128A_5': 'EN SU HOGAR, ¿LA ENERGÍA O COMBUSTIBLE QUE UTILIZA PARA COCINAR LOS ALIMENTOS ES: (Circule uno o más códigos) 5.Leña?',
 'P128A_6': 'EN SU HOGAR, ¿LA ENERGÍA O COMBUSTIBLE QUE UTILIZA PARA COCINAR LOS ALIMENTOS ES: (Circule uno o más códigos) .Bosta, estiércol?',
 'P128A_7': 'EN SU HOGAR, ¿LA ENERGÍA O COMBUSTIBLE QUE UTILIZA PARA COCINAR LOS ALIMENTOS ES: (Circule uno o más códigos) .Otro (residuos agrícolas, etc)?',
 'P128A_8': 'EN SU HOGAR, ¿LA ENERGÍA O COMBUSTIBLE QUE UTILIZA PARA COCINAR LOS ALIMENTOS ES: (Circule uno o más códigos) NO COCINAN',
 'P128A_O': 'EN SU HOGAR, ¿LA ENERGÍA O COMBUSTIBLE QUE UTILIZA PARA COCINAR LOS ALIMENTOS ES: OTRO/ESPECIFIQUE',
 'P129G': 'EL AGUA QUE UTILIZAN EN EL HOGAR, ¿PROCEDE PRINCIPALMENTE DE:',
 'P129G_O': 'EL AGUA QUE UTILIZAN EN EL HOGAR, ¿PROCEDE PRINCIPALMENTE DE: Otro Especifique',
 'P129B': '¿EL AGUA ES POTABLE?',
 'P129C': 'RESULTADO OBTENIDO EN LA EVALUACIÓN DE LOS NIVELES DE CLORO RESIDUAL LIBRE EN LA MUESTRA DE AGUA DEL HOGAR',
 'P100_C_2': 'INFORMANTE DE LA PRUEBA DEL AGUA',
 'P129D_ENT': 'RESULTADO OBTENIDO EN LA EVALUACIÓN DE LOS NIVELES DE CLORO RESIDUAL LIBRE EN LA MUESTRA DE AGUA DEL HOGAR_Enteros',
 'P129D_DEC': 'RESULTADO OBTENIDO EN LA EVALUACIÓN DE LOS NIVELES DE CLORO RESIDUAL LIBRE EN LA MUESTRA DE AGUA DEL HOGAR_Decimales',
 'P129D_1': 'RESULTADO OBTENIDO EN LA EVALUACIÓN DE LOS NIVELES DE CLORO RESIDUAL LIBRE EN LA MUESTRA DE AGUA DEL HOGAR_No se realizo la prueba',
 'P129E': 'LA MUESTRA DE AGUA FUE EXTRAÍDA POR:',
 'P129F': 'LA MUESTRA DEL AGUA SE EXTRAJO DEL:',
 'P129F_O': 'LA MUESTRA DEL AGUA SE EXTRAJO DEL:Otros',
 'P129_DIA': 'RESULTADO OBTENIDO EN LA EVALUACIÓN DE LOS NIVELES DE CLORO RESIDUAL LIBRE EN LA MUESTRA DE AGUA DEL HOGAR_Dia',
 'P129_MES': 'RESULTADO OBTENIDO EN LA EVALUACIÓN DE LOS NIVELES DE CLORO RESIDUAL LIBRE EN LA MUESTRA DE AGUA DEL HOGAR_Mes',
 'P129_ANIO': 'RESULTADO OBTENIDO EN LA EVALUACIÓN DE LOS NIVELES DE CLORO RESIDUAL LIBRE EN LA MUESTRA DE AGUA DEL HOGAR_Anio',
 'P129_HORA_INI': 'RESULTADO OBTENIDO EN LA EVALUACIÓN DE LOS NIVELES DE CLORO RESIDUAL LIBRE EN LA MUESTRA DE AGUA DEL HOGAR_Hora_Inicio',
 'P129_MIN_INI': 'RESULTADO OBTENIDO EN LA EVALUACIÓN DE LOS NIVELES DE CLORO RESIDUAL LIBRE EN LA MUESTRA DE AGUA DEL HOGAR_Minuto_Inicio',
 'P130': '¿EL HOGAR TIENE EL SERVICIO DE AGUA TODOS LOS DÍAS DE LA SEMANA?',
 'P130A': '¿CUÁNTAS HORAS AL DÍA?',
 'P130B': '¿CUÁNTOS DÍAS A LA SEMANA TIENE ESTE SERVICIO?',
 'P130C': '¿CUÁNTAS HORAS AL DÍA?',
 'P131_1': '¿EN SU HOGAR EL AGUA LO UTILIZA PARA: Cocinar?',
 'P131_2': '¿EN SU HOGAR EL AGUA LO UTILIZA PARA: Aseo personal?',
 'P131_3': '¿EN SU HOGAR EL AGUA LO UTILIZA PARA: Lavar la ropa?',
 'P131_4': '¿EN SU HOGAR EL AGUA LO UTILIZA PARA: Regar el huerto o chacra?',
 'P131_5': '¿EN SU HOGAR EL AGUA LO UTILIZA PARA: Dar de beber a los animales domésticos?',
 'P131_6': '¿EN SU HOGAR EL AGUA LO UTILIZA PARA: Dar de beber a los animales de crianza?',
 'P131_7': '¿EN SU HOGAR EL AGUA LO UTILIZA PARA: Otro?',
 'P131_7_O': '¿EN SU HOGAR EL AGUA LO UTILIZA PARA: Otro_Especifique?',
 'P131A': 'EN LOS ÚLTIMOS 12 MESES DE………A ………. , ¿SU HOGAR REALIZÓ ALGÚN PAGO POR LA OPERACIÓN Y MANTENIMIENTO DEL SERVICIO DE AGUA?',
 'P131B': 'LA FRECUENCIA DE PAGO POR LA OPERACIÓN Y MANTENIMIENTO DEL SERVICIO DE AGUA ES:',
 'P131B_O': 'LA FRECUENCIA DE PAGO POR LA OPERACIÓN Y MANTENIMIENTO DEL SERVICIO DE AGUA ES:Especifique?',
 'P131C_A': '¿CUÁNTO PAGA EL HOGAR………………..POR LA OPERACIÓN Y MANTENIMIENTO DEL SERVICIO DE AGUA?_SOLES',

In [98]:
dict(list(enapres2020_1.attrs[ 'var_labels' ].items())[:5])

{'PER': 'PERIODO',
 'ANIO': 'AÑO',
 'MES': 'MES DE LA ENCUESTA',
 'CONGLOMERADO': 'N° de conglomerado',
 'NSELV': 'Nº de selección de la vivienda'}

In [99]:
dict(list(enapres2020_1.attrs[ 'value_labels' ].items())[:5])

{'TSELV': {1.0: 'Urbano', 4.0: 'SemiRural', 5.0: 'Rural'},
 'VIVREM': {1.0: 'Si', 2.0: 'No'},
 'AREA': {1.0: 'URBANO', 2.0: 'RURAL'},
 'RESFIN': {1.0: 'Completa', 2.0: 'Incompleta'},
 'P101': {1.0: 'Casa independiente',
  2.0: 'Departamento en edificio',
  3.0: 'Vivienda en quinta',
  4.0: 'Vivienda en casa de vecindad (callejón, solar o corralón)',
  5.0: 'Choza o cabaña',
  6.0: 'Vivienda improvisada',
  7.0: 'Local no destinado para habitación humana',
  8.0: 'Otro(Especifique)'}}

### 3.3.5. <a id='3.3.5'>Filtering data (by row)</a>

In [100]:
enapres2020_1.AREA == 'URBANO'

0        False
1         True
2         True
3         True
4        False
         ...
42148     True
42149     True
42150     True
42151     True
42152     True
Name: AREA, Length: 42153, dtype: bool

In [101]:
enapres2020_1.loc[ enapres2020_1.AREA == 'URBANO',  :  ]

,PER,ANIO,MES,CONGLOMERADO,NSELV,TSELV,VIVREM,NUMVIVREM,AREA,CCDD,...,P189_5,P189_6,P189_7,P189_8,P189_8_O,REGIONNATU,ESTRATO,MOD_ENC,FACTOR,FACTOR_CALIBRADO
1,2.0,2020,09,03981,0120,Urbano,0.0,NaN,URBANO,14,...,NaN,NaN,NaN,NaN,,COSTA,Estrato D,Presencial,245.108050,395.8496
2,2.0,2020,09,03981,0189,Urbano,0.0,NaN,URBANO,14,...,NaN,NaN,NaN,NaN,,COSTA,Estrato D,Presencial,245.108050,395.8496
3,2.0,2020,09,03981,0189,Urbano,0.0,NaN,URBANO,14,...,NaN,NaN,NaN,NaN,,COSTA,Estrato D,Presencial,245.108050,395.8496
6,2.0,2020,09,06703,0037,Urbano,0.0,NaN,URBANO,01,...,NaN,NaN,NaN,NaN,,SELVA,Estrato E más bajo,No Presencial,79.149970,NaN
7,2.0,2020,09,03981,0057,Urbano,0.0,NaN,URBANO,14,...,NaN,NaN,NaN,NaN,,COSTA,Estrato D,Presencial,245.108050,395.8496
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42148,2.0,2020,05,51489,0073,Urbano,0.0,NaN,URBANO,18,...,NaN,NaN,NaN,NaN,,COSTA,Estrato D,No Presencial,8.948965,NaN
42149,2.0,2020,05,51489,0079,Urbano,0.0,NaN,URBANO,18,...,NaN,NaN,NaN,NaN,,COSTA,Estrato D,No Presencial,8.948965,NaN
42150,3.0,2020,08,51548,0026,Urbano,0.0,NaN,URBANO,23,...,NaN,NaN,NaN,NaN,,COSTA,Estrato E más bajo,No Presencial,102.009870,NaN
42151,3.0,2020,08,51548,0046,Urbano,0.0,NaN,URBANO,23,...,NaN,NaN,NaN,NaN,,COSTA,Estrato E más bajo,No Presencial,102.009870,NaN
42152,3.0,2020,08,51548,0066,Urbano,0.0,NaN,URBANO,23,...,NaN,NaN,NaN,NaN,,COSTA,Estrato E más bajo,No Presencial,102.009870,NaN

In [102]:
# select observations
# when we create a sample from our data, copy the object.
df_urban_main = enapres2020_1.loc[ enapres2020_1.AREA == 'URBANO', : ]
df_urban_main

,PER,ANIO,MES,CONGLOMERADO,NSELV,TSELV,VIVREM,NUMVIVREM,AREA,CCDD,...,P189_5,P189_6,P189_7,P189_8,P189_8_O,REGIONNATU,ESTRATO,MOD_ENC,FACTOR,FACTOR_CALIBRADO
1,2.0,2020,09,03981,0120,Urbano,0.0,NaN,URBANO,14,...,NaN,NaN,NaN,NaN,,COSTA,Estrato D,Presencial,245.108050,395.8496
2,2.0,2020,09,03981,0189,Urbano,0.0,NaN,URBANO,14,...,NaN,NaN,NaN,NaN,,COSTA,Estrato D,Presencial,245.108050,395.8496
3,2.0,2020,09,03981,0189,Urbano,0.0,NaN,URBANO,14,...,NaN,NaN,NaN,NaN,,COSTA,Estrato D,Presencial,245.108050,395.8496
6,2.0,2020,09,06703,0037,Urbano,0.0,NaN,URBANO,01,...,NaN,NaN,NaN,NaN,,SELVA,Estrato E más bajo,No Presencial,79.149970,NaN
7,2.0,2020,09,03981,0057,Urbano,0.0,NaN,URBANO,14,...,NaN,NaN,NaN,NaN,,COSTA,Estrato D,Presencial,245.108050,395.8496
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42148,2.0,2020,05,51489,0073,Urbano,0.0,NaN,URBANO,18,...,NaN,NaN,NaN,NaN,,COSTA,Estrato D,No Presencial,8.948965,NaN
42149,2.0,2020,05,51489,0079,Urbano,0.0,NaN,URBANO,18,...,NaN,NaN,NaN,NaN,,COSTA,Estrato D,No Presencial,8.948965,NaN
42150,3.0,2020,08,51548,0026,Urbano,0.0,NaN,URBANO,23,...,NaN,NaN,NaN,NaN,,COSTA,Estrato E más bajo,No Presencial,102.009870,NaN
42151,3.0,2020,08,51548,0046,Urbano,0.0,NaN,URBANO,23,...,NaN,NaN,NaN,NaN,,COSTA,Estrato E más bajo,No Presencial,102.009870,NaN
42152,3.0,2020,08,51548,0066,Urbano,0.0,NaN,URBANO,23,...,NaN,NaN,NaN,NaN,,COSTA,Estrato E más bajo,No Presencial,102.009870,NaN

In [103]:
df_urban_completa = df_urban_main.loc[ df_urban_main.RESFIN == 'Completa', : ]
df_urban_completa

,PER,ANIO,MES,CONGLOMERADO,NSELV,TSELV,VIVREM,NUMVIVREM,AREA,CCDD,...,P189_5,P189_6,P189_7,P189_8,P189_8_O,REGIONNATU,ESTRATO,MOD_ENC,FACTOR,FACTOR_CALIBRADO
1,2.0,2020,09,03981,0120,Urbano,0.0,NaN,URBANO,14,...,NaN,NaN,NaN,NaN,,COSTA,Estrato D,Presencial,245.108050,395.8496
2,2.0,2020,09,03981,0189,Urbano,0.0,NaN,URBANO,14,...,NaN,NaN,NaN,NaN,,COSTA,Estrato D,Presencial,245.108050,395.8496
3,2.0,2020,09,03981,0189,Urbano,0.0,NaN,URBANO,14,...,NaN,NaN,NaN,NaN,,COSTA,Estrato D,Presencial,245.108050,395.8496
6,2.0,2020,09,06703,0037,Urbano,0.0,NaN,URBANO,01,...,NaN,NaN,NaN,NaN,,SELVA,Estrato E más bajo,No Presencial,79.149970,NaN
7,2.0,2020,09,03981,0057,Urbano,0.0,NaN,URBANO,14,...,NaN,NaN,NaN,NaN,,COSTA,Estrato D,Presencial,245.108050,395.8496
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42148,2.0,2020,05,51489,0073,Urbano,0.0,NaN,URBANO,18,...,NaN,NaN,NaN,NaN,,COSTA,Estrato D,No Presencial,8.948965,NaN
42149,2.0,2020,05,51489,0079,Urbano,0.0,NaN,URBANO,18,...,NaN,NaN,NaN,NaN,,COSTA,Estrato D,No Presencial,8.948965,NaN
42150,3.0,2020,08,51548,0026,Urbano,0.0,NaN,URBANO,23,...,NaN,NaN,NaN,NaN,,COSTA,Estrato E más bajo,No Presencial,102.009870,NaN
42151,3.0,2020,08,51548,0046,Urbano,0.0,NaN,URBANO,23,...,NaN,NaN,NaN,NaN,,COSTA,Estrato E más bajo,No Presencial,102.009870,NaN
42152,3.0,2020,08,51548,0066,Urbano,0.0,NaN,URBANO,23,...,NaN,NaN,NaN,NaN,,COSTA,Estrato E más bajo,No Presencial,102.009870,NaN

In [104]:
enapres2020_1.loc[ (enapres2020_1.AREA == 'URBANO') & (enapres2020_1.RESFIN == 'Completa') ]

,PER,ANIO,MES,CONGLOMERADO,NSELV,TSELV,VIVREM,NUMVIVREM,AREA,CCDD,...,P189_5,P189_6,P189_7,P189_8,P189_8_O,REGIONNATU,ESTRATO,MOD_ENC,FACTOR,FACTOR_CALIBRADO
1,2.0,2020,09,03981,0120,Urbano,0.0,NaN,URBANO,14,...,NaN,NaN,NaN,NaN,,COSTA,Estrato D,Presencial,245.108050,395.8496
2,2.0,2020,09,03981,0189,Urbano,0.0,NaN,URBANO,14,...,NaN,NaN,NaN,NaN,,COSTA,Estrato D,Presencial,245.108050,395.8496
3,2.0,2020,09,03981,0189,Urbano,0.0,NaN,URBANO,14,...,NaN,NaN,NaN,NaN,,COSTA,Estrato D,Presencial,245.108050,395.8496
6,2.0,2020,09,06703,0037,Urbano,0.0,NaN,URBANO,01,...,NaN,NaN,NaN,NaN,,SELVA,Estrato E más bajo,No Presencial,79.149970,NaN
7,2.0,2020,09,03981,0057,Urbano,0.0,NaN,URBANO,14,...,NaN,NaN,NaN,NaN,,COSTA,Estrato D,Presencial,245.108050,395.8496
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42148,2.0,2020,05,51489,0073,Urbano,0.0,NaN,URBANO,18,...,NaN,NaN,NaN,NaN,,COSTA,Estrato D,No Presencial,8.948965,NaN
42149,2.0,2020,05,51489,0079,Urbano,0.0,NaN,URBANO,18,...,NaN,NaN,NaN,NaN,,COSTA,Estrato D,No Presencial,8.948965,NaN
42150,3.0,2020,08,51548,0026,Urbano,0.0,NaN,URBANO,23,...,NaN,NaN,NaN,NaN,,COSTA,Estrato E más bajo,No Presencial,102.009870,NaN
42151,3.0,2020,08,51548,0046,Urbano,0.0,NaN,URBANO,23,...,NaN,NaN,NaN,NaN,,COSTA,Estrato E más bajo,No Presencial,102.009870,NaN
42152,3.0,2020,08,51548,0066,Urbano,0.0,NaN,URBANO,23,...,NaN,NaN,NaN,NaN,,COSTA,Estrato E más bajo,No Presencial,102.009870,NaN

In [105]:
df_urban = enapres2020_1.loc[ (enapres2020_1.AREA == 'URBANO') &  (enapres2020_1.RESFIN == 'Completa'), : ]
df_urban

,PER,ANIO,MES,CONGLOMERADO,NSELV,TSELV,VIVREM,NUMVIVREM,AREA,CCDD,...,P189_5,P189_6,P189_7,P189_8,P189_8_O,REGIONNATU,ESTRATO,MOD_ENC,FACTOR,FACTOR_CALIBRADO
1,2.0,2020,09,03981,0120,Urbano,0.0,NaN,URBANO,14,...,NaN,NaN,NaN,NaN,,COSTA,Estrato D,Presencial,245.108050,395.8496
2,2.0,2020,09,03981,0189,Urbano,0.0,NaN,URBANO,14,...,NaN,NaN,NaN,NaN,,COSTA,Estrato D,Presencial,245.108050,395.8496
3,2.0,2020,09,03981,0189,Urbano,0.0,NaN,URBANO,14,...,NaN,NaN,NaN,NaN,,COSTA,Estrato D,Presencial,245.108050,395.8496
6,2.0,2020,09,06703,0037,Urbano,0.0,NaN,URBANO,01,...,NaN,NaN,NaN,NaN,,SELVA,Estrato E más bajo,No Presencial,79.149970,NaN
7,2.0,2020,09,03981,0057,Urbano,0.0,NaN,URBANO,14,...,NaN,NaN,NaN,NaN,,COSTA,Estrato D,Presencial,245.108050,395.8496
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42148,2.0,2020,05,51489,0073,Urbano,0.0,NaN,URBANO,18,...,NaN,NaN,NaN,NaN,,COSTA,Estrato D,No Presencial,8.948965,NaN
42149,2.0,2020,05,51489,0079,Urbano,0.0,NaN,URBANO,18,...,NaN,NaN,NaN,NaN,,COSTA,Estrato D,No Presencial,8.948965,NaN
42150,3.0,2020,08,51548,0026,Urbano,0.0,NaN,URBANO,23,...,NaN,NaN,NaN,NaN,,COSTA,Estrato E más bajo,No Presencial,102.009870,NaN
42151,3.0,2020,08,51548,0046,Urbano,0.0,NaN,URBANO,23,...,NaN,NaN,NaN,NaN,,COSTA,Estrato E más bajo,No Presencial,102.009870,NaN
42152,3.0,2020,08,51548,0066,Urbano,0.0,NaN,URBANO,23,...,NaN,NaN,NaN,NaN,,COSTA,Estrato E más bajo,No Presencial,102.009870,NaN

### 3.3.5. <a id='3.3.5'>Filtering data (by column)</a>

In [106]:
# We will work on this variable
df_urban.attrs[ 'var_labels' ]['P172D']

'¿USTED O ALGÚN MIEMBRO DE SU HOGAR SEPARA LOS RESIDUOS GENERADOS EN SU HOGAR?'

In [107]:
df_urban.columns

Index(['PER', 'ANIO', 'MES', 'CONGLOMERADO', 'NSELV', 'TSELV', 'VIVREM',
       'NUMVIVREM', 'AREA', 'CCDD',
       ...
       'P189_5', 'P189_6', 'P189_7', 'P189_8', 'P189_8_O', 'REGIONNATU',
       'ESTRATO', 'MOD_ENC', 'FACTOR', 'FACTOR_CALIBRADO'],
      dtype='object', length=491)

In [108]:
# Select columns with regex
# All the columns that start with P172
df_urban.filter(regex = "P172*").columns

Index(['P172B_1', 'P172C_1', 'P172B_2', 'P172C_2', 'P172D', 'P172E_1',
       'P172F_1_1', 'P172F_1_2', 'P172F_1_3', 'P172F_1_4', 'P172F_1_5',
       'P172F_1_6', 'P172F_1_6_O', 'P172E_2', 'P172F_2_1', 'P172F_2_2',
       'P172F_2_3', 'P172F_2_4', 'P172F_2_5', 'P172F_2_6', 'P172F_2_6_O',
       'P172E_3', 'P172F_3_1', 'P172F_3_2', 'P172F_3_3', 'P172F_3_4',
       'P172F_3_5', 'P172F_3_6', 'P172F_3_6_O', 'P172E_4', 'P172F_4_1',
       'P172F_4_2', 'P172F_4_3', 'P172F_4_4', 'P172F_4_5', 'P172F_4_6',
       'P172F_4_6_O', 'P172E_5', 'P172F_5_1', 'P172F_5_2', 'P172F_5_3',
       'P172F_5_4', 'P172F_5_5', 'P172F_5_6', 'P172F_5_6_O', 'P172E_6',
       'P172F_6_1', 'P172F_6_2', 'P172F_6_3', 'P172F_6_4', 'P172F_6_5',
       'P172F_6_6', 'P172F_6_6_O', 'P172E_7', 'P172E_7_O', 'P172F_7_1',
       'P172F_7_2', 'P172F_7_3', 'P172F_7_4', 'P172F_7_5', 'P172F_7_6',
       'P172F_7_6_O', 'P172G', 'P172H_1', 'P172H_2', 'P172H_3', 'P172H_4',
       'P172H_5', 'P172H_6', 'P172H_7', 'P172H_8', 'P172H_8_O', 'P178_1',
       'P178_2', 'P178_3', 'P178_4', 'P178_5', 'P178_6', 'P178_7', 'P179'],
      dtype='object')

In [109]:
df_urban.filter( regex = "P172*").head(5)

,P172B_1,P172C_1,P172B_2,P172C_2,P172D,P172E_1,P172F_1_1,P172F_1_2,P172F_1_3,P172F_1_4,...,P172H_8,P172H_8_O,P178_1,P178_2,P178_3,P178_4,P178_5,P178_6,P178_7,P179
1,No,NaN,1.0,Insatisfecho/a?,Si,No,NaN,NaN,NaN,NaN,...,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
2,No,NaN,1.0,Insatisfecho/a?,Si,No,NaN,NaN,NaN,NaN,...,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO SABE
3,No,NaN,1.0,Insatisfecho/a?,Si,Si,Pase,Pase,A un reciclador informal,Pase,...,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO SABE
6,Si,Insatisfecho/a?,1.0,Insatisfecho/a?,Si,No,NaN,NaN,NaN,NaN,...,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,No,NaN,1.0,Insatisfecho/a?,Si,Si,Pase,Pase,A un reciclador informal,Pase,...,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No

In [110]:
df_urban.filter( like = "P172").columns

Index(['P172B_1', 'P172C_1', 'P172B_2', 'P172C_2', 'P172D', 'P172E_1',
       'P172F_1_1', 'P172F_1_2', 'P172F_1_3', 'P172F_1_4', 'P172F_1_5',
       'P172F_1_6', 'P172F_1_6_O', 'P172E_2', 'P172F_2_1', 'P172F_2_2',
       'P172F_2_3', 'P172F_2_4', 'P172F_2_5', 'P172F_2_6', 'P172F_2_6_O',
       'P172E_3', 'P172F_3_1', 'P172F_3_2', 'P172F_3_3', 'P172F_3_4',
       'P172F_3_5', 'P172F_3_6', 'P172F_3_6_O', 'P172E_4', 'P172F_4_1',
       'P172F_4_2', 'P172F_4_3', 'P172F_4_4', 'P172F_4_5', 'P172F_4_6',
       'P172F_4_6_O', 'P172E_5', 'P172F_5_1', 'P172F_5_2', 'P172F_5_3',
       'P172F_5_4', 'P172F_5_5', 'P172F_5_6', 'P172F_5_6_O', 'P172E_6',
       'P172F_6_1', 'P172F_6_2', 'P172F_6_3', 'P172F_6_4', 'P172F_6_5',
       'P172F_6_6', 'P172F_6_6_O', 'P172E_7', 'P172E_7_O', 'P172F_7_1',
       'P172F_7_2', 'P172F_7_3', 'P172F_7_4', 'P172F_7_5', 'P172F_7_6',
       'P172F_7_6_O', 'P172G', 'P172H_1', 'P172H_2', 'P172H_3', 'P172H_4',
       'P172H_5', 'P172H_6', 'P172H_7', 'P172H_8', 'P172H_8_O'],
      dtype='object')

In [111]:
# all columns that have an X
df_urban.filter( like = "P172").head(5)

,P172B_1,P172C_1,P172B_2,P172C_2,P172D,P172E_1,P172F_1_1,P172F_1_2,P172F_1_3,P172F_1_4,...,P172G,P172H_1,P172H_2,P172H_3,P172H_4,P172H_5,P172H_6,P172H_7,P172H_8,P172H_8_O
1,No,NaN,1.0,Insatisfecho/a?,Si,No,NaN,NaN,NaN,NaN,...,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
2,No,NaN,1.0,Insatisfecho/a?,Si,No,NaN,NaN,NaN,NaN,...,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
3,No,NaN,1.0,Insatisfecho/a?,Si,Si,Pase,Pase,A un reciclador informal,Pase,...,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
6,Si,Insatisfecho/a?,1.0,Insatisfecho/a?,Si,No,NaN,NaN,NaN,NaN,...,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
7,No,NaN,1.0,Insatisfecho/a?,Si,Si,Pase,Pase,A un reciclador informal,Pase,...,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,

### 3.3.6. <a id='3.3.6'>Dealing with nulls</a>

We drop columns that at least 30% values are null to simplify our Exploratory Data Analysis (EDA).

In [112]:
df_urban

,PER,ANIO,MES,CONGLOMERADO,NSELV,TSELV,VIVREM,NUMVIVREM,AREA,CCDD,...,P189_5,P189_6,P189_7,P189_8,P189_8_O,REGIONNATU,ESTRATO,MOD_ENC,FACTOR,FACTOR_CALIBRADO
1,2.0,2020,09,03981,0120,Urbano,0.0,NaN,URBANO,14,...,NaN,NaN,NaN,NaN,,COSTA,Estrato D,Presencial,245.108050,395.8496
2,2.0,2020,09,03981,0189,Urbano,0.0,NaN,URBANO,14,...,NaN,NaN,NaN,NaN,,COSTA,Estrato D,Presencial,245.108050,395.8496
3,2.0,2020,09,03981,0189,Urbano,0.0,NaN,URBANO,14,...,NaN,NaN,NaN,NaN,,COSTA,Estrato D,Presencial,245.108050,395.8496
6,2.0,2020,09,06703,0037,Urbano,0.0,NaN,URBANO,01,...,NaN,NaN,NaN,NaN,,SELVA,Estrato E más bajo,No Presencial,79.149970,NaN
7,2.0,2020,09,03981,0057,Urbano,0.0,NaN,URBANO,14,...,NaN,NaN,NaN,NaN,,COSTA,Estrato D,Presencial,245.108050,395.8496
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42148,2.0,2020,05,51489,0073,Urbano,0.0,NaN,URBANO,18,...,NaN,NaN,NaN,NaN,,COSTA,Estrato D,No Presencial,8.948965,NaN
42149,2.0,2020,05,51489,0079,Urbano,0.0,NaN,URBANO,18,...,NaN,NaN,NaN,NaN,,COSTA,Estrato D,No Presencial,8.948965,NaN
42150,3.0,2020,08,51548,0026,Urbano,0.0,NaN,URBANO,23,...,NaN,NaN,NaN,NaN,,COSTA,Estrato E más bajo,No Presencial,102.009870,NaN
42151,3.0,2020,08,51548,0046,Urbano,0.0,NaN,URBANO,23,...,NaN,NaN,NaN,NaN,,COSTA,Estrato E más bajo,No Presencial,102.009870,NaN
42152,3.0,2020,08,51548,0066,Urbano,0.0,NaN,URBANO,23,...,NaN,NaN,NaN,NaN,,COSTA,Estrato E más bajo,No Presencial,102.009870,NaN

In [113]:
df_urban.isnull()

,PER,ANIO,MES,CONGLOMERADO,NSELV,TSELV,VIVREM,NUMVIVREM,AREA,CCDD,...,P189_5,P189_6,P189_7,P189_8,P189_8_O,REGIONNATU,ESTRATO,MOD_ENC,FACTOR,FACTOR_CALIBRADO
1,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,False,False,False,False,False,False
2,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,False,False,False,False,False,False
3,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,False,False,False,False,False,False
6,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,False,False,False,False,False,True
7,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42148,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,False,False,False,False,False,True
42149,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,False,False,False,False,False,True
42150,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,False,False,False,False,False,True
42151,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,False,False,False,False,False,True
42152,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,False,False,False,False,False,True

In [114]:
null_sum = df_urban.isnull().sum()
null_sum

PER                     0
ANIO                    0
MES                     0
CONGLOMERADO            0
NSELV                   0
                    ...
REGIONNATU              0
ESTRATO                 0
MOD_ENC                 0
FACTOR                  0
FACTOR_CALIBRADO    12230
Length: 491, dtype: int64

In [115]:
len( df_urban ) * 0.3

7304.099999999999

In [116]:
null_sum < len( df_urban ) * 0.3

PER                  True
ANIO                 True
MES                  True
CONGLOMERADO         True
NSELV                True
                    ...
REGIONNATU           True
ESTRATO              True
MOD_ENC              True
FACTOR               True
FACTOR_CALIBRADO    False
Length: 491, dtype: bool

In [117]:
col_ok = df_urban.columns[ null_sum < len( df_urban ) * 0.3 ] 
col_ok

Index(['PER', 'ANIO', 'MES', 'CONGLOMERADO', 'NSELV', 'TSELV', 'VIVREM',
       'AREA', 'CCDD', 'NOMBREDD',
       ...
       'P184A_15', 'P184A_16', 'P184A_17', 'P184A_18', 'P187_9_O', 'P189_8_O',
       'REGIONNATU', 'ESTRATO', 'MOD_ENC', 'FACTOR'],
      dtype='object', length=120)

In [118]:
col_no_ok = df_urban.columns[ null_sum > len( df_urban ) * 0.3 ] 
col_no_ok

Index(['NUMVIVREM', 'P101', 'P102A', 'P103', 'P104B', 'P105', 'P106', 'P106A',
       'P107', 'P107A',
       ...
       'P188', 'P189_1', 'P189_2', 'P189_3', 'P189_4', 'P189_5', 'P189_6',
       'P189_7', 'P189_8', 'FACTOR_CALIBRADO'],
      dtype='object', length=371)

In [119]:
df_urban

,PER,ANIO,MES,CONGLOMERADO,NSELV,TSELV,VIVREM,NUMVIVREM,AREA,CCDD,...,P189_5,P189_6,P189_7,P189_8,P189_8_O,REGIONNATU,ESTRATO,MOD_ENC,FACTOR,FACTOR_CALIBRADO
1,2.0,2020,09,03981,0120,Urbano,0.0,NaN,URBANO,14,...,NaN,NaN,NaN,NaN,,COSTA,Estrato D,Presencial,245.108050,395.8496
2,2.0,2020,09,03981,0189,Urbano,0.0,NaN,URBANO,14,...,NaN,NaN,NaN,NaN,,COSTA,Estrato D,Presencial,245.108050,395.8496
3,2.0,2020,09,03981,0189,Urbano,0.0,NaN,URBANO,14,...,NaN,NaN,NaN,NaN,,COSTA,Estrato D,Presencial,245.108050,395.8496
6,2.0,2020,09,06703,0037,Urbano,0.0,NaN,URBANO,01,...,NaN,NaN,NaN,NaN,,SELVA,Estrato E más bajo,No Presencial,79.149970,NaN
7,2.0,2020,09,03981,0057,Urbano,0.0,NaN,URBANO,14,...,NaN,NaN,NaN,NaN,,COSTA,Estrato D,Presencial,245.108050,395.8496
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42148,2.0,2020,05,51489,0073,Urbano,0.0,NaN,URBANO,18,...,NaN,NaN,NaN,NaN,,COSTA,Estrato D,No Presencial,8.948965,NaN
42149,2.0,2020,05,51489,0079,Urbano,0.0,NaN,URBANO,18,...,NaN,NaN,NaN,NaN,,COSTA,Estrato D,No Presencial,8.948965,NaN
42150,3.0,2020,08,51548,0026,Urbano,0.0,NaN,URBANO,23,...,NaN,NaN,NaN,NaN,,COSTA,Estrato E más bajo,No Presencial,102.009870,NaN
42151,3.0,2020,08,51548,0046,Urbano,0.0,NaN,URBANO,23,...,NaN,NaN,NaN,NaN,,COSTA,Estrato E más bajo,No Presencial,102.009870,NaN
42152,3.0,2020,08,51548,0066,Urbano,0.0,NaN,URBANO,23,...,NaN,NaN,NaN,NaN,,COSTA,Estrato E más bajo,No Presencial,102.009870,NaN

In [120]:
df_urban.drop(columns = col_no_ok, inplace = True )
df_urban

C:\Users\jesus\AppData\Local\Temp\ipykernel_18012\1557686876.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_urban.drop(columns = col_no_ok, inplace = True )

,PER,ANIO,MES,CONGLOMERADO,NSELV,TSELV,VIVREM,AREA,CCDD,NOMBREDD,...,P184A_15,P184A_16,P184A_17,P184A_18,P187_9_O,P189_8_O,REGIONNATU,ESTRATO,MOD_ENC,FACTOR
1,2.0,2020,09,03981,0120,Urbano,0.0,URBANO,14,LAMBAYEQUE,...,Pase,Pase,Pase,Pase,,,COSTA,Estrato D,Presencial,245.108050
2,2.0,2020,09,03981,0189,Urbano,0.0,URBANO,14,LAMBAYEQUE,...,Pase,Pase,Pase,Pase,,,COSTA,Estrato D,Presencial,245.108050
3,2.0,2020,09,03981,0189,Urbano,0.0,URBANO,14,LAMBAYEQUE,...,Pase,Pase,Pase,Pase,,,COSTA,Estrato D,Presencial,245.108050
6,2.0,2020,09,06703,0037,Urbano,0.0,URBANO,01,AMAZONAS,...,Pase,¿Motocicleta?,Pase,Pase,,,SELVA,Estrato E más bajo,No Presencial,79.149970
7,2.0,2020,09,03981,0057,Urbano,0.0,URBANO,14,LAMBAYEQUE,...,Pase,Pase,Pase,Pase,,,COSTA,Estrato D,Presencial,245.108050
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42148,2.0,2020,05,51489,0073,Urbano,0.0,URBANO,18,MOQUEGUA,...,Pase,Pase,Pase,Pase,,,COSTA,Estrato D,No Presencial,8.948965
42149,2.0,2020,05,51489,0079,Urbano,0.0,URBANO,18,MOQUEGUA,...,Pase,Pase,Pase,Pase,,,COSTA,Estrato D,No Presencial,8.948965
42150,3.0,2020,08,51548,0026,Urbano,0.0,URBANO,23,TACNA,...,Pase,Pase,Pase,Pase,,,COSTA,Estrato E más bajo,No Presencial,102.009870
42151,3.0,2020,08,51548,0046,Urbano,0.0,URBANO,23,TACNA,...,Pase,Pase,Pase,Pase,,,COSTA,Estrato E más bajo,No Presencial,102.009870
42152,3.0,2020,08,51548,0066,Urbano,0.0,URBANO,23,TACNA,...,Pase,Pase,Pase,Pase,,,COSTA,Estrato E más bajo,No Presencial,102.009870

In [121]:
df_urban

,PER,ANIO,MES,CONGLOMERADO,NSELV,TSELV,VIVREM,AREA,CCDD,NOMBREDD,...,P184A_15,P184A_16,P184A_17,P184A_18,P187_9_O,P189_8_O,REGIONNATU,ESTRATO,MOD_ENC,FACTOR
1,2.0,2020,09,03981,0120,Urbano,0.0,URBANO,14,LAMBAYEQUE,...,Pase,Pase,Pase,Pase,,,COSTA,Estrato D,Presencial,245.108050
2,2.0,2020,09,03981,0189,Urbano,0.0,URBANO,14,LAMBAYEQUE,...,Pase,Pase,Pase,Pase,,,COSTA,Estrato D,Presencial,245.108050
3,2.0,2020,09,03981,0189,Urbano,0.0,URBANO,14,LAMBAYEQUE,...,Pase,Pase,Pase,Pase,,,COSTA,Estrato D,Presencial,245.108050
6,2.0,2020,09,06703,0037,Urbano,0.0,URBANO,01,AMAZONAS,...,Pase,¿Motocicleta?,Pase,Pase,,,SELVA,Estrato E más bajo,No Presencial,79.149970
7,2.0,2020,09,03981,0057,Urbano,0.0,URBANO,14,LAMBAYEQUE,...,Pase,Pase,Pase,Pase,,,COSTA,Estrato D,Presencial,245.108050
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42148,2.0,2020,05,51489,0073,Urbano,0.0,URBANO,18,MOQUEGUA,...,Pase,Pase,Pase,Pase,,,COSTA,Estrato D,No Presencial,8.948965
42149,2.0,2020,05,51489,0079,Urbano,0.0,URBANO,18,MOQUEGUA,...,Pase,Pase,Pase,Pase,,,COSTA,Estrato D,No Presencial,8.948965
42150,3.0,2020,08,51548,0026,Urbano,0.0,URBANO,23,TACNA,...,Pase,Pase,Pase,Pase,,,COSTA,Estrato E más bajo,No Presencial,102.009870
42151,3.0,2020,08,51548,0046,Urbano,0.0,URBANO,23,TACNA,...,Pase,Pase,Pase,Pase,,,COSTA,Estrato E más bajo,No Presencial,102.009870
42152,3.0,2020,08,51548,0066,Urbano,0.0,URBANO,23,TACNA,...,Pase,Pase,Pase,Pase,,,COSTA,Estrato E más bajo,No Presencial,102.009870

In [122]:
# cheack ID in pandas
( df_urban['PER'].astype(str)+ "_" + 
 df_urban['MES'].astype(str)+ "_" + 
 df_urban['CCDD'].astype(str) + "_" + 
 df_urban['CCPP'].astype(str) + "_" + 
 df_urban['CCDI'].astype(str) + "_" + 
 df_urban['CONGLOMERADO'].astype(str) + "_" + 
 df_urban['NSELV'].astype(str) + "_" +
 df_urban['VIVIENDA'].astype(str) + "_" + 
 df_urban['HOGAR'].astype(int).astype(str) 
)

1        2.0_09_14_01_06_03981_0120_006_1
2        2.0_09_14_01_06_03981_0189_008_1
3        2.0_09_14_01_06_03981_0189_008_2
6        2.0_09_01_07_01_06703_0037_004_1
7        2.0_09_14_01_06_03981_0057_004_1
                       ...
42148    2.0_05_18_03_02_51489_0073_007_1
42149    2.0_05_18_03_02_51489_0079_008_1
42150    3.0_08_23_01_10_51548_0026_005_1
42151    3.0_08_23_01_10_51548_0046_008_1
42152    3.0_08_23_01_10_51548_0066_011_1
Length: 24347, dtype: object

In [123]:
( df_urban['PER'].astype(str)+ "_" + 
 df_urban['MES'].astype(str)+ "_" + 
 df_urban['CCDD'].astype(str) + "_" + 
 df_urban['CCPP'].astype(str) + "_" + 
 df_urban['CCDI'].astype(str) + "_" + 
 df_urban['CONGLOMERADO'].astype(str) + "_" + 
 df_urban['NSELV'].astype(str) + "_" +
 df_urban['VIVIENDA'].astype(str) + "_" + 
 df_urban['HOGAR'].astype(int).astype(str) 
).is_unique

True

### 3.3.7. <a id='3.3.7'>[Duplicates](https://thispointer.com/pandas-find-duplicate-rows-in-a-dataframe-based-on-all-or-selected-columns-using-dataframe-duplicated-in-python/)</a>  

See duplicatedes in rows.

In [124]:
df_urban.shape

(24347, 120)

In [125]:
df_urban.loc[: , ['CCDD' ,'CCPP' , 'CCDI' ,'CONGLOMERADO' , 'NSELV', 'VIVIENDA', 'HOGAR'] ]

      CCDD CCPP CCDI CONGLOMERADO NSELV VIVIENDA  HOGAR
1       14   01   06        03981  0120      006    1.0
2       14   01   06        03981  0189      008    1.0
3       14   01   06        03981  0189      008    2.0
6       01   07   01        06703  0037      004    1.0
7       14   01   06        03981  0057      004    1.0
...    ...  ...  ...          ...   ...      ...    ...
42148   18   03   02        51489  0073      007    1.0
42149   18   03   02        51489  0079      008    1.0
42150   23   01   10        51548  0026      005    1.0
42151   23   01   10        51548  0046      008    1.0
42152   23   01   10        51548  0066      011    1.0

[24347 rows x 7 columns]

In [126]:
df_urban[df_urban.loc[: , ['CCDD' ,'CCPP' , 'CCDI' ,'CONGLOMERADO' , 'NSELV', 'VIVIENDA', 'HOGAR'] ].duplicated(keep=False) ]

,PER,ANIO,MES,CONGLOMERADO,NSELV,TSELV,VIVREM,AREA,CCDD,NOMBREDD,...,P184A_15,P184A_16,P184A_17,P184A_18,P187_9_O,P189_8_O,REGIONNATU,ESTRATO,MOD_ENC,FACTOR
4848,1.0,2020,07,39066,0140,Urbano,0.0,URBANO,17,MADRE DE DIOS,...,Pase,¿Motocicleta?,Pase,Pase,,,SELVA,Estrato D,No Presencial,17.688435
5693,3.0,2020,12,36856,0003,Urbano,0.0,URBANO,03,APURIMAC,...,Pase,¿Motocicleta?,Pase,Pase,,,SIERRA,Estrato D,Presencial,68.095590
26150,2.0,2020,05,15120,0110,Urbano,0.0,URBANO,25,UCAYALI,...,Pase,¿Motocicleta?,Pase,Pase,,,SELVA,Estrato D,No Presencial,15.969518
26157,2.0,2020,06,15120,0110,Urbano,0.0,URBANO,25,UCAYALI,...,Pase,¿Motocicleta?,Pase,Pase,,,SELVA,Estrato C,No Presencial,81.580700
36993,1.0,2020,06,36856,0003,Urbano,0.0,URBANO,03,APURIMAC,...,Pase,Pase,Pase,Pase,,,SIERRA,Estrato C,No Presencial,129.106380
37886,1.0,2020,06,38913,0008,Urbano,0.0,URBANO,17,MADRE DE DIOS,...,Pase,¿Motocicleta?,Pase,Pase,,,SELVA,Estrato C,No Presencial,67.858284
37889,1.0,2020,08,38913,0008,Urbano,0.0,URBANO,17,MADRE DE DIOS,...,Pase,¿Motocicleta?,Pase,Pase,,,SELVA,Estrato D,No Presencial,43.645770
38215,2.0,2020,06,39066,0140,Urbano,0.0,URBANO,17,MADRE DE DIOS,...,Pase,¿Motocicleta?,Pase,Pase,,,SELVA,Estrato D,No Presencial,42.489746
39625,3.0,2020,07,43264,0008,Urbano,0.0,URBANO,04,AREQUIPA,...,Pase,Pase,Pase,Pase,,,SIERRA,Estrato D,No Presencial,526.626160
39631,1.0,2020,10,43264,0008,Urbano,0.0,URBANO,04,AREQUIPA,...,"¿Automóvil, camioneta?",Pase,Pase,Pase,,,SIERRA,Estrato E más bajo,Presencial,241.596770

In [127]:
df_urban.loc[: , ['CCDD' ,'CCPP' , 'CCDI' ,'CONGLOMERADO' , 'NSELV', 'VIVIENDA', 'HOGAR'] ].duplicated(keep=False).sum()

10

In [128]:
df_urban.loc[[4848,5693,26150,26157,36993,37886,37889,38215,39625,39631] , ['CCDD' ,'CCPP' , 'CCDI' ,'CONGLOMERADO' , 'NSELV', 'VIVIENDA', 'HOGAR'] ]

      CCDD CCPP CCDI CONGLOMERADO NSELV VIVIENDA  HOGAR
4848    17   03   02        39066  0140      014    1.0
5693    03   05   04        36856  0003      001    1.0
26150   25   03   01        15120  0110      015    1.0
26157   25   03   01        15120  0110      015    1.0
36993   03   05   04        36856  0003      001    1.0
37886   17   01   01        38913  0008      001    1.0
37889   17   01   01        38913  0008      001    1.0
38215   17   03   02        39066  0140      014    1.0
39625   04   01   16        43264  0008      001    1.0
39631   04   01   16        43264  0008      001    1.0

We will drop the last duplication.

In [129]:
df_urban_no_dpl = df_urban[ ~ df_urban.loc[:, ['CCDD' ,'CCPP' , 'CCDI' ,'CONGLOMERADO' , 'NSELV', 'VIVIENDA', 'HOGAR'] ].duplicated() ].copy()
df_urban_no_dpl

,PER,ANIO,MES,CONGLOMERADO,NSELV,TSELV,VIVREM,AREA,CCDD,NOMBREDD,...,P184A_15,P184A_16,P184A_17,P184A_18,P187_9_O,P189_8_O,REGIONNATU,ESTRATO,MOD_ENC,FACTOR
1,2.0,2020,09,03981,0120,Urbano,0.0,URBANO,14,LAMBAYEQUE,...,Pase,Pase,Pase,Pase,,,COSTA,Estrato D,Presencial,245.108050
2,2.0,2020,09,03981,0189,Urbano,0.0,URBANO,14,LAMBAYEQUE,...,Pase,Pase,Pase,Pase,,,COSTA,Estrato D,Presencial,245.108050
3,2.0,2020,09,03981,0189,Urbano,0.0,URBANO,14,LAMBAYEQUE,...,Pase,Pase,Pase,Pase,,,COSTA,Estrato D,Presencial,245.108050
6,2.0,2020,09,06703,0037,Urbano,0.0,URBANO,01,AMAZONAS,...,Pase,¿Motocicleta?,Pase,Pase,,,SELVA,Estrato E más bajo,No Presencial,79.149970
7,2.0,2020,09,03981,0057,Urbano,0.0,URBANO,14,LAMBAYEQUE,...,Pase,Pase,Pase,Pase,,,COSTA,Estrato D,Presencial,245.108050
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42148,2.0,2020,05,51489,0073,Urbano,0.0,URBANO,18,MOQUEGUA,...,Pase,Pase,Pase,Pase,,,COSTA,Estrato D,No Presencial,8.948965
42149,2.0,2020,05,51489,0079,Urbano,0.0,URBANO,18,MOQUEGUA,...,Pase,Pase,Pase,Pase,,,COSTA,Estrato D,No Presencial,8.948965
42150,3.0,2020,08,51548,0026,Urbano,0.0,URBANO,23,TACNA,...,Pase,Pase,Pase,Pase,,,COSTA,Estrato E más bajo,No Presencial,102.009870
42151,3.0,2020,08,51548,0046,Urbano,0.0,URBANO,23,TACNA,...,Pase,Pase,Pase,Pase,,,COSTA,Estrato E más bajo,No Presencial,102.009870
42152,3.0,2020,08,51548,0066,Urbano,0.0,URBANO,23,TACNA,...,Pase,Pase,Pase,Pase,,,COSTA,Estrato E más bajo,No Presencial,102.009870

In [130]:
df_urban_no_dpl.shape

(24342, 120)

In [131]:
df_urban_no_dpl.NOMBREDD.value_counts()

NOMBREDD
LIMA             3134
CALLAO           1587
SAN MARTIN       1174
LA LIBERTAD       992
PIURA             979
AREQUIPA          950
LAMBAYEQUE        932
AYACUCHO          920
JUNIN             915
ANCASH            899
PUNO              891
MADRE DE DIOS     885
LORETO            867
UCAYALI           812
AMAZONAS          809
MOQUEGUA          805
APURIMAC          796
PASCO             786
ICA               775
CUSCO             773
CAJAMARCA         753
TACNA             731
TUMBES            729
HUANCAVELICA      726
HUANUCO           722
Name: count, dtype: int64

In [132]:
df_urban_no_dpl.ESTRATO.value_counts()

ESTRATO
Estrato C             5978
Estrato D             5938
Estrato E más bajo    5392
Estrato B             4423
Estrato A más alto    2611
Name: count, dtype: int64

### 3.3.8. <a id='3.3.8'>Groupby</a>

In [133]:
# from yes to 1 and 0 to no
df_urban_no_dpl.P172D.replace(('Si', 'No'), (1, 0), inplace=True)
df_urban_no_dpl.P172D = pd.to_numeric(df_urban_no_dpl['P172D'], errors='coerce')
df_urban_no_dpl.P172D

C:\Users\jesus\AppData\Local\Temp\ipykernel_18012\579425765.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_urban_no_dpl.P172D.replace(('Si', 'No'), (1, 0), inplace=True)
C:\Users\jesus\AppData\Local\Temp\ipykernel_18012\579425765.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_urban_no_dpl.P172D.replace(('Si', 'No'), (1, 0), inplace=True)
C:\Users\jesus\AppData\Local\Temp\ipykernel_18012\579425765.py:2: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df_urban_no_dpl.P172D.replace(('Si', 'No'), (1, 0), inplace=True)

1        1
2        1
3        1
6        1
7        1
        ..
42148    1
42149    1
42150    0
42151    1
42152    0
Name: P172D, Length: 24342, dtype: int64

In [134]:
df_urban_no_dpl.P172D.value_counts()

P172D
0    13254
1    11088
Name: count, dtype: int64

In [135]:
df_urban_no_dpl.groupby(['CCDD' ,'CCPP' , 'CCDI', 'P172D'])['P172D'].sum()

CCDD  CCPP  CCDI  P172D
01    01    01    0          0
                  1        182
            09    0          0
                  1          9
      02    01    0          0
                          ...
25    03    02    0          0
                  1          8
            04    0          0
            05    0          0
                  1          1
Name: P172D, Length: 1057, dtype: int64

In [136]:
df_urban_no_dpl.groupby(['CCDD' ,'CCPP' , 'CCDI'])['P172D'].mean()

CCDD  CCPP  CCDI
01    01    01      0.674074
            09      0.750000
      02    01      0.648148
            02      0.125000
            03      0.714286
                      ...
25    02    02      0.000000
      03    01      0.061728
            02      0.216216
            04      0.000000
            05      0.142857
Name: P172D, Length: 550, dtype: float64

In [137]:
df_urban_no_dpl.groupby(['CCDD' ,'CCPP' , 'CCDI'], as_index = False )['P172D'].mean()

    CCDD CCPP CCDI     P172D
0     01   01   01  0.674074
1     01   01   09  0.750000
2     01   02   01  0.648148
3     01   02   02  0.125000
4     01   02   03  0.714286
..   ...  ...  ...       ...
545   25   02   02  0.000000
546   25   03   01  0.061728
547   25   03   02  0.216216
548   25   03   04  0.000000
549   25   03   05  0.142857

[550 rows x 4 columns]

#### [Agg](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.agg.html)
Aggregate using one or more operations over the specified axis.

In [138]:
df_urban_no_dpl['P172D'] = df_urban_no_dpl['P172D'].astype( float )

In [139]:
df_urban_no_dpl.groupby(['CCDD' ,'CCPP' , 'CCDI' ], as_index = False ).agg( { "P172D": "mean" } )

    CCDD CCPP CCDI     P172D
0     01   01   01  0.674074
1     01   01   09  0.750000
2     01   02   01  0.648148
3     01   02   02  0.125000
4     01   02   03  0.714286
..   ...  ...  ...       ...
545   25   02   02  0.000000
546   25   03   01  0.061728
547   25   03   02  0.216216
548   25   03   04  0.000000
549   25   03   05  0.142857

[550 rows x 4 columns]

In [140]:
import numpy as np

In [141]:
df3_rec = df_urban_no_dpl.groupby([ 'CCDD' ,'CCPP' , 'CCDI' ], as_index = False).agg( 
    recycle_median = ('P172D', np.median ), 
    recycle_mean   = ('P172D', np.mean))
df3_rec

C:\Users\jesus\AppData\Local\Temp\ipykernel_18012\3192553689.py:1: FutureWarning: The provided callable <function median at 0x000001FEF79859E0> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  df3_rec = df_urban_no_dpl.groupby([ 'CCDD' ,'CCPP' , 'CCDI' ], as_index = False).agg(
C:\Users\jesus\AppData\Local\Temp\ipykernel_18012\3192553689.py:1: FutureWarning: The provided callable <function mean at 0x000001FEF7861BC0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df3_rec = df_urban_no_dpl.groupby([ 'CCDD' ,'CCPP' , 'CCDI' ], as_index = False).agg(

    CCDD CCPP CCDI  recycle_median  recycle_mean
0     01   01   01             1.0      0.674074
1     01   01   09             1.0      0.750000
2     01   02   01             1.0      0.648148
3     01   02   02             0.0      0.125000
4     01   02   03             1.0      0.714286
..   ...  ...  ...             ...           ...
545   25   02   02             0.0      0.000000
546   25   03   01             0.0      0.061728
547   25   03   02             0.0      0.216216
548   25   03   04             0.0      0.000000
549   25   03   05             0.0      0.142857

[550 rows x 5 columns]

### 3.3.9. <a id='3.3.9'>Reshape</a>

#####  From Wide to Long

In [142]:
df3_rec

    CCDD CCPP CCDI  recycle_median  recycle_mean
0     01   01   01             1.0      0.674074
1     01   01   09             1.0      0.750000
2     01   02   01             1.0      0.648148
3     01   02   02             0.0      0.125000
4     01   02   03             1.0      0.714286
..   ...  ...  ...             ...           ...
545   25   02   02             0.0      0.000000
546   25   03   01             0.0      0.061728
547   25   03   02             0.0      0.216216
548   25   03   04             0.0      0.000000
549   25   03   05             0.0      0.142857

[550 rows x 5 columns]

In [143]:
df3_rec_stack = df3_rec.set_index([ 'CCDD' ,'CCPP' , 'CCDI' ]).stack().reset_index().rename( {"level_3" : "STATS",
                                                                                              0 : "VALUES" }, 
                                                                                            axis = 1 )
df3_rec_stack

     CCDD CCPP CCDI           STATS    VALUES
0      01   01   01  recycle_median  1.000000
1      01   01   01    recycle_mean  0.674074
2      01   01   09  recycle_median  1.000000
3      01   01   09    recycle_mean  0.750000
4      01   02   01  recycle_median  1.000000
...   ...  ...  ...             ...       ...
1095   25   03   02    recycle_mean  0.216216
1096   25   03   04  recycle_median  0.000000
1097   25   03   04    recycle_mean  0.000000
1098   25   03   05  recycle_median  0.000000
1099   25   03   05    recycle_mean  0.142857

[1100 rows x 5 columns]

In [144]:
df3_rec_melt = df3_rec.melt(
    id_vars = [ 'CCDD' ,'CCPP' , 'CCDI' ] ,
    var_name = 'STATS', 
    value_name = 'VALUES')
df3_rec_melt

     CCDD CCPP CCDI           STATS    VALUES
0      01   01   01  recycle_median  1.000000
1      01   01   09  recycle_median  1.000000
2      01   02   01  recycle_median  1.000000
3      01   02   02  recycle_median  0.000000
4      01   02   03  recycle_median  1.000000
...   ...  ...  ...             ...       ...
1095   25   02   02    recycle_mean  0.000000
1096   25   03   01    recycle_mean  0.061728
1097   25   03   02    recycle_mean  0.216216
1098   25   03   04    recycle_mean  0.000000
1099   25   03   05    recycle_mean  0.142857

[1100 rows x 5 columns]

##### From Long to Wide

In [145]:
df3_rec_stack.set_index(['CCDD' ,'CCPP' , 'CCDI' , "STATS"]).unstack().head()

                     VALUES
STATS          recycle_mean recycle_median
CCDD CCPP CCDI
01   01   01       0.674074            1.0
          09       0.750000            1.0
     02   01       0.648148            1.0
          02       0.125000            0.0
          03       0.714286            1.0

In [146]:
df4 = df3_rec_stack.set_index(  [ 'CCDD' ,'CCPP' , 'CCDI' , "STATS" ]   ).unstack().rename_axis( [None, None], axis = 1 )
df4

                     VALUES
               recycle_mean recycle_median
CCDD CCPP CCDI
01   01   01       0.674074            1.0
          09       0.750000            1.0
     02   01       0.648148            1.0
          02       0.125000            0.0
          03       0.714286            1.0
...                     ...            ...
25   02   02       0.000000            0.0
     03   01       0.061728            0.0
          02       0.216216            0.0
          04       0.000000            0.0
          05       0.142857            0.0

[550 rows x 2 columns]

In [147]:
df4.columns = df3_rec_stack.STATS.unique()
df4.reset_index().head()

  CCDD CCPP CCDI  recycle_median  recycle_mean
0   01   01   01        0.674074           1.0
1   01   01   09        0.750000           1.0
2   01   02   01        0.648148           1.0
3   01   02   02        0.125000           0.0
4   01   02   03        0.714286           1.0

In [148]:
df_l_w = df3_rec_stack.pivot( index = [ 'CCDD' ,'CCPP' , 'CCDI' ], 
                         columns = 'STATS' ,
                         values = 'VALUES' 
                        ).rename_axis( [None], axis = 1 ).reset_index()
df_l_w.head()

  CCDD CCPP CCDI  recycle_mean  recycle_median
0   01   01   01      0.674074             1.0
1   01   01   09      0.750000             1.0
2   01   02   01      0.648148             1.0
3   01   02   02      0.125000             0.0
4   01   02   03      0.714286             1.0

### 3.3.10. <a id='3.3.10'>[Merge](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html)</a>

In [149]:
df_urban_merge = df_urban_no_dpl.merge(df_l_w, 
                                       on = ['CCDD' ,'CCPP' , 'CCDI'] , 
                                       how = "left" , 
                                       validate = "m:1")

In [150]:
df_urban_merge.head()

,PER,ANIO,MES,CONGLOMERADO,NSELV,TSELV,VIVREM,AREA,CCDD,NOMBREDD,...,P184A_17,P184A_18,P187_9_O,P189_8_O,REGIONNATU,ESTRATO,MOD_ENC,FACTOR,recycle_mean,recycle_median
0,2.0,2020,09,03981,0120,Urbano,0.0,URBANO,14,LAMBAYEQUE,...,Pase,Pase,,,COSTA,Estrato D,Presencial,245.10805,0.478723,0.0
1,2.0,2020,09,03981,0189,Urbano,0.0,URBANO,14,LAMBAYEQUE,...,Pase,Pase,,,COSTA,Estrato D,Presencial,245.10805,0.478723,0.0
2,2.0,2020,09,03981,0189,Urbano,0.0,URBANO,14,LAMBAYEQUE,...,Pase,Pase,,,COSTA,Estrato D,Presencial,245.10805,0.478723,0.0
3,2.0,2020,09,06703,0037,Urbano,0.0,URBANO,01,AMAZONAS,...,Pase,Pase,,,SELVA,Estrato E más bajo,No Presencial,79.14997,0.420455,0.0
4,2.0,2020,09,03981,0057,Urbano,0.0,URBANO,14,LAMBAYEQUE,...,Pase,Pase,,,COSTA,Estrato D,Presencial,245.10805,0.478723,0.0

In [151]:
# See all your DataFrames
%whos DataFrame
# %whos DataFrame mostrará todas las variables que son instancias de la clase DataFrame de Pandas, proporcionando información útil 
# sobre cada una de ellas, como el nombre de la variable, el tipo, el tamaño, y una muestra de su contenido.

Variable               Type         Data/Info
---------------------------------------------
cars                   DataFrame        brands  model  passen<...>   kia  truck           8
cars_subset            DataFrame        brands  model  passen<...>   kia  sedan           5
cars_subset1           DataFrame        brands  model  passen<...>   kia  truck           8
cars_subset2           DataFrame        brands  model  passen<...>   kia  truck           6
data2                  DataFrame       a  b  c\n0  1  2  3\n1  4  5  6\n2  7  8  9
dep1                   DataFrame          dep  year  pop\n0  <...>1.7\n5    Lima  2000  1.5
dep1_sort              DataFrame          dep  year  pop\n5  <...>1.7\n0    Lima  2000  1.5
df3_rec                DataFrame        CCDD CCPP CCDI  recyc<...>n\n[550 rows x 5 columns]
df3_rec_melt           DataFrame         CCDD CCPP CCDI      <...>\n[1100 rows x 5 columns]
df3_rec_stack          DataFrame         CCDD CCPP CCDI      <...>\n[1100 rows x 5 columns]
df4                    DataFrame                    recycle_m<...>n\n[550 rows x 2 columns]
df_l_w                 DataFrame        CCDD CCPP CCDI  recyc<...>n\n[550 rows x 5 columns]
df_urban               DataFrame           PER  ANIO MES CONG<...>24347 rows x 120 columns]
df_urban_completa      DataFrame           PER  ANIO MES CONG<...>24347 rows x 491 columns]
df_urban_main          DataFrame           PER  ANIO MES CONG<...>27154 rows x 491 columns]
df_urban_merge         DataFrame           PER  ANIO MES CONG<...>24342 rows x 122 columns]
df_urban_no_dpl        DataFrame           PER  ANIO MES CONG<...>24342 rows x 120 columns]
enapres2020_1          DataFrame           PER  ANIO MES CONG<...>42153 rows x 491 columns]
gradesA1               DataFrame      Students  Math  English<...>       15   17  16.333333
gradesA1_1             DataFrame      Students  Math  English<...>4  Rosalyn    17       15
gradesA2               DataFrame        Students  Math  Engli<...>  Leo    10       20    5
grades_total           DataFrame        Students  Math  Engli<...>       20    5        NaN
grades_total_NA        DataFrame      Students  Math  English<...>       15   17  16.333333
grades_total_fill_na   DataFrame        Students  Math  Engli<...>       20    5   No value

## 3.4. <a id='3.4'>References</a>  

1. https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.agg.html
2. https://towardsdatascience.com/all-the-core-functions-of-python-pandas-you-need-to-know-d219cbd87636
3. https://pandas.pydata.org/docs/reference/api/pandas.melt.html#pandas.melt
4. https://stackoverflow.com/questions/47152691/how-can-i-pivot-a-dataframe
5. https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.pivot.html
6. https://stackoverflow.com/questions/11346283/renaming-column-names-in-pandas
7. https://thispointer.com/pandas-find-duplicate-rows-in-a-dataframe-based-on-all-or-selected-columns-using-dataframe-duplicated-in-python/