# GROUP 6

# 1 Assignment

It is totally prohibited to use any kind of loop. You can use stackoverflow. If you copy codes from previous answers, explain each step. No explanation is `0 points`.

## Repository Maintainer Summary

We have divided the assignment into 4 equal parts, as follows:

1.1 Tuple: 1-5 - Milagros Meza (RP)<br><br>
1.1 Tuple: 6, 1.2 Lists: 1-4 - Serghi Arista<br><br>
1.2 Lists: 5-8; 1.3 Strings: 1 - Gino Reyna<br><br>
1.3 Strings: 2-6 - Kerly Tito<br><br>

## 1.1 Tuple



1. Print the first item of the second item of `tuple1` object. **Hint: Use indexing**<br><br>
2. Print the last item of the `tuple1` object.**Hint: Use indexing**<br><br>
3. Change the value "orange" for "pink grapefruit". Comment the output. **Hint: Is it possible?** <br><br>
4. Print the length of `tuple1`. **Hint: Length function**<br><br>
5. Sum all the elements of tuple2 and describe your steps and explain each of them. **Hint: Use `map` function.**<br><br>
6. Generate a new tuple object named as `tuple3` with the half values of `tuple2`. This tuple should be similar as `tuple2`, tuple of lists.  **Hint: Use `map` funciont.**<br><br>

In [2]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple2 = ([7, 8], [9, 1], [10, 7])

## ANSWERS 1.1 TUPLE

1. We are going to use `print()`. In order to print the first item of the second item of `tuple1`, we must take into account that python starts counting from zero. In first place, we are going to extract the second item using the number 1, and then we will use the number zero to extract the first item of the second item, as follows:

In [3]:
tuple10 = tuple1[1]

In [4]:
print(tuple10[0])

10

2. As in the previous case, since `tuple1` has 3 elements but we start counting from zero, we will print using the number 2.

In [5]:
print(tuple1[2])

(5, 15, 25)

3. As we learned in class, tuples are immutable, so it is not possible to modify them. Once we create a tuple, we cannot modify its elements, add new elements or delete existing elements. If we try to modify `tuple1`, it will result in an error as follows:

In [6]:
tuple1[0] = "pink grapefruit"

TypeError: 'tuple' object does not support item assignment

4. In order to print the length of `tuple1`, we are going to use `len`. So, in this case, the result is the total number of elements of `tuple1` equal to 3.

In [7]:
(len(tuple1))

3

5. In this case, each element of the `tuple2` is a list. First, we are going to sum each list inside the `tuple2`. Since there are 3 lists inside the `tuple2`, we will have 3 resulting sums. Then, we will convert this result into a list. Finally, we are going to sum the 3 elements, in a total sum equal to 42.

In [8]:
sum(list(map(sum, tuple2)))

42

6. In this question, we are asked to create a new tuple (named tuple3) that contains the half values of tuple 2. For this task, we use the map function and the lambda function. In inner part of this task the lambda function takes "x" as an input and divides by 2 to find the half value. This is applied to all the elements in lst, which are the lists inside tuple2. Then we use the list function to convert it to a list. Then, the outer part of this task converts the lists generated in the inner part into a tuple.

In [9]:
tuple2 = ([7,8],[9,1],[10,7])

tuple3 = tuple(map(lambda lst: list(map(lambda x: x / 2, lst)), tuple2))

print("Tuple3 is:", tuple3)

Tuple3 is: ([3.5, 4.0], [4.5, 0.5], [5.0, 3.5])

## 1.2 Lists
1. Show the indices of the `np.nan` values  in the `f_list` list. We want to see this output: `The indices 0, 1, 4, 7 have np.nan values.` **Hint: Use print function and [f-strings](https://realpython.com/python-f-strings/) to insert the indices values.**<br><br>

2. Replicate 4 times the values of the list `p2_list`. We expect an ouput like this: `[ 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5]`.  **Hint: Use multiplication function in `lists`and see the output.**<br><br>
3. Print the length of `f_list`. **Hint: Length function**<br><br>
4. Print `My teacher assistant is so boring.` using `text1` list. **Hint: Use the [`join` function](https://stackoverflow.com/questions/493819/why-is-it-string-joinlist-instead-of-list-joinstring)**<br><br>
5. Print `My TA is so boring, but is very funny.` using `text1` list.**Hint: Use the `join` function, and `extend` method.**<br><br>
6. Print <br>
`The max value of values1 is 86 and is located in the 0 index. ` <br>
`The min value of values1 is 0 and is located in the 7 index. ` <br> **Hint: Use the `f-string`, `min`, and `max` functions.**
<br>
7. Get two lists: `names` and `last_names` using `last_and_name` list. **Hint: Use `map` and `split`.**
<br>
8. Give only the last names of students who do not have email. Use the `emails` and `last_names` listt. **Hint: Use `map` and `split`.**
<br>

In [10]:
import numpy as np

In [11]:
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]

In [12]:
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']

In [13]:
p2_list = [ 2 , 3, 4, 5 ]

In [14]:
values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1 ]

In [15]:
# These two lists a
last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe", "", "", "", "", "", "f0873079@pucp.edu.pe", "", "", "", "", "", "", "", "", "", "", "flores.alexis@pucp.edu.pe", ]

ANSWERS 1.2 LISTS

1. To answer this question. We found a difficulty because the lists contains strings as data. That is why we have to define a new function, with value as its only argument, that evaluates if the element in the "f_list" is a string or not a string. Then we create an arry with the "np.array" function. Then we, apply the defined function to every element of the array and stored them in "result". We have an array of True and False elements. With the the "np.where" function, the elements that are True are found and saved in "indices_true". Then with an if function, we deliver the message with the location of the elements that satisfy the condition using the join function. Finall, we print the message with the answer.

In [16]:
import numpy as np

f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]

def is_nan_or_string_nan(value):
    return value.lower() == 'nan' if isinstance(value, str) else np.isnan(value)

arr = np.array(f_list)
result = np.vectorize(is_nan_or_string_nan)(arr)

indices_true = np.where(result)[0]

if indices_true.size > 0:
    message = f"The indices {', '.join(map(str, indices_true))} have np.nan values."
else:
    message = "No hay valores True en la matriz."

print(message)

The indices 0, 1, 4, 7 have np.nan values.

2. For this task, we are asked to replicate the elements of the list, 4 times exactly. Then using the f-string we print the result.

In [18]:
p2_list = [ 2 , 3, 4, 5 ]

reps = 4

new_p2_list = p2_list* reps

print(f"The resulting list is: {new_p2_list}")

The resulting list is: [2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

3. In this task, we are asked to find the length of the list containing nan and string values. Then we print the result using the f-string function with curly braces.

In [20]:
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]

len(f_list)
print(f"The length of the f_list is: {len(f_list)}")

The length of the f_list is: 8

4. In this task, we use the join function to elaborate a sentence or phrase. The separator is the space character. Then, we print the phrase.

In [21]:
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']

phrase = " ".join(text1)

print(phrase)

My teacher assistant is so boring.

5. Print My TA is so boring, but is very funny. using text1 list.Hint: Use the join function, and extend method.

In [22]:
# Step 1: define the variable to use by copying the initial list with a new name
text1_2_5=text1.copy()
# Step 2: replace the initial words with the desired words
text1_2_5[1]='TA'
text1_2_5[5]='boring,'
# Step 3: removes the word that will not be used
del text1_2_5[2]
# Step 4: join the list elements into a text string
sentence5=' '.join(text1_2_5)
# Step 5: a complementary 'string' type variable is created to be concatenated later
complement=' but is very funny.'
# Step 6: convert 'string' type variables into 'list' type variables
sentence5_list=list(sentence5)
complement_list=list(complement)
# Step 7: the 'extend' function is used to join both lists.
sentence5_list.extend(complement_list)
# Step 8: join the list elements into a text string
sentence5_list=''.join(sentence5_list)
# Step 9: print the value of the text string
print(sentence5_list)

My TA is so boring, but is very funny.

6. Print:

        The max value of values1 is 86 and is located in the 0 index.
        The min value of values1 is 0 and is located in the 7 index.
        Hint: Use the f-string, min, and max functions.

In [23]:
# Step 1: The variable max is defined, which corresponds to the maximum value of the list, so the function max (to obtain the maximum value) from the numpy library and min (to obtain the minimum value) are used. Additionally
max=np.max(values1)
# Step 2: The variable that contains the index value of the maximum value is defined
index_max=values1.index(max)
# Step 3: The variable min is defined, which corresponds to the minimum value of the list, so the function min is used (to obtain the minimum value) from the numpy library
min=np.min(values1)
# Step 4: The variable that contains the index value of the minimum value is defined
index_min=values1.index(min)
# Step 5: The 'f-string' function is used to concatenate text strings with variables of type 'int'
sentmax=f'The max value of values1 is {max} and is located in the {index_max} index.'
sentmin=f'The min value of values1 is {min} and is located in the {index_min} index.'
# Step 6: The results are printed
print(sentmax)
print(sentmin)

The max value of values1 is 86 and is located in the 0 index.
The min value of values1 is 0 and is located in the 7 index.

7. Get two lists: `names` and `last_names` using `last_and_name` list. **Hint: Use `map` and `split`.**

In [24]:
# Step 1: List to use is called
last_and_name = ["CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS"]

# Step 2: 02 lists are created. The first of surnames and the second of names
# Likewise, the zip function is used to create a tuple that contains the elements of the list that allows us to iterate each element
# Finally, the map and lambda functions are used to iterate the split function to each value of the tuple obtained.
last_names, names = zip(*(map(lambda x: x.split(', ', 1), last_and_name)))

# Step 3: The results are printed with a title after them
print("Last Names:", list(last_names))
print("Names:", list(names))

Last Names: ['CORNEJO SANCHEZ', 'ORELLANA QUISPE', 'MORALES CHOQUEHUANCA', 'GUIMARAY RIBEYRO', 'CAMACHO GAVIDIA', 'TINTAYA ORIHUELA', 'CHAVEZ MARTINEZ', 'FIGUEROA MURO', 'GOMEZ CRIBILLERO', 'PALOMINO SEGUÍN', 'LUZON CUEVA', 'SUAÑA ZEGARRA', 'SOTO POMACHAGUA', 'FIORENTINO MARTINEZ', 'LAMA MAVILA', 'MEZA HINOJO', 'LOZADA MURILLO', 'ZAMBRANO JIMENEZ', 'JACOBS LUQUE', 'VIDAL VIDAL', 'TORRES ANICAMA', 'LOPEZ ESTRADA', 'BOYCO ORAMS', 'DIAZ BERROSPI', 'RIEGA ESCALANTE', 'LEVANO TORRES', 'ESQUIVES BRAVO', 'PEREZ GONZALES', 'OTERO MAGUIÑA', 'CLAVO CAMPOS', 'AGUILAR GARCIA', 'CALDAS VELASQUEZ', 'SALAS NUÑEZ BORJA', 'PIZARRO VILLANES', 'QUILLATUPA MORALES', 'HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'HINOJOSA CAHUANA', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ', 'FLORES CADILLO']
Names: ['CHRISTIAN SANTOS', 'CRISTIAN NASSER', 'ANGELICA KARINA', 'JOSE ROBERTO', 'ABEL FERNANDO', 'MEIR ALVARO', 'JOSELIN ALEXANDRA', 'LEONEL ARTURO', 'JOSE FELIPE', 'AFRANIA', 'BIANCA MARIETTE', 'ADRIAN ANDRE', 'DORKAS YOMIRA JHERMY', 'LADY ALY', 'HECTOR ANDRE', 'GUSTAVO', 'PERSEO MARCELO', 'MIGUEL ALONZO', 'NICOLAS', 'ROCIO GABRIELA', 'JANE CAMILA', 'MARIA ELISA', 'ALEJANDRO', 'KARLINE ROSMELI', 'STEPHY ROSARIO', 'VALERIA CECILIA', 'SEBASTIAN RENATO', 'JUAN CARLOS', 'MARIANA', 'ANDREA BRIZETH', 'ERICK JOSUE', 'JOSUE DANIEL', 'FABIO MANUEL', 'FERNANDA NICOLLE', 'ANGELA ADELINA', 'CESAR DANTE', 'GABRIELA ISABEL', 'ANGEL MAURICIO', 'JUAN DIEGO', 'ARONE', 'PERCY ALBERTH', 'KEVIN ARTURO', 'CESAR ERNESTO', 'CÉSAR AGUSTO', 'DIANA EDITH', 'RODRIGO FRANCO', 'GRETTEL ALEXANDRA', 'ROSA ANGELA', 'DANTE OMAR', 'YAJAIRA ALEXANDRA', 'JORGE ALBERTO', 'ALEXIS']

8. Give only the last names of students who do not have email. Use the emails and last_names listt. Hint: Use map and split.

In [25]:
# Step 1: A list object is generated that contains the last names along with the emails, which allows us to notice the names that do not have an associated email
matrix = list(zip(last_names, emails))
matrix

[('CORNEJO SANCHEZ', 'cscornejo@pucp.edu.pe'),
 ('ORELLANA QUISPE', 'orellana.cn@pucp.edu.pe'),
 ('MORALES CHOQUEHUANCA', 'karina.morales@pucp.edu.pe'),
 ('GUIMARAY RIBEYRO', 'a20083223@pucp.pe'),
 ('CAMACHO GAVIDIA', 'abel.camacho@pucp.pe'),
 ('TINTAYA ORIHUELA', 'mtintaya@pucp.edu.pe'),
 ('CHAVEZ MARTINEZ', 'joselin.chavez@pucp.edu.pe'),
 ('FIGUEROA MURO', 'a20105737@pucp.pe'),
 ('GOMEZ CRIBILLERO', 'jfgomezc@pucp.pe'),
 ('PALOMINO SEGUÍN', 'afrania.palomino@pucp.pe'),
 ('LUZON CUEVA', 'luzon.bianca@pucp.pe'),
 ('SUAÑA ZEGARRA', 'adrian.suanaz@pucp.pe'),
 ('SOTO POMACHAGUA', 'soto.y@pucp.edu.pe'),
 ('FIORENTINO MARTINEZ', 'a20132766@pucp.pe'),
 ('LAMA MAVILA', 'andre.lama@pucp.edu.pe'),
 ('MEZA HINOJO', 'gustavo.meza@pucp.edu.pe'),
 ('LOZADA MURILLO', 'pmlozada@pucp.edu.pe'),
 ('ZAMBRANO JIMENEZ', 'm.zambranoj@pucp.edu.pe'),
 ('JACOBS LUQUE', 'nicolas.jacobs@pucp.edu.pe'),
 ('VIDAL VIDAL', 'gvidal@pucp.edu.pe'),
 ('TORRES ANICAMA', 'jane.torres@pucp.edu.pe'),
 ('LOPEZ ESTRADA', 'm.lopez@pucp.edu.pe'),
 ('BOYCO ORAMS', 'alejandro.boyco@pucp.edu.pe'),
 ('DIAZ BERROSPI', 'a20167070@pucp.edu.pe'),
 ('RIEGA ESCALANTE', 'riega.stephy@pucp.edu.pe'),
 ('LEVANO TORRES', 'vlevanot@pucp.edu.pe'),
 ('ESQUIVES BRAVO', 'sesquives@pucp.edu.pe'),
 ('PEREZ GONZALES', 'perez.juanc@pucp.edu.pe'),
 ('OTERO MAGUIÑA', 'mariana.otero@pucp.edu.pe'),
 ('CLAVO CAMPOS', 'aclavo@pucp.edu.pe'),
 ('AGUILAR GARCIA', 'a20182474@pucp.edu.pe'),
 ('CALDAS VELASQUEZ', 'josue.caldas@pucp.edu.pe'),
 ('SALAS NUÑEZ BORJA', 'fabio.salas@pucp.edu.pe'),
 ('PIZARRO VILLANES', 'fernanda.pizarro@pucp.edu.pe'),
 ('QUILLATUPA MORALES', 'aquillatupa@pucp.pe'),
 ('HUANCAYA IDONE', ''),
 ('CALVO PORTOCARRERO', ''),
 ('IBAÑEZ ABANTO', ''),
 ('MELÉNDEZ APONTE', ''),
 ('CRISTIAN SERRANO', ''),
 ('HINOJOSA CAHUANA', 'f0873079@pucp.edu.pe'),
 ('ANGLAS GARCÍA', ''),
 ('ALDAVE ACOSTA', ''),
 ('NÚÑEZ HUAMÁN', ''),
 ('OBREGON HUAMAN', ''),
 ('SOTO PACHERRES', ''),
 ('INGARUCA RIVERA', ''),
 ('ROJAS HUAMAN', ''),
 ('NEYRA SALAS', ''),
 ('HUERTA ESPINOZA', ''),
 ('HUANCA MARTINEZ', ''),
 ('FLORES CADILLO', 'flores.alexis@pucp.edu.pe')]

In [26]:
# Step 2: Filter students without an email using the lambda function to locate all last names from the 'array' list that are along with an empty email
# x[1] makes reference to the second string in each element of the matrix
students_we = filter(lambda x: not x[1], matrix)

# Step 3: Extract last names from the filtered students
# x[0] makes reference to the first string in each element of the list
last_names_we = map(lambda x: x[0].split(', ')[0], students_we)

# Step 4: Print the last names of students without an email
print('Last names of students without an email: ', list(last_names_we))

Last names of students without an email:  ['HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ']

## 1.3 Strings


1. Drop the duplicated blank spaces in `str1`. Do not use the regular expresions. Do not use the code shown in class. Explain your steps.**Hint: Use `split` method and `join` function.**

2. Get the number of letters in the string .**Hint: Use `len`function.**

3. Get the number of blank spaces (all of them) in the string .**Hint: Use `len`function.**

4. Get the position of `@` in each string in the emails list. **Hint: Use `map`function and `find` method.**

5. Identifies if exists `.edu.`  in each string in the `emails` list. Get a list of Booleans. **Hint: Use `map`function and `find` method.**

6. Get all the strings before the first dot `.`in each string in the `emails` list. Identifies how many of them has `@`. **Hint: Use `map`function and `find` method.**

In [27]:
str1 = 'I am                            too                                                        old'

In [8]:
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

ANSWERS 1.3 Strings

1. Drop the duplicated blank spaces in str1. Do not use the regular expresions. Do not use the code shown in class. Explain your steps.Hint: Use split method and join function.

In [3]:
# Step 1: The variable is called and its type is observed
str1 = 'I am                            too                                                        old'
type(str1)

str

In [4]:
# Step 2: The variable string is transformed into a list with the words that will make up the sentence
wd=str1.split('                            ')
# Step 3: Empty spaces are removed
wd_without=list(wd)
wd_without.remove('')
# Step 4: The values of the list are concatenated in the searched sentence
wd_concatenate=' '.join(wd_without)
# Step 5: The results are printed
print(wd_concatenate)

I am too old

Exercise 2

In this exercise it's request get the number of letters in the string, for that it's point out to use the function called "lens"

In [5]:
#Step 1: we extract only the letters of our string 
letters_o = wd_concatenate.replace(" ","")

#Step 2: we count the letters in our string 
l_s = len(letters_o)

print(l_s)

9

Exercise 3

In this exercise it's request get the number of blank spaces (all of them) in the string, for that it's point out to use the function called "lens"

In [6]:
# Step 1: we deduct the number of letters with the length of the string
b_s = len(wd_concatenate) - l_s

print(b_s)

3

Exercise 4

In this exercise we will get the position of @ in each string in the emails list. For that we will use the function called "map" and the method "find".

In [9]:
# Step 1: To use the function "map" it's necesary to define the function for finding the position of @
def position_find(email):
    return email.find('@')

# Step 2: We use the function "map" with the function previously built 
p_f = map(position_find, emails)

# Step 3: we print the results 
print(p_f)
print(list(p_f))

<map object at 0x0000017E4CDC1970>
[9, 11, 14, 9, 12, 8, 14, 9, 8, 16, 12, 13, 6, 9, 10, 12, 8, 11, 14, 6, 11, 7, 15, 9, 12, 8, 9, 11, 13, 6, 9, 12, 11, 16, 11]

Exercise 5

In this case we will identify if exists .edu. in each string in the emails list and we will get a list of Booleans

In [10]:
# Step 1: We built the function for finding ".edu."
def find_position_1(email):
    return email.find('.edu.')

## Step 2: To create our boolean list, we need to do the following: 
def map_boolean(position):
    return position != -1  ### "-1" is the output when the map function doesn't find the string it's searching for 

p_2 = list(map(find_position_1, emails))
ed_dot = map(map_boolean, p_2)

## Finally, show the results
print(ed_dot)
print(list(ed_dot))

<map object at 0x0000017E4CEC1910>
[True, True, True, False, False, True, True, False, False, False, False, False, True, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, False]

Exercise 6

In this exercise we will get all the strings before the first dot .in each string in the emails list, in addition we need to identify how many of them has @.

In [11]:
#Step 1:  We built the function for getting the strings before the first dot
def before_dot(email):
    return email.split('.')[0]

#Step 2: We use the function "map" to get the strings before the first dot 
x_1 = list(map(before_dot, emails))

#Step 3: We find the position of @
x_2 = list(map(position_find, x_1))

#Step 4: We use the fuction "map_boolean" for identify which strings got @ 
x_3 = list(map(map_boolean, x_2))

#Step 5:Counting the emails that have @ before the first dot 
count_at = x_3.count(True)

#Step 6: We print the result
print(count_at)

14