In [10]:
import pandas as pd
import numpy as np

In [2]:
pwd

'C:\\Users\\ASUS\\Documents\\GitHub\\Diplomado-2025-python'

#### 1. Set your working directory and import the dataset Enaho01A-2023-300.csv using Pandas.

In [7]:
data = pd.read_csv("./Enaho01A-2023-300.csv", encoding="ISO-8859-10")

C:\Users\ASUS\AppData\Local\Temp\ipykernel_23688\2920998825.py:1: DtypeWarning: Columns (26,32,60) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("./Enaho01A-2023-300.csv", encoding="ISO-8859-10")

In [9]:
data

,AŅO,MES,CONGLOME,VIVIENDA,HOGAR,CODPERSO,UBIGEO,DOMINIO,ESTRATO,CODINFOR,...,I311D$5,I311D$6,I311D$7,I3121C,I3122C,I315B,FACTOR07,FACTORA07,NCONGLOME,SUB_CONGLOME
0,2023,1,5030,2,11,1,10201,7,4,1,...,,,,,,,118.374542,165.623856,6618,0
1,2023,1,5030,2,11,2,10201,7,4,2,...,,,,,,,118.374542,112.328087,6618,0
2,2023,1,5030,2,11,3,10201,7,4,2,...,,,,,,,118.374542,120.091476,6618,0
3,2023,1,5030,2,11,4,10201,7,4,2,...,,,8,,,,118.374542,110.974678,6618,0
4,2023,1,5030,11,11,1,10201,7,4,1,...,,,,,,,118.374542,96.035370,6618,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108349,2023,12,20670,67,11,5,10503,4,8,2,...,,,,,,,65.991585,76.758545,7051,0
108350,2023,12,20670,68,11,1,10503,4,8,1,...,,,,,,,65.991585,94.397972,7051,0
108351,2023,12,20670,69,11,1,10503,4,8,1,...,,,,,,,65.991585,54.246708,7051,0
108352,2023,12,20670,69,11,2,10503,4,8,2,...,,,,,,,65.991585,69.487373,7051,0
108353,2023,12,20670,69,11,3,10503,4,8,3,...,,,,,,,65.991585,94.397972,7051,0

##### 1.1 Read and display the first 5 rows.

In [12]:
data.head(5)

,AŅO,MES,CONGLOME,VIVIENDA,HOGAR,CODPERSO,UBIGEO,DOMINIO,ESTRATO,CODINFOR,...,I311D$5,I311D$6,I311D$7,I3121C,I3122C,I315B,FACTOR07,FACTORA07,NCONGLOME,SUB_CONGLOME
0,2023,1,5030,2,11,1,10201,7,4,1,...,,,,,,,118.374542,165.623856,6618,0
1,2023,1,5030,2,11,2,10201,7,4,2,...,,,,,,,118.374542,112.328087,6618,0
2,2023,1,5030,2,11,3,10201,7,4,2,...,,,,,,,118.374542,120.091476,6618,0
3,2023,1,5030,2,11,4,10201,7,4,2,...,,,8,,,,118.374542,110.974678,6618,0
4,2023,1,5030,11,11,1,10201,7,4,1,...,,,,,,,118.374542,96.035370,6618,0

##### 1.2 Convert the column names into a list and print it.

In [13]:
data.columns

Index(['AŅO', 'MES', 'CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO', 'UBIGEO',
       'DOMINIO', 'ESTRATO', 'CODINFOR',
       ...
       'I311D$5', 'I311D$6', 'I311D$7', 'I3121C', 'I3122C', 'I315B',
       'FACTOR07', 'FACTORA07', 'NCONGLOME', 'SUB_CONGLOME'],
      dtype='object', length=511)

In [14]:
#Printing the list
columns_list = data.columns.tolist()

In [15]:
#Printing the list
columns_list

['AŅO',
 'MES',
 'CONGLOME',
 'VIVIENDA',
 'HOGAR',
 'CODPERSO',
 'UBIGEO',
 'DOMINIO',
 'ESTRATO',
 'CODINFOR',
 'P300N',
 'P300I',
 'P300A',
 'P301A',
 'P301B',
 'P301C',
 'P301D',
 'P301A0',
 'P301A1',
 'P301B0',
 'P301B1',
 'P301B3',
 'P302',
 'P302X',
 'P302A',
 'P302B',
 'P303',
 'P304A',
 'P304B',
 'P304C',
 'P304D',
 'P305',
 'P306',
 'P307',
 'P307A1',
 'P307A2',
 'P307A3',
 'P307A4',
 'P307A4_5',
 'P307A4_6',
 'P307A4_7',
 'P307B1',
 'P307B2',
 'P307B3',
 'P307B4',
 'P307B4_5',
 'P307B4_6',
 'P307B4_7',
 'P307C',
 'P308A',
 'P308B',
 'P308C',
 'P308D',
 'P308B1',
 'P308B2',
 'P308B3',
 'P308B4',
 'P308B5',
 'P308C1',
 'P308C2',
 'P310',
 'P310B1',
 'P310C0',
 'P310C1',
 'P310D1',
 'P310D2',
 'P310E0',
 'P310E1',
 'P310E3',
 'P311N$1',
 'P311N$2',
 'P311N$3',
 'P311N$4',
 'P311N$5',
 'P311N$6',
 'P311N$7',
 'P311N$8',
 'P311N$9',
 'P311$1',
 'P311$2',
 'P311$3',
 'P311$4',
 'P311$5',
 'P311$6',
 'P311$7',
 'P311$8',
 'P311$9',
 'P311A1$1',
 'P311A1$2',
 'P311A1$3',
 'P311A1$4',
 'P311A1$5',
 'P311A1$6',
 'P311A1$7',
 'P311A1$8',
 'P311A1$9',
 'P311A2$1',
 'P311A2$2',
 'P311A2$3',
 'P311A2$4',
 'P311A2$5',
 'P311A2$6',
 'P311A2$7',
 'P311A2$8',
 'P311A2$9',
 'P311A3$1',
 'P311A3$2',
 'P311A3$3',
 'P311A3$4',
 'P311A3$5',
 'P311A3$6',
 'P311A3$7',
 'P311A3$8',
 'P311A3$9',
 'P311A4$1',
 'P311A4$2',
 'P311A4$3',
 'P311A4$4',
 'P311A4$5',
 'P311A4$6',
 'P311A4$7',
 'P311A4$8',
 'P311A4$9',
 'P311A5$1',
 'P311A5$2',
 'P311A5$3',
 'P311A5$4',
 'P311A5$5',
 'P311A5$6',
 'P311A5$7',
 'P311A5$8',
 'P311A5$9',
 'P311A6$1',
 'P311A6$2',
 'P311A6$3',
 'P311A6$4',
 'P311A6$5',
 'P311A6$6',
 'P311A6$7',
 'P311A6$8',
 'P311A6$9',
 'P311A7$1',
 'P311A7$2',
 'P311A7$3',
 'P311A7$4',
 'P311A7$5',
 'P311A7$6',
 'P311A7$7',
 'P311A7$8',
 'P311A7$9',
 'P311B$1',
 'P311B$2',
 'P311B$3',
 'P311B$4',
 'P311B$5',
 'P311B$6',
 'P311B$7',
 'P311B$8',
 'P311B$9',
 'P311C$1',
 'P311C$2',
 'P311C$3',
 'P311C$4',
 'P311C$5',
 'P311C$6',
 'P311C$7',
 'P311C$8',
 'P311C$9',
 'P311D$1',
 'P311D$2',
 'P311D$3',
 'P311D$4',
 'P311D$5',
 'P311D$6',
 'P311D$7',
 'P311D$8',
 'P311D$9',
 'P311D2$1',
 'P311D2$2',
 'P311D2$3',
 'P311D2$4',
 'P311D2$5',
 'P311D2$6',
 'P311D2$7',
 'P311D2$8',
 'P311D2$9',
 'P311D3$1',
 'P311D3$2',
 'P311D3$3',
 'P311D3$4',
 'P311D3$5',
 'P311D3$6',
 'P311D3$7',
 'P311D3$8',
 'P311D3$9',
 'P311D4$1',
 'P311D4$2',
 'P311D4$3',
 'P311D4$4',
 'P311D4$5',
 'P311D4$6',
 'P311D4$7',
 'P311D4$8',
 'P311D4$9',
 'P311D5$1',
 'P311D5$2',
 'P311D5$3',
 'P311D5$4',
 'P311D5$5',
 'P311D5$6',
 'P311D5$7',
 'P311D5$8',
 'P311D5$9',
 'P311D6$1',
 'P311D6$2',
 'P311D6$3',
 'P311D6$4',
 'P311D6$5',
 'P311D6$6',
 'P311D6$7',
 'P311D6$8',
 'P311D6$9',
 'P311D7$1',
 'P311D7$2',
 'P311D7$3',
 'P311D7$4',
 'P311D7$5',
 'P311D7$6',
 'P311D7$7',
 'P311D7$8',
 'P311D7$9',
 'P311E$1',
 'P311E$2',
 'P311E$3',
 'P311E$4',
 'P311E$5',
 'P311E$6',
 'P311E$7',
 'P311E$8',
 'P311E$9',
 'P311T1',
 'P311T22',
 'P311T23',
 'P311T24',
 'P311T25',
 'P311T26',
 'P311T27',
 'P311T2',
 'P3121',
 'P3121A1',
 'P3121A2',
 'P3121A3',
 'P3121A4',
 'P3121A5',
 'P3121A6',
 'P3121B',
 'P3121C',
 'P3121C2',
 'P3121C3',
 'P3121C4',
 'P3121C5',
 'P3121C6',
 'P3121D',
 'P3122',
 'P3122A1',
 'P3122A2',
 'P3122A3',
 'P3122A4',
 'P3122A5',
 'P3122A6',
 'P3122B',
 'P3122C',
 'P3122C2',
 'P3122C3',
 'P3122C4',
 'P3122C5',
 'P3122C6',
 'P3122D',
 'P312T1',
 'P312T22',
 'P312T23',
 'P312T24',
 'P312T25',
 'P312T26',
 'P312T2',
 'P313',
 'P314A',
 'P314B$1',
 'P314B$2',
 'P314B$3',
 'P314B$4',
 'P314B$5',
 'P314B$6',
 'P314B$7',
 'P314B1_1',
 'P314B1_2',
 'P314B1_6',
 'P314B1_7',
 'P314B1_8',
 'P314B1_9',
 'P314D',
 'P3151',
 'P3152',
 'P3153',
 'P3154',
 'P3155',
 'P3156',
 'P315A',
 'P315B',
 'P315B2',
 'P315B3',
 'P315B4',
 'P315B5',
 'P315B6',
 'P316$1',
 'P316$2',
 'P316$3',
 'P316$4',
 'P316$5',
 'P316$6',
 'P316$7',
 'P316$8',
 'P316$9',
 'P316$10',
 'P316$11',
 'P316$12',
 'P316A1',
 'P316A2',
 'P316A3',
 'P316A4',
 'P316A5',
 'P316A6',
 'P316B',
 'P316C1',
 'P316C2',
 'P316C3',
 'P316C4',
 'P316C5',
 'P316C6',
 'P316C7',
 'P316C8',
 'P316C9',
 'P316C10',
 'T313A',
 'P203',
 'P204',
 'P205',
 'P206',
 'P207',
 'P208A',
 'P209',
 'IMPUTADO',
 'TICUEST01A',
 'D311B$1',
 'D311D2$1',
 'D311D3$1',
 'D311D4$1',
 'D311D5$1',
 'D311D6$1',
 'D311D7$1',
 'D311D$1',
 'D311B$2',
 'D311D2$2',
 'D311D3$2',
 'D311D4$2',
 'D311D5$2',
 'D311D6$2',
 'D311D7$2',
 'D311D$2',
 'D311B$3',
 'D311D2$3',
 'D311D3$3',
 'D311D4$3',
 'D311D5$3',
 'D311D6$3',
 'D311D7$3',
 'D311D$3',
 'D311B$4',
 'D311D2$4',
 'D311D3$4',
 'D311D4$4',
 'D311D5$4',
 'D311D6$4',
 'D311D7$4',
 'D311D$4',
 'D311B$5',
 'D311D2$5',
 'D311D3$5',
 'D311D4$5',
 'D311D5$5',
 'D311D6$5',
 'D311D7$5',
 'D311D$5',
 'D311B$6',
 'D311D2$6',
 'D311D3$6',
 'D311D4$6',
 'D311D5$6',
 'D311D6$6',
 'D311D7$6',
 'D311D$6',
 'D311B$7',
 'D311D2$7',
 'D311D3$7',
 'D311D4$7',
 'D311D5$7',
 'D311D6$7',
 'D311D7$7',
 'D311D$7',
 'D3121B',
 'D3121C2',
 'D3121C3',
 'D3121C4',
 'D3121C5',
 'D3121C6',
 'D3121C',
 'D3122B',
 'D3122C2',
 'D3122C3',
 'D3122C4',
 'D3122C5',
 'D3122C6',
 'D3122C',
 'D315A',
 'D315B2',
 'D315B3',
 'D315B4',
 'D315B5',
 'D315B6',
 'D315B',
 'I311B$1',
 'I311B$2',
 'I311B$4',
 'I311B$6',
 'I311B$3',
 'I311B$5',
 'I311B$7',
 'I311D2$1',
 'I311D3$1',
 'I311D4$1',
 'I311D5$1',
 'I311D6$1',
 'I311D7$1',
 'I311D2$2',
 'I311D3$2',
 'I311D4$2',
 'I311D5$2',
 'I311D6$2',
 'I311D7$2',
 'I311D2$4',
 'I311D3$4',
 'I311D4$4',
 'I311D5$4',
 'I311D6$4',
 'I311D7$4',
 'I311D2$6',
 'I311D3$6',
 'I311D4$6',
 'I311D5$6',
 'I311D6$6',
 'I311D7$6',
 'I311D2$3',
 'I311D3$3',
 'I311D4$3',
 'I311D5$3',
 'I311D6$3',
 'I311D7$3',
 'I311D2$5',
 'I311D3$5',
 'I311D4$5',
 'I311D5$5',
 'I311D6$5',
 'I311D7$5',
 'I311D2$7',
 'I311D3$7',
 'I311D4$7',
 'I311D5$7',
 'I311D6$7',
 'I311D7$7',
 'I3121B',
 'I3122B',
 'I3121C2',
 'I3121C3',
 'I3121C4',
 'I3121C5',
 'I3121C6',
 'I3122C2',
 'I3122C3',
 'I3122C4',
 'I3122C5',
 'I3122C6',
 'I315A',
 'I315B2',
 'I315B3',
 'I315B4',
 'I315B5',
 'I315B6',
 'I311D$1',
 'I311D$2',
 'I311D$3',
 'I311D$4',
 'I311D$5',
 'I311D$6',
 'I311D$7',
 'I3121C',
 'I3122C',
 'I315B',
 'FACTOR07',
 'FACTORA07',
 'NCONGLOME',
 'SUB_CONGLOME']

##### 1.3 Check the data types of the DataFrame.

In [16]:
data.dtypes

AŅO               int64
MES               int64
CONGLOME          int64
VIVIENDA          int64
HOGAR             int64
                 ...
I315B            object
FACTOR07        float64
FACTORA07       float64
NCONGLOME         int64
SUB_CONGLOME      int64
Length: 511, dtype: object

##### 1.4 Select a subsample containing the variables ['CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO'] and between 3–5 additional variables of your interest.

In [17]:
sub_data = data[["CONGLOME", "VIVIENDA", "HOGAR", "CODPERSO", "P301A", "P302", "P313", "P314A"]]
# P301A: ¿Cuál es el último año o grado de estudios y nivel que aprobó?
# P302: ¿Sabe leer y escribir?
# P313: ¿Cuál es la principal razón por la que no está matriculado o no asiste a algún centro o programa de educación básica o superior?
# P314A: En el mes anterior, ¿Ud. hizo uso del servicio de Internet?

In [19]:
sub_data

        CONGLOME  VIVIENDA  HOGAR  CODPERSO  P301A P302 P313 P314A
0           5030         2     11         1      8               1
1           5030         2     11         2     10               1
2           5030         2     11         3      3    1    6     2
3           5030         2     11         4      3    2    6     2
4           5030        11     11         1      4               1
...          ...       ...    ...       ...    ...  ...  ...   ...
108349     20670        67     11         5      1    2    4
108350     20670        68     11         1      5         1     1
108351     20670        69     11         1      3    1          2
108352     20670        69     11         2      4               1
108353     20670        69     11         3      6         1     1

[108354 rows x 8 columns]

#### 2. Data Manipulation (Data Cleaning):

##### 2.1 Explore the DataFrame using summary functions.

In [20]:
sub_data.shape

(108354, 8)

In [24]:
sub_data.dtypes

CONGLOME     int64
VIVIENDA     int64
HOGAR        int64
CODPERSO     int64
P301A        int64
P302        object
P313        object
P314A       object
dtype: object

In [21]:
sub_data.describe(include="all")

,CONGLOME,VIVIENDA,HOGAR,CODPERSO,P301A,P302,P313,P314A
count,108354.000000,108354.000000,108354.000000,108354.000000,108354.000000,108354,108354,108354
unique,NaN,NaN,NaN,NaN,NaN,4,13,4
top,NaN,NaN,NaN,NaN,NaN,,,1
freq,NaN,NaN,NaN,NaN,NaN,75103,92711,71458
mean,16944.756797,77.820330,11.146271,2.546293,5.258652,NaN,NaN,NaN
std,3144.386733,68.547022,1.370084,1.577737,3.807669,NaN,NaN,NaN
min,5007.000000,1.000000,11.000000,1.000000,1.000000,NaN,NaN,NaN
25%,16028.000000,31.000000,11.000000,1.000000,3.000000,NaN,NaN,NaN
50%,17500.000000,66.000000,11.000000,2.000000,5.000000,NaN,NaN,NaN
75%,19014.000000,106.000000,11.000000,3.000000,6.000000,NaN,NaN,NaN
max,21001.000000,991.000000,44.000000,22.000000,99.000000,NaN,NaN,NaN

##### 2.2 Identify if there are missing values.

In [22]:
sub_data.isnull().sum()

CONGLOME    0
VIVIENDA    0
HOGAR       0
CODPERSO    0
P301A       0
P302        0
P313        0
P314A       0
dtype: int64

##### 2.3 If they exist, remove them.
There are none in the sub dataframe created

#### 3. Import a second dataset

In [26]:
data2 = pd.read_csv("./Enaho01a-2023-500.csv", encoding="ISO-8859-10")

C:\Users\ASUS\AppData\Local\Temp\ipykernel_23688\3356176784.py:1: DtypeWarning: Columns (218,223,228,231,234,235,236,241,246,251,256,261,266,271,276,281,286,291,296,301,306,311,316,321,326,331,338,341,344,347,350,353,356,359,363,365,367,369,371,373,375,377,379,381,385,386,387,388,389,393,485,486,487,488,935,936,937,938,939,940,941,942,943,944,1015,1018,1023) have mixed types. Specify dtype option on import or set low_memory=False.
  data2 = pd.read_csv("./Enaho01a-2023-500.csv", encoding="ISO-8859-10")

In [27]:
data2

,AŅO,MES,CONGLOME,VIVIENDA,HOGAR,CODPERSO,UBIGEO,DOMINIO,ESTRATO,CODINFOR,...,I538E1,I5294B,I5404B,I541A,OCU500,OCUPINF,EMPLPSEC,FAC500A,NCONGLOME,SUB_CONGLOME
0,2023,1,5030,2,11,1,10201,7,4,1,...,,,,,1,2,,165.623856,6618,0
1,2023,1,5030,2,11,2,10201,7,4,2,...,,,,,1,2,,112.328087,6618,0
2,2023,1,5030,11,11,1,10201,7,4,1,...,,,,,1,1,1,96.035370,6618,0
3,2023,1,5030,11,11,2,10201,7,4,2,...,,,,,1,1,1,86.868881,6618,0
4,2023,1,5030,11,11,3,10201,7,4,3,...,,,,,1,1,1,185.492355,6618,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86649,2023,12,20670,67,11,2,10503,4,8,2,...,,,,,1,1,1,52.368996,7051,0
86650,2023,12,20670,68,11,1,10503,4,8,1,...,708,,,,1,1,1,94.397972,7051,0
86651,2023,12,20670,69,11,1,10503,4,8,1,...,,,,,1,1,1,54.246708,7051,0
86652,2023,12,20670,69,11,2,10503,4,8,2,...,,,,,1,1,1,69.487373,7051,0
86653,2023,12,20670,69,11,3,10503,4,8,3,...,,,,,1,1,1,94.397972,7051,0

##### 3.1 Display the first 5 rows.

In [28]:
data2.head(5)

,AŅO,MES,CONGLOME,VIVIENDA,HOGAR,CODPERSO,UBIGEO,DOMINIO,ESTRATO,CODINFOR,...,I538E1,I5294B,I5404B,I541A,OCU500,OCUPINF,EMPLPSEC,FAC500A,NCONGLOME,SUB_CONGLOME
0,2023,1,5030,2,11,1,10201,7,4,1,...,,,,,1,2,,165.623856,6618,0
1,2023,1,5030,2,11,2,10201,7,4,2,...,,,,,1,2,,112.328087,6618,0
2,2023,1,5030,11,11,1,10201,7,4,1,...,,,,,1,1,1,96.035370,6618,0
3,2023,1,5030,11,11,2,10201,7,4,2,...,,,,,1,1,1,86.868881,6618,0
4,2023,1,5030,11,11,3,10201,7,4,3,...,,,,,1,1,1,185.492355,6618,0

##### 3.2 Convert the column names into a list and print it.

In [29]:
data2.columns

Index(['AŅO', 'MES', 'CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO', 'UBIGEO',
       'DOMINIO', 'ESTRATO', 'CODINFOR',
       ...
       'I538E1', 'I5294B', 'I5404B', 'I541A', 'OCU500', 'OCUPINF', 'EMPLPSEC',
       'FAC500A', 'NCONGLOME', 'SUB_CONGLOME'],
      dtype='object', length=1414)

In [30]:
#converting the columns into a list
columns_list2 = data2.columns.tolist()

In [31]:
#Printing the list
columns_list2

['AŅO',
 'MES',
 'CONGLOME',
 'VIVIENDA',
 'HOGAR',
 'CODPERSO',
 'UBIGEO',
 'DOMINIO',
 'ESTRATO',
 'CODINFOR',
 'P500A',
 'P500B',
 'P500B1',
 'P500C',
 'P500D',
 'P500D1',
 'P500N',
 'P500I',
 'P501',
 'P502',
 'P503',
 'P504',
 'P5041',
 'P5042',
 'P5043',
 'P5044',
 'P5045',
 'P5046',
 'P5047',
 'P5048',
 'P5049',
 'P50410',
 'P50411',
 'P505',
 'P505R4',
 'P505B',
 'P506',
 'P506R4',
 'P507',
 'P508',
 'P509',
 'P510',
 'P510A1',
 'P510B',
 'P5111',
 'P5112',
 'P5113',
 'P5114',
 'P5115',
 'P5116',
 'P5117',
 'P5118',
 'P5119',
 'P51110',
 'P51111',
 'P51112',
 'P511A',
 'P512A',
 'P512B',
 'P513',
 'P513A',
 'P513B',
 'P513C',
 'P513D',
 'P513E',
 'P513F',
 'P513G',
 'P513T',
 'P513A1',
 'P513A2',
 'P514',
 'P5151',
 'P5152',
 'P5153',
 'P5154',
 'P5155',
 'P5156',
 'P5157',
 'P5158',
 'P5159',
 'P51510',
 'P51511',
 'P516',
 'P516R4',
 'P517',
 'P517A',
 'P517B1',
 'P517C',
 'P517D1',
 'P517D2',
 'P518',
 'P519',
 'P520',
 'P520A',
 'P521',
 'P521A',
 'P521B',
 'P521B1',
 'P521C',
 'P521D',
 'P523',
 'P524A1',
 'P524A2',
 'P524B1',
 'P524B2',
 'P524C1',
 'P524C2',
 'P524D1',
 'P524D2',
 'P524E1',
 'P524E2',
 'P528',
 'P5291A',
 'P5291B',
 'P5291C',
 'P5292A',
 'P5292B',
 'P5292C',
 'P5293A',
 'P5293B',
 'P5293C',
 'P5294A',
 'P5294B',
 'P5294C',
 'P5295A',
 'P5295B',
 'P5295C',
 'P5296A',
 'P5296B',
 'P5296C',
 'P529T',
 'P5297A',
 'P530A',
 'P530B',
 'P535',
 'P536',
 'P5371',
 'P5372',
 'P5373',
 'P5374',
 'P5375',
 'P5376',
 'P5377',
 'P5378',
 'P5379',
 'P53710',
 'P53711',
 'P53712',
 'P538A1',
 'P538A2',
 'P538B1',
 'P538B2',
 'P538C1',
 'P538C2',
 'P538D1',
 'P538D2',
 'P538E1',
 'P538E2',
 'P539',
 'P5401A',
 'P5401B',
 'P5401C',
 'P5402A',
 'P5402B',
 'P5402C',
 'P5403A',
 'P5403B',
 'P5403C',
 'P5404A',
 'P5404B',
 'P5404C',
 'P5405A',
 'P5405B',
 'P5405C',
 'P5406A',
 'P5406B',
 'P5406C',
 'P540T',
 'P5407A',
 'P541A',
 'P541B',
 'P542',
 'P543',
 'P5441A',
 'P5441B',
 'P5442A',
 'P5442B',
 'P5443A',
 'P5443B',
 'P5444A',
 'P5444B',
 'P5445A',
 'P5445B',
 'P5446A',
 'P5446B',
 'P5447A',
 'P5447B',
 'P5448A',
 'P5448B',
 'P544T',
 'P545',
 'P546',
 'P547',
 'P548',
 'P549',
 'P550_1',
 'P550_2',
 'P550_3',
 'P550_4',
 'P550_5',
 'P550_6',
 'P550_7',
 'P550_GI',
 'P551',
 'P552',
 'P554',
 'P554R4',
 'P555',
 'P5561A',
 'P5561B',
 'P5561C',
 'P5561D',
 'P5561E',
 'P5562A',
 'P5562B',
 'P5562C',
 'P5562D',
 'P5562E',
 'P5563A',
 'P5563B',
 'P5563C',
 'P5563C1',
 'P5563D',
 'P5563E',
 'P5563F',
 'P5563G',
 'P5564A',
 'P5564B',
 'P5564C',
 'P5564D',
 'P5564E',
 'P5565A',
 'P5565B',
 'P5565C',
 'P5565D',
 'P5565E',
 'P5566A',
 'P5566B',
 'P5566C',
 'P5566D',
 'P5566E',
 'P5567A',
 'P5567B',
 'P5567C',
 'P5567D',
 'P5567E',
 'P5568A',
 'P5568B',
 'P5568C',
 'P5568D',
 'P5568E',
 'P5569A',
 'P5569B',
 'P5569C',
 'P5569D',
 'P5569E',
 'P55610A',
 'P55610B',
 'P55610C',
 'P55610D',
 'P55610E',
 'P55611A',
 'P55611B',
 'P55611C',
 'P55611D',
 'P55611E',
 'P55612A',
 'P55612B',
 'P55612C',
 'P55612D',
 'P55612E',
 'P55613A',
 'P55613B',
 'P55613C',
 'P55613D',
 'P55613E',
 'P55614A',
 'P55614B',
 'P55614C',
 'P55614D',
 'P55614E',
 'P55620A',
 'P55620B',
 'P55620C',
 'P55620D',
 'P55620E',
 'P55621A',
 'P55621B',
 'P55621C',
 'P55621D',
 'P55621E',
 'P55622A',
 'P55622B',
 'P55622C',
 'P55622D',
 'P55622E',
 'P55623A',
 'P55623B',
 'P55623C',
 'P55623D',
 'P55623E',
 'P55624A',
 'P55624B',
 'P55624C',
 'P55624D',
 'P55624E',
 'P55625A',
 'P55625B',
 'P55625C',
 'P55625D',
 'P55625E',
 'P55626A',
 'P55626B',
 'P55626C',
 'P55626D',
 'P55626E',
 'P55627A',
 'P55627B',
 'P55627C',
 'P55627D',
 'P55627E',
 'P55628A',
 'P55628B',
 'P55628C',
 'P55628D',
 'P55628E',
 'P556T1',
 'P556T2',
 'P5571A',
 'P5571B',
 'P5571C',
 'P5572A',
 'P5572B',
 'P5572C',
 'P5573A',
 'P5573B',
 'P5573C',
 'P5574A',
 'P5574B',
 'P5574C',
 'P5575A',
 'P5575B',
 'P5575C',
 'P5576A',
 'P5576B',
 'P5576C',
 'P5577A',
 'P5577B',
 'P5577C',
 'P5578A',
 'P5578B',
 'P5578C',
 'P557T',
 'P5581A',
 'P5581B',
 'P5582A',
 'P5582B',
 'P5583A',
 'P5583B',
 'P5584A',
 'P5584B',
 'P5585A',
 'P5585B',
 'P5586A',
 'P5586B',
 'P5587A',
 'P5587B',
 'P5588A',
 'P5588B',
 'P5589A',
 'P5589B',
 'P55810A',
 'P55810B',
 'P558T',
 'P558T1',
 'P558A1',
 'P558A2',
 'P558A3',
 'P558A4',
 'P558A5',
 'P558B1',
 'P558B2',
 'P558B3',
 'P558C',
 'P558D2_1',
 'P558D2_2',
 'P558E1_1',
 'P558E1_2',
 'P558E1_3',
 'P558E1_6',
 'P558E1_7',
 'P558E2_1',
 'P558E3_1',
 'P558E2_2',
 'P558E3_2',
 'P558F1A',
 'P558F1B',
 'P558G1',
 'P558G2',
 'P558G3',
 'P558G5',
 'P558G6',
 'P558G7',
 'P558H1_1',
 'P558H1_2',
 'P558H1_3',
 'P558H1_4',
 'P558H1_5',
 'P558H1_6',
 'P558H2_1',
 'P558H2_2',
 'P558H2_3',
 'P558H2_4',
 'P558H2_5',
 'P558H2_6',
 'P558H3_1',
 'P558H3_2',
 'P558H3_3',
 'P558H3_4',
 'P558H3_5',
 'P558H3_6',
 'P558H4_1',
 'P558H4_2',
 'P558H4_3',
 'P558H4_4',
 'P558H4_5',
 'P558H4_6',
 'P558H5_1',
 'P558H5_2',
 'P558H5_3',
 'P558H5_4',
 'P558H5_5',
 'P558H5_6',
 'P558H6_1',
 'P558H6_2',
 'P558H6_3',
 'P558H6_4',
 'P558H6_5',
 'P558H6_6',
 'P558H7_1',
 'P558H7_2',
 'P558H7_3',
 'P558H7_4',
 'P558H7_5',
 'P558H7_6',
 'P558H8_1',
 'P558H8_2',
 'P558H8_3',
 'P558H8_4',
 'P558H8_5',
 'P558H8_6',
 'P558H9_1',
 'P558H9_2',
 'P558H9_3',
 'P558H9_4',
 'P558H9_5',
 'P558H9_6',
 'P558H10_1',
 'P558H10_2',
 'P558H10_3',
 'P558H10_4',
 'P558H10_5',
 'P558H10_6',
 'P558H11_1',
 'P558H11_2',
 'P558H11_3',
 'P558H11_4',
 'P558H11_5',
 'P558H11_6',
 'P558H12_1',
 'P558H12_2',
 'P558H12_3',
 'P558H12_4',
 'P558H12_5',
 'P558H12_6',
 'P559$01',
 'P559$02',
 'P559$03',
 'P559$04',
 'P559$05',
 'P559$06',
 'P559$07',
 'P559$08',
 'P559$09',
 'P559$10',
 'P559$11',
 'P559$12',
 'P559$13',
 'P559$14',
 'P559$15',
 'P559$16',
 'P559$17',
 'P559$18',
 'P559$19',
 'P559$20',
 'P559$21',
 'P559$22',
 'P559$23',
 'P559$24',
 'P559$25',
 'P559$26',
 'P559$27',
 'P559$28',
 'P559$29',
 'P559$30',
 'P559$31',
 'P559$32',
 'P559$33',
 'P559$34',
 'P559$35',
 'P559$36',
 'P559$37',
 'P559$38',
 'P559$39',
 'P559$40',
 'P559$41',
 'P559$42',
 'P559$43',
 'P559$44',
 'P559$45',
 'P559$46',
 'P559$47',
 'P559$48',
 'P559$49',
 'P559$50',
 'P559T$01',
 'P559T$02',
 'P559T$03',
 'P559T$04',
 'P559T$05',
 'P559T$06',
 'P559T$07',
 'P559T$08',
 'P559T$09',
 'P559T$10',
 'P559T$11',
 'P559T$12',
 'P559T$13',
 'P559T$14',
 'P559T$15',
 'P559T$16',
 'P559T$17',
 'P559T$18',
 'P559T$19',
 'P559T$20',
 'P559T$21',
 'P559T$22',
 'P559T$23',
 'P559T$24',
 'P559T$25',
 'P559T$26',
 'P559T$27',
 'P559T$28',
 'P559T$29',
 'P559T$30',
 'P559T$31',
 'P559T$32',
 'P559T$33',
 'P559T$34',
 'P559T$35',
 'P559T$36',
 'P559T$37',
 'P559T$38',
 'P559T$39',
 'P559T$40',
 'P559T$41',
 'P559T$42',
 'P559T$43',
 'P559T$44',
 'P559T$45',
 'P559T$46',
 'P559T$47',
 'P559T$48',
 'P559T$49',
 'P559T$50',
 'P559A$01',
 'P559A$02',
 'P559A$03',
 'P559A$04',
 'P559A$05',
 'P559A$06',
 'P559A$07',
 'P559A$08',
 'P559A$09',
 'P559A$10',
 'P559A$11',
 'P559A$12',
 'P559A$13',
 'P559A$14',
 'P559A$15',
 'P559A$16',
 'P559A$17',
 'P559A$18',
 'P559A$19',
 'P559A$20',
 'P559A$21',
 'P559A$22',
 'P559A$23',
 'P559A$24',
 'P559A$25',
 'P559A$26',
 'P559A$27',
 'P559A$28',
 'P559A$29',
 'P559A$30',
 'P559A$31',
 'P559A$32',
 'P559A$33',
 'P559A$34',
 'P559A$35',
 'P559A$36',
 'P559A$37',
 'P559A$38',
 'P559A$39',
 'P559A$40',
 'P559A$41',
 'P559A$42',
 'P559A$43',
 'P559A$44',
 'P559A$45',
 'P559A$46',
 'P559A$47',
 'P559A$48',
 'P559A$49',
 'P559A$50',
 'P559B$01',
 'P559B$02',
 'P559B$03',
 'P559B$04',
 'P559B$05',
 'P559B$06',
 'P559B$07',
 'P559B$08',
 'P559B$09',
 'P559B$10',
 'P559B$11',
 'P559B$12',
 'P559B$13',
 'P559B$14',
 'P559B$15',
 'P559B$16',
 'P559B$17',
 'P559B$18',
 'P559B$19',
 'P559B$20',
 'P559B$21',
 'P559B$22',
 'P559B$23',
 'P559B$24',
 'P559B$25',
 'P559B$26',
 'P559B$27',
 'P559B$28',
 'P559B$29',
 'P559B$30',
 'P559B$31',
 'P559B$32',
 'P559B$33',
 'P559B$34',
 'P559B$35',
 'P559B$36',
 'P559B$37',
 'P559B$38',
 'P559B$39',
 'P559B$40',
 'P559B$41',
 'P559B$42',
 'P559B$43',
 'P559B$44',
 'P559B$45',
 'P559B$46',
 'P559B$47',
 'P559B$48',
 'P559B$49',
 'P559B$50',
 'P559C$01',
 'P559C$02',
 'P559C$03',
 'P559C$04',
 'P559C$05',
 'P559C$06',
 'P559C$07',
 'P559C$08',
 'P559C$09',
 'P559C$10',
 'P559C$11',
 'P559C$12',
 'P559C$13',
 'P559C$14',
 'P559C$15',
 'P559C$16',
 'P559C$17',
 'P559C$18',
 'P559C$19',
 'P559C$20',
 'P559C$21',
 'P559C$22',
 'P559C$23',
 'P559C$24',
 'P559C$25',
 'P559C$26',
 'P559C$27',
 'P559C$28',
 'P559C$29',
 'P559C$30',
 'P559C$31',
 'P559C$32',
 'P559C$33',
 'P559C$34',
 'P559C$35',
 'P559C$36',
 'P559C$37',
 'P559C$38',
 'P559C$39',
 'P559C$40',
 'P559C$41',
 'P559C$42',
 'P559C$43',
 'P559C$44',
 'P559C$45',
 'P559C$46',
 'P559C$47',
 'P559C$48',
 'P559C$49',
 'P559C$50',
 'P559D$01',
 'P559D$02',
 'P559D$03',
 'P559D$04',
 'P559D$05',
 'P559D$06',
 'P559D$07',
 'P559D$08',
 'P559D$09',
 'P559D$10',
 'P559D$11',
 'P559D$12',
 'P559D$13',
 'P559D$14',
 'P559D$15',
 'P559D$16',
 'P559D$17',
 'P559D$18',
 'P559D$19',
 'P559D$20',
 'P559D$21',
 'P559D$22',
 'P559D$23',
 'P559D$24',
 'P559D$25',
 'P559D$26',
 'P559D$27',
 'P559D$28',
 'P559D$29',
 'P559D$30',
 'P559D$31',
 'P559D$32',
 'P559D$33',
 'P559D$34',
 'P559D$35',
 'P559D$36',
 'P559D$37',
 'P559D$38',
 'P559D$39',
 'P559D$40',
 'P559D$41',
 'P559D$42',
 'P559D$43',
 'P559D$44',
 'P559D$45',
 'P559D$46',
 'P559D$47',
 'P559D$48',
 'P559D$49',
 'P559D$50',
 'P559E$01',
 'P559E$02',
 'P559E$03',
 'P559E$04',
 'P559E$05',
 'P559E$06',
 'P559E$07',
 'P559E$08',
 'P559E$09',
 'P559E$10',
 'P559E$11',
 'P559E$12',
 'P559E$13',
 'P559E$14',
 'P559E$15',
 'P559E$16',
 'P559E$17',
 'P559E$18',
 'P559E$19',
 'P559E$20',
 'P559E$21',
 'P559E$22',
 'P559E$23',
 'P559E$24',
 'P559E$25',
 'P559E$26',
 'P559E$27',
 'P559E$28',
 'P559E$29',
 'P559E$30',
 'P559E$31',
 'P559E$32',
 'P559E$33',
 'P559E$34',
 'P559E$35',
 'P559E$36',
 'P559E$37',
 'P559E$38',
 'P559E$39',
 'P559E$40',
 'P559E$41',
 'P559E$42',
 'P559E$43',
 'P559E$44',
 'P559E$45',
 'P559E$46',
 'P559E$47',
 'P559E$48',
 'P559E$49',
 'P559E$50',
 'P59F1$01',
 'P59F1$02',
 'P59F1$03',
 'P59F1$04',
 'P59F1$05',
 'P59F1$06',
 'P59F1$07',
 'P59F1$08',
 'P59F1$09',
 'P59F1$10',
 'P59F1$11',
 'P59F1$12',
 'P59F1$13',
 'P59F1$14',
 'P59F1$15',
 'P59F1$16',
 'P59F1$17',
 'P59F1$18',
 'P59F1$19',
 'P59F1$20',
 'P59F1$21',
 'P59F1$22',
 'P59F1$23',
 'P59F1$24',
 'P59F1$25',
 'P59F1$26',
 'P59F1$27',
 'P59F1$28',
 'P59F1$29',
 'P59F1$30',
 'P59F1$31',
 'P59F1$32',
 'P59F1$33',
 'P59F1$34',
 'P59F1$35',
 'P59F1$36',
 'P59F1$37',
 'P59F1$38',
 'P59F1$39',
 'P59F1$40',
 'P59F1$41',
 'P59F1$42',
 'P59F1$43',
 'P59F1$44',
 'P59F1$45',
 'P59F1$46',
 'P59F1$47',
 'P59F1$48',
 'P59F1$49',
 'P59F1$50',
 'P59F2$01',
 'P59F2$02',
 'P59F2$03',
 'P59F2$04',
 'P59F2$05',
 'P59F2$06',
 'P59F2$07',
 'P59F2$08',
 'P59F2$09',
 'P59F2$10',
 'P59F2$11',
 'P59F2$12',
 'P59F2$13',
 'P59F2$14',
 'P59F2$15',
 'P59F2$16',
 'P59F2$17',
 'P59F2$18',
 'P59F2$19',
 'P59F2$20',
 'P59F2$21',
 'P59F2$22',
 'P59F2$23',
 'P59F2$24',
 'P59F2$25',
 'P59F2$26',
 'P59F2$27',
 'P59F2$28',
 'P59F2$29',
 'P59F2$30',
 'P59F2$31',
 'P59F2$32',
 'P59F2$33',
 'P59F2$34',
 'P59F2$35',
 'P59F2$36',
 'P59F2$37',
 'P59F2$38',
 'P59F2$39',
 'P59F2$40',
 'P59F2$41',
 'P59F2$42',
 'P59F2$43',
 'P59F2$44',
 'P59F2$45',
 'P59F2$46',
 'P59F2$47',
 'P59F2$48',
 'P59F2$49',
 'P59F2$50',
 'P560T$01',
 'P560T$02',
 'P560T$03',
 'P560T$04',
 'P560T$05',
 'P560T$06',
 'P560T$07',
 'P560T$08',
 'P560T$09',
 'P560T$10',
 'P560A1$01',
 'P560A1$02',
 'P560A1$03',
 'P560A1$04',
 'P560A1$05',
 'P560A1$06',
 'P560A1$07',
 'P560A1$08',
 'P560A1$09',
 'P560A1$10',
 'P560A$01',
 'P560A$02',
 'P560A$03',
 'P560A$04',
 'P560A$05',
 'P560A$06',
 'P560A$07',
 'P560A$08',
 'P560A$09',
 'P560A$10',
 'P560C$01',
 'P560C$02',
 'P560C$03',
 'P560C$04',
 'P560C$05',
 'P560C$06',
 'P560C$07',
 'P560C$08',
 'P560C$09',
 'P560C$10',
 'P560D$01',
 'P560D$02',
 'P560D$03',
 'P560D$04',
 'P560D$05',
 'P560D$06',
 'P560D$07',
 'P560D$08',
 'P560D$09',
 'P560D$10',
 'P560E$01',
 'P560E$02',
 'P560E$03',
 'P560E$04',
 'P560E$05',
 'P560E$06',
 'P560E$07',
 'P560E$08',
 'P560E$09',
 'P560E$10',
 'P560F1$01',
 'P560F1$02',
 'P560F1$03',
 'P560F1$04',
 'P560F1$05',
 ...]

##### 3.3 Check the data types.

In [32]:
data2.dtypes

AŅO               int64
MES               int64
CONGLOME          int64
VIVIENDA          int64
HOGAR             int64
                 ...
OCUPINF          object
EMPLPSEC         object
FAC500A         float64
NCONGLOME         int64
SUB_CONGLOME      int64
Length: 1414, dtype: object

##### 3.4 Select a subsample containing the variables ['CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO'] and between 3–5 additional variables of your interest.

In [33]:
sub_data2 = data2[["CONGLOME", "VIVIENDA", "HOGAR", "CODPERSO", "P501", "P507", "P513T", "P521C"]]
# P501: La semana pasada, del ... al ..., ¿Tuvo Ud. algún trabajo?
# P507: Ud. se desempeño en su ocupación principal o negocio como:
# P513T: ¿Cuántas horas trabajó la semana pasada, en su ocupación principal, el día: Total
# P521C: ¿Desea ud. otro trabajo y ha hecho algo por cambiar su trabajo actual?

In [34]:
sub_data2

       CONGLOME  VIVIENDA  HOGAR  CODPERSO  P501 P507 P513T P521C
0          5030         2     11         1     1    4    28     2
1          5030         2     11         2     1    2    78     2
2          5030        11     11         1     1    2    84     2
3          5030        11     11         2     1    5    84
4          5030        11     11         3     1    2    12     2
...         ...       ...    ...       ...   ...  ...   ...   ...
86649     20670        67     11         2     1    5    36
86650     20670        68     11         1     1    1    45     2
86651     20670        69     11         1     1    2    40     2
86652     20670        69     11         2     1    5    45
86653     20670        69     11         3     1    4    32     2

[86654 rows x 8 columns]

##### 3.5 Perform the following modifications:

A. Change the data type of a variable (e.g., from text to numeric).

In [35]:
sub_data2.dtypes

CONGLOME     int64
VIVIENDA     int64
HOGAR        int64
CODPERSO     int64
P501         int64
P507        object
P513T       object
P521C       object
dtype: object

In [45]:
cols = ["P507", "P513T", "P521C"]
sub_data2.loc[:, cols] = sub_data2[cols].replace(" ", pd.NA)

In [47]:
print(sub_data2[cols].head())
print(sub_data2[cols].isna().sum())

   P507 P513T P521C
0  None  None  None
1  None  None  None
2  None  None  None
3  None  None  None
4  None  None  None
P507     86654
P513T    86654
P521C    86654
dtype: int64

In [59]:
sub_data2 = sub_data2.astype({"P507": "Int64", "P513T": "Int64", "P521C": "Int64"})

In [60]:
sub_data2.dtypes

CONGLOME    int64
VIVIENDA    int64
HOGAR       int64
CODPERSO    int64
P501        int64
P507        Int64
P513T       Int64
P521C       Int64
dtype: object

B. Modify some values in a specific column.

In [61]:
sub_data2.head(15)

    CONGLOME  VIVIENDA  HOGAR  CODPERSO  P501  P507  P513T  P521C
0       5030         2     11         1     1  <NA>   <NA>   <NA>
1       5030         2     11         2     1  <NA>   <NA>   <NA>
2       5030        11     11         1     1  <NA>   <NA>   <NA>
3       5030        11     11         2     1  <NA>   <NA>   <NA>
4       5030        11     11         3     1  <NA>   <NA>   <NA>
5       5030        37     11         1     1  <NA>   <NA>   <NA>
6       5030        37     11         2     2  <NA>   <NA>   <NA>
7       5030        45     11         1     2  <NA>   <NA>   <NA>
8       5030        45     11         2     1  <NA>   <NA>   <NA>
9       5030        56     11         1     2  <NA>   <NA>   <NA>
10      5030        60     11         1     1  <NA>   <NA>   <NA>
11      5030        60     11         2     2  <NA>   <NA>   <NA>
12      5030        60     11         3     1  <NA>   <NA>   <NA>
13      5030        60     11         4     1  <NA>   <NA>   <NA>
14      5138        25     11         1     1  <NA>   <NA>   <NA>

In [65]:
sub_data2["P507"] = sub_data2["P507"].fillna(0).astype("int64")

In [66]:
sub_data2.head(15)

    CONGLOME  VIVIENDA  HOGAR  CODPERSO  P501  P507  P513T  P521C
0       5030         2     11         1     1     0   <NA>   <NA>
1       5030         2     11         2     1     0   <NA>   <NA>
2       5030        11     11         1     1     0   <NA>   <NA>
3       5030        11     11         2     1     0   <NA>   <NA>
4       5030        11     11         3     1     0   <NA>   <NA>
5       5030        37     11         1     1     0   <NA>   <NA>
6       5030        37     11         2     2     0   <NA>   <NA>
7       5030        45     11         1     2     0   <NA>   <NA>
8       5030        45     11         2     1     0   <NA>   <NA>
9       5030        56     11         1     2     0   <NA>   <NA>
10      5030        60     11         1     1     0   <NA>   <NA>
11      5030        60     11         2     2     0   <NA>   <NA>
12      5030        60     11         3     1     0   <NA>   <NA>
13      5030        60     11         4     1     0   <NA>   <NA>
14      5138        25     11         1     1     0   <NA>   <NA>

#### 4. Merging Datasets:

##### 4.1 Identify the common columns between the two datasets

In [67]:
common_cols = sub_data.columns.intersection(sub_data2.columns)
print(common_cols)

Index(['CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO'], dtype='object')

##### 4.2 Verify whether the values match in both datasets. If not, correct the mismatched values to ensure a proper merge.

In [88]:
id_cols = ['CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO']

df1_aligned = sub_data.set_index(id_cols)
df2_aligned = sub_data2.set_index(id_cols)

# Filtrar solo las columnas comunes que no son ID
common_cols_no_id = [c for c in df1_aligned.columns if c in df2_aligned.columns]

df1_common = df1_aligned[common_cols_no_id].sort_index().sort_index(axis=1)
df2_common = df2_aligned[common_cols_no_id].sort_index().sort_index(axis=1)

# Reindexar ambos para que tengan exactamente las mismas filas y columnas
df1_common, df2_common = df1_aligned[common_cols_no_id].align(
    df2_aligned[common_cols_no_id],
    join="inner",   # solo las filas que están en ambos
    axis=0
)

# Ahora comparar
mismatches = df1_common != df2_common

print("Número de diferencias por columna:")
print(mismatches.sum())

Número de diferencias por columna:
Series([], dtype: float64)

##### 4.5 Perform the merge.

In [90]:
id_cols = ['CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO']

# Merge con sufijos para distinguir las columnas que se repiten
merged = sub_data.merge(
    sub_data2,
    on=id_cols,
    how="inner",              # usa "outer" si quieres todas las filas
    suffixes=("_df1", "_df2")
)

merged.shape

(86654, 12)

##### 4.6 Display the first 5 rows of the resulting DataFrame.

In [91]:
merged.head(5)

,CONGLOME,VIVIENDA,HOGAR,CODPERSO,P301A,P302,P313,P314A,P501,P507,P513T,P521C
0,5030,2,11,1,8,,,1,1,0,<NA>,<NA>
1,5030,2,11,2,10,,,1,1,0,<NA>,<NA>
2,5030,11,11,1,4,,,1,1,0,<NA>,<NA>
3,5030,11,11,2,5,,,1,1,0,<NA>,<NA>
4,5030,11,11,3,6,,,1,1,0,<NA>,<NA>

#### 5. In the resulting DataFrame:

##### 5.1 Group the data by a variable of your choice using groupby().

In [92]:
grouped = merged.groupby("CONGLOME").size().reset_index(name="count")

grouped.head(15)

    CONGLOME  count
0       5007      4
1       5027     15
2       5030     14
3       5039      7
4       5045     15
5       5061     14
6       5076     14
7       5089     14
8       5121     24
9       5135     18
10      5138     21
11      5184      9
12      5186     26
13      5190     18
14      5192     26

##### 5.2 Calculate a relevant statistical indicator, for example: the average income per category.

In [93]:
group_stats = merged.groupby("CONGLOME")["P301A"].agg(
    mean="mean",
    median="median",
    std="std",
    min="min",
    max="max"
).reset_index()

print(group_stats.head())

   CONGLOME      mean  median       std  min  max
0      5007  8.500000     9.0  1.914854    6   10
1      5027  7.200000     8.0  2.042408    3   10
2      5030  6.000000     6.0  2.480695    3   10
3      5039  7.857143     7.0  2.115701    5   10
4      5045  5.466667     6.0  2.099887    3   10