# 1 Assignment

It is totally prohibited to use any kind of loop. You can use stackoverflow. If you copy codes from previous answers, explain each step. No explanation is `0 points`.

## 1.1 Tuple

In [115]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple2 = ([7, 8], [9, 1], [10, 7])

1. Print the first item of the second item of tuple1 object

In [116]:
item_1=tuple1[1] #renaming the second item
print(item_1) #printing the second item
print(item_1[0]) #printing the first item of the second item

[10, 20, 30]
10

2. Print the last item of the tuple1 object

In [117]:
print(tuple1[-1])

(5, 15, 25)

3. Change the value "orange" for "pink grapefruit". Comment the output

In [118]:
print(tuple1[0])
tuple1[0] = "pink grapefruit"
# It is not possible. Tuple items are unchangeable. We cannot change items once the tupple has been created

Orange

TypeError: 'tuple' object does not support item assignment

4. Print the length of tuple1

In [119]:
len(tuple1) 
#Tuple1 has three elements.

3

5. Sum all the elements of tuple2 and describe your steps and explain each of them. Hint: Use map function.

In [120]:
#First convert the tuple to list. Then, we sum each element of the list using the map() function.
#The result we convert it into a list again, and finally we sum its individual elements using the sum() function.

res = sum(list(map(sum, list(tuple2))))
res

42

6. Generate a new tuple object named as tuple3 with the half values of tuple2. This tuple should be similar as tuple2, tuple of lists. Hint: Use map funciont.

In [121]:
tuple2

([7, 8], [9, 1], [10, 7])

In [122]:
#First, we create a first map function to iterate through every list element of the tuple. Then, inside the first map create
#another map to iterate for every element of the list and divide it by 2. 

tuple3 = tuple(map(lambda y: list(map(lambda x: x/2, y)), tuple2))
tuple3

([3.5, 4.0], [4.5, 0.5], [5.0, 3.5])

## 1.2 Lists

In [123]:
import numpy as np

In [124]:
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]

In [125]:
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']

In [126]:
p2_list = [ 2 , 3, 4, 5 ]

In [127]:
values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1 ]

In [128]:
# These two lists a
last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe", "", "", "", "", "", "f0873079@pucp.edu.pe", "", "", "", "", "", "", "", "", "", "", "flores.alexis@pucp.edu.pe", ]

1. Show the indices of the np.nan values in the f_list list. We want to see this output: The indices 0, 1, 4, 7 have np.nan values. Hint: Use print function and f-strings to insert the indices values.

In [129]:
# First, we transform the list to array and we use the library numpy. This because we want to use the function "where". 
# Finally, we create the condition and we print the indices. 
a = np.array(f_list)
b = np.where(a == 'nan')[0]  #We create a array with the indices where the element of "a" == nan. 
b

array([0, 1, 4, 7], dtype=int64)

In [130]:
print(f"The indices {b} have np.nan values")

The indices [0 1 4 7] have np.nan values

2. Replicate 4 times the values of the list p2_list. We expect an ouput like this: [ 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5]. Hint: Use multiplication function in listsand see the output.

In [131]:
#We multiplicate the list plus for 4. 
p2_list * 4

[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

3. Print the length of `f_list`. **Hint: Length function**<br><br>

In [132]:
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]
print( len( f_list ) )

8

4. Print `My teacher assistant is so boring.` using `text1` list. **Hint: Use the [`join` function](https://stackoverflow.com/questions/493819/why-is-it-string-joinlist-instead-of-list-joinstring)**<br><br>

In [133]:
#As you can see, we use the join function.
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']
part1= ' '.join(text1)
part1

'My teacher assistant is so boring.'

5. Print `My TA is so boring, but is very funny.` using `text1` list.**Hint: Use the `join` function, and `extend` method.**<br><br>

In [134]:
#As you can see, we use the join function and the extend method.
text2= [',', 'but', 'is', 'very', 'funny']
text1.extend(text2)
text3= ' '.join(text1)
text3

'My teacher assistant is so boring. , but is very funny'

6. Print <br>
`The max value of values1 is 86 and is located in the 0 index. ` <br>
`The min value of values1 is 0 and is located in the 7 index. ` <br> **Hint: Use the `f-string`, `min`, and `max` functions.**
<br>

In [135]:
values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1 ] 
menor = min(values1)

#min position
position_min= values1.index(min(values1))
print(f"The min value of values1 is {menor} and is located in the {position_min} index") 
      
#First, we obtain the minimum value of the list and its position, then we introduced it such as a string value in the
#sentence, which started with f-string.

The min value of values1 is 0 and is located in the 7 index

In [136]:
mayor = max(values1)

#min position
position_max= values1.index(max(values1))

print(f"The max value of values1 is {mayor} and is located in the {position_max} index") 


#First, we obtain the maximum value of the list and its position, then we introduced it such as a string value in the
#sentence, which started with f-string.

The max value of values1 is 86 and is located in the 0 index

7. Get two lists: `names` and `last_names` using `last_and_name` list. **Hint: Use `map` and `split`.**
<br>

8. Give only the last names of students who do not have email. Use the `emails` and `last_names` listt. **Hint: Use `map` and `split`.**
<br>

## 1.3 Strings


1. Drop the duplicated blank spaces in `str1`. Do not use the regular expresions. Do not use the code shown in class. Explain your steps.**Hint: Use `split` method and `join` function.**

2. Get the number of letters in the string .**Hint: Use `len`function.**

3. Get the number of blank spaces (all of them) in the string .**Hint: Use `len`function.**

4. Get the position of `@` in each string in the emails list. **Hint: Use `map`function and `find` method.**

5. Identifies if exists `.edu.`  in each string in the `emails` list. Get a list of Booleans. **Hint: Use `map`function and `find` method.**

6. Get all the strings before the first dot `.`in each string in the `emails` list. Identifies how many of them has `@`. **Hint: Use `map`function and `find` method.**

In [137]:
str1 = 'I am                            too                                                        old'

In [138]:
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

1. Drop the duplicated blank spaces in `str1`. Do not use the regular expresions. Do not use the code shown in class. Explain your steps.**Hint: Use `split` method and `join` function.**

In [139]:
#1
# First step
# Create an auxiliar object to store the split str1
aux_obj = str1.split("                            ")
# Create a connector string
joined_0 = ' '
# Create the final string by applying the join method over the connector string, and the auxiliar object, as the latter
# will be connected by such connector string
joined_0 = joined_0.join(aux_obj)

# Second step
# Repeat the same process as above to totally remove the left duplicated space, which lies befoe "old"
aux_obj_1 = joined_0.split("  ")

joined_str1 = " "

joined_str1 = joined_str1.join(aux_obj_1)

print(f"El string resultante es el siguiente: {joined_str1}")

El string resultante es el siguiente: I am too old

2. Get the number of letters in the string .**Hint: Use `len`function.**

In [140]:
#2
# First form (with loop):
# Create a numerical variable to contain the length of each word
b = 0
# Create a loop to iterate over each word in the string, but first split the string, disposing of spaces with the split method
for a in joined_str1.split(" "):
    # Add the length of each word, accumulating the sums in the variable b
    b += len(a)
# Print a message with the result, which is contained in b
print(f"La cantidad de caracteres del objeto joined_str1 es {b}")

## OR Second form (without loop; with map and lambda):
aux_obj = list(map(lambda a: b == b + len(a), joined_str1.split(" ")))
'''
Structure of the map funtion with lambda:
aux_obj = list(map(<function>, <iterable>))
aux_obj = list(map(<specifically, a lambda function>, <iterable>))
aux_obj = list(map(lambda iterator: <expression in which the iterator is used>, <iterable>))

This is equivalent to:

for iterator in <iterable>:
    <expression in which the iterator is used>
'''
# Print a message with the result, which is contained in b 
print(f"La cantidad de letras del objeto joined_str1 es {b}")

La cantidad de caracteres del objeto joined_str1 es 9
La cantidad de letras del objeto joined_str1 es 9

3. Get the number of blank spaces (all of them) in the string .**Hint: Use `len`function.**

In [145]:
## With map and lambda:
aux_obj = list(map(lambda a: blank_spaces == blank_spaces + 1 if(a.isspace()) else blank_spaces == blank_spaces, joined_str1))
'''
Structure of the map funtion with lambda:
aux_obj = list(map(<function>, <iterable>))
aux_obj = list(map(<specifically, a lambda function>, <iterable>))
aux_obj = list(map(lambda iterator: <expression in which the iterator is used>, <iterable>))

This is equivalent to:

for iterator in <iterable>:
    <expression in which the iterator is used>
'''
# Print a message with the result, which is contained in blank_spaces
print(f"The number of blank spaces is: {blank_spaces}")

The number of blank spaces is: 3

4. Get the position of `@` in each string in the emails list. **Hint: Use `map`function and `find` method.**

In [146]:
# First, we create a function that will return the position of the @ symbol in each particular email
def find_arroba(email):
    return email.find("@")

# Then, we create a list with the results of the function applied to each email, using the map function, which
#will iterate over the list of emails and apply the upper function to each one of them
result = list(map(find_arroba, emails))
print(result)

[9, 11, 14, 9, 12, 8, 14, 9, 8, 16, 12, 13, 6, 9, 10, 12, 8, 11, 14, 6, 11, 7, 15, 9, 12, 8, 9, 11, 13, 6, 9, 12, 11, 16, 11]

5. Identifies if exists `.edu.`  in each string in the `emails` list. Get a list of Booleans. **Hint: Use `map`function and `find` method.**

In [147]:
# First, we create a function that will return True if a particular email contains the .edu. extension, and False if it doesn't
#Note: the find method returns -1 if the substring is not found
def find_edu(email):
    if email.find(".edu.") != -1:
        return True
    else:
        return False
  
# Then, we create a list with the results of the function applied to each email, using the map function, which
#will retrieve a list of booleans (True or False) as a result
result = map(find_edu, emails)
print(list(result))

[True, True, True, False, False, True, True, False, False, False, False, False, True, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, False]

6. Get all the strings before the first dot `.`in each string in the `emails` list. Identifies how many of them has `@`. **Hint: Use `map`function and `find` method.**

In [148]:
# First, we create a function that will return the string before the first dot in each particular email
def beforeDot_isArroba(email):
    # We create a variable that will contain the substring before the first dot
    aux_obj = email.split(".")[0]
    # If such first substring contains the @ symbol, we return "Sí", and if it doesn't, we return "No"
    if aux_obj.find("@") != -1:
        return "Sí"
    else:
        return "No"

result = map(beforeDot_isArroba, emails)
print(list(result))

['Sí', 'No', 'No', 'Sí', 'No', 'Sí', 'No', 'Sí', 'Sí', 'No', 'No', 'No', 'No', 'Sí', 'No', 'No', 'Sí', 'No', 'No', 'Sí', 'No', 'No', 'No', 'Sí', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'No', 'Sí']