# 1 Assignment

It is totally prohibited to use any kind of loop. You can use stackoverflow. If you copy codes from previous answers, explain each step. No explanation is `0 points`.

## 1.1 Tuple



1. Print the first item of the second item of `tuple1` object. **Hint: Use indexing**<br><br>
2. Print the last item of the `tuple1` object.**Hint: Use indexing**<br><br>
3. Change the value "orange" for "pink grapefruit". Comment the output. **Hint: Is it possible?** <br><br>
4. Print the length of `tuple1`. **Hint: Length function**<br><br>
5. Sum all the elements of tuple2 and describe your steps and explain each of them. **Hint: Use `map` function.**<br><br>
6. Generate a new tuple object named as `tuple3` with the half values of `tuple2`. This tuple should be similar as `tuple2`, tuple of lists.  **Hint: Use `map` funciont.**<br><br>

In [1]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple2 = ([7, 8], [9, 1], [10, 7])

### Answers

##### Answer 1:
We use the first bracket [1] to identify the position of the tuple object. That means that we are selecting [10, 20, 30]. The second bracket [0] indentify the position inside the bracket chosen at the first moment. That is the first item of the bracket [10, 20, 30]. <br>

In [2]:
print(tuple1[1][0])

10

##### Answer 2:
In this case, we use the negative value in order to identify the last item of the list.

In [3]:
print(tuple1[-1])

(5, 15, 25)

##### Answer 3:
It is not possible to change any value of a tuple because the tuples are unchangeable and inmutable.

In [4]:
tuple1[0] = "pink grapefruit"

TypeError: 'tuple' object does not support item assignment

##### Answer 4:
We use the funtion `len` in order to know the length of the tuple.

In [5]:
print(len(tuple1))

3

##### Answer 5:
First, we rearrange the tuple values into a vector of second order using the function `zip`. Then, using the function `map` we add the values of the  vectores. <br>

In [6]:
[*map(sum,zip(tuple2[0],tuple2[1],tuple2[2]))]

[26, 16]

##### Answer 6:
We define two functions. The first one divides a value by two. The second one divides the values of a vector by two. The appropriate si the second one. So, we create a tuple3 using `map` and the second function.

In [7]:
def div2(x):
    return x/2
def div2ar(x):
    return [*map(div2,x)]

In [8]:
tuple3 = tuple([*map(div2ar, tuple2)])
tuple3

([3.5, 4.0], [4.5, 0.5], [5.0, 3.5])

## 1.2 Lists
1. Show the indices of the `np.nan` values  in the `f_list` list. We want to see this output: `The indices 0, 1, 4, 7 have np.nan values.` **Hint: Use print function and [f-strings](https://realpython.com/python-f-strings/) to insert the indices values.**<br><br>

2. Replicate 4 times the values of the list `p2_list`. We expect an ouput like this: `[ 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5]`.  **Hint: Use multiplication function in `lists`and see the output.**<br><br>
3. Print the length of `f_list`. **Hint: Length function**<br><br>
4. Print `My teacher assistant is so boring.` using `text1` list. **Hint: Use the [`join` function](https://stackoverflow.com/questions/493819/why-is-it-string-joinlist-instead-of-list-joinstring)**<br><br>
5. Print `My TA is so boring, but is very funny.` using `text1` list.**Hint: Use the `join` function, and `extend` method.**<br><br>
6. Print <br>
`The max value of values1 is 86 and is located in the 0 index. ` <br>
`The min value of values1 is 0 and is located in the 7 index. ` <br> **Hint: Use the `f-string`, `min`, and `max` functions.**
<br>
7. Get two lists: `names` and `last_names` using `last_and_name` list. **Hint: Use `map` and `split`.**
<br>
8. Give only the last names of students who do not have email. Use the `emails` and `last_names` listt. **Hint: Use `map` and `split`.**
<br>

In [9]:
import numpy as np

In [10]:
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]

In [11]:
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']

In [12]:
p2_list = [ 2 , 3, 4, 5 ]

In [13]:
values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1 ]

In [14]:
# These two lists a
last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe", "", "", "", "", "", "f0873079@pucp.edu.pe", "", "", "", "", "", "", "", "", "", "", "flores.alexis@pucp.edu.pe", ]

### Answers

##### Answer 1:
Transform the list `f_list` into an `array` with `string` type elements. Then identify with the `np.where` function the position of the elements of this `array` that are identical to the `string` version of the `np.nan` values. This gives a tuple of three elements. Maintain only the first element of this tuple: an `array` with the desired indexes. This `array` is then turned into a list and stored as the `indices` element.
The `indices` element is used inside the `f-string` to generate the desired output. To do this, the entire list is first converted into a `string` and the first and last elements (the square brackets) are ignored.

In [15]:
indices = np.where(np.array(f_list) == str(np.nan))[0].tolist()

In [16]:
F"The indices {str(indices)[1:-1]} have np.nan values"

'The indices 0, 1, 4, 7 have np.nan values'

##### Answer 2:
Multiplying a list by 4. This is equivalent to adding three times the list using the addition operator.

In [17]:
p2_list*4

[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

##### Answer 3:
Use the `len` function to obtain the number of elements in the list.

In [18]:
print(len(f_list))

8

##### Answer 4:
Use the `join` function to join all the elements of the list into a single string. Each element will be joined to the previous one with spaces (`" "`).

In [19]:
print(" ".join(text1))

My teacher assistant is so boring.

##### Answer 5:
Generate a copy of the `text1` list with the name `text1_2`. The second element of this new list will be edited, replacing it with "TA". The last element will be replaced by a version of it with a comma instead of a period, and the third element will be deleted. Then, new elements with the missing words will be added to the resulting list using the `extend` method. <br>
As in the previous question, we proceed to join all the elements of the list using the `join` function and using spaces to separate them.

In [20]:
text1_2 = text1.copy()
text1_2[1] = "TA"
text1_2[-1] = "boring,"
text1_2.remove("assistant")
text1_2.extend(["but", "is", "very", "funny."])

In [21]:
print(" ".join(text1_2))

My TA is so boring, but is very funny.

##### Answer 6:
Using `f-strings` for adding values to the two requested sentences. In the first position the maximum/minimum value is placed using the `max`/`min` function. In the second position, the index corresponding to the value of the previous position is placed, using the `index` method.

In [22]:
print(f"The max value of values1 is {max(values1)} and is located in the {values1.index(max(values1))} index.")
print(f"The min value of values1 is {min(values1)} and is located in the {values1.index(min(values1))} index.")

The max value of values1 is 86 and is located in the 0 index.
The min value of values1 is 0 and is located in the 7 index.

##### Answer 7:
Using the `map` function we set up a lambda function to apply the `split` method to each element of the given list. This function will split each element by `","` and the position of the element to be retained will be assigned. <br>
To create the `names` list, the second element resulting from the split is selected, whereas for the `last_names` list the first element is selected.

In [23]:
names = [*map(lambda x: x.split(", ")[1], last_and_name)]
print(names)

['CHRISTIAN SANTOS', 'CRISTIAN NASSER', 'ANGELICA KARINA', 'JOSE ROBERTO', 'ABEL FERNANDO', 'MEIR ALVARO', 'JOSELIN ALEXANDRA', 'LEONEL ARTURO', 'JOSE FELIPE', 'AFRANIA', 'BIANCA MARIETTE', 'ADRIAN ANDRE', 'DORKAS YOMIRA JHERMY', 'LADY ALY', 'HECTOR ANDRE', 'GUSTAVO', 'PERSEO MARCELO', 'MIGUEL ALONZO', 'NICOLAS', 'ROCIO GABRIELA', 'JANE CAMILA', 'MARIA ELISA', 'ALEJANDRO', 'KARLINE ROSMELI', 'STEPHY ROSARIO', 'VALERIA CECILIA', 'SEBASTIAN RENATO', 'JUAN CARLOS', 'MARIANA', 'ANDREA BRIZETH', 'ERICK JOSUE', 'JOSUE DANIEL', 'FABIO MANUEL', 'FERNANDA NICOLLE', 'ANGELA ADELINA', 'CESAR DANTE', 'GABRIELA ISABEL', 'ANGEL MAURICIO', 'JUAN DIEGO', 'ARONE', 'PERCY ALBERTH', 'KEVIN ARTURO', 'CESAR ERNESTO', 'CÉSAR AGUSTO', 'DIANA EDITH', 'RODRIGO FRANCO', 'GRETTEL ALEXANDRA', 'ROSA ANGELA', 'DANTE OMAR', 'YAJAIRA ALEXANDRA', 'JORGE ALBERTO', 'ALEXIS']

In [24]:
last_names = [*map(lambda x: x.split(", ")[0], last_and_name)]
print(last_names)

['CORNEJO SANCHEZ', 'ORELLANA QUISPE', 'MORALES CHOQUEHUANCA', 'GUIMARAY RIBEYRO', 'CAMACHO GAVIDIA', 'TINTAYA ORIHUELA', 'CHAVEZ MARTINEZ', 'FIGUEROA MURO', 'GOMEZ CRIBILLERO', 'PALOMINO SEGUÍN', 'LUZON CUEVA', 'SUAÑA ZEGARRA', 'SOTO POMACHAGUA', 'FIORENTINO MARTINEZ', 'LAMA MAVILA', 'MEZA HINOJO', 'LOZADA MURILLO', 'ZAMBRANO JIMENEZ', 'JACOBS LUQUE', 'VIDAL VIDAL', 'TORRES ANICAMA', 'LOPEZ ESTRADA', 'BOYCO ORAMS', 'DIAZ BERROSPI', 'RIEGA ESCALANTE', 'LEVANO TORRES', 'ESQUIVES BRAVO', 'PEREZ GONZALES', 'OTERO MAGUIÑA', 'CLAVO CAMPOS', 'AGUILAR GARCIA', 'CALDAS VELASQUEZ', 'SALAS NUÑEZ BORJA', 'PIZARRO VILLANES', 'QUILLATUPA MORALES', 'HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'HINOJOSA CAHUANA', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ', 'FLORES CADILLO']

##### Answer 8:
Since each element of the `last_and_names` list has its pair in the `emails` list, the first thing to do is identifying the indexes of the elements in the `emails` list that contain empty `strings`. To do this, the `np.array` and `np.where` functions are used as in question 1, selecting the first element of the tuple and turning it into a list. <br>
Then, using the `map` function and the `__getitem__` method, the elements of the `last_names` list (created in the previous question) are selected to obtain only the last names of the people that do not have email.

In [25]:
print([*map(last_names.__getitem__, list(np.where(np.array(emails)=="")[0]))])

['HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ']

## 1.3 Strings


1. Drop the duplicated blank spaces in `str1`. Do not use the regular expresions. Do not use the code shown in class. Explain your steps.**Hint: Use `split` method and `join` function.**

2. Get the number of letters in the string .**Hint: Use `len`function.**

3. Get the number of blank spaces (all of them) in the string .**Hint: Use `len`function.**

4. Get the position of `@` in each string in the emails list. **Hint: Use `map`function and `find` method.**

5. Identifies if exists `.edu.`  in each string in the `emails` list. Get a list of Booleans. **Hint: Use `map`function and `find` method.**

6. Get all the strings before the first dot `.`in each string in the `emails` list. Identifies how many of them has `@`. **Hint: Use `map`function and `find` method.**

In [26]:
str1 = 'I am                            too                                                        old'

In [27]:
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

### Answers

##### Answer 1:
If non separator is selected, the `split` method separate the words in a `string` ignoring the spaces and other special characters. Once we get a list containing only the words in the `string` `str1`, we use de `join` function selecting as separator a blank space (`" "`) to obtain the desired output.

In [28]:
print(" ".join(str1.split()))

I am too old

##### Answer 2:
The above process using the `split` method is applied to obtain only the words in `str1`. Now, we perform an union using the `join` function, but selecting a blank element (`""`) as the separator. That results in a chain compound entirely by letters. Finally, using the `len` function, we count the total characters of the latter `string`.

In [29]:
len("".join(str1.split()))

9

##### Answer 3:
We count the total characters (blank spaces and letters) in the `string` `str1`. Then, subtract the total characters that are only letters (as we obtained in the answer above).

In [30]:
len(str1)-len("".join(str1.split()))

85

##### Answer 4:
Through the `map` function and the `lambda` function that finds the position of `@` character using the `find` method, we obtain a list with the selected character positions for each element in the `emails` list.

In [31]:
print([*map(lambda x: x.find("@"),emails)])

[9, 11, 14, 9, 12, 8, 14, 9, 8, 16, 12, 13, 6, 9, 10, 12, 8, 11, 14, 6, 11, 7, 15, 9, 12, 8, 9, 11, 13, 6, 9, 12, 11, 16, 11]

##### Answer 5:
We define a function with two parameters: `x` for the element that the function is going to be applied and `s` for the `string` that we want to look for. The function called as `exist_str` is going to perform the following process: it is going to search the `string` `s` in the element `x` using the `find` method, then if the resulting value is different than `-1`, the output will be `True`, else, the output will be `False`. This works since `find` returns `-1` when does not find the `string` in the element. <br>
After that, using `map` and the lambda function, we applied `exist_str`, the recently created function, to each one of the elements in the `emails` list to obtain as result a booleans vector.

In [32]:
def exist_str(x,s):
    if x.find(s) != -1:
        op = True
    else:
        op = False
    return op

In [33]:
print([*map(lambda x: exist_str(x,"edu"),emails)])

[True, True, True, False, False, True, True, False, False, False, False, False, True, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, False]

##### Answer 6:
We create a list named `half_emails` that contains the complete `string` previous to the first dot of each email in the `emails` list. For this, we locate the position of the first point inside each `string` using the `find` method. Then, using indexing we select each `string` from the beginning to the value before the one indicated in the previous search. This process is applied to each element of the list through the `map` function and the creation of a lambda function. <br>
Later, we apply the `exist_str` function (created in the answer above) to each element in the `half_emails` list, resulting in a list of booleans that indicates if each element contains an `@`. Finally, we add all the elemnts in the list using the `sum` function to obtain the total number of `strings` that have an `@` before its first dot.

In [34]:
half_emails = [*map(lambda x: x[0:x.find(".")], emails)]

In [35]:
sum([*map(lambda x: exist_str(x,"@"), half_emails)])

14