# 1 Assignment

It is totally prohibited to use any kind of loop. You can use stackoverflow. If you copy codes from previous answers, explain each step. No explanation is `0 points`.

In [14]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple2 = ([7, 8], [9, 1], [10, 7])

## 1.1 Tuple

1. Print the first item of the second item of `tuple1` object. **Hint: Use indexing**

In [2]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
print (tuple1)
tuple1_1=tuple1[1] #imprime el segundo item de tuple1
tuple1_1[0] #imprime el primer item del  segundo item de tuple1

('Orange', [10, 20, 30], (5, 15, 25))

10

2. Print the last item of the `tuple1` object.**Hint: Use indexing**

In [3]:
tuple1[-1] # Accedí al último ítem de la tupla con un índice negativo

(5, 15, 25)

3. Change the value "orange" for "pink grapefruit". Comment the output. **Hint: Is it possible?**

In [4]:
# No, no es posible porque una tupla es inmutable, no se puede cambiar el tamaño 
tuple1[0] = "pink grapefruit"

TypeError: 'tuple' object does not support item assignment

4. Print the length of `tuple1`. **Hint: Length function**

In [3]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
len(tuple1) #Devuelve longitud tuple1

3

5. Sum all the elements of tuple2 and describe your steps and explain each of them. **Hint: Use `map` function.**

In [9]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple2 = ([7, 8], [9, 1], [10, 7])

In [10]:
from functools import reduce
result = map(sum, tuple2)
Sum = sum(result)
Sum

42

6. Generate a new tuple object named as `tuple3` with the half values of `tuple2`. This tuple should be similar as `tuple2`, tuple of lists.  **Hint: Use `map` funciont.**

In [11]:
# solucion 6 tupla
#definimos la funcion que nos permita obtener la mitad
def half(number):
    return number/2

#usamos la funcion map para aplicar la funcion half a todos los elementos de la lista y agrupamos en la tupla3
tuple3 = (list(map(half,tuple2[0])), list(map(half,tuple2[1])), list(map(half,tuple2[2])))
tuple3

([3.5, 4.0], [4.5, 0.5], [5.0, 3.5])

## 1.2 Lists

In [15]:
import numpy as np
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']
p2_list = [ 2 , 3, 4, 5 ]
values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1 ] 
last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe", "", "", "", "", "", "f0873079@pucp.edu.pe", "", "", "", "", "", "", "", "", "", "", "flores.alexis@pucp.edu.pe", ]

1. Show the indices of the `np.nan` values  in the `f_list` list. We want to see this output: `The indices 0, 1, 4, 7 have np.nan values.` **Hint: Use print function and [f-strings](https://realpython.com/python-f-strings/) to insert the indices values.**

In [7]:
def clear_non_nans(x):
  idx, val = x
  if type(val) == str:
    return False
  else:
    return np.isnan(val)
  return False

res = list(map(lambda x: str(x[0]), filter(clear_non_nans, enumerate(f_list))))
f'The indices {", ".join(res)} have np.nan values.'

# Primero uso la función filter, donde he escrito la función, 
# la cual se encarga de retornar un valor verdadero o falso si es que encuentra un np.nan
# Una vez adquirida la lista de np.nan con su índice respectivo, se aplica un map donde el lambda
# solo retorna el primer valor (o sea el índice).
# Finalmente recibo una nueva lista con los índices convertidos en string de los np.nan.

'The indices 0, 1, 4, 7 have np.nan values.'

2. Replicate 4 times the values of the list `p2_list`. We expect an ouput like this: `[ 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5]`.  **Hint: Use multiplication function in `lists`and see the output.**

In [ ]:
p2_list=[ 2, 3, 4, 5 ]
p2_list_1=p2_list*4 # repite 4 veces los elementos de la lista p2-list, conservando el orden inicial.
print (p2_list_1)

3. Print the length of `f_list`. **Hint: Length function**

In [6]:
import numpy as np #se define como numérico a np
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]
len(f_list) #devuelve el número de términos de f_list

8

In [12]:
import numpy as np

In [13]:
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]

In [9]:
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']

In [15]:
p2_list = [ 2 , 3, 4, 5 ]

In [16]:
values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1 ]

In [34]:
# These two lists a
last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe", "", "", "", "", "", "f0873079@pucp.edu.pe", "", "", "", "", "", "", "", "", "", "", "flores.alexis@pucp.edu.pe", ]

4. Print `My teacher assistant is so boring.` using `text1` list. **Hint: Use the [`join` function](https://stackoverflow.com/questions/493819/why-is-it-string-joinlist-instead-of-list-joinstring)**

In [10]:
' '.join(text1) # Usé la función join para unir la lista con un espacio.

'My teacher assistant is so boring.'

5. Print `My TA is so boring, but is very funny.` using `text1` list.**Hint: Use the `join` function, and `extend` method.**

In [18]:
x = list(text1)
x[1] = "TA"
x.remove("assistant")
x[4] = "boring,"
y = ["but","is","very","funny."]
x.extend(y)
print(" ".join(x))

My TA is so boring, but is very funny.

6. Print <br>
`The max value of values1 is 86 and is located in the 0 index. ` <br>
`The min value of values1 is 0 and is located in the 7 index. ` <br> **Hint: Use the `f-string`, `min`, and `max` functions.**
<br>

In [19]:
print(f'The max value of values1 is {max(values1)} and is located in the {values1.index(max(values1))} index.')
print(f'The min value of values1 is {min(values1)} and is located in the {values1.index(min(values1))} index.')

The max value of values1 is 86 and is located in the 0 index.
The min value of values1 is 0 and is located in the 7 index.

7. Get two lists: `names` and `last_names` using `last_and_name` list. **Hint: Use `map` and `split`.**

In [28]:
#solucion 7 list
#se define una funcion, esta divide las cadenas de textos(nombres y apellidos) por medio de un coma y un espacio
# luego obtiene la cadena de posicion 1 (nombres )
def div_str1(nombres):
    return nombres.split(', ')[1]

# funcion map ejecuta la funcion div_str a cada elemento de la lista last_and_name
# y se agrupan mediante la funcion list    
names=list(map(div_str1, last_and_name))
names   

#de igual forma para los apellidos
def div_str2(apellidos):
    return apellidos.split(', ')[0]

# funcion map ejecuta la funcion div_str a cada elemento de la lista last_and_name
# y se agrupan mediante la funcion list    
last_names=list(map(div_str2, last_and_name))
last_names

['CORNEJO SANCHEZ',
 'ORELLANA QUISPE',
 'MORALES CHOQUEHUANCA',
 'GUIMARAY RIBEYRO',
 'CAMACHO GAVIDIA',
 'TINTAYA ORIHUELA',
 'CHAVEZ MARTINEZ',
 'FIGUEROA MURO',
 'GOMEZ CRIBILLERO',
 'PALOMINO SEGUÍN',
 'LUZON CUEVA',
 'SUAÑA ZEGARRA',
 'SOTO POMACHAGUA',
 'FIORENTINO MARTINEZ',
 'LAMA MAVILA',
 'MEZA HINOJO',
 'LOZADA MURILLO',
 'ZAMBRANO JIMENEZ',
 'JACOBS LUQUE',
 'VIDAL VIDAL',
 'TORRES ANICAMA',
 'LOPEZ ESTRADA',
 'BOYCO ORAMS',
 'DIAZ BERROSPI',
 'RIEGA ESCALANTE',
 'LEVANO TORRES',
 'ESQUIVES BRAVO',
 'PEREZ GONZALES',
 'OTERO MAGUIÑA',
 'CLAVO CAMPOS',
 'AGUILAR GARCIA',
 'CALDAS VELASQUEZ',
 'SALAS NUÑEZ BORJA',
 'PIZARRO VILLANES',
 'QUILLATUPA MORALES',
 'HUANCAYA IDONE',
 'CALVO PORTOCARRERO',
 'IBAÑEZ ABANTO',
 'MELÉNDEZ APONTE',
 'CRISTIAN SERRANO',
 'HINOJOSA CAHUANA',
 'ANGLAS GARCÍA',
 'ALDAVE ACOSTA',
 'NÚÑEZ HUAMÁN',
 'OBREGON HUAMAN',
 'SOTO PACHERRES',
 'INGARUCA RIVERA',
 'ROJAS HUAMAN',
 'NEYRA SALAS',
 'HUERTA ESPINOZA',
 'HUANCA MARTINEZ',
 'FLORES CADILLO']

8. Give only the last names of students who do not have email. Use the `emails` and `last_names` listt. **Hint: Use `map` and `split`.**

In [35]:
#Agrupamos los apellidos  correo electrónico con zip creando email_G
email_g = zip(last_and_name, emails)

#identificamos los elementos que no tienen correo dentro de email_g con lambda, filtrando los elementos que cumplen con la condición planteada 
f_p = filter(lambda x: x[1] == "", email_g)

#Dentro de last_names separamos los elementos anteriores a la "," creando la lista de apellidos sin email
last_names_wo_em = map(lambda x: x[0].split(",")[0], f_p)

print(list(last_names_wo_em))

['HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ']

## 1.3 Strings

In [12]:
str1 = 'I am                            too                                                        old'

In [12]:
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

1. Drop the duplicated blank spaces in `str1`. Do not use the regular expresions. Do not use the code shown in class. Explain your steps.**Hint: Use `split` method and `join` function.**

In [30]:
# solucion 1 strings
#por medio del metodo split quitamos todos los espacios en blanco
str1_1 = str1.split()
#luego por metodo join unimos los elementos de lista añadiendo un espacio en blanco
str1_2 =" ".join(str1_1)
str1_2

'I am too old'

2. Get the number of letters in the string .**Hint: Use `len`function.**

In [31]:
#solucion 2 strings
#definimos una funcion para contar letras
def contar(letters):
    return len(letters)
# mediante la funcion aplicamos la funcion contar a cada elemento de la lista str1_1
#luego sumamos los resultados de funcion contar que se han enlistado
num_let =sum(list(map(contar,str1_1)))
num_let

9

3. Get the number of blank spaces (all of them) in the string. **Hint: Use `len`function.**

In [15]:
print("Son",str1.count(' '),"los espacios en blanco")

Son 85 los espacios en blanco

4. Get the position of `@` in each string in the emails list. **Hint: Use `map`function and `find` method.**

In [84]:
result = map(lambda x: x.find('@'), emails)
list(result)

[9,
 11,
 14,
 9,
 12,
 8,
 14,
 9,
 8,
 16,
 12,
 13,
 6,
 9,
 10,
 12,
 8,
 11,
 14,
 6,
 11,
 7,
 15,
 9,
 12,
 8,
 9,
 11,
 13,
 6,
 9,
 12,
 11,
 16,
 11]

5. Identifies if exists `.edu.` in each string in the `emails` list. Get a list of Booleans. **Hint: Use `map` function and `find` method.**

In [13]:
def find_edu(email):
    if email.find('.edu.') != -1:
        return True
    else:
        return False

list(map(find_edu, emails)) 
# Usé la función map, la cual aplicó mi función find_edu en cada ítem de la lista,
# la función internamente utiliza la función de python "find", que retorna -1 si es que no encuentra ".edu.".
# Finalmente si se encontró ".edu." dentro del correo la función find_edu retorna TRUE, y en caso contrario FALSE.

[True,
 True,
 True,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False]

6. Get all the strings before the first dot `.`in each string in the `emails` list. Identifies how many of them has `@`. **Hint: Use `map`function and `find` method.**

In [4]:

str136 = list(map(lambda i: str(i[:i.find('.')]), emails))
print("la lista de cadena antes del primer punto es:", str136)

#Lista de string antes del punto

# Map y count para identificar cuantos @ hay .
str136 = list(map(lambda i: i.count("@"), str136)) 
print("Son",str136.count(1),"los @ contados")

la lista de cadena antes del primer punto es: ['cscornejo@pucp', 'orellana', 'karina', 'a20083223@pucp', 'abel', 'mtintaya@pucp', 'joselin', 'a20105737@pucp', 'jfgomezc@pucp', 'afrania', 'luzon', 'adrian', 'soto', 'a20132766@pucp', 'andre', 'gustavo', 'pmlozada@pucp', 'm', 'nicolas', 'gvidal@pucp', 'jane', 'm', 'alejandro', 'a20167070@pucp', 'riega', 'vlevanot@pucp', 'sesquives@pucp', 'perez', 'mariana', 'aclavo@pucp', 'a20182474@pucp', 'josue', 'fabio', 'fernanda', 'aquillatupa@pucp']
son 14 los @ contados