## Group 7

Members:


*   Fabio Manuel Salas Núñez Borja - 20185062
*   Erick Josue Aguilar Garcia- 20182474
*   Fernanda Nicolle Pizarro Villanes - 20191460
*   Angela Adelina Quillatupa Morales - 20193853
*   Josué Daniel Caldas Velásquez - 20182814

# 1 Assignment

It is totally prohibited to use any kind of loop. You can use stackoverflow. If you copy codes from previous answers, explain each step. No explanation is `0 points`.

## 1.1 Tuple



1. Print the first item of the second item of `tuple1` object. **Hint: Use indexing**<br><br>
2. Print the last item of the `tuple1` object.**Hint: Use indexing**<br><br>
3. Change the value "orange" for "pink grapefruit". Comment the output. **Hint: Is it possible?** <br><br>
4. Print the length of `tuple1`. **Hint: Length function**<br><br>
5. Sum all the elements of tuple2 and describe your steps and explain each of them. **Hint: Use `map` function.**<br><br>
6. Generate a new tuple object named as `tuple3` with the half values of `tuple2`. This tuple should be similar as `tuple2`, tuple of lists.  **Hint: Use `map` funciont.**<br><br>

In [ ]:

tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple2 = ([7, 8], [9, 1], [10, 7])

##### SOLUTIONS

##### 1.

In [ ]:
# 1
print(tuple1[0])

Orange

##### 2.

In [ ]:
# 2
print(tuple1[2])

(5, 15, 25)

###### 3.

No es posible el cambio de orange" for "pink grapefruit" ya que a comparación de las listas, los tuples son inmutables es decir no es posible alguna modificación.

##### 4.

In [ ]:
# 4
print(len(tuple1))

3

##### 5.

In [ ]:
#5
lista2 = list(tuple2) #se crea una lista para que pueda ser modificada
sum(list(map(sum, lista2))) # a dicha lista se agrega la función map para que se convierta en objeto y luego se pueda sumar todo.

42

##### 6.

In [ ]:
#6
list0 = [] #se crea una lista vacia
for i in tuple2[0]: #luego, nos centramos en el primer elemento de tuple 2
  list0.append(i/2) #lo extendemos para que sea la mitad de cada elemento 
list1 = []         
for i in tuple2[1]:
  list1.append(i/2)
list2 = []
for i in tuple2[2]:
  list2.append(i/2)

In [ ]:
tuple3 = tuple([list0, list1, list2]) #generamos un tuple para unir cada una de las li
tuple3

([3.5, 4.0], [4.5, 0.5], [5.0, 3.5])

### 1.2 Lists
1. Show the indices of the `np.nan` values  in the `f_list` list. We want to see this output: `The indices 0, 1, 4, 7 have np.nan values.` **Hint: Use print function and [f-strings](https://realpython.com/python-f-strings/) to insert the indices values.**<br><br>

2. Replicate 4 times the values of the list `p2_list`. We expect an ouput like this: `[ 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5]`.  **Hint: Use multiplication function in `lists`and see the output.**<br><br>
3. Print the length of `f_list`. **Hint: Length function**<br><br>
4. Print `My teacher assistant is so boring.` using `text1` list. **Hint: Use the [`join` function](https://stackoverflow.com/questions/493819/why-is-it-string-joinlist-instead-of-list-joinstring)**<br><br>
5. Print `My TA is so boring, but is very funny.` using `text1` list.**Hint: Use the `join` function, and `extend` method.**<br><br>
6. Print <br>
`The max value of values1 is 86 and is located in the 0 index. ` <br>
`The min value of values1 is 0 and is located in the 7 index. ` <br> **Hint: Use the `f-string`, `min`, and `max` functions.**
<br>
7. Get two lists: `names` and `last_names` using `last_and_name` list. **Hint: Use `map` and `split`.**
<br>
8. Give only the last names of students who do not have email. Use the `emails` and `last_names` listt. **Hint: Use `map` and `split`.**
<br>

In [ ]:

import numpy as np

In [ ]:
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]

In [ ]:
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']

In [ ]:
p2_list = [ 2 , 3, 4, 5 ]

In [ ]:
values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1 ]

In [ ]:
# These two lists a
last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe", "", "", "", "", "", "f0873079@pucp.edu.pe", "", "", "", "", "", "", "", "", "", "", "flores.alexis@pucp.edu.pe", ]

##### SOLUTIONS

##### 1. Explanation
The pandas library is imported, an object called indices is created that contains enumerate the f_list and that indicates if there are missing values. The indices object is then commanded to be joined by pointing to the structure and removing " " signs, finally the indices object is printed in the form "indices {index elements} have nan.np values"

In [ ]:
import pandas as pd
indices = [i for i, element in enumerate(f_list) if pd.isna(element) == True]
indices = ', '.join(map(str, indices))
print(f'The indices {indices} have nan.np values.')

The indices 0, 1, 4, 7 have nan.np values.

##### 2.Explanation.
First, the p2_list is defined with its respective values ​​as the original list, then the number of times the list is to be repeated is inserted, and the number of times the elements of the original list should be repeated are defined.

In [ ]:
p2_list = [ 2, 3, 4, 5 ]
print("The given list is:", p2_list)
tempList = list(p2_list)
count = 4
print("Number of Times to repeat the elements:",count)
for i in range(count):
    p2_list.extend(tempList)
print("The output list is:", p2_list)

The given list is: [2, 3, 4, 5]
Number of Times to repeat the elements: 4
The output list is: [2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

##### 3.Explanation.
first the f_list is defined with its respective elements, then it is requested to print said list followed by the length or number of elements of the list

In [ ]:
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ] #->pregunta 3
print( f_list )
print( len( f_list ) )

[nan, nan, 'Austria', 'Germany', nan, 'Pakistan', 'np.nan', nan]
8

##### 4.Explanation.
first the text1 list is defined with its respective elements, then the text1 list elements are indicated to be joined by removing the ' ' signs. Finally, it is indicated that the indicated order be printed.

In [ ]:
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']  #->pregunta 4
sentence = ' '.join(text1)
print(sentence)

My teacher assistant is so boring.

##### 5.

Explanation. First we modify text1 so that we can print de requested sentence. Thus, we remove the element 'teacher', replace the element 'assistant' with 'TA', and replace 'boring.' with 'boring,'. Second, we create text2, which includes the missing elements in text1 to complete the requested sentence. We then use the extend method to add the text2 list elements to previously modified text1 list.

In [ ]:
text1.remove('teacher')
text1[1] = 'TA'
text1[4] = 'boring,'
text2 = ['but', 'is', 'very', 'funny.']
text1.extend(text2)
print(' '.join(text1))

My TA is so boring, but is very funny.

##### 6.

Explanation. First, we use the functions max and min to get the max and min value of list values1. Second, we use the list.index() method the find the index in the max and min value. Third, we use the f-string method to print the requested sentence and insert the max/min values and their respective indexes.

In [ ]:
print(f'The max value of values1 is {max(values1)} and is located in the {values1.index(max(values1))} index')
print(f'The min value of values1 is {min(values1)} and is located in the {values1.index(min(values1))} index')

The max value of values1 is 86 and is located in the 0 index
The min value of values1 is 0 and is located in the 7 index

##### 7.

Explanation. First. We use the split method to split each full name in list las_and_name by ", " into to groups: names and last_names. Second, we use indexes to store the requested part of the full name. In the case of names, we use [1:] to store the second half, and in the case of last_names we use [:1] to store the first half. Third, we use the index method again to call the first element of each half, so that we get rid of double square brackets. Fourth, we use the map and lambda method to apply the functions described above to each element of the last_and_name list.

In [ ]:
names = list(map(lambda x: x.split(", ")[1:][0], last_and_name))
last_names = list(map(lambda x: x.split(", ")[:1][0], last_and_name))

#### 8.
Explanation. First, we create a list of empty emails index based on emails list. To achieve this objective, we use a list of comprehension and use the enumerate method. Then, we create a list of students who have no email matching the previous list of empty emails index with the list of last names.

In [ ]:
empty_emails_index = [i for i, email in enumerate(emails) if email == ""]
have_no_email = [last_names[i] for i in empty_emails_index]
have_no_email

['HUANCAYA IDONE',
 'CALVO PORTOCARRERO',
 'IBAÑEZ ABANTO',
 'MELÉNDEZ APONTE',
 'CRISTIAN SERRANO',
 'ANGLAS GARCÍA',
 'ALDAVE ACOSTA',
 'NÚÑEZ HUAMÁN',
 'OBREGON HUAMAN',
 'SOTO PACHERRES',
 'INGARUCA RIVERA',
 'ROJAS HUAMAN',
 'NEYRA SALAS',
 'HUERTA ESPINOZA',
 'HUANCA MARTINEZ']

## 1.3 Strings


1. Drop the duplicated blank spaces in `str1`. Do not use the regular expresions. Do not use the code shown in class. Explain your steps.**Hint: Use `split` method and `join` function.**

In [ ]:
str1 = 'I am                            too                                                        old'

In [ ]:
#Primero empleamos el comando split() para separar la cadena de texto en los elementos separados por espacios en blanco, es decir: I, am, too y old
str2 = str1.split() #asignamos el resultado a una variable llamada str2

In [ ]:
str2 #el comando parece generar una lista con los elementos señalados

['I', 'am', 'too', 'old']

In [ ]:
type(str2) #efectivamente, el resultado es una lista

list

In [ ]:
#Luego unimos estos elementos, pero separando cada componente por un único espacio vacío. La diferencia entre str1 y str3 será que str3 separa los elementos por un único espacio vacío y no por múltiples (como ocurre con str1)
str3 = " ".join(str2) #asignaremos los resultados a la variable str3
#Imprimimos el resultado
print(str3)

I am too old

2. Get the number of letters in the string .**Hint: Use `len`function.**

In [ ]:
len(str3) #notamos que el comando len() nos da el número total de caracteres en str3 (incluídos los espacios en blanco)

12

In [ ]:
#si queremos contar el número de letras en el string podemos contar el total de caracteres y restarle el número de espacios en blanco del string, de la siguiente forma:
len(str3) - str3.count(' ')
#Luego, hay 9 letras en str3

9

In [ ]:
#Una alternativa al uso del comando count (junto a len) es emplear el comando sum con una expresión de generación. 
#Aquí nis interesa unicamente sumar los caracteres de los elementos en el str3, es decir, las letras de las palabras y no los espacios en blanco
str3.split() #recordemos que con el comando split obtenemos la lista de palabras que conforman str3

['I', 'am', 'too', 'old']

In [ ]:
#Luego, podemos sumar las letras de los elementos de esta lista, lo que es equivalente a contar las letras (y no los espacios en blanco de str3)
sum(len(x) for x in str3.split())

9

3. Get the number of blank spaces (all of them) in the string .**Hint: Use `len`function.**

In [ ]:
#Podemos contar el número total de caracteres en el str1 y restarle el número de letras. Dado que en el str1 solo hay letras y espacios en blanco, esta resta nos da el número de espacios en blanco en str3
len(str1) - len(str1.replace(" ", "")) #En el segundo términos hemos reemplazado cada espacio en blanco con un empty string

85

In [ ]:
#Análogamente, puede calcularse el número de espacios en blanco para str3
len(str3) - len(str3.replace(" ", ""))
#Luego, en str1 se identifican 85 espacios en blanco y en str3 se identifican solo 3

3


4. Get the position of `@` in each string in the emails list. **Hint: Use `map`function and `find` method.**

In [ ]:
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

In [ ]:
emails[0].find("@") #vemos que la función find identifica la posición del caracter especificado entre paréntesis. 
#En el caso del primer componente de la lista emails, "@" aparece en la 10ma posición

9

In [ ]:
#La lista emails contiene 35 elementos, es decir, hay 35 correos que deberán ser evaluados
len(emails)

35

In [ ]:
identi = (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34)
print(identi) #generamos una tupla de 35 elementos para que nos sirvan como identificadores de los componenetes de la lista

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34)

In [ ]:
#Luego definimos una función que recorra cada elemento de la lista emails identificando la posición que toma "@" en cada correo
def found(n):
    return emails[n].find("@")

In [ ]:
#la función map nos da un map object de los resultados tras aplicar una función a cada objeto dentro de un iterable, en nuestro caso será dentro de una tupla (identi)
resultado = map(found, identi)
print(list(resultado)) #imprimimos los resultados

[9, 11, 14, 9, 12, 8, 14, 9, 8, 16, 12, 13, 6, 9, 10, 12, 8, 11, 14, 6, 11, 7, 15, 9, 12, 8, 9, 11, 13, 6, 9, 12, 11, 16, 11]

In [ ]:
#Recordemos que Python comienza la cuenta desde 0, por ello un elemento de valor k en la anterior lista en realidad corresponde con la posicón k+1

5. Identifies if exists `.edu.`  in each string in the `emails` list. Get a list of Booleans. **Hint: Use `map`function and `find` method.**

In [ ]:
print(emails)
#notemos que el cuarto elemento no está conformado por un ".edu."

['cscornejo@pucp.edu.pe', 'orellana.cn@pucp.edu.pe', 'karina.morales@pucp.edu.pe', 'a20083223@pucp.pe', 'abel.camacho@pucp.pe', 'mtintaya@pucp.edu.pe', 'joselin.chavez@pucp.edu.pe', 'a20105737@pucp.pe', 'jfgomezc@pucp.pe', 'afrania.palomino@pucp.pe', 'luzon.bianca@pucp.pe', 'adrian.suanaz@pucp.pe', 'soto.y@pucp.edu.pe', 'a20132766@pucp.pe', 'andre.lama@pucp.edu.pe', 'gustavo.meza@pucp.edu.pe', 'pmlozada@pucp.edu.pe', 'm.zambranoj@pucp.edu.pe', 'nicolas.jacobs@pucp.edu.pe', 'gvidal@pucp.edu.pe', 'jane.torres@pucp.edu.pe', 'm.lopez@pucp.edu.pe', 'alejandro.boyco@pucp.edu.pe', 'a20167070@pucp.edu.pe', 'riega.stephy@pucp.edu.pe', 'vlevanot@pucp.edu.pe', 'sesquives@pucp.edu.pe', 'perez.juanc@pucp.edu.pe', 'mariana.otero@pucp.edu.pe', 'aclavo@pucp.edu.pe', 'a20182474@pucp.edu.pe', 'josue.caldas@pucp.edu.pe', 'fabio.salas@pucp.edu.pe', 'fernanda.pizarro@pucp.edu.pe', 'aquillatupa@pucp.pe']

In [ ]:
emails[3].find(".edu.") #el resultado de identificar la posición de ".edu." en dicho elemento es -1 (esto también ocurre con el resto de elementos que no contienen el ".edu.")
#Luego, podemos identificar a estos elementos con el -1 y luego convertirlos en booleanos

-1

In [ ]:
#Definimos una función similar a la del ejercicio anterio, con la consideración de que nos interesa identificar la posición de ".edu."
def found2(n):
    return emails[n].find(".edu.")

In [ ]:
#Luego aplicamos la función map para generar una lista que refiera la posición de ".edu." en cada correo de emails
resultado2 = map(found2, identi) #aprovechamos la tupla anteriormente generada de identi
positionx=list(resultado2) #guardamos en la lista como positionx
print(positionx) #imprimimos los resultados

[14, 16, 19, -1, -1, 13, 19, -1, -1, -1, -1, -1, 11, -1, 15, 17, 13, 16, 19, 11, 16, 12, 20, 14, 17, 13, 14, 16, 18, 11, 14, 17, 16, 21, -1]

In [ ]:
#Podemos generar una condición para que los elementos de la lista se correspondan con un booleano. True serán los casos en los que el correo considera el ".edu.", False el caso contrario
#Aquí aprovechamos que todos los correos que no cuentan con ".edu.", son identificados por un -1 tras la aplicación del método find
for i in range(len(positionx)):
  
    # reemplaza el elemento por True
    if positionx[i] >=0:
        positionx[i] = True
  
    # reemplaza el elemento por False
    if positionx[i] <0:
        positionx[i] = False
  
# print list
print(positionx)

[True, True, True, False, False, True, True, False, False, False, False, False, True, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, False]

6. Get all the strings before the first dot `.`in each string in the `emails` list. Identifies how many of them has `@`. **Hint: Use `map`function and `find` method.**

In [ ]:
emails[0].split(".") #podemos separar un elemento string de una lista con el método split. 
#La línea anterior recoje el primer elemento de la lista y lo separa en los substrings separados por un punto

['cscornejo@pucp', 'edu', 'pe']

In [ ]:
emails[0].split(".")[0] #Luego, podemos quedarnos con el primer elemento aplicando un nuevo indexing

'cscornejo@pucp'

In [ ]:
#De manera más general, podemos definir una función que extraiga la primera parte de un string (antes del punto) de cada elemento dentro de una lista
def found3(n):
    return emails[n].split(".")[0]

In [ ]:
resultado3 = map(found3, identi) #aprovechamos la tupla anteriormente generada de identi
position_s=list(resultado3) #guardamos en la lista como position_s
print(position_s)

['cscornejo@pucp', 'orellana', 'karina', 'a20083223@pucp', 'abel', 'mtintaya@pucp', 'joselin', 'a20105737@pucp', 'jfgomezc@pucp', 'afrania', 'luzon', 'adrian', 'soto', 'a20132766@pucp', 'andre', 'gustavo', 'pmlozada@pucp', 'm', 'nicolas', 'gvidal@pucp', 'jane', 'm', 'alejandro', 'a20167070@pucp', 'riega', 'vlevanot@pucp', 'sesquives@pucp', 'perez', 'mariana', 'aclavo@pucp', 'a20182474@pucp', 'josue', 'fabio', 'fernanda', 'aquillatupa@pucp']

In [ ]:
#Ahora podemos evaluar esta lista (position_s) para ver si sus elementos contienen un "@". 
#De forma similar al ejercicio anterior aplicaremos el método find y la función map

In [ ]:
#Definimos la función found4 para identificar la posición del "@" en el n-ésimo elemento de la lista position_s
def found4(n):
    return position_s[n].find("@")
#Recordemos que los string que no contengan un "@" serán identificados con un -1

In [ ]:
resultado4 = map(found4, identi) #también aprovechamos la tupla anteriormente generada de identi
position_a=list(resultado4) #guardamos en la lista como position_a
print(position_a) #imprimimos los resultados

[9, -1, -1, 9, -1, 8, -1, 9, 8, -1, -1, -1, -1, 9, -1, -1, 8, -1, -1, 6, -1, -1, -1, 9, -1, 8, 9, -1, -1, 6, 9, -1, -1, -1, 11]

In [ ]:
#Para la identificación de los string que incluyen un "@" hacemos uso de otro condicional. La intuición es la siguiente: 

for i in range(len(position_a)):
  
    # si el i-ésimo elemento contiene a @ reemplaza el elemento en la lista por True
    if position_a[i] >=0:
        position_a[i] = True
  
    # si el i-ésimo elemento no contiene a @ reemplaza el elemento por False
    if position_a[i] <0:
        position_a[i] = False
  
# print list
print(position_a)

[True, False, False, True, False, True, False, True, True, False, False, False, False, True, False, False, True, False, False, True, False, False, False, True, False, True, True, False, False, True, True, False, False, False, True]

In [ ]:
#Finalmente, contamos el número de elementos True, pues estos corresponden con strings que incluyen un "@"
position_a.count(True)

14

##### ALTERNATIVE SOLUTIONS

##### 1.

Explanation. First, we use the split function to create a list of words without whitespaces. Second, we use the join function to join the previously created list of words, using ' ' as separation between words. Third, we print.

In [ ]:
# 1.
print(' '.join(str1.split()))

I am too old

##### 2.

Explanation. First, we use a list of comprehension to iterate over each character of str1. Second, we use the function isspace() to discard whitespaces, and isnumeric() to discard numbers. So that, we only keep letters. Third, we store the elements the matches the previuosly set conditions in the list letters. Finally, we use the f-string method to print the requested sentence and insert the length of list letters into this sentence to show the number of letters.

In [ ]:
# 2. First way to do number 2 excercise:
letters = [i for i in str1 if i.isspace() == False and i.isnumeric() == False]
print(f'The number of letters is: {len(letters)}')

The number of letters is: 9

Explanation. Alternatively, we show here a straightforward way to achieve the same result as above. We just use the function isalpha() to match any character of str1 list to be a letter. We then repeat the procedure.

In [ ]:
# 2. Second way to do number 2 excercise:
letters = [i for i in str1 if i.isalpha()]
print(f'The number of letters is: {len(letters)}')

The number of letters is: 9

##### 3.

Explanation. We use the same procedures as describe above. In this case, since we are requested the number of whitespaces, we use the function isspace() to match and store any character of str1 that meets the condition. Then, we repeat the procedure.

In [ ]:
# 3.
whitespaces = [i for i in str1 if i.isspace()]
print(f'The number of whitespaces is: {len(whitespaces)}')

The number of whitespaces is: 85