# 1 Assignment 3

In [ ]:
import os
import os
import pickle
import pandas as pd
import numpy as np
import urllib.request

1. Import the `REC0111.sav`, `RE223132.sav` and `RE516171.sav` files and their variables and values labels from this path `"../../_data/endes/2019"`. The name of imported files should be named as `rec_1`, `rec_2` and `rec_3` for files `REC0111.sav`, `RE223132.sav` and `RE516171.sav` respectively. The name of the variable and value labels should be `var_labels1` and `value_labels1` for `rec1`, `var_labels2` and `value_labels2` for `rec2`, and `var_labels3` and `value_labels3` for `rec3`. **Hint: See the section 3.3.4 of [the lecture 3](https://github.com/alexanderquispe/Diplomado_PUCP/blob/main/Lecture_3/Lecture_3.ipynb)**

In [ ]:
#!pip install pyreadstat .........
#!pip install pyreadstat
import pyreadstat
#pyreadstat.read_sav('../../_data/endes/2019/REC0111.sav')
rec_1, meta = pyreadstat.read_sav('../../_data/endes/2019/REC0111.sav')
rec_1

In [ ]:
var_labels1 = meta.variable_value_labels
value_labels1 = meta.value_labels
value_labels1

In [ ]:
rec_2, meta = pyreadstat.read_sav('../../_data/endes/2019/RE223132.sav')
rec_2

In [ ]:
var_labels2 = meta.variable_value_labels
value_labels2 = meta.value_labels
value_labels2

In [ ]:
rec_3, meta = pyreadstat.read_sav('../../_data/endes/2019/RE516171.sav')
var_labels3 = meta.variable_value_labels
value_labels3 = meta.value_labels
value_labels3

2. Select the following columns for each data set:
|Data|Columns|
|---|---|
|rec1| CASEID, V000, V001, V002, V003, V004, V007, V008, V009, V010, V011, V012, V024, V102, V120, V121, V122, V123, V124, V125, V127, V133 |
|rec2| CASEID, V201, V218, V301, V302, V323, V323A, V325A, V326, V327, V337, V359, V360, V361, V362, V363, V364, V367, V372, V372A, V375A, V376, V376A, V379, V380 |
|rec3| CASEID, V501, V502, V503, V504, V505, V506, V507, V508, V509, V510, V511, V512, V513, V525, V613, V714, V715 |


Additioanlly, you should update the variables and value labels objects. They must have information only for the selected columns. The new dataframes should be name as `rec1_1`, `rec2_1`, and `rec3_1`. The new varible labels objects should be named as `new_var_labels1`, `new_var_labels2`, and `new_var_labels3`. The new value labels objects should be named as `new_value_labels1`, `new_value_labels2`, and `new_value_labels3` **Hint: Use the `loc` and column names to filter. Update the dictionary.**

In [ ]:
columnas_rec1 = ['CASEID', 'V000', 'V001', 'V002', 'V003', 'V004', 'V007', 'V008', 'V009', 'V010', 'V011', 'V012', 'V024', 'V102', 'V120', 'V121', 'V122', 'V123', 'V124', 'V125', 'V127', 'V133']
rec1_1 = rec_1.loc[:, columnas_rec1]
new_var_labels1 = {k: var_labels1[k] for k in columnas_rec1 if k in var_labels1}
new_value_labels1 = {k: value_labels1[k] for k in columnas_rec1 if k in value_labels1}
columnas_rec1

In [ ]:
columnas_rec2 = ['CASEID', 'V201', 'V218', 'V301', 'V302', 'V323', 'V323A', 'V325A', 'V326', 'V327', 'V337', 'V359', 'V360', 'V361', 'V362', 'V363', 'V364', 'V367', 'V372', 'V372A', 'V375A', 'V376', 'V376A', 'V379', 'V380']
rec2_1 = rec_2.loc[:, columnas_rec2]
new_var_labels2 = {k: var_labels2[k] for k in columnas_rec2 if k in var_labels2}
new_value_labels2 = {k: value_labels2[k] for k in columnas_rec2 if k in value_labels2}

In [ ]:
columnas_rec3 = ['CASEID', 'V501', 'V502', 'V503', 'V504', 'V505', 'V506', 'V507', 'V508', 'V509', 'V510', 'V511', 'V512', 'V513', 'V525', 'V613', 'V714', 'V715']
rec3_1 = rec_3.loc[:, columnas_rec3]
new_var_labels3 = {k: var_labels3[k] for k in columnas_rec3 if k in var_labels3}
new_value_labels3 = {k: value_labels3[k] for k in columnas_rec3 if k in value_labels3}

In [ ]:
print(rec_1.dtypes)

In [ ]:
rec1_1['year'] = 2019
rec1_1

3. Generate a new column for `rec1_1` named as `year`. It should be equal to `2019`. Also, you must update this new variable for the `var_labels` dictionary. Generate a new key for `new_var_labels1` and the value for this key should be **"Year of the survey"** **Hint: Use `loc` and `update` method.**

In [ ]:
print(rec_1.dtypes)

In [ ]:
rec1_1['year'] = 2019
rec1_1

In [ ]:
new_var_labels1['year'] = 'Year of the survey'
new_var_labels1

4. Merge `rec1_1`, `rec2_1`, and `rec3_1` using **CASEID**. Name this new object as `endes_2019`. **Hint: Use [this link](https://stackoverflow.com/questions/53645882/pandas-merging-101)**

In [ ]:
#First we make the fusion between "rec1_1" and rec2_1 using the variable "CASEID"
rec_1_rec_2= rec1_1.merge(rec2_1,on='CASEID', how='outer')

In [ ]:
#Then we perform the same procedure again but the fusion is between "rec_1_rec_2" and "rec3_1". Finally, we name this change as "endes_2019"
endes_2019= rec_1_rec_2.merge(rec3_1,on='CASEID', how='outer')
endes_2019.head()

5. Unify all the `new_var_labels` in one object and `new_value_labels` in another one object. Name these two objects as `var_labels` and `value_labels`. Use them to generate new attributes for `endes_2019`. These attributes should be named as `var_labels` and `value_labels`. **Hint: Use `update` method.**

In [ ]:
#Variable labeling
var_labels = new_var_labels1.copy() #Generating a dictionary that contains the dictionary of the variable labels
var_labels.update(new_var_labels2) #Dictionary update
var_labels.update(new_var_labels3) #Dictionary update

In [ ]:
#Values label
value_labels = new_value_labels1.copy() #We replicate the same procedure for this case
value_labels.update(new_value_labels2) #Dictionary update
value_labels.update(new_value_labels3) #Dictionary update

In [ ]:
#Finally, we assign the values
endes_2019.attrs['value_labels'] = value_labels
endes_2019.attrs['var_labels'] = var_labels

6. Get the min, max, sd, n_obs, n_missing for the following columns **total children ever born (V201)**, **Ideal number of children (V613)**, **Husbands education-single yrs (V715)**, and **Age at first marriage (V511)**. We want a dataframe with the following columns **Variables, Min, Max, Mean, N_obs, N_missing** and sort by the number of missing rows. **Hint: Use `describe` and `pivot` methods**

In [ ]:
#Transformation of variables from text string type to float for the calculation of statistics
endes_2019['V613'] = endes_2019['V613'].replace('Non-numeric answer', np.nan).astype(str).astype(float)
endes_2019['V715'] = endes_2019['V715'].replace('Does not know', np.nan).astype(str).astype(float)

In [ ]:
#Then we will use the "describe" function to calculate the information. 
#Also, a row is added that counts the missing values for each variable.
#Now that we have all the statistics, we use the "loc" method to select only the ones we want and with the "transpose" method we change rows to columns and columns to rows.
#Finally, we will rename the columns and sort by the total number of missing values.

table_endes = endes_2019.loc[:,['V201','V613','V715','V511']].describe(include='all')
table_endes.loc['N_missing']=endes_2019.loc[:,['V201','V613','V715','V511']].isna().sum()
table_endes = table_endes.loc[['min','max','mean','count','N_missing']].transpose().reset_index()
table_endes = table_endes.rename(columns = {'index':'Variables','min':'Min','max':'Max','mean':'Mean','count':'N_obs'}).sort_values('N_missing')
table_endes

7. Use `endes_2019` data to generate a new object named `mean_key_vars` to find the mean of **total children ever born (V201)**, **Ideal number of children (V613)**, **Husbands education-single yrs (V715)**, and **Age at first marriage (V511)** by year and department **(V024)**. Name these columns as **mean_total_children, mean_ideal_children, mean_hb_yr_educ and mean_first_marriage**, respectively. **Hint: Use groupby and [this link](https://stackoverflow.com/questions/40901770/is-there-a-simple-way-to-change-a-column-of-yes-no-to-1-0-in-a-pandas-dataframe).**

In [87]:
# apartir de v024 seleccionamos el resto de columnas para sacar las media de los datos requeridos
mean_key_vars = endes_2019.groupby(["V024"],as_index=False)[["V201","V613","V715","V511"]].mean().rename(columns = {"V201":"mean_total_children","V613":"mean_ideal_children","V715":"mean_hb_yr_educ","V511":"mean_first_marriage"})
mean_key_vars.head()

,V024,mean_total_children,mean_ideal_children,mean_hb_yr_educ,mean_first_marriage
0,1.0,1.980892,9.611379,2.519355,19.266152
1,2.0,1.771065,11.789534,2.383260,20.591581
2,3.0,2.003463,11.063779,2.391176,20.064982
3,4.0,1.539910,13.714898,2.441390,22.304394
4,5.0,1.848787,11.285419,2.209026,20.340228

8. Reshape `mean_key_vars` from wide to long. We want a dataframe with three columns **dpto, variables, values**. Name this object as `reshape_mean_key_vars`. **Hint: Use melt method**.

In [90]:
# cambiamos la forma de ancho a largo, solo con 3 variables, y al final renombramos v024 a dpto
reshape_mean_key_vars=pd.melt(mean_key_vars,id_vars=['V024'],var_name='variables',value_name= 'values').rename(columns={'V024':'dpto'})
reshape_mean_key_vars

    dpto            variables     values
0    1.0  mean_total_children   1.980892
1    2.0  mean_total_children   1.771065
2    3.0  mean_total_children   2.003463
3    4.0  mean_total_children   1.539910
4    5.0  mean_total_children   1.848787
..   ...                  ...        ...
95  21.0  mean_first_marriage  20.398964
96  22.0  mean_first_marriage  18.953155
97  23.0  mean_first_marriage  22.065095
98  24.0  mean_first_marriage  19.409821
99  25.0  mean_first_marriage  18.985481

[100 rows x 3 columns]

9. Replicate your answers for questions 7 and 8, but in one line of code. Make it the most simple as possible. **NO HINT**

10. Merge `reshape_mean_key_vars` with `endes_2019`. Name this object `final_result`. **Hint: Use merge.**