# Group_1
- MAX LENIN CHIPANI LIMA
- ANDRES ALEXANDER VILLACORTA BARRERA
- ESTEFANNY MIRIAN GIL MAMANI
- VANESSA ALESSANDRA AZAÑEDO GAMARRAamarena
- JOSE MARIA MIGUEL LOYOLA ROMERO

# 1 Assignment 3

In [1]:
!pip install pyreadstat

Collecting pyreadstat
  Downloading pyreadstat-1.2.7-cp312-cp312-win_amd64.whl.metadata (1.1 kB)
Requirement already satisfied: pandas>=1.2.0 in c:\users\josel\anaconda3\lib\site-packages (from pyreadstat) (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\josel\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\josel\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\josel\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\josel\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\josel\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.2.0->pyreadstat) (1.16.0)
Downloading pyreadstat-1.2.7-cp312-cp312-win_amd64.whl (2.4 MB)
   ---------------------------------------- 0.0/2.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.4 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.4 MB 4.0 MB/s eta 0:00:01
   -------------- ------------------------- 0.9/2.4 MB 8.1 MB/s eta 0:00:01
   --------------------------- ------------ 1.6/2.4 MB 10.4 MB/s eta 0:00:01
   ---------------------------------------  2.4/2.4 MB 12.7 MB/s eta 0:00:01
   ---------------------------------------- 2.4/2.4 MB 11.8 MB/s eta 0:00:00
Installing collected packages: pyreadstat
Successfully installed pyreadstat-1.2.7

In [5]:
import os
import os
import pickle
import pandas as pd
import numpy as np
import urllib.request
import pyreadstat

1. Import the `REC0111.sav`, `RE223132.sav` and `RE516171.sav` files and their variables and values labels from this path `"../../_data/endes/2019"`. The name of imported files should be named as `rec_1`, `rec_2` and `rec_3` for files `REC0111.sav`, `RE223132.sav` and `RE516171.sav` respectively. The name of the variable and value labels should be `var_labels1` and `value_labels1` for `rec1`, `var_labels2` and `value_labels2` for `rec2`, and `var_labels3` and `value_labels3` for `rec3`. **Hint: See the section 3.3.4 of [the lecture 3](https://github.com/alexanderquispe/Diplomado_PUCP/blob/main/Lecture_3/Lecture_3.ipynb)**

In [17]:
# Exercise 1

## Define the file paths. 
file_path_1 = "../../_data/endes/2019/REC0111.sav"
file_path_2 = "../../_data/endes/2019/RE223132.sav"
file_path_3 = "../../_data/endes/2019/RE516171.sav"

## Load the .sav files. Use pyreadstat.read_sav instead of pandas.read_spss as it allows to access the metadata; for instance, the variable and value labels.
rec_1, meta1 = pyreadstat.read_sav(file_path_1)
rec_2, meta2 = pyreadstat.read_sav(file_path_2)
rec_3, meta3 = pyreadstat.read_sav(file_path_3)

## Extract variable and value labels. 
var_labels1 = meta1.column_labels
value_labels1 = meta1.variable_value_labels

var_labels2 = meta2.column_labels
value_labels2 = meta2.variable_value_labels

var_labels3 = meta3.column_labels
value_labels3 = meta3.variable_value_labels

2. Select the following columns for each data set. Check if all the columns are in the dataset. Make a code that check the columns that are not included. Please, reporte them.

|Data|Columns|
|---|---|
|rec1| CASEID, V000, V001, V002, V003, V004, V007, V008, V009, V010, V011, V012, V024, V102, V120, V121, V122, V123, V124, V125, V127, V133 |
|rec2| CASEID, V201, V218, V301, V302, V323, V323A, V325A, V326, V327, V337, V359, V360, V361, V362, V363, V364, V367, V372, V372A, V375A, V376, V376A, V379, V380 |
|rec3| CASEID, V501, V502, V503, V504, V505, V506, V507, V508, V509, V510, V511, V512, V513, V525, V613, V714, V715 |


Additioanlly, you should update the variables and value labels objects. They must have information only for the selected columns. The new dataframes should be name as `rec1_1`, `rec2_1`, and `rec3_1`. The new varible labels objects should be named as `new_var_labels1`, `new_var_labels2`, and `new_var_labels3`. The new value labels objects should be named as `new_value_labels1`, `new_value_labels2`, and `new_value_labels3` **Hint: Use the `loc` and column names to filter, `for loop`,   and [this link](https://stackoverflow.com/questions/3420122/filter-dict-to-contain-only-certain-keys) to update the var and value dictionary.**

In [19]:
import pyreadstat

# Define the file paths
file_path_1 = "../../_data/endes/2019/REC0111.sav"
file_path_2 = "../../_data/endes/2019/RE223132.sav"
file_path_3 = "../../_data/endes/2019/RE516171.sav"

# Load the .sav files along with their metadata
rec_1, meta1 = pyreadstat.read_sav(file_path_1)
rec_2, meta2 = pyreadstat.read_sav(file_path_2)
rec_3, meta3 = pyreadstat.read_sav(file_path_3)

# Define the columns to select for each dataset
columns_1 = ['CASEID', 'V000', 'V001', 'V002', 'V003', 'V004', 'V007', 'V008', 'V009', 
             'V010', 'V011', 'V012', 'V024', 'V102', 'V120', 'V121', 'V122', 'V123', 
             'V124', 'V125', 'V127', 'V133']

columns_2 = ['CASEID', 'V201', 'V218', 'V301', 'V302', 'V323', 'V323A', 'V325A', 'V326', 
             'V327', 'V337', 'V359', 'V360', 'V361', 'V362', 'V363', 'V364', 'V367', 
             'V372', 'V372A', 'V375A', 'V376', 'V376A', 'V379', 'V380']

columns_3 = ['CASEID', 'V501', 'V502', 'V503', 'V504', 'V505', 'V506', 'V507', 'V508', 
             'V509', 'V510', 'V511', 'V512', 'V513', 'V525', 'V613', 'V714', 'V715']

# Function to check and report missing columns, and filter the DataFrame using loc
def check_and_filter_columns(dataset, metadata, column_list, dataset_name):
    missing_columns = [col for col in column_list if col not in dataset.columns]
    
    if missing_columns:
        print(f"The following columns are missing from {dataset_name}: {missing_columns}")
    else:
        print(f"All columns are present in {dataset_name}.")
    
    # Filter the DataFrame using .loc to include only the selected columns
    selected_columns = [col for col in column_list if col in dataset.columns]
    filtered_data = dataset.loc[:, selected_columns]

    # Check if column_labels and variable_value_labels are dictionaries
    if isinstance(metadata.column_labels, dict):
        filtered_var_labels = {k: metadata.column_labels[k] for k in selected_columns}
    else:
        filtered_var_labels = {k: metadata.column_labels[metadata.column_names.index(k)] for k in selected_columns}

    if isinstance(metadata.variable_value_labels, dict):
        filtered_value_labels = {k: metadata.variable_value_labels[k] for k in selected_columns if k in metadata.variable_value_labels}
    else:
        filtered_value_labels = {k: metadata.variable_value_labels[metadata.column_names.index(k)] for k in selected_columns if k in metadata.variable_value_labels}
    
    return filtered_data, filtered_var_labels, filtered_value_labels

# Apply the function to each dataset
rec1_1, new_var_labels1, new_value_labels1 = check_and_filter_columns(rec_1, meta1, columns_1, 'rec_1')
rec2_1, new_var_labels2, new_value_labels2 = check_and_filter_columns(rec_2, meta2, columns_2, 'rec_2')
rec3_1, new_var_labels3, new_value_labels3 = check_and_filter_columns(rec_3, meta3, columns_3, 'rec_3')

All columns are present in rec_1.
All columns are present in rec_2.
All columns are present in rec_3.

3. Generate a new column for `rec1_1` named as `year`. It should be equal to `2019`. Also, you must update this new variable for the `var_labels` dictionary. Generate a new key for `new_var_labels1` and the value for this key should be **"Year of the survey"** **Hint: Use `loc` and `update` method.**

In [21]:
# We create the new column
rec1_1.loc[:,"year"]="2019"
rec1_1

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V102,V120,V121,V122,V123,V124,V125,V127,V133,year
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,33.0,16.0,2019
1,000100201 3,PE6,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,2007.0,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,33.0,6.0,2019
2,000102801 2,PE6,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,33.0,16.0,2019
3,000102801 6,PE6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,33.0,4.0,2019
4,000104801 2,PE6,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0,1.0,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38330,325406201 2,PE6,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,1971.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,4.0,2019
38331,325406301 2,PE6,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,1988.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,6.0,2019
38332,325407001 2,PE6,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,1973.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,3.0,2019
38333,325407201 2,PE6,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,1994.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,9.0,2019
38334,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,9.0,2019

In [23]:
# We udpate the new variable
new_var_labels1.update({'year':"Year of the survey"})

4. Merge `rec1_1`, `rec2_1`, and `rec3_1` using **CASEID**. Name this new object as `endes_2019`. **Hint: Use [this link](https://stackoverflow.com/questions/53645882/pandas-merging-101)**

In [25]:
# We merge requested dataframes in one
endes_2019=rec1_1.merge(rec2_1,on='CASEID',how='outer')\
                .merge(rec3_1,on='CASEID',how='outer')
endes_2019

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V508,V509,V510,V511,V512,V513,V525,V613,V714,V715
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,2008.0,1297.0,1.0,21.0,11.0,3.0,17.0,2.0,1.0,11.0
1,000100201 3,PE6,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,2007.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,000102801 2,PE6,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,2011.0,1344.0,1.0,28.0,7.0,2.0,18.0,3.0,1.0,14.0
3,000102801 6,PE6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,1984.0,1016.0,5.0,14.0,34.0,7.0,14.0,0.0,0.0,6.0
4,000104801 2,PE6,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,2009.0,1320.0,1.0,18.0,9.0,2.0,15.0,2.0,0.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38330,325406201 2,PE6,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,1971.0,...,1985.0,1032.0,1.0,14.0,34.0,7.0,12.0,3.0,0.0,5.0
38331,325406301 2,PE6,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,1988.0,...,2002.0,1236.0,1.0,14.0,17.0,4.0,12.0,3.0,0.0,7.0
38332,325407001 2,PE6,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,1973.0,...,1986.0,1043.0,1.0,13.0,33.0,7.0,12.0,4.0,0.0,5.0
38333,325407201 2,PE6,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,1994.0,...,2008.0,1301.0,1.0,13.0,11.0,3.0,13.0,2.0,0.0,11.0
38334,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,2013.0,1362.0,1.0,16.0,6.0,2.0,15.0,2.0,0.0,11.0

5. Unify all the `new_var_labels` in one object and `new_value_labels` in another one object. Name these two objects as `var_labels` and `value_labels`. Use them to generate new attributes for `endes_2019`. These attributes should be named as `var_labels` and `value_labels`. **Hint: Use `update` method.**

In [29]:

# We unify the variables 
var_labels = new_var_labels1.copy()
var_labels.update(new_var_labels2)
var_labels.update(new_var_labels3)

# We unify the values
value_labels = new_value_labels1.copy()
value_labels.update(new_value_labels2)
value_labels.update(new_value_labels3)

# We generate new attributes for endes_2019
endes_2019['var_labels'] = [var_labels] * len(endes_2019)
endes_2019['value_labels'] = [value_labels] * len(endes_2019)

6. Now, replicate your code of the prevoius sections but for years **2019, 2018, 2017, 2016, 2015**. Import the `REC0111.sav`, `RE223132.sav` and `RE516171.sav` files and their **variables and values labels** from this path `"../../_data/endes/"`. For this excersie you must use a for loop. This loop must iterate over **2019, 2018, 2017, 2016, 2015 folders** and import these files. All the files have the same name. You must store these files and their labels in a nested dictionary named as `all_data`. The keys of the dictionary should be named as `year_2019`, for example, and the keys of the nested dictionary should be `data`, `var_labels`, and `value_labels`. **Hint: Use [this link](https://notebooks.githubusercontent.com/view/ipynb?browser=chrome&color_mode=auto&commit=4d6de78e00e7001f16bf6473c2eb7ce24fb611cd&device=unknown_device&enc_url=68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f616c6578616e6465727175697370652f4469706c6f6d61646f5f505543502f346436646537386530306537303031663136626636343733633265623763653234666236313163642f4c6563747572655f342f4c6563747572655f342e6970796e62&logged_in=true&nwo=alexanderquispe%2FDiplomado_PUCP&path=Lecture_4%2FLecture_4.ipynb&platform=windows&repository_id=427747212&repository_type=Repository&version=95#4.2.)**

In [31]:

# We Define the path to the data directory, the years and file names
base_path = "../../_data/endes/"
years = [2019, 2018, 2017, 2016, 2015]
file_names = ["REC0111.sav", "RE223132.sav", "RE516171.sav"]

# Initialize the nested dictionary
all_data = {}

# Loop over each year
for year in years:
    # Initialize a nested dictionary for the current year
    year_data = {}
    
    # Loop over each file
    for file_name in file_names:
        # Construct the full file path
        file_path = f"{base_path}{year}/{file_name}"
        
        # Read the .sav file and capture the data along with the metadata (labels)
        data, meta = pyreadstat.read_sav(file_path)
        
        # Extract variable labels and value labels
        var_labels = meta.column_labels
        value_labels = meta.value_labels
        
        # Store the data and labels in the nested dictionary
        year_data[file_name] = {
            'data': data,
            'var_labels': var_labels,
            'value_labels': value_labels
        }
    
    # Store the year's data in the all_data dictionary
    all_data[f'year_{year}'] = year_data

7. Use `all_data` to append all the data sets. Store all data sets in a list using `for loop`. Then, use `pd.concat` to append all the data sets. Also, you must reset the index to have a good-looking data. This new object should be named as `endes_data_2015_2019`. **Hint: Use [this code](https://stackoverflow.com/questions/32444138/concatenate-a-list-of-pandas-dataframes-together)**

In [ ]:
# Initialize a list to store all dataFrames
dataframes_list = []
# Collect the dataFrames directly into a list
dataframes_list = [
    data_info['data'].assign(year=int(year.split('_')[1]))
    for year, year_data in all_data.items()
    for file_name, data_info in year_data.items()
]

# Concatenate all dataFrames
endes_data_2015_2019 = pd.concat(dataframes_list, axis=0,ignore_index=True)

8. Store all the `var_labels` and `value_labels` in a dictionary named as `all_var_labels` and `all_value_labels`. The first keys should be the year for both dictionaries.Then, use them to generate new attributes for `endes_data_2015_2019`. These attributes should be named as `var_labels` and `value_labels`.  **Hint: Use [this link](https://notebooks.githubusercontent.com/view/ipynb?browser=chrome&color_mode=auto&commit=4d6de78e00e7001f16bf6473c2eb7ce24fb611cd&device=unknown_device&enc_url=68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f616c6578616e6465727175697370652f4469706c6f6d61646f5f505543502f346436646537386530306537303031663136626636343733633265623763653234666236313163642f4c6563747572655f342f4c6563747572655f342e6970796e62&logged_in=true&nwo=alexanderquispe%2FDiplomado_PUCP&path=Lecture_4%2FLecture_4.ipynb&platform=windows&repository_id=427747212&repository_type=Repository&version=95#4.2.3.)**

In [ ]:
# Create empty dictionaries to store the labels
all_var_labels = {}
all_value_labels = {}

# Fill the dictionaries with variable labels and values ​​by year
for year_key, year_data in all_data.items():
    year = int(year_key.split('_')[1])  # Extract the year from the key
    all_var_labels[year] = {}
    all_value_labels[year] = {}
    
    for file_name, file_data in year_data.items():
        if isinstance(file_data['var_labels'], dict):
            all_var_labels[year].update(file_data['var_labels'])
        else:
            print(f"Unexpected type for var_labels in file {file_name} of year {year}")
        
        if isinstance(file_data['value_labels'], dict):
            all_value_labels[year].update(file_data['value_labels'])
        else:
            print(f"Unexpected type for value_labels in file {file_name} of year {year}")

# Function to get labels based on year
def get_labels_for_year(year, labels_dict):
    return labels_dict.get(year, {})

# Add new columns for var_labels and value_labels
endes_data_2015_2019['var_labels'] = endes_data_2015_2019['year'].apply(lambda year: get_labels_for_year(year, all_var_labels))
endes_data_2015_2019['value_labels'] = endes_data_2015_2019['year'].apply(lambda year: get_labels_for_year(year, all_value_labels))

# Reset index for better display
endes_data_2015_2019.reset_index(drop=True, inplace=True)

# Print the resulting DataFrame to verify
print(endes_data_2015_2019.head())

9. Use `endes_data_2015_2019` data to generate a new object named `mean_key_vars` to find the mean of **total children ever born (V201)**, **Ideal number of children (V613)**, **Husbands education-single yrs (V715)**, and **Age at first marriage (V511)** by year and department **(V024)**. Name these columns as **mean_total_children, mean_ideal_children, mean_hb_yr_educ and mean_first_marriage**, respectively. **Hint: Use groupby and [this link](https://stackoverflow.com/questions/40901770/is-there-a-simple-way-to-change-a-column-of-yes-no-to-1-0-in-a-pandas-dataframe).**

10. Merge `mean_key_vars` with `endes_data_2015_2019`. Name this object `final_result`. **Hint: Use merge.**