# 1 Assignment 3

Exercises:

- Adriana: 1 and 2
- Alejandro: 3 and 4
- Mauricio: 5 and 6
- André: 7
- Alexsander: 8 and 9
- Karla: 10

In [1]:
import os
import pickle
import pandas as pd
import numpy as np
import urllib.request
import pyreadstat

In [1]:
!pip install pyreadstat

Collecting pyreadstat
  Obtaining dependency information for pyreadstat from https://files.pythonhosted.org/packages/37/1d/25de8cc1925668685d25ffba1c79b4a77faab3ef0a571b40e8a30bf5aba4/pyreadstat-1.2.7-cp311-cp311-win_amd64.whl.metadata
  Downloading pyreadstat-1.2.7-cp311-cp311-win_amd64.whl.metadata (1.1 kB)
Requirement already satisfied: pandas>=1.2.0 in c:\users\adriana\anaconda3\lib\site-packages (from pyreadstat) (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\adriana\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\adriana\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\adriana\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\adriana\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=1.2.0->pyreadstat) (1.16.0)
Downloading pyreadstat-1.2.7-cp311-cp311-win_amd64.whl (2.4 MB)
   ---------------------------------------- 0.0/2.4 MB ? eta -:--:--
    --------------------------------------- 0.0/2.4 MB ? eta -:--:--
   - -------------------------------------- 0.1/2.4 MB 980.4 kB/s eta 0:00:03
   -- ------------------------------------- 0.2/2.4 MB 1.0 MB/s eta 0:00:03
   --- ------------------------------------ 0.2/2.4 MB 1.2 MB/s eta 0:00:02
   ---- ----------------------------------- 0.3/2.4 MB 1.2 MB/s eta 0:00:02
   ----- ---------------------------------- 0.3/2.4 MB 1.1 MB/s eta 0:00:02
   ----- ---------------------------------- 0.3/2.4 MB 1.1 MB/s eta 0:00:02
   ----- ---------------------------------- 0.3/2.4 MB 1.1 MB/s eta 0:00:02
   ------- -------------------------------- 0.5/2.4 MB 1.0 MB/s eta 0:00:02
   ------- -------------------------------- 0.5/2.4 MB 1.0 MB/s eta 0:00:02
   -------- ------------------------------- 0.5/2.4 MB 1.0 MB/s eta 0:00:02
   --------- ------------------------------ 0.6/2.4 MB 964.0 kB/s eta 0:00:02
   ---------- ----------------------------- 0.6/2.4 MB 1.1 MB/s eta 0:00:02
   ------------ --------------------------- 0.7/2.4 MB 1.1 MB/s eta 0:00:02
   ------------ --------------------------- 0.8/2.4 MB 1.1 MB/s eta 0:00:02
   -------------- ------------------------- 0.8/2.4 MB 1.2 MB/s eta 0:00:02
   --------------- ------------------------ 1.0/2.4 MB 1.2 MB/s eta 0:00:02
   ---------------- ----------------------- 1.0/2.4 MB 1.2 MB/s eta 0:00:02
   ---------------- ----------------------- 1.0/2.4 MB 1.2 MB/s eta 0:00:02
   ------------------- -------------------- 1.2/2.4 MB 1.2 MB/s eta 0:00:02
   ------------------- -------------------- 1.2/2.4 MB 1.2 MB/s eta 0:00:02
   --------------------- ------------------ 1.3/2.4 MB 1.3 MB/s eta 0:00:01
   ---------------------- ----------------- 1.4/2.4 MB 1.2 MB/s eta 0:00:01
   ----------------------- ---------------- 1.4/2.4 MB 1.3 MB/s eta 0:00:01
   ----------------------- ---------------- 1.4/2.4 MB 1.3 MB/s eta 0:00:01
   ------------------------- -------------- 1.6/2.4 MB 1.3 MB/s eta 0:00:01
   ------------------------- -------------- 1.6/2.4 MB 1.3 MB/s eta 0:00:01
   -------------------------- ------------- 1.6/2.4 MB 1.3 MB/s eta 0:00:01
   ----------------------------- ---------- 1.8/2.4 MB 1.3 MB/s eta 0:00:01
   ----------------------------- ---------- 1.8/2.4 MB 1.3 MB/s eta 0:00:01
   ------------------------------- -------- 1.9/2.4 MB 1.3 MB/s eta 0:00:01
   --------------------------------- ------ 2.0/2.4 MB 1.3 MB/s eta 0:00:01
   ---------------------------------- ----- 2.1/2.4 MB 1.4 MB/s eta 0:00:01
   ---------------------------------- ----- 2.1/2.4 MB 1.4 MB/s eta 0:00:01
   ------------------------------------- -- 2.3/2.4 MB 1.4 MB/s eta 0:00:01
   ------------------------------------- -- 2.3/2.4 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------  2.4/2.4 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------  2.4/2.4 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------- 2.4/2.4 MB 1.4 MB/s eta 0:00:00
Installing collected packages: pyreadstat
Successfully installed pyreadstat-1.2.7

1. Import the `REC0111.sav`, `RE223132.sav` and `RE516171.sav` files and their variables and values labels from this path `"../../_data/endes/2019"`. The name of imported files should be named as `rec_1`, `rec_2` and `rec_3` for files `REC0111.sav`, `RE223132.sav` and `RE516171.sav` respectively. The name of the variable and value labels should be `var_labels1` and `value_labels1` for `rec1`, `var_labels2` and `value_labels2` for `rec2`, and `var_labels3` and `value_labels3` for `rec3`. **Hint: See the section 3.3.4 of [the lecture 3](https://github.com/alexanderquispe/Diplomado_PUCP/blob/main/Lecture_3/Lecture_3.ipynb)**

In [12]:
file_paths = [
    "../../_data/endes/2019/REC0111.sav",
    "../../_data/endes/2019/RE223132.sav",
    "../../_data/endes/2019/RE516171.sav"] #we import the files with the path

#we download data and labels and we return the df
data_frames = {}
var_labels = {}
value_labels = {}

def load_sav_file(file_path):
    df, meta = pyreadstat.read_sav(file_path)
    var_label_dict = dict(zip(df.columns, meta.column_labels))  # We turn into dictionaries
    return df, var_label_dict, meta.value_labels

#names of files
names = ["rec_1", "rec_2", "rec_3"]

#we zip the files and create the df
for name, path in zip(names, file_paths):
    df, var_label, value_label = load_sav_file(path)
    data_frames[name] = df
    var_labels[f'var_labels{name[-1]}'] = var_label
    value_labels[f'value_labels{name[-1]}'] = value_label

#new files
rec_1 = data_frames["rec_1"]
rec_2 = data_frames["rec_2"]
rec_3 = data_frames["rec_3"]

#names of variables and value labels
var_labels1 = var_labels["var_labels1"]
value_labels1 = value_labels["value_labels1"]

var_labels2 = var_labels["var_labels2"]
value_labels2 = value_labels["value_labels2"]

var_labels3 = var_labels["var_labels3"]
value_labels3 = value_labels["value_labels3"]

# Let's see the shape (rows, columns) of the dataframes
print(rec_1.shape)
print(rec_2.shape)
print(rec_3.shape)

(38335, 105)
(36922, 176)
(33311, 84)

In [14]:
#### [ESTA ES UNA VERSIÓN ALTERNATIVA DEL CÓDIGO ANTERIOR]

# To import files with pyreadstat, capturing both the dataframe and metadata,
 # We can bypass the initial file_path going directly to the pyreadstat
rec_1, meta1 = pyreadstat.read_sav("../../_data/endes/2019/REC0111.sav")
rec_2, meta2 = pyreadstat.read_sav("../../_data/endes/2019/RE223132.sav")
rec_3, meta3 = pyreadstat.read_sav("../../_data/endes/2019/RE516171.sav")

# Then, we extract variable and value labels
var_labels1 = meta1.column_labels
value_labels1 = meta1.value_labels

var_labels2 = meta2.column_labels
value_labels2 = meta2.value_labels

var_labels3 = meta3.column_labels
value_labels3 = meta3.value_labels

# Let's see the shape (rows, columns) of the dataframes
print(rec_1.shape)
print(rec_2.shape)
print(rec_3.shape)

(38335, 105)
(36922, 176)
(33311, 84)

2. Select the following columns for each data set. Check if all the columns are in the dataset. Make a code that check the columns that are not included. Please, reporte them.

|Data|Columns|
|---|---|
|rec1| CASEID, V000, V001, V002, V003, V004, V007, V008, V009, V010, V011, V012, V024, V102, V120, V121, V122, V123, V124, V125, V127, V133 |
|rec2| CASEID, V201, V218, V301, V302, V323, V323A, V325A, V326, V327, V337, V359, V360, V361, V362, V363, V364, V367, V372, V372A, V375A, V376, V376A, V379, V380 |
|rec3| CASEID, V501, V502, V503, V504, V505, V506, V507, V508, V509, V510, V511, V512, V513, V525, V613, V714, V715 |


Additioanlly, you should update the variables and value labels objects. They must have information only for the selected columns. The new dataframes should be name as `rec1_1`, `rec2_1`, and `rec3_1`. The new varible labels objects should be named as `new_var_labels1`, `new_var_labels2`, and `new_var_labels3`. The new value labels objects should be named as `new_value_labels1`, `new_value_labels2`, and `new_value_labels3` **Hint: Use the `loc` and column names to filter, `for loop`,   and [this link](https://stackoverflow.com/questions/3420122/filter-dict-to-contain-only-certain-keys) to update the var and value dictionary.**

In [16]:
#first, we select the columns
columns_dict = {
    "rec_1": ["CASEID", "V000", "V001", "V002", "V003", "V004", "V007", "V008", "V009", "V010", "V011", "V012", "V024", "V102", "V120", "V121", "V122", "V123", "V124", "V125", "V127", "V133"],
    "rec_2": ["CASEID", "V201", "V218", "V301", "V302", "V323", "V325A", "V326", "V327", "V337", "V359", "V360", "V361", "V362", "V363", "V364", "V367", "V372", "V372A", "V375A", "V376", "V376A", "V379", "V380"],
    "rec_3": ["CASEID", "V501", "V502", "V503", "V504", "V505", "V506", "V507", "V508", "V509", "V510", "V511", "V512", "V513", "V525", "V613", "V714", "V715"]}

# We update variable labels
def update_var_labels(var_labels, selected_columns):
    return {k: v for k, v in var_labels.items() if k in selected_columns}

# We update value labels
def update_value_labels(value_labels, selected_columns):
    new_value_labels = {}
    for k, v in value_labels.items():
        if k in selected_columns:
            new_value_labels[k] = v
    return new_value_labels

# Diccionarios para almacenar los DataFrames filtrados y las nuevas etiquetas
filtered_data_frames = {}
new_var_labels = {}
new_value_labels = {}

# We use loc to filter dfs and update labels
for name, df in data_frames.items():
    columns = columns_dict[name]
    filtered_df = df.loc[:, columns]
    filtered_data_frames[f'{name}_1'] = filtered_df
    new_var_labels[f'new_var_labels{name[-1]}'] = update_var_labels(var_labels[f'var_labels{name[-1]}'], columns)
    new_value_labels[f'new_value_labels{name[-1]}'] = update_value_labels(value_labels[f'value_labels{name[-1]}'], columns)

# We create the new dfs
rec1_1 = filtered_data_frames["rec_1_1"]
rec2_1 = filtered_data_frames["rec_2_1"]
rec3_1 = filtered_data_frames["rec_3_1"]

new_var_labels1 = new_var_labels["new_var_labels1"]
new_value_labels1 = new_value_labels["new_value_labels1"]

new_var_labels2 = new_var_labels["new_var_labels2"]
new_value_labels2 = new_value_labels["new_value_labels2"]

new_var_labels3 = new_var_labels["new_var_labels3"]
new_value_labels3 = new_value_labels["new_value_labels3"]

# Checking the new shapes of our df
print(rec1_1.shape)
print(rec2_1.shape)
print(rec3_1.shape)

(38335, 22)
(36922, 24)
(33311, 18)

In [18]:
######## [VERSIÓN ALTERNATIVA]

# We make a list with the columns to select from each df
cols_rec1 = ["CASEID", "V000", "V001", "V002", "V003", "V004", "V007", "V008", "V009", "V010", "V011", "V012", "V024", "V102", "V120", "V121", "V122", "V123", "V124", "V125", "V127", "V133"]
cols_rec2 = ["CASEID", "V201", "V218", "V301", "V302", "V323", "V323A", "V325A", "V326", "V327", "V337", "V359", "V360", "V361", "V362", "V363", "V364", "V367", "V372", "V372A", "V375A", "V376", "V376A", "V379", "V380"]
cols_rec3 = ["CASEID", "V501", "V502", "V503", "V504", "V505", "V506", "V507", "V508", "V509", "V510", "V511", "V512", "V513", "V525", "V613", "V714", "V715"]

# We define a function to select and check for missing columns
def check_and_select_cols(df, cols, dataset_name):
    # Select columns that are present in the dataframe
    selected_cols = [col for col in cols if col in df.columns]
    # Identify columns that are missing from the dataframe
    missing_cols = [col for col in cols if col not in df.columns]
    
    # If there are missing columns, print a message
    if missing_cols:
        print(f"Missing columns for {dataset_name}: {missing_cols}")
    
    # Return the dataframe with only the selected columns
    return df.loc[:, selected_cols]

# Applying function to each dataset
rec1_1 = check_and_select_cols(rec_1, cols_rec1, "rec1")
rec2_1 = check_and_select_cols(rec_2, cols_rec2, "rec2")
rec3_1 = check_and_select_cols(rec_3, cols_rec3, "rec3")

# We define a function to update variable labels for selected columns
def update_labels(old_labels, selected_cols):
    # Create a new dictionary with only the selected columns
    updated_labels = {key: old_labels[key] for key in selected_cols if key in old_labels}
    return updated_labels

# Updating variable labels
new_var_labels1 = update_labels(var_labels1, cols_rec1)
new_var_labels2 = update_labels(var_labels2, cols_rec2)
new_var_labels3 = update_labels(var_labels3, cols_rec3)

# Function to update value labels for selected columns
def update_value_labels(old_labels, selected_cols):
    # Create a new dictionary to hold updated value labels
    updated_labels = {key: old_labels[key] for key in selected_cols if key in old_labels}
    return updated_labels

# Updating value labels
new_value_labels1 = update_value_labels(value_labels1, cols_rec1)
new_value_labels2 = update_value_labels(value_labels2, cols_rec2)
new_value_labels3 = update_value_labels(value_labels3, cols_rec3)

# Checking the new shapes of our df
print(rec1_1.shape)
print(rec2_1.shape)
print(rec3_1.shape)

(38335, 22)
(36922, 25)
(33311, 18)

3. Generate a new column for `rec1_1` named as `year`. It should be equal to `2019`. Also, you must update this new variable for the `var_labels` dictionary. Generate a new key for `new_var_labels1` and the value for this key should be **"Year of the survey"** **Hint: Use `loc` and `update` method.**

In [20]:
# To know the current shape (rows, columns) of the df
print(rec1_1.shape)

# We'll add the column 'year' through .loc(), all the rows (':') will have the same value (2019) 
rec1_1.loc[:, 'year'] = 2019

# To verify that there's an extra column
print(rec1_1.shape)

# Next, we update the variable labels to include our new column.
 # Remember, it has to be like a dictionary because that's the kind of object new_var_labels1 is.
new_var_labels1.update({'year': "Year of the survey"})

print(new_var_labels1)

(38335, 22)
(38335, 23)
{'year': 'Year of the survey'}

4. Merge `rec1_1`, `rec2_1`, and `rec3_1` using **CASEID**. Name this new object as `endes_2019`. **Hint: Use [this link](https://stackoverflow.com/questions/53645882/pandas-merging-101)**

In [22]:
# We merge the datasets using the 'CASEID' column as our common variable (on = 'CASEID') and indicating 'outer' as the method
 # By using 'outer' we make sure that all our selected variables are preserved in the new dataset
 # Because 'outer' employs the union (all variables), whereas 'inner' only considers the intersection (shared variables)
endes_2019 = pd.merge(rec1_1, rec2_1, on = 'CASEID', how = 'outer')
endes_2019 = pd.merge(endes_2019, rec3_1, on = 'CASEID', how = 'outer')

# The df should have 64 columns, the sum of columns numbers in the composing df minus two (CASEID is present in all three fd, only gets counted once)
print(endes_2019.shape)
# Let's check if everything is in order
endes_2019

(38335, 64)

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V508,V509,V510,V511,V512,V513,V525,V613,V714,V715
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,2008.0,1297.0,1.0,21.0,11.0,3.0,17.0,2.0,1.0,11.0
1,000100201 3,PE6,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,2007.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,000102801 2,PE6,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,2011.0,1344.0,1.0,28.0,7.0,2.0,18.0,3.0,1.0,14.0
3,000102801 6,PE6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,1984.0,1016.0,5.0,14.0,34.0,7.0,14.0,0.0,0.0,6.0
4,000104801 2,PE6,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,2009.0,1320.0,1.0,18.0,9.0,2.0,15.0,2.0,0.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38330,325406201 2,PE6,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,1971.0,...,1985.0,1032.0,1.0,14.0,34.0,7.0,12.0,3.0,0.0,5.0
38331,325406301 2,PE6,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,1988.0,...,2002.0,1236.0,1.0,14.0,17.0,4.0,12.0,3.0,0.0,7.0
38332,325407001 2,PE6,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,1973.0,...,1986.0,1043.0,1.0,13.0,33.0,7.0,12.0,4.0,0.0,5.0
38333,325407201 2,PE6,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,1994.0,...,2008.0,1301.0,1.0,13.0,11.0,3.0,13.0,2.0,0.0,11.0
38334,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,2013.0,1362.0,1.0,16.0,6.0,2.0,15.0,2.0,0.0,11.0

5. Unify all the `new_var_labels` in one object and `new_value_labels` in another one object. Name these two objects as `var_labels` and `value_labels`. Use them to generate new attributes for `endes_2019`. These attributes should be named as `var_labels` and `value_labels`. **Hint: Use `update` method.**

In [24]:
# To combine all new_var_labels into a single dictionary
var_labels = new_var_labels1.copy()
var_labels.update(new_var_labels2)
var_labels.update(new_var_labels3)

# Now, we do the same for all new_value_labels
value_labels = new_value_labels1.copy()
value_labels.update(new_value_labels2)
value_labels.update(new_value_labels3)

# Finally, we add the new attributes to the endes_2019 dataframe
endes_2019.attrs['var_labels'] = var_labels
endes_2019.attrs['value_labels'] = value_labels

6. Now, replicate your code of the prevoius sections but for years **2019, 2018, 2017, 2016, 2015**. Import the `REC0111.sav`, `RE223132.sav` and `RE516171.sav` files and their **variables and values labels** from this path `"../../_data/endes/"`. For this excersie you must use a for loop. This loop must iterate over **2019, 2018, 2017, 2016, 2015 folders** and import these files. All the files have the same name. You must store these files and their labels in a nested dictionary named as `all_data`. The keys of the dictionary should be named as `year_2019`, for example, and the keys of the nested dictionary should be `data`, `var_labels`, and `value_labels`. **Hint: Use [this link](https://notebooks.githubusercontent.com/view/ipynb?browser=chrome&color_mode=auto&commit=4d6de78e00e7001f16bf6473c2eb7ce24fb611cd&device=unknown_device&enc_url=68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f616c6578616e6465727175697370652f4469706c6f6d61646f5f505543502f346436646537386530306537303031663136626636343733633265623763653234666236313163642f4c6563747572655f342f4c6563747572655f342e6970796e62&logged_in=true&nwo=alexanderquispe%2FDiplomado_PUCP&path=Lecture_4%2FLecture_4.ipynb&platform=windows&repository_id=427747212&repository_type=Repository&version=95#4.2.)**

In [26]:
############ VERSIÓN LARGA, VOLVIENDO A DEFINIR LAS FUNCIONES YA USADAS EN LOS CÓDIGOS ANTERIORES
############ ESTO NO ASUME QUE EL CÓDIGO DE LOS EJERCICIOS PREVIOS SEAN IGUALES

# Let's define the years we are interested in and the base path for the data
years = [2019, 2018, 2017, 2016, 2015]
base_path = "../../_data/endes/"

# Initialize an empty dictionary to store all data
all_data = {}

# OK, now we loop through each year to import data, select columns, update labels, and merge dataframes
for year in years:
    # First, we create a string for the dictionary key that includes the year
    year_str = f"year_{year}"
    
    # Then, we build the path to the directory for the current year
    path = f"{base_path}{year}/"
    
    # Now, we define the file paths for each dataset within the current year's directory
    file1 = f"{path}REC0111.sav"
    file2 = f"{path}RE223132.sav"
    file3 = f"{path}RE516171.sav"
    
    # Next, we import the data and labels for each file using pyreadstat
    rec1, meta1 = pyreadstat.read_sav(file1)
    rec2, meta2 = pyreadstat.read_sav(file2)
    rec3, meta3 = pyreadstat.read_sav(file3)
    
    # Just as we did in a previous exercise, we define the list of columns we are interested in
    cols_rec1 = ["CASEID", "V000", "V001", "V002", "V003", "V004", "V007", "V008", "V009", "V010", "V011", "V012", "V024", "V102", "V120", "V121", "V122", "V123", "V124", "V125", "V127", "V133"]
    cols_rec2 = ["CASEID", "V201", "V218", "V301", "V302", "V323", "V323A", "V325A", "V326", "V327", "V337", "V359", "V360", "V361", "V362", "V363", "V364", "V367", "V372", "V372A", "V375A", "V376", "V376A", "V379", "V380"]
    cols_rec3 = ["CASEID", "V501", "V502", "V503", "V504", "V505", "V506", "V507", "V508", "V509", "V510", "V511", "V512", "V513", "V525", "V613", "V714", "V715"]

    # Here we apply the function to check if the columns of our interest aren't missing and select them if they exist
    def check_and_select_cols(df, cols, dataset_name):
        selected_cols = [col for col in cols if col in df.columns]
        missing_cols = [col for col in cols if col not in df.columns]
        
        if missing_cols:
            print(f"Missing columns for {dataset_name} in year {year}: {missing_cols}")
        
        return df.loc[:, selected_cols]
    
    # Applying the selection and check to each dataset
    rec1_1 = check_and_select_cols(rec1, cols_rec1, "rec1")
    rec2_1 = check_and_select_cols(rec2, cols_rec2, "rec2")
    rec3_1 = check_and_select_cols(rec3, cols_rec3, "rec3")
    
    # For updating the variable labels for selected columns
    def update_labels(old_labels, selected_cols):
        return {key: old_labels[key] for key in selected_cols if key in old_labels}
    
    new_var_labels1 = update_labels(meta1.column_labels, cols_rec1)
    new_var_labels2 = update_labels(meta2.column_labels, cols_rec2)
    new_var_labels3 = update_labels(meta3.column_labels, cols_rec3)
    
    # For updating the value labels for selected columns
    def update_value_labels(old_labels, selected_cols):
        return {key: old_labels[key] for key in selected_cols if key in old_labels}
    
    new_value_labels1 = update_value_labels(meta1.value_labels, cols_rec1)
    new_value_labels2 = update_value_labels(meta2.value_labels, cols_rec2)
    new_value_labels3 = update_value_labels(meta3.value_labels, cols_rec3)
    
    # Create the 'year' column in rec1_1 and update the var_labels
    rec1_1.loc[:, 'year'] = year
    new_var_labels1.update({'year': "Year of the survey"})
    
    # Next, we merge the datasets using 'CASEID' and indicating 'outer' to capture all the wanted variables
    endes_year = pd.merge(rec1_1, rec2_1, on='CASEID', how='outer')
    endes_year = pd.merge(endes_year, rec3_1, on='CASEID', how='outer')
    
    # Then, we combine all the new_var_labels and new_value_labels into a single dictionary
    var_labels = new_var_labels1.copy()
    var_labels.update(new_var_labels2)
    var_labels.update(new_var_labels3)
    
    value_labels = new_value_labels1.copy()
    value_labels.update(new_value_labels2)
    value_labels.update(new_value_labels3)
    
    # Here we add the new attributes to the corresponding endes_f"{year}" df
    endes_year.attrs['var_labels'] = var_labels
    endes_year.attrs['value_labels'] = value_labels
    
    # Finally, we store the processed data for the current year in the nested dictionary
    all_data[year_str] = {
        'data': endes_year,
        'var_labels': var_labels,
        'value_labels': value_labels
    }

# The 'all_data' dictionary now should contain the processed data for all the specified years
print(all_data)

Missing columns for rec1 in year 2018: ['V007']
{'year_2019': {'data':                    CASEID V000    V001  V002  V003    V004    V007    V008  \
0            000100201  2  PE6     1.0   2.0   2.0     1.0  2019.0  1434.0
1            000100201  3  PE6     1.0   2.0   3.0     1.0  2019.0  1434.0
2            000102801  2  PE6     1.0  28.0   2.0     1.0  2019.0  1434.0
3            000102801  6  PE6     1.0  28.0   6.0     1.0  2019.0  1434.0
4            000104801  2  PE6     1.0  48.0   2.0     1.0  2019.0  1434.0
...                   ...  ...     ...   ...   ...     ...     ...     ...
38330        325406201  2  PE6  3254.0  62.0   2.0  3254.0  2019.0  1440.0
38331        325406301  2  PE6  3254.0  63.0   2.0  3254.0  2019.0  1440.0
38332        325407001  2  PE6  3254.0  70.0   2.0  3254.0  2019.0  1440.0
38333        325407201  2  PE6  3254.0  72.0   2.0  3254.0  2019.0  1440.0
38334        325407401  2  PE6  3254.0  74.0   2.0  3254.0  2019.0  1440.0

       V009    V010  ...    V508    V509  V510  V511  V512  V513  V525  V613  \
0       4.0  1986.0  ...  2008.0  1297.0   1.0  21.0  11.0   3.0  17.0   2.0
1       1.0  2007.0  ...     NaN     NaN   NaN   NaN   NaN   NaN   NaN   NaN
2       6.0  1983.0  ...  2011.0  1344.0   1.0  28.0   7.0   2.0  18.0   3.0
3       3.0  1970.0  ...  1984.0  1016.0   5.0  14.0  34.0   7.0  14.0   0.0
4       5.0  1991.0  ...  2009.0  1320.0   1.0  18.0   9.0   2.0  15.0   2.0
...     ...     ...  ...     ...     ...   ...   ...   ...   ...   ...   ...
38330  12.0  1971.0  ...  1985.0  1032.0   1.0  14.0  34.0   7.0  12.0   3.0
38331   6.0  1988.0  ...  2002.0  1236.0   1.0  14.0  17.0   4.0  12.0   3.0
38332   7.0  1973.0  ...  1986.0  1043.0   1.0  13.0  33.0   7.0  12.0   4.0
38333  12.0  1994.0  ...  2008.0  1301.0   1.0  13.0  11.0   3.0  13.0   2.0
38334  10.0  1996.0  ...  2013.0  1362.0   1.0  16.0   6.0   2.0  15.0   2.0

       V714  V715
0       1.0  11.0
1       NaN   NaN
2       1.0  14.0
3       0.0   6.0
4       0.0   6.0
...     ...   ...
38330   0.0   5.0
38331   0.0   7.0
38332   0.0   5.0
38333   0.0  11.0
38334   0.0  11.0

[38335 rows x 64 columns], 'var_labels': {'year': 'Year of the survey'}, 'value_labels': {}}, 'year_2018': {'data':                    CASEID V000    V001  V002  V003    V004    V008  V009  \
0            000100701  2  PE6     1.0   7.0   2.0     1.0  1422.0   8.0
1            000100701  3  PE6     1.0   7.0   3.0     1.0  1422.0   2.0
2            000101401  2  PE6     1.0  14.0   2.0     1.0  1422.0   6.0
3            000103501  4  PE6     1.0  35.0   4.0     1.0  1422.0   6.0
4            000103501  5  PE6     1.0  35.0   5.0     1.0  1422.0   5.0
...                   ...  ...     ...   ...   ...     ...     ...   ...
39740        325405401  4  PE6  3254.0  54.0   4.0  3254.0  1426.0   7.0
39741        325405701  2  PE6  3254.0  57.0   2.0  3254.0  1426.0   9.0
39742        325405801  3  PE6  3254.0  58.0   3.0  3254.0  1426.0  11.0
39743        325405901  2  PE6  3254.0  59.0   2.0  3254.0  1426.0  10.0
39744        325406101  2  PE6  3254.0  61.0   2.0  3254.0  1426.0   9.0

         V010    V011  ...    V508    V509  V510  V511  V512  V513  V525  \
0      1975.0   909.0  ...  1995.0  1141.0   6.0  19.0  23.0   5.0  18.0
1      2002.0  1227.0  ...     NaN     NaN   NaN   NaN   NaN   0.0   0.0
2      1997.0  1171.0  ...  2016.0  1399.0   1.0  19.0   1.0   1.0  17.0
3      2001.0  1219.0  ...     NaN     NaN   NaN   NaN   NaN   0.0  16.0
4      2006.0  1278.0  ...     NaN     NaN   NaN   NaN   NaN   NaN   NaN
...       ...     ...  ...     ...     ...   ...   ...   ...   ...   ...
39740  2004.0  1255.0  ...     NaN     NaN   NaN   NaN   NaN   NaN   NaN
39741  1977.0   933.0  ...  1996.0  1161.0   1.0  19.0  22.0   5.0  16.0
39742  2004.0  1260.0  ...     NaN     NaN   NaN   NaN   NaN   NaN   NaN
39743  2000.0  1210.0  ...  2012.0  1355.0   1.0  12.0   5.0   2.0  12.0
39744  1988.0  1066.0  ...  2003.0  1243.0   1.0  14.0  15.0   4.0  14.0

       V613  V714  V715
0       2.0   1.0   6.0
1       2.0   0.0   NaN
2       2.0   0.0  11.0
3       2.0   0.0   NaN
4       NaN   NaN   NaN
...     ...   ...   ...
39740   NaN   NaN   NaN
39741   3.0   0.0   8.0
39742   NaN   NaN   NaN
39743   2.0   0.0  10.0
39744   4.0   0.0   7.0

[39745 rows x 63 columns], 'var_labels': {'year': 'Year of the survey'}, 'value_labels': {}}, 'year_2017': {'data':                    CASEID V000    V001   V002  V003    V004    V007    V008  \
0            000102501  2  PE6     1.0   25.0   2.0     1.0  2017.0  1409.0
1            000103201  2  PE6     1.0   32.0   2.0     1.0  2017.0  1409.0
2            000103601  2  PE6     1.0   36.0   2.0     1.0  2017.0  1409.0
3            000104501  2  PE6     1.0   45.0   2.0     1.0  2017.0  1409.0
4            000105201  2  PE6     1.0   52.0   2.0     1.0  2017.0  1409.0
...                   ...  ...     ...    ...   ...     ...     ...     ...
33997        317510001  2  PE6  3175.0  100.0   2.0  3175.0  2017.0  1413.0
33998        317510101  2  PE6  3175.0  101.0   2.0  3175.0  2017.0  1413.0
33999        317510301  2  PE6  3175.0  103.0   2.0  3175.0  2017.0  1413.0
34000        317510601  2  PE6  3175.0  106.0   2.0  3175.0  2017.0  1413.0
34001        317510701  2  PE6  3175.0  107.0   2.0  3175.0  2017.0  1413.0

       V009    V010  ...    V508    V509  V510  V511  V512  V513  V525  V613  \
0       3.0  1978.0  ...  1994.0  1136.0   5.0  16.0  22.0   5.0  16.0   2.0
1       2.0  1995.0  ...  2011.0  1344.0   1.0  16.0   5.0   2.0  16.0   2.0
2       5.0  1998.0  ...  2013.0  1368.0   1.0  15.0   3.0   1.0  15.0   0.0
3       4.0  1984.0  ...  2000.0  1211.0   1.0  16.0  16.0   4.0  14.0  96.0
4       4.0  1984.0  ...  2015.0  1386.0   1.0  31.0   1.0   1.0  17.0   2.0
...     ...     ...  ...     ...     ...   ...   ...   ...   ...   ...   ...
33997  11.0  1982.0  ...  1999.0  1196.0   1.0  16.0  18.0   4.0  14.0   2.0
33998   5.0  1975.0  ...  2005.0  1267.0   1.0  30.0  12.0   3.0  27.0  10.0
33999   5.0  1986.0  ...  2000.0  1205.0   1.0  14.0  17.0   4.0  13.0   3.0
34000   5.0  1992.0  ...  2008.0  1298.0   1.0  15.0   9.0   2.0  15.0  96.0
34001   2.0  1988.0  ...  2010.0  1321.0   1.0  21.0   7.0   2.0  21.0   5.0

       V714  V715
0       1.0   6.0
1       0.0  11.0
2       1.0  11.0
3       0.0   6.0
4       0.0  98.0
...     ...   ...
33997   1.0   3.0
33998   1.0   3.0
33999   1.0   1.0
34000   0.0   3.0
34001   1.0   5.0

[34002 rows x 64 columns], 'var_labels': {'year': 'Year of the survey'}, 'value_labels': {}}, 'year_2016': {'data':                    CASEID V000    V001  V002  V003    V004    V007    V008  \
0            000100301  2  PE6     1.0   3.0   2.0     1.0  2016.0  1398.0
1            000102801  1  PE6     1.0  28.0   1.0     1.0  2016.0  1398.0
2            000102801  2  PE6     1.0  28.0   2.0     1.0  2016.0  1398.0
3            000106101  2  PE6     1.0  61.0   2.0     1.0  2016.0  1398.0
4            000106801  2  PE6     1.0  68.0   2.0     1.0  2016.0  1398.0
...                   ...  ...     ...   ...   ...     ...     ...     ...
34126        317500701  2  PE6  3175.0   7.0   2.0  3175.0  2016.0  1401.0
34127        317501001  2  PE6  3175.0  10.0   2.0  3175.0  2016.0  1401.0
34128        317501101  2  PE6  3175.0  11.0   2.0  3175.0  2016.0  1401.0
34129        317501601  2  PE6  3175.0  16.0   2.0  3175.0  2016.0  1401.0
34130        317501801  2  PE6  3175.0  18.0   2.0  3175.0  2016.0  1401.0

       V009    V010  ...    V508    V509  V510  V511  V512  V513  V525  V613  \
0      11.0  1982.0  ...  2012.0  1352.0   1.0  29.0   3.0   1.0  19.0   2.0
1      10.0  1979.0  ...  1993.0  1123.0   5.0  13.0  22.0   5.0  13.0   5.0
2       6.0  1998.0  ...     NaN     NaN   NaN   NaN   NaN   0.0  16.0   1.0
3       4.0  1990.0  ...  2013.0  1366.0   1.0  23.0   2.0   1.0  20.0   4.0
4       6.0  1973.0  ...  1992.0  1105.0   1.0  18.0  24.0   5.0  18.0   2.0
...     ...     ...  ...     ...     ...   ...   ...   ...   ...   ...   ...
34126   4.0  1995.0  ...  2013.0  1365.0   1.0  18.0   3.0   1.0  13.0   2.0
34127   3.0  1978.0  ...  1990.0  1083.0   1.0  12.0  26.0   6.0  12.0   1.0
34128   2.0  2001.0  ...  2015.0  1389.0   1.0  14.0   1.0   1.0  14.0   2.0
34129   3.0  1987.0  ...  2004.0  1249.0   1.0  16.0  12.0   3.0  15.0   3.0
34130   5.0  1971.0  ...  1989.0  1078.0   1.0  18.0  26.0   6.0  13.0   2.0

       V714  V715
0       0.0   9.0
1       1.0   6.0
2       1.0   NaN
3       0.0  16.0
4       1.0   8.0
...     ...   ...
34126   0.0   9.0
34127   1.0   5.0
34128   1.0   6.0
34129   0.0   9.0
34130   1.0  11.0

[34131 rows x 64 columns], 'var_labels': {'year': 'Year of the survey'}, 'value_labels': {}}, 'year_2015': {'data':                    CASEID V000    V001  V002  V003    V004    V007    V008  \
0            000102701  1  PE6     1.0  27.0   1.0     1.0  2015.0  1386.0
1            000104301  1  PE6     1.0  43.0   1.0     1.0  2015.0  1386.0
2            000104801  2  PE6     1.0  48.0   2.0     1.0  2015.0  1386.0
3            000104801  3  PE6     1.0  48.0   3.0     1.0  2015.0  1386.0
4            000105001  3  PE6     1.0  50.0   3.0     1.0  2015.0  1386.0
...                   ...  ...     ...   ...   ...     ...     ...     ...
36650        317503501  2  PE6  3175.0  35.0   2.0  3175.0  2015.0  1389.0
36651        317503701  2  PE6  3175.0  37.0   2.0  3175.0  2015.0  1389.0
36652        317507601  1  PE6  3175.0  76.0   1.0  3175.0  2015.0  1389.0
36653        317507801  2  PE6  3175.0  78.0   2.0  3175.0  2015.0  1389.0
36654        317508001  2  PE6  3175.0  80.0   2.0  3175.0  2015.0  1389.0

       V009    V010  ...    V508    V509  V510  V511  V512  V513  V525  V613  \
0       7.0  1985.0  ...  2001.0  1220.0   1.0  16.0  13.0   3.0  15.0   4.0
1       4.0  1974.0  ...  2007.0  1290.0   1.0  33.0   8.0   2.0  26.0   2.0
2       1.0  1980.0  ...  1998.0  1177.0   1.0  18.0  17.0   4.0  18.0   1.0
3      11.0  1999.0  ...     NaN     NaN   NaN   NaN   NaN   0.0   0.0   0.0
4       8.0  1993.0  ...     NaN     NaN   NaN   NaN   NaN   0.0  21.0   2.0
...     ...     ...  ...     ...     ...   ...   ...   ...   ...   ...   ...
36650   1.0  1989.0  ...  2008.0  1303.0   1.0  19.0   7.0   2.0  15.0   1.0
36651  12.0  1970.0  ...  1991.0  1098.0   1.0  20.0  24.0   5.0  14.0   3.0
36652  10.0  1972.0  ...  1993.0  1118.0   1.0  20.0  22.0   5.0  12.0   3.0
36653   4.0  2000.0  ...     NaN     NaN   NaN   NaN   NaN   0.0   0.0   2.0
36654   7.0  1984.0  ...  2004.0  1250.0   1.0  19.0  11.0   3.0  18.0   2.0

       V714  V715
0       1.0   3.0
1       0.0   9.0
2       1.0  11.0
3       1.0   NaN
4       0.0   NaN
...     ...   ...
36650   1.0  11.0
36651   1.0   0.0
36652   1.0   3.0
36653   0.0   NaN
36654   0.0  11.0

[36655 rows x 64 columns], 'var_labels': {'year': 'Year of the survey'}, 'value_labels': {}}}

In [28]:
#######################  [ESTA ES LA VERSIÓN CORTA, SIMPLEMENTE LLAMANDO A LAS FUNCIONES YA DEFINIDAS ANTES]
#######################  [ESTA VERSIÓN ASUME QUE EL CÓDIGO ES EL MISMO, POR ESO SOLO LLAMA A LAS FUNCIONES]


# We begin by defining the years we are interested in and the base path for the data
years = [2019, 2018, 2017, 2016, 2015]
base_path = "../../_data/endes/"

# Below, we define an empty dictionary to store all data
all_data = {}

# OK, now we loop through each year to import data, select columns, update labels, and merge df
for year in years:
    # First, we create a string for the dictionary key that includes the year
    year_str = f"year_{year}"
    
    # For building the path to the directory for the current year, we use
    path = f"{base_path}{year}/"
    
    # We define the file paths for each dataset within the current year's directory
    file1 = f"{path}REC0111.sav"
    file2 = f"{path}RE223132.sav"
    file3 = f"{path}RE516171.sav"
    
    # Next, we import the data and labels for each file using pyreadstat
    rec1, meta1 = pyreadstat.read_sav(file1)
    rec2, meta2 = pyreadstat.read_sav(file2)
    rec3, meta3 = pyreadstat.read_sav(file3)
    
    # Here we apply the function we defined in exercise 2 to check if our columns of interest are not missing and select them
    rec1_1 = check_and_select_cols(rec1, cols_rec1, "rec1")
    rec2_1 = check_and_select_cols(rec2, cols_rec2, "rec2")
    rec3_1 = check_and_select_cols(rec3, cols_rec3, "rec3")
    
    # This is to update the variable labels, using the function from exercise 2
    new_var_labels1 = update_labels(meta1.column_labels, cols_rec1)
    new_var_labels2 = update_labels(meta2.column_labels, cols_rec2)
    new_var_labels3 = update_labels(meta3.column_labels, cols_rec3)
    
    # Another function from ex.2, this one, for updating the value labels
    new_value_labels1 = update_value_labels(meta1.value_labels, cols_rec1)
    new_value_labels2 = update_value_labels(meta2.value_labels, cols_rec2)
    new_value_labels3 = update_value_labels(meta3.value_labels, cols_rec3)
    
    # Let's create the 'year' column in rec1_1 and update the var_labels
    rec1_1.loc[:, 'year'] = year
    new_var_labels1.update({'year': "Year of the survey"})
    
    # Next, we merge the datasets using 'CASEID' and indicating 'outer' to capture all the wanted variables
    endes_year = pd.merge(rec1_1, rec2_1, on='CASEID', how='outer')
    endes_year = pd.merge(endes_year, rec3_1, on='CASEID', how='outer')
    
    # Then, we combine all the new_var_labels and new_value_labels into a single dictionary
    var_labels = new_var_labels1.copy()
    var_labels.update(new_var_labels2)
    var_labels.update(new_var_labels3)
    
    value_labels = new_value_labels1.copy()
    value_labels.update(new_value_labels2)
    value_labels.update(new_value_labels3)
    
    # Here we add the new attributes to the corresponding endes_f"{year}" df
    endes_year.attrs['var_labels'] = var_labels
    endes_year.attrs['value_labels'] = value_labels
    
    # Finally, we store the processed data for the current year in the nested dictionary
    all_data[year_str] = {
        'data': endes_year,
        'var_labels': var_labels,
        'value_labels': value_labels
    }

# The 'all_data' dictionary now should contain the processed data for all the specified years
print(all_data)

Missing columns for rec1 in year 2018: ['V007']
{'year_2019': {'data':                    CASEID V000    V001  V002  V003    V004    V007    V008  \
0            000100201  2  PE6     1.0   2.0   2.0     1.0  2019.0  1434.0
1            000100201  3  PE6     1.0   2.0   3.0     1.0  2019.0  1434.0
2            000102801  2  PE6     1.0  28.0   2.0     1.0  2019.0  1434.0
3            000102801  6  PE6     1.0  28.0   6.0     1.0  2019.0  1434.0
4            000104801  2  PE6     1.0  48.0   2.0     1.0  2019.0  1434.0
...                   ...  ...     ...   ...   ...     ...     ...     ...
38330        325406201  2  PE6  3254.0  62.0   2.0  3254.0  2019.0  1440.0
38331        325406301  2  PE6  3254.0  63.0   2.0  3254.0  2019.0  1440.0
38332        325407001  2  PE6  3254.0  70.0   2.0  3254.0  2019.0  1440.0
38333        325407201  2  PE6  3254.0  72.0   2.0  3254.0  2019.0  1440.0
38334        325407401  2  PE6  3254.0  74.0   2.0  3254.0  2019.0  1440.0

       V009    V010  ...    V508    V509  V510  V511  V512  V513  V525  V613  \
0       4.0  1986.0  ...  2008.0  1297.0   1.0  21.0  11.0   3.0  17.0   2.0
1       1.0  2007.0  ...     NaN     NaN   NaN   NaN   NaN   NaN   NaN   NaN
2       6.0  1983.0  ...  2011.0  1344.0   1.0  28.0   7.0   2.0  18.0   3.0
3       3.0  1970.0  ...  1984.0  1016.0   5.0  14.0  34.0   7.0  14.0   0.0
4       5.0  1991.0  ...  2009.0  1320.0   1.0  18.0   9.0   2.0  15.0   2.0
...     ...     ...  ...     ...     ...   ...   ...   ...   ...   ...   ...
38330  12.0  1971.0  ...  1985.0  1032.0   1.0  14.0  34.0   7.0  12.0   3.0
38331   6.0  1988.0  ...  2002.0  1236.0   1.0  14.0  17.0   4.0  12.0   3.0
38332   7.0  1973.0  ...  1986.0  1043.0   1.0  13.0  33.0   7.0  12.0   4.0
38333  12.0  1994.0  ...  2008.0  1301.0   1.0  13.0  11.0   3.0  13.0   2.0
38334  10.0  1996.0  ...  2013.0  1362.0   1.0  16.0   6.0   2.0  15.0   2.0

       V714  V715
0       1.0  11.0
1       NaN   NaN
2       1.0  14.0
3       0.0   6.0
4       0.0   6.0
...     ...   ...
38330   0.0   5.0
38331   0.0   7.0
38332   0.0   5.0
38333   0.0  11.0
38334   0.0  11.0

[38335 rows x 64 columns], 'var_labels': {'year': 'Year of the survey'}, 'value_labels': {}}, 'year_2018': {'data':                    CASEID V000    V001  V002  V003    V004    V008  V009  \
0            000100701  2  PE6     1.0   7.0   2.0     1.0  1422.0   8.0
1            000100701  3  PE6     1.0   7.0   3.0     1.0  1422.0   2.0
2            000101401  2  PE6     1.0  14.0   2.0     1.0  1422.0   6.0
3            000103501  4  PE6     1.0  35.0   4.0     1.0  1422.0   6.0
4            000103501  5  PE6     1.0  35.0   5.0     1.0  1422.0   5.0
...                   ...  ...     ...   ...   ...     ...     ...   ...
39740        325405401  4  PE6  3254.0  54.0   4.0  3254.0  1426.0   7.0
39741        325405701  2  PE6  3254.0  57.0   2.0  3254.0  1426.0   9.0
39742        325405801  3  PE6  3254.0  58.0   3.0  3254.0  1426.0  11.0
39743        325405901  2  PE6  3254.0  59.0   2.0  3254.0  1426.0  10.0
39744        325406101  2  PE6  3254.0  61.0   2.0  3254.0  1426.0   9.0

         V010    V011  ...    V508    V509  V510  V511  V512  V513  V525  \
0      1975.0   909.0  ...  1995.0  1141.0   6.0  19.0  23.0   5.0  18.0
1      2002.0  1227.0  ...     NaN     NaN   NaN   NaN   NaN   0.0   0.0
2      1997.0  1171.0  ...  2016.0  1399.0   1.0  19.0   1.0   1.0  17.0
3      2001.0  1219.0  ...     NaN     NaN   NaN   NaN   NaN   0.0  16.0
4      2006.0  1278.0  ...     NaN     NaN   NaN   NaN   NaN   NaN   NaN
...       ...     ...  ...     ...     ...   ...   ...   ...   ...   ...
39740  2004.0  1255.0  ...     NaN     NaN   NaN   NaN   NaN   NaN   NaN
39741  1977.0   933.0  ...  1996.0  1161.0   1.0  19.0  22.0   5.0  16.0
39742  2004.0  1260.0  ...     NaN     NaN   NaN   NaN   NaN   NaN   NaN
39743  2000.0  1210.0  ...  2012.0  1355.0   1.0  12.0   5.0   2.0  12.0
39744  1988.0  1066.0  ...  2003.0  1243.0   1.0  14.0  15.0   4.0  14.0

       V613  V714  V715
0       2.0   1.0   6.0
1       2.0   0.0   NaN
2       2.0   0.0  11.0
3       2.0   0.0   NaN
4       NaN   NaN   NaN
...     ...   ...   ...
39740   NaN   NaN   NaN
39741   3.0   0.0   8.0
39742   NaN   NaN   NaN
39743   2.0   0.0  10.0
39744   4.0   0.0   7.0

[39745 rows x 63 columns], 'var_labels': {'year': 'Year of the survey'}, 'value_labels': {}}, 'year_2017': {'data':                    CASEID V000    V001   V002  V003    V004    V007    V008  \
0            000102501  2  PE6     1.0   25.0   2.0     1.0  2017.0  1409.0
1            000103201  2  PE6     1.0   32.0   2.0     1.0  2017.0  1409.0
2            000103601  2  PE6     1.0   36.0   2.0     1.0  2017.0  1409.0
3            000104501  2  PE6     1.0   45.0   2.0     1.0  2017.0  1409.0
4            000105201  2  PE6     1.0   52.0   2.0     1.0  2017.0  1409.0
...                   ...  ...     ...    ...   ...     ...     ...     ...
33997        317510001  2  PE6  3175.0  100.0   2.0  3175.0  2017.0  1413.0
33998        317510101  2  PE6  3175.0  101.0   2.0  3175.0  2017.0  1413.0
33999        317510301  2  PE6  3175.0  103.0   2.0  3175.0  2017.0  1413.0
34000        317510601  2  PE6  3175.0  106.0   2.0  3175.0  2017.0  1413.0
34001        317510701  2  PE6  3175.0  107.0   2.0  3175.0  2017.0  1413.0

       V009    V010  ...    V508    V509  V510  V511  V512  V513  V525  V613  \
0       3.0  1978.0  ...  1994.0  1136.0   5.0  16.0  22.0   5.0  16.0   2.0
1       2.0  1995.0  ...  2011.0  1344.0   1.0  16.0   5.0   2.0  16.0   2.0
2       5.0  1998.0  ...  2013.0  1368.0   1.0  15.0   3.0   1.0  15.0   0.0
3       4.0  1984.0  ...  2000.0  1211.0   1.0  16.0  16.0   4.0  14.0  96.0
4       4.0  1984.0  ...  2015.0  1386.0   1.0  31.0   1.0   1.0  17.0   2.0
...     ...     ...  ...     ...     ...   ...   ...   ...   ...   ...   ...
33997  11.0  1982.0  ...  1999.0  1196.0   1.0  16.0  18.0   4.0  14.0   2.0
33998   5.0  1975.0  ...  2005.0  1267.0   1.0  30.0  12.0   3.0  27.0  10.0
33999   5.0  1986.0  ...  2000.0  1205.0   1.0  14.0  17.0   4.0  13.0   3.0
34000   5.0  1992.0  ...  2008.0  1298.0   1.0  15.0   9.0   2.0  15.0  96.0
34001   2.0  1988.0  ...  2010.0  1321.0   1.0  21.0   7.0   2.0  21.0   5.0

       V714  V715
0       1.0   6.0
1       0.0  11.0
2       1.0  11.0
3       0.0   6.0
4       0.0  98.0
...     ...   ...
33997   1.0   3.0
33998   1.0   3.0
33999   1.0   1.0
34000   0.0   3.0
34001   1.0   5.0

[34002 rows x 64 columns], 'var_labels': {'year': 'Year of the survey'}, 'value_labels': {}}, 'year_2016': {'data':                    CASEID V000    V001  V002  V003    V004    V007    V008  \
0            000100301  2  PE6     1.0   3.0   2.0     1.0  2016.0  1398.0
1            000102801  1  PE6     1.0  28.0   1.0     1.0  2016.0  1398.0
2            000102801  2  PE6     1.0  28.0   2.0     1.0  2016.0  1398.0
3            000106101  2  PE6     1.0  61.0   2.0     1.0  2016.0  1398.0
4            000106801  2  PE6     1.0  68.0   2.0     1.0  2016.0  1398.0
...                   ...  ...     ...   ...   ...     ...     ...     ...
34126        317500701  2  PE6  3175.0   7.0   2.0  3175.0  2016.0  1401.0
34127        317501001  2  PE6  3175.0  10.0   2.0  3175.0  2016.0  1401.0
34128        317501101  2  PE6  3175.0  11.0   2.0  3175.0  2016.0  1401.0
34129        317501601  2  PE6  3175.0  16.0   2.0  3175.0  2016.0  1401.0
34130        317501801  2  PE6  3175.0  18.0   2.0  3175.0  2016.0  1401.0

       V009    V010  ...    V508    V509  V510  V511  V512  V513  V525  V613  \
0      11.0  1982.0  ...  2012.0  1352.0   1.0  29.0   3.0   1.0  19.0   2.0
1      10.0  1979.0  ...  1993.0  1123.0   5.0  13.0  22.0   5.0  13.0   5.0
2       6.0  1998.0  ...     NaN     NaN   NaN   NaN   NaN   0.0  16.0   1.0
3       4.0  1990.0  ...  2013.0  1366.0   1.0  23.0   2.0   1.0  20.0   4.0
4       6.0  1973.0  ...  1992.0  1105.0   1.0  18.0  24.0   5.0  18.0   2.0
...     ...     ...  ...     ...     ...   ...   ...   ...   ...   ...   ...
34126   4.0  1995.0  ...  2013.0  1365.0   1.0  18.0   3.0   1.0  13.0   2.0
34127   3.0  1978.0  ...  1990.0  1083.0   1.0  12.0  26.0   6.0  12.0   1.0
34128   2.0  2001.0  ...  2015.0  1389.0   1.0  14.0   1.0   1.0  14.0   2.0
34129   3.0  1987.0  ...  2004.0  1249.0   1.0  16.0  12.0   3.0  15.0   3.0
34130   5.0  1971.0  ...  1989.0  1078.0   1.0  18.0  26.0   6.0  13.0   2.0

       V714  V715
0       0.0   9.0
1       1.0   6.0
2       1.0   NaN
3       0.0  16.0
4       1.0   8.0
...     ...   ...
34126   0.0   9.0
34127   1.0   5.0
34128   1.0   6.0
34129   0.0   9.0
34130   1.0  11.0

[34131 rows x 64 columns], 'var_labels': {'year': 'Year of the survey'}, 'value_labels': {}}, 'year_2015': {'data':                    CASEID V000    V001  V002  V003    V004    V007    V008  \
0            000102701  1  PE6     1.0  27.0   1.0     1.0  2015.0  1386.0
1            000104301  1  PE6     1.0  43.0   1.0     1.0  2015.0  1386.0
2            000104801  2  PE6     1.0  48.0   2.0     1.0  2015.0  1386.0
3            000104801  3  PE6     1.0  48.0   3.0     1.0  2015.0  1386.0
4            000105001  3  PE6     1.0  50.0   3.0     1.0  2015.0  1386.0
...                   ...  ...     ...   ...   ...     ...     ...     ...
36650        317503501  2  PE6  3175.0  35.0   2.0  3175.0  2015.0  1389.0
36651        317503701  2  PE6  3175.0  37.0   2.0  3175.0  2015.0  1389.0
36652        317507601  1  PE6  3175.0  76.0   1.0  3175.0  2015.0  1389.0
36653        317507801  2  PE6  3175.0  78.0   2.0  3175.0  2015.0  1389.0
36654        317508001  2  PE6  3175.0  80.0   2.0  3175.0  2015.0  1389.0

       V009    V010  ...    V508    V509  V510  V511  V512  V513  V525  V613  \
0       7.0  1985.0  ...  2001.0  1220.0   1.0  16.0  13.0   3.0  15.0   4.0
1       4.0  1974.0  ...  2007.0  1290.0   1.0  33.0   8.0   2.0  26.0   2.0
2       1.0  1980.0  ...  1998.0  1177.0   1.0  18.0  17.0   4.0  18.0   1.0
3      11.0  1999.0  ...     NaN     NaN   NaN   NaN   NaN   0.0   0.0   0.0
4       8.0  1993.0  ...     NaN     NaN   NaN   NaN   NaN   0.0  21.0   2.0
...     ...     ...  ...     ...     ...   ...   ...   ...   ...   ...   ...
36650   1.0  1989.0  ...  2008.0  1303.0   1.0  19.0   7.0   2.0  15.0   1.0
36651  12.0  1970.0  ...  1991.0  1098.0   1.0  20.0  24.0   5.0  14.0   3.0
36652  10.0  1972.0  ...  1993.0  1118.0   1.0  20.0  22.0   5.0  12.0   3.0
36653   4.0  2000.0  ...     NaN     NaN   NaN   NaN   NaN   0.0   0.0   2.0
36654   7.0  1984.0  ...  2004.0  1250.0   1.0  19.0  11.0   3.0  18.0   2.0

       V714  V715
0       1.0   3.0
1       0.0   9.0
2       1.0  11.0
3       1.0   NaN
4       0.0   NaN
...     ...   ...
36650   1.0  11.0
36651   1.0   0.0
36652   1.0   3.0
36653   0.0   NaN
36654   0.0  11.0

[36655 rows x 64 columns], 'var_labels': {'year': 'Year of the survey'}, 'value_labels': {}}}

7. Use `all_data` to append all the data sets. Store all data sets in a list using `for loop`. Then, use `pd.concat` to append all the data sets. Also, you must reset the index to have a good-looking data. This new object should be named as `endes_data_2015_2019`. **Hint: Use [this code](https://stackoverflow.com/questions/32444138/concatenate-a-list-of-pandas-dataframes-together)**

In [30]:
# We create an empty list to store all the df from all years
data_frames = []

# Now, we'll loop through each year's data in all_data
for year_str in all_data.keys():

    # Extract the DataFrame from the current year's dictionary, not the entire list
    year_df = all_data[year_str]['data']
    
    # Extend the DataFrame into the data_frames list
    # By using extend instead of append, we avoid nesting lists within the list (which is what the last does)
    data_frames.append(year_df)

# Lastly, we concatenate all df into a single dataframe row-wise (axis=0)
  # Why row-wise? Because our df has the same columns but for different cases (persons)
  # We also set 'ignore_index = True' to avoid having repeated indexes (0, 1, 2, 4, 0, 1, 2, 3...)
endes_data_2015_2019 = pd.concat(data_frames, axis = 0, ignore_index = True)

# We check the output. Remember, the number of columns should be 64, we explained it in the code of exercise 4
print(endes_data_2015_2019)

                    CASEID V000    V001  V002  V003    V004    V007    V008  \
0             000100201  2  PE6     1.0   2.0   2.0     1.0  2019.0  1434.0
1             000100201  3  PE6     1.0   2.0   3.0     1.0  2019.0  1434.0
2             000102801  2  PE6     1.0  28.0   2.0     1.0  2019.0  1434.0
3             000102801  6  PE6     1.0  28.0   6.0     1.0  2019.0  1434.0
4             000104801  2  PE6     1.0  48.0   2.0     1.0  2019.0  1434.0
...                    ...  ...     ...   ...   ...     ...     ...     ...
182863        317503501  2  PE6  3175.0  35.0   2.0  3175.0  2015.0  1389.0
182864        317503701  2  PE6  3175.0  37.0   2.0  3175.0  2015.0  1389.0
182865        317507601  1  PE6  3175.0  76.0   1.0  3175.0  2015.0  1389.0
182866        317507801  2  PE6  3175.0  78.0   2.0  3175.0  2015.0  1389.0
182867        317508001  2  PE6  3175.0  80.0   2.0  3175.0  2015.0  1389.0

        V009    V010  ...    V508    V509  V510  V511  V512  V513  V525  V613  \
0        4.0  1986.0  ...  2008.0  1297.0   1.0  21.0  11.0   3.0  17.0   2.0
1        1.0  2007.0  ...     NaN     NaN   NaN   NaN   NaN   NaN   NaN   NaN
2        6.0  1983.0  ...  2011.0  1344.0   1.0  28.0   7.0   2.0  18.0   3.0
3        3.0  1970.0  ...  1984.0  1016.0   5.0  14.0  34.0   7.0  14.0   0.0
4        5.0  1991.0  ...  2009.0  1320.0   1.0  18.0   9.0   2.0  15.0   2.0
...      ...     ...  ...     ...     ...   ...   ...   ...   ...   ...   ...
182863   1.0  1989.0  ...  2008.0  1303.0   1.0  19.0   7.0   2.0  15.0   1.0
182864  12.0  1970.0  ...  1991.0  1098.0   1.0  20.0  24.0   5.0  14.0   3.0
182865  10.0  1972.0  ...  1993.0  1118.0   1.0  20.0  22.0   5.0  12.0   3.0
182866   4.0  2000.0  ...     NaN     NaN   NaN   NaN   NaN   0.0   0.0   2.0
182867   7.0  1984.0  ...  2004.0  1250.0   1.0  19.0  11.0   3.0  18.0   2.0

        V714  V715
0        1.0  11.0
1        NaN   NaN
2        1.0  14.0
3        0.0   6.0
4        0.0   6.0
...      ...   ...
182863   1.0  11.0
182864   1.0   0.0
182865   1.0   3.0
182866   0.0   NaN
182867   0.0  11.0

[182868 rows x 64 columns]

8. Store all the `var_labels` and `value_labels` in a dictionary named as `all_var_labels` and `all_value_labels`. The first keys should be the year for both dictionaries.Then, use them to generate new attributes for `endes_data_2015_2019`. These attributes should be named as `var_labels` and `value_labels`.  **Hint: Use [this link](https://notebooks.githubusercontent.com/view/ipynb?browser=chrome&color_mode=auto&commit=4d6de78e00e7001f16bf6473c2eb7ce24fb611cd&device=unknown_device&enc_url=68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f616c6578616e6465727175697370652f4469706c6f6d61646f5f505543502f346436646537386530306537303031663136626636343733633265623763653234666236313163642f4c6563747572655f342f4c6563747572655f342e6970796e62&logged_in=true&nwo=alexanderquispe%2FDiplomado_PUCP&path=Lecture_4%2FLecture_4.ipynb&platform=windows&repository_id=427747212&repository_type=Repository&version=95#4.2.3.)**

In [ ]:
###

9. Use `endes_data_2015_2019` data to generate a new object named `mean_key_vars` to find the mean of **total children ever born (V201)**, **Ideal number of children (V613)**, **Husbands education-single yrs (V715)**, and **Age at first marriage (V511)** by year and department **(V024)**. Name these columns as **mean_total_children, mean_ideal_children, mean_hb_yr_educ and mean_first_marriage**, respectively. **Hint: Use groupby and [this link](https://stackoverflow.com/questions/40901770/is-there-a-simple-way-to-change-a-column-of-yes-no-to-1-0-in-a-pandas-dataframe).**

In [ ]:
###

10. Merge `mean_key_vars` with `endes_data_2015_2019`. Name this object `final_result`. **Hint: Use merge.**

In [ ]:
###