## Group 10 

Members:
- Maria del Carmen Venero Acurio
- Luis Claudio Quispe Macavilca
- Gonzalo Canelo
- Diego Delgado Díaz

# 1 Assignment

It is totally prohibited to use any kind of loop. You can use stackoverflow. If you copy codes from previous answers, explain each step. No explanation is `0 points`.

## 1.1 Tuple



1. Print the first item of the second item of `tuple1` object. **Hint: Use indexing**<br><br>
2. Print the last item of the `tuple1` object.**Hint: Use indexing**<br><br>
3. Change the value "orange" for "pink grapefruit". Comment the output. **Hint: Is it possible?** <br><br>
4. Print the length of `tuple1`. **Hint: Length function**<br><br>
5. Sum all the elements of tuple2 and describe your steps and explain each of them. **Hint: Use `map` function.**<br><br>
6. Generate a new tuple object named as `tuple3` with the half values of `tuple2`. This tuple should be similar as `tuple2`, tuple of lists.  **Hint: Use `map` funciont.**<br><br>

In [1]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple2 = ([7, 8], [9, 1], [10, 7])

## Solution:
In the follwoing code lines we will be addressing Section 1.1.

### 1.1. Print first item of tuple1

We'll be callig it by its index. [1] refers the index of the Second item and [0] refers to the first item of the second item.

In [2]:
print(tuple1[1][0])

10

### 2. Print last item of tuple1
We'll be calling the item by its index [-1]. Alternatively we can call it by index [2]

In [3]:
print(tuple1[-1])
print(tuple1[2])

(5, 15, 25)
(5, 15, 25)

### 3. Change item value
We cannot change items in the tuple itself. However if we transform it to a list we can change the item by calling it by its index. Then we can transform this new list to a tuple (same name as previous tuple) and we'll obtain our new tuple with the repalcement.

In [4]:
tuple1_list = list(tuple1)
tuple1_list[0] = "pink grapefruit"
tuple1 = tuple(tuple1_list)
print(tuple1[0])
print(tuple1)

pink grapefruit
('pink grapefruit', [10, 20, 30], (5, 15, 25))

### 4. Print the lenght of tuple1

We use the len() function to address this

In [5]:
print(len(tuple1))

3

### 5. Sum values of tuple2
With the map function we can iterate sum() within tuple2 elements. Then it will generate a list of 3 elements in which we also apply hte sum() function. We will then obtain the total sum of the elements.

In [6]:
sum(map(sum, tuple2))

42

### 6. Generate tuple3

We first used  map() to assign a 'lambda y' function to divide the values of the elements of each elemnt of tuple2. Then we used a 'lambda x' function to call tuple2 indexing into the new tuple3.

In [7]:
tuple3 = tuple(map(lambda x: list(map(lambda y: y/2, x)), tuple2))
print(tuple3)

([3.5, 4.0], [4.5, 0.5], [5.0, 3.5])

## 1.2 Lists
1. Show the indices of the `np.nan` values  in the `f_list` list. We want to see this output: `The indices 0, 1, 4, 7 have np.nan values.` **Hint: Use print function and [f-strings](https://realpython.com/python-f-strings/) to insert the indices values.**<br><br>

2. Replicate 4 times the values of the list `p2_list`. We expect an ouput like this: `[ 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5]`.  **Hint: Use multiplication function in `lists`and see the output.**<br><br>
3. Print the length of `f_list`. **Hint: Length function**<br><br>
4. Print `My teacher assistant is so boring.` using `text1` list. **Hint: Use the [`join` function](https://stackoverflow.com/questions/493819/why-is-it-string-joinlist-instead-of-list-joinstring)**<br><br>
5. Print `My TA is so boring, but is very funny.` using `text1` list.**Hint: Use the `join` function, and `extend` method.**<br><br>
6. Print <br>
`The max value of values1 is 86 and is located in the 0 index. ` <br>
`The min value of values1 is 0 and is located in the 7 index. ` <br> **Hint: Use the `f-string`, `min`, and `max` functions.**
<br>
7. Get two lists: `names` and `last_names` using `last_and_name` list. **Hint: Use `map` and `split`.**
<br>
8. Give only the last names of students who do not have email. Use the `emails` and `last_names` listt. **Hint: Use `map` and `split`.**
<br>

In [8]:
import numpy as np

In [9]:
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]

In [10]:
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']

In [11]:
p2_list = [ 2 , 3, 4, 5 ]

In [12]:
values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1 ]

In [13]:
# These two lists a
last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe", "", "", "", "", "", "f0873079@pucp.edu.pe", "", "", "", "", "", "", "", "", "", "", "flores.alexis@pucp.edu.pe", ]

## Solution:

### 2.1 Show indices of "np.nan"
First, we use "enumerate" function to divide every element from the list in [index, value]. Then, lambda function is used along "filter" function to keep the indices where the value is nan. Finally, we create a list called "nan_indices" containing these idnices.

In [14]:
nan_indices = list(map(lambda x: x[0], filter(lambda x: x[1] is np.nan, enumerate(f_list))))
nan_indices

[0, 1, 4, 7]

Using f-strings, we indicate to print only the elements from the "nan_indices" list in the following sentence:

In [15]:
print(f"The indices {', '.join(map(str, nan_indices))} have np.nan values.")

The indices 0, 1, 4, 7 have np.nan values.

### 2.2 Replicate 4 times the values of the list p2_list

In [16]:
replicated_list = p2_list * 4

print(replicated_list)

[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

### 2.3 Print the length of f_list

We use "len" function to get lenght of f_list

In [17]:
print(len(f_list))

8

### 2.4 Print "My teacher assistant is so boring" using text1 list

Using f-strings, and "join" function, we can print the elements from a list that contains strings. \
Note: we use " " (a space) beetween every elemnt from text1.

In [18]:
print(f" {' '.join(text1)}")

 My teacher assistant is so boring.

### 2.5 Print "My TA is so boring, but is very funny."

Using "extent" to include the new elements in the list.

In [19]:
text1.extend(["but", "is", "very", "funny."])

print(text1)

['My', 'teacher', 'assistant', 'is', 'so', 'boring.', 'but', 'is', 'very', 'funny.']

Drop unusing elements using "pop" function.

In [20]:
text1.pop(2)
print(text1)

['My', 'teacher', 'is', 'so', 'boring.', 'but', 'is', 'very', 'funny.']

Change the value of elements "teacher", index 1; and "boring.", index 4

In [21]:
text1[1] = "TA"
text1[4] = "boring,"

print(text1)

['My', 'TA', 'is', 'so', 'boring,', 'but', 'is', 'very', 'funny.']

Print using f-string.

In [22]:
print(f" {' '.join(text1)}")

 My TA is so boring, but is very funny.

## 2.6 Print "The max value of values1 is 86 and is located in the 0 index." and "The min value of values1 is 0 and is located in the 7 index."

First, we use "min" and "max" functions to get the requested values.

In [23]:
# Get the max value and its index
max_value = max(values1)
max_index = values1.index(max_value)

# Get the min value and its index
min_value = min(values1)
min_index = values1.index(min_value)

Then, we use f-strings to print the following senteces:

In [24]:
print(f"The max value of values1 is {max_value} and is located in the {max_index} index.")
print(f"The max value of values1 is {min_value} and is located in the {min_index} index.")

The max value of values1 is 86 and is located in the 0 index.
The max value of values1 is 0 and is located in the 7 index.

## 2.7 Get two lists: names and last_names using last_and_name list. 

Using "map" and "split" (using ", ") functions, we divide the elements from "last_and_name" in two lists. \
Using "zip(\*function)", it take the divided lists and combine them in pairs and names them as "last_names" and "names".

In [25]:
last_names, names = zip(*(map(lambda x: x.split(', '), last_and_name)))

#last_names = list(last_names)
#names = list(names)

In [26]:
print("Last Names:", list(last_names))

print("Names:", list(names))

Last Names: ['CORNEJO SANCHEZ', 'ORELLANA QUISPE', 'MORALES CHOQUEHUANCA', 'GUIMARAY RIBEYRO', 'CAMACHO GAVIDIA', 'TINTAYA ORIHUELA', 'CHAVEZ MARTINEZ', 'FIGUEROA MURO', 'GOMEZ CRIBILLERO', 'PALOMINO SEGUÍN', 'LUZON CUEVA', 'SUAÑA ZEGARRA', 'SOTO POMACHAGUA', 'FIORENTINO MARTINEZ', 'LAMA MAVILA', 'MEZA HINOJO', 'LOZADA MURILLO', 'ZAMBRANO JIMENEZ', 'JACOBS LUQUE', 'VIDAL VIDAL', 'TORRES ANICAMA', 'LOPEZ ESTRADA', 'BOYCO ORAMS', 'DIAZ BERROSPI', 'RIEGA ESCALANTE', 'LEVANO TORRES', 'ESQUIVES BRAVO', 'PEREZ GONZALES', 'OTERO MAGUIÑA', 'CLAVO CAMPOS', 'AGUILAR GARCIA', 'CALDAS VELASQUEZ', 'SALAS NUÑEZ BORJA', 'PIZARRO VILLANES', 'QUILLATUPA MORALES', 'HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'HINOJOSA CAHUANA', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ', 'FLORES CADILLO']
Names: ['CHRISTIAN SANTOS', 'CRISTIAN NASSER', 'ANGELICA KARINA', 'JOSE ROBERTO', 'ABEL FERNANDO', 'MEIR ALVARO', 'JOSELIN ALEXANDRA', 'LEONEL ARTURO', 'JOSE FELIPE', 'AFRANIA', 'BIANCA MARIETTE', 'ADRIAN ANDRE', 'DORKAS YOMIRA JHERMY', 'LADY ALY', 'HECTOR ANDRE', 'GUSTAVO', 'PERSEO MARCELO', 'MIGUEL ALONZO', 'NICOLAS', 'ROCIO GABRIELA', 'JANE CAMILA', 'MARIA ELISA', 'ALEJANDRO', 'KARLINE ROSMELI', 'STEPHY ROSARIO', 'VALERIA CECILIA', 'SEBASTIAN RENATO', 'JUAN CARLOS', 'MARIANA', 'ANDREA BRIZETH', 'ERICK JOSUE', 'JOSUE DANIEL', 'FABIO MANUEL', 'FERNANDA NICOLLE', 'ANGELA ADELINA', 'CESAR DANTE', 'GABRIELA ISABEL', 'ANGEL MAURICIO', 'JUAN DIEGO', 'ARONE', 'PERCY ALBERTH', 'KEVIN ARTURO', 'CESAR ERNESTO', 'CÉSAR AGUSTO', 'DIANA EDITH', 'RODRIGO FRANCO', 'GRETTEL ALEXANDRA', 'ROSA ANGELA', 'DANTE OMAR', 'YAJAIRA ALEXANDRA', 'JORGE ALBERTO', 'ALEXIS']

### 2.8 Give only the last names of students who do not have email. Use the emails and last_names list. 

Using "zip" function we combine lists "last_and_names" and "emails" in tuples. Using "filter" function, we keep every element where second element (email) is nan.\
Using "map(lambda)" function, extracts the first element (last_and_names) and only keeps (last_name) after splitting by ", ".\
Using "list" function, we present the last names without email in a list.

In [27]:
last_names_without_email = list(map(lambda x: x[0].split(', ')[0], filter(lambda y: y[1] == '', zip(last_and_name, emails))))
print(last_names_without_email)

['HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ']

## 1.3 Strings


1. Drop the duplicated blank spaces in `str1`. Do not use the regular expresions. Do not use the code shown in class. Explain your steps.**Hint: Use `split` method and `join` function.**

2. Get the number of letters in the string .**Hint: Use `len`function.**

3. Get the number of blank spaces (all of them) in the string .**Hint: Use `len`function.**

4. Get the position of `@` in each string in the emails list. **Hint: Use `map`function and `find` method.**

5. Identifies if exists `.edu.`  in each string in the `emails` list. Get a list of Booleans. **Hint: Use `map`function and `find` method.**

6. Get all the strings before the first dot `.`in each string in the `emails` list. Identifies how many of them has `@`. **Hint: Use `map`function and `find` method.**

In [5]:
str1 = 'I am                            too                                                        old'

In [16]:
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

### 3.1. Drop the duplicated blank spaces in str1. Do not use the regular expresions. Do not use the code shown in class. Explain your steps.Hint: Use split method and join function.

Using split we keep every word as an element.
With ' '.join function we put together all the words and we separated with an space.

In [7]:
word_list = str1.split()
new_str1 = ' '.join(word_list)
print(new_str1)

I am too old

### 3.2. Get the number of letters in the string .Hint: Use lenfunction.
First we find the lenght of the phrase, after that we calculate the number of spaces, and finally we substract the numer of spaces to leave the real number of letters

In [18]:
len(new_str1)

12

In [21]:
number_of_spaces2 = new_str1.count(" ")
print(number_of_spaces2)

3

In [22]:
12-3

9

### 3.3 Get the number of blank spaces (all of them) in the string .Hint: Use lenfunction.

In [11]:
number_of_spaces1 = str1.count(" ")
number_of_spaces2 = new_str1.count(" ")

In [12]:
print(number_of_spaces1)

85

In [13]:
print(number_of_spaces2)

3

### 3.4 Get the position of @ in each string in the emails list. Hint: Use mapfunction and find method.
With map function we define the lambda email function wich finds the @ in each one of the elements of the email's list

In [17]:
at_positions = list(map(lambda email: email.find("@"), emails))

print("Position of '@' in each email:", at_positions)

Position of '@' in each email: [9, 11, 14, 9, 12, 8, 14, 9, 8, 16, 12, 13, 6, 9, 10, 12, 8, 11, 14, 6, 11, 7, 15, 9, 12, 8, 9, 11, 13, 6, 9, 12, 11, 16, 11]

### 3.5 Identifies if exists .edu. in each string in the emails list. Get a list of Booleans. Hint: Use mapfunction and find method.

With the map function we identified in every element the ".edu", and we get a boolean value 'True' if it matches

In [23]:
edu_exists_list = list(map(lambda email: ".edu." in email, emails))

print("List of Booleans - '.edu.' exists in each email:", edu_exists_list)

List of Booleans - '.edu.' exists in each email: [True, True, True, False, False, True, True, False, False, False, False, False, True, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, False]

### 3.6 Get all the strings before the first dot .in each string in the emails list. Identifies how many of them has @. Hint: Use mapfunction and find method.

The function map identifies the words before the dot. With that we get a new list (antecesores). 
With filter we select only the elements which contain "@"
Finally we count the number of elements using the function len

In [33]:
antecesores = list(map(lambda x: x[:x.find('.')], emails))
count_with_at = len(list(filter(lambda x: '@' in x, antecesores)))

In [34]:
print(count_with_at )

14