# Assignment 6

librarys used for this assignment

In [ ]:
#pip install Unidecode

In [2]:
from webdriver_manager.chrome import ChromeDriverManager
from selenium import webdriver
import re
import time 
from selenium.webdriver.support.ui import Select
from datetime import date
import pandas as pd
import json
import googlemaps
import pprint
import pandas as pd
import numpy as np
import os
import urllib.request, json
import csv
from tqdm import tqdm_notebook as tqdm
import unidecode

#### 1. Scraping **SUNEDU** webpage to obtain information from national and private universities

Generate the web driver

In [3]:
options = webdriver.ChromeOptions()
options.add_argument('--incognito')
driver = webdriver.Chrome( ChromeDriverManager().install() )
driver.maximize_window()

url="https://www.sunedu.gob.pe/lista-universidades/"

driver.get(url)

====== WebDriver manager ======
Current google-chrome version is 97.0.4692
Get LATEST chromedriver version for 97.0.4692 google-chrome
Driver [C:\Users\Carlos\.wdm\drivers\chromedriver\win32\97.0.4692.71\chromedriver.exe] found in cache
<ipython-input-3-c234546c721d>:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome( ChromeDriverManager().install() )

In [4]:
all_tables = {}

for Cont_x in range( 1 , 3 ):
    
    # Extracting table data
    table_path = driver.find_element_by_xpath( f"/html/body/div[1]/div[3]/div/div/div[1]/div/div/div/div[1]/div/div[{Cont_x}]/div" )
    table_html = table_path.get_attribute( 'innerHTML' )
        
    table = pd.read_html( table_html )
                        
    # Selecting specific columns
    table_clean = table[0].iloc[ :, 1: 4 ].copy()
    
    #Change columns names and reorder
    table_clean = table_clean.rename(columns={"UNIVERSIDAD":"Name_univ","DEPARTAMENTO":"Department_univ","PROVINCIA":"Province_univ"}, inplace= False)
    table_clean = table_clean.reindex(columns=['Department_univ', 'Province_univ', 'Name_univ'])    
    
    # store tables
    all_tables[ Cont_x ] = table_clean

<ipython-input-4-ef573a9e13bb>:6: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  table_path = driver.find_element_by_xpath( f"/html/body/div[1]/div[3]/div/div/div[1]/div/div/div/div[1]/div/div[{Cont_x}]/div" )
<ipython-input-4-ef573a9e13bb>:6: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  table_path = driver.find_element_by_xpath( f"/html/body/div[1]/div[3]/div/div/div[1]/div/div/div/div[1]/div/div[{Cont_x}]/div" )

In [7]:
data_universidad = pd.concat( all_tables.values() ).reset_index( drop = True )
data_universidad

,Department_univ,Province_univ,Name_univ
0,Lima,Lima,Universidad Nacional Mayor de San Marcos
1,Ayacucho,Huamanga,Universidad Nacional de San Cristóbal de Huamanga
2,Cusco,Cusco,Universidad Nacional de San Antonio Abad del C...
3,La Libertad,Trujillo,Universidad Nacional de Trujillo
4,Arequipa,Arequipa,Universidad Nacional de San Agustín de Arequipa
...,...,...,...
138,Junín,Huancayo,Universidad Santo Tomás de Aquino de Ciencia e...
139,Lima,Lima,Universidad Privada SISE
140,Lima,Lima,Universidad Seminario Evangélico de Lima (*12)
141,Lima,Lima,Universidad Seminario Bíblico Andino (*12)
142,Lima,Lima,Universidad Católica San José

#### 2. Geolocating universities to get universitie's latitude and longitude

In [8]:
def join_columns( row_series ):
    
    
    return address

In [9]:
def geo_university( row_series ):
    
    address = f"{row_series['Department_univ']}, {row_series['Province_univ']}, {row_series['Name_univ']}"
    
    # Set Geolocation
    gmaps = googlemaps.Client( key = 'AIzaSyDskcq6F0p1fSQ6ul_QqgPfB1Go3Mc-zBg' )
    result_api = gmaps.geocode( address , region = 'PE' )
    
    # Information
    try:
        lat = result_api[0]['geometry']['location']['lat']
        lon = result_api[0]['geometry']['location']['lng']   
    except:
        lat = np.nan
        lon = np.nan
    
    return ( address, lat, lon )

In [10]:
data_universidad['results'] = data_universidad.apply( lambda x: geo_university( x )  , axis = 1 )

In [11]:
# Consolidate geodata
pd.DataFrame( data_universidad.results.tolist()  )
data_universidad[['address', 'lat', 'lng']] = pd.DataFrame( data_universidad.results.tolist() ,  index = data_universidad.index )
data_universidad = data_universidad.drop( columns=['results' ,  'address'] )
data_universidad = data_universidad.rename( columns={ "lat":"Latitude_univ" , "lng":"Longitude_univ" }, inplace= False )
data_universidad

,Department_univ,Province_univ,Name_univ,Latitude_univ,Longitude_univ
0,Lima,Lima,Universidad Nacional Mayor de San Marcos,-12.056158,-77.084520
1,Ayacucho,Huamanga,Universidad Nacional de San Cristóbal de Huamanga,-13.161248,-74.225772
2,Cusco,Cusco,Universidad Nacional de San Antonio Abad del C...,-13.521930,-71.958321
3,La Libertad,Trujillo,Universidad Nacional de Trujillo,-8.115007,-79.038305
4,Arequipa,Arequipa,Universidad Nacional de San Agustín de Arequipa,-16.397139,-71.537144
...,...,...,...,...,...
138,Junín,Huancayo,Universidad Santo Tomás de Aquino de Ciencia e...,-12.084047,-75.208488
139,Lima,Lima,Universidad Privada SISE,-12.077645,-77.035855
140,Lima,Lima,Universidad Seminario Evangélico de Lima (*12),-12.063959,-76.960074
141,Lima,Lima,Universidad Seminario Bíblico Andino (*12),-12.069621,-77.053398
142,Lima,Lima,Universidad Católica San José,-12.083682,-77.069168

#### 3. Merging university data_base with the department centroids data

In [12]:
# Exporting departament centroids data
depart_centr_data = pd.read_excel( r'../../_data/peru_departments_centroids.xlsx')

In [13]:
data_universidad["Department_univ"]  =  data_universidad["Department_univ"].str.upper().apply( lambda x : unidecode.unidecode( x ) )
data_universidad["Province_univ"]  =  data_universidad["Province_univ"].str.upper().apply( lambda x : unidecode.unidecode( x ) )

In [14]:
depart_centr_data = depart_centr_data.rename(columns={"NOMBDEP":"Department_univ"}, inplace= False)
depart_centr_data

,CCDD,Department_univ,CAPITAL,Dpt_Centroid_Latitude,Dpt_Centroid_Longitude
0,1,AMAZONAS,CHACHAPOYAS,-5.069369,-78.055235
1,2,ANCASH,HUARAZ,-9.406368,-77.670229
2,3,APURIMAC,ABANCAY,-14.028147,-72.974732
3,4,AREQUIPA,AREQUIPA,-15.844475,-72.472918
4,5,AYACUCHO,AYACUCHO,-14.086284,-74.083968
5,6,CAJAMARCA,CAJAMARCA,-6.432297,-78.745878
6,7,CALLAO,CALLAO,-11.940800,-77.126022
7,8,CUSCO,CUSCO,-13.189060,-72.170789
8,9,HUANCAVELICA,HUANCAVELICA,-13.023206,-75.002090
9,10,HUANUCO,HUANUCO,-9.416089,-76.024205
10,11,ICA,ICA,-14.233761,-75.574814
11,12,JUNIN,HUANCAYO,-11.538922,-74.876839
12,13,LA LIBERTAD,TRUJILLO,-7.921689,-78.368017
13,14,LAMBAYEQUE,CHICLAYO,-6.340478,-79.826995
14,15,LIMA,LIMA,-11.785115,-76.628934
15,16,LORETO,IQUITOS,-4.114622,-74.412649
16,17,MADRE DE DIOS,PUERTO MALDONADO,-11.982106,-70.530759
17,18,MOQUEGUA,MOQUEGUA,-16.858546,-70.837182
18,19,PASCO,CERRO DE PASCO,-10.398817,-75.297587
19,20,PIURA,PIURA,-5.127846,-80.336263
20,21,PUNO,PUNO,-14.923763,-69.950299
21,22,SAN MARTIN,MOYOBAMBA,-7.033278,-76.714790
22,23,TACNA,TACNA,-17.644209,-70.276149
23,24,TUMBES,TUMBES,-3.856391,-80.544689
24,25,UCAYALI,PUCALLPA,-9.623529,-73.430992

In [15]:
# Merging databases
df_univ_merge = data_universidad.merge( depart_centr_data , on = [ 'Department_univ'] , how = "left" , validate = "m:1" )
df_univ_merge = df_univ_merge.drop( columns=['CCDD' ,  'CAPITAL'] )
df_univ_merge

,Department_univ,Province_univ,Name_univ,Latitude_univ,Longitude_univ,Dpt_Centroid_Latitude,Dpt_Centroid_Longitude
0,LIMA,LIMA,Universidad Nacional Mayor de San Marcos,-12.056158,-77.084520,-11.785115,-76.628934
1,AYACUCHO,HUAMANGA,Universidad Nacional de San Cristóbal de Huamanga,-13.161248,-74.225772,-14.086284,-74.083968
2,CUSCO,CUSCO,Universidad Nacional de San Antonio Abad del C...,-13.521930,-71.958321,-13.189060,-72.170789
3,LA LIBERTAD,TRUJILLO,Universidad Nacional de Trujillo,-8.115007,-79.038305,-7.921689,-78.368017
4,AREQUIPA,AREQUIPA,Universidad Nacional de San Agustín de Arequipa,-16.397139,-71.537144,-15.844475,-72.472918
...,...,...,...,...,...,...,...
138,JUNIN,HUANCAYO,Universidad Santo Tomás de Aquino de Ciencia e...,-12.084047,-75.208488,-11.538922,-74.876839
139,LIMA,LIMA,Universidad Privada SISE,-12.077645,-77.035855,-11.785115,-76.628934
140,LIMA,LIMA,Universidad Seminario Evangélico de Lima (*12),-12.063959,-76.960074,-11.785115,-76.628934
141,LIMA,LIMA,Universidad Seminario Bíblico Andino (*12),-12.069621,-77.053398,-11.785115,-76.628934
142,LIMA,LIMA,Universidad Católica San José,-12.083682,-77.069168,-11.785115,-76.628934

#### 4. Using Google API Directions to find the driving travel time and distance from universities to department centroids

In [16]:
# Generating columns of origen and destination
df_univ_merge['origin'] = df_univ_merge['Latitude_univ'].astype('string').str.cat(df_univ_merge['Longitude_univ'].astype('string'),sep=",")
df_univ_merge['destination'] = df_univ_merge['Dpt_Centroid_Latitude'].astype('string').str.cat(df_univ_merge['Dpt_Centroid_Longitude'].astype('string'),sep=",")

In [17]:
df_univ_merge = df_univ_merge.reset_index(inplace=False)

In [18]:
# Generate lists 
index = df_univ_merge['index'].tolist()
origin = df_univ_merge['origin'].tolist()
destination = df_univ_merge['destination'].tolist()

In [19]:
# Generate dictionary to store data
data_distance = {} 
data_models = {}

In [20]:
models = ['best_guess', 'pessimistic', 'optimistic']
models

['best_guess', 'pessimistic', 'optimistic']

In [30]:
# Loop to generate info about geolocations

for model in models:
    
    distance_info = pd.DataFrame(np.zeros(shape=(len(index),4), dtype =float))
    i=0    
    for c,o,d in tqdm(list(zip(index,origin, destination))):        

        try:
            # Google MapsDdirections API endpoint
            endpoint = 'https://maps.googleapis.com/maps/api/directions/json?'

            ## Fixed Parameters
            # Paramaters

            traffic_model = model 

            # Departure time
            departure_time= 'now'

            # driving, walking, biclycling, transit
            mode = 'driving'

            # key
            api_key = 'AIzaSyDskcq6F0p1fSQ6ul_QqgPfB1Go3Mc-zBg'

            # region to look for 
            region = 'pe'

             ## Parameters
            # Origin
            origin_loop = o
        
            # Destinations
            destination_loop = d
        
            #Building the URL for the request
            nav_request = 'origin={}&destination={}&departure_time={}&traffic_model={}&mode={}&region={}&key={}'.format(origin_loop , 
                        destination_loop , departure_time , traffic_model , mode, region, api_key)
        
            # https://maps.googleapis.com/maps/api/directions/json?origin=Toledo&destination=Madrid&region=es&key=AIzaSyD_4E6Hd-fYECy3mZ4asxN23JjIstvLdoE
        
        
            # Concatenate strings
            request = endpoint + nav_request

            #Sends the request and reads the response.
            response = urllib.request.urlopen(request).read()

            #Loads response as JSON
            directions = json.loads(response)
            #print(json.dumps(directions, indent = 2))

            legs = directions['routes'][0]['legs'][0]
        
            distance_info[0][i] = c
            distance_info[1][i] = legs['distance']['text']
            distance_info[2][i] = legs['duration']['text']
            distance_info[3][i] = legs['duration_in_traffic']['text']
        
            i=i+1
    
        except Exception as e:
        
            distance_info[0][i] = c
            distance_info[1][i] = "nan"
            distance_info[2][i] = "nan"
            distance_info[3][i] = "nan"
        
            i=i+1
        
    data_models[model] = distance_info 
    #data_distance[c] = {'distance': {'text': 'nan', 'value': 0}, 'duration': {'text': 'nan', 'value': 0}, 'duration_in_traffic': {'text': 'nan', 'value': 0}}

<ipython-input-30-9b73deee7310>:7: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for c,o,d in tqdm(list(zip(index,origin, destination))):

  0%|          | 0/143 [00:00<?, ?it/s]

<ipython-input-30-9b73deee7310>:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  distance_info[2][i] = legs['duration']['text']
<ipython-input-30-9b73deee7310>:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  distance_info[3][i] = legs['duration_in_traffic']['text']
<ipython-input-30-9b73deee7310>:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  distance_info[0][i] = c
<ipython-input-30-9b73deee7310>:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  distance_info[1][i] = "nan"
<ipython-input-30-9b73deee7310>:67: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  distance_info[2][i] = "nan"
<ipython-input-30-9b73deee7310>:68: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  distance_info[3][i] = "nan"
<ipython-input-30-9b73deee7310>:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  distance_info[0][i] = c
<ipython-input-30-9b73deee7310>:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  distance_info[1][i] = legs['distance']['text']

  0%|          | 0/143 [00:00<?, ?it/s]

  0%|          | 0/143 [00:00<?, ?it/s]

In [32]:
data_models['best_guess']

         0        1                2                3
0      0.0  72.6 km  2 hours 28 mins  2 hours 19 mins
1      1.0      nan              nan              nan
2      2.0   167 km   4 hours 7 mins   4 hours 4 mins
3      3.0   129 km  3 hours 19 mins  3 hours 18 mins
4      4.0   209 km  3 hours 44 mins  3 hours 35 mins
..     ...      ...              ...              ...
138  138.0   175 km  4 hours 29 mins  4 hours 26 mins
139  139.0  68.5 km  2 hours 29 mins  2 hours 18 mins
140  140.0  64.0 km  2 hours 13 mins   2 hours 7 mins
141  141.0  69.4 km  2 hours 26 mins  2 hours 17 mins
142  142.0  71.4 km  2 hours 26 mins  2 hours 25 mins

[143 rows x 4 columns]

In [38]:
# Best guest model
distance_api_best_guess = data_models['best_guess'].rename(columns={0:"index",1:"travel_distance_best_guess",2:"travel_time_best_guess",3:"travel_time_traffic_best_guess"}, inplace= False)

# Pesimistic model
distance_api_pessimistic = data_models['pessimistic'].rename(columns={0:"index",1:"travel_distance_pessimistic",2:"travel_time_pessimistic",3:"travel_time_traffic_pessimistic"}, inplace= False)

# Optimistic model
distance_api_optimistic = data_models['optimistic'].rename(columns={0:"index",1:"travel_distance_optimistic",2:"travel_time_optimistic",3:"travel_time_traffic_optimistic"}, inplace= False)

In [40]:
# Merge final data
df_universidad = df_univ_merge.merge( distance_api_best_guess , on = [ 'index'] , how = "left" , validate = "1:1" ) \
                   .merge( distance_api_pessimistic , on = [ 'index'] , how = "left" , validate = "1:1" ) \
                   .merge( distance_api_optimistic , on = [ 'index'] , how = "left" , validate = "1:1" )

In [41]:
df_universidad.drop(df_universidad.columns[[0,8,9]], axis=1, inplace=True)
df_universidad

,Department_univ,Province_univ,Name_univ,Latitude_univ,Longitude_univ,Dpt_Centroid_Latitude,Dpt_Centroid_Longitude,travel_distance_best_guess,travel_time_best_guess,travel_time_traffic_best_guess,travel_distance_pessimistic,travel_time_pessimistic,travel_time_traffic_pessimistic,travel_distance_optimistic,travel_time_optimistic,travel_time_traffic_optimistic
0,LIMA,LIMA,Universidad Nacional Mayor de San Marcos,-12.056158,-77.084520,-11.785115,-76.628934,72.6 km,2 hours 28 mins,2 hours 19 mins,72.6 km,2 hours 28 mins,2 hours 58 mins,72.6 km,2 hours 28 mins,2 hours 8 mins
1,AYACUCHO,HUAMANGA,Universidad Nacional de San Cristóbal de Huamanga,-13.161248,-74.225772,-14.086284,-74.083968,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,CUSCO,CUSCO,Universidad Nacional de San Antonio Abad del C...,-13.521930,-71.958321,-13.189060,-72.170789,167 km,4 hours 7 mins,4 hours 4 mins,167 km,4 hours 7 mins,4 hours 6 mins,167 km,4 hours 7 mins,4 hours 0 mins
3,LA LIBERTAD,TRUJILLO,Universidad Nacional de Trujillo,-8.115007,-79.038305,-7.921689,-78.368017,129 km,3 hours 19 mins,3 hours 18 mins,129 km,3 hours 19 mins,3 hours 38 mins,129 km,3 hours 19 mins,3 hours 19 mins
4,AREQUIPA,AREQUIPA,Universidad Nacional de San Agustín de Arequipa,-16.397139,-71.537144,-15.844475,-72.472918,209 km,3 hours 44 mins,3 hours 35 mins,209 km,3 hours 44 mins,3 hours 51 mins,209 km,3 hours 44 mins,3 hours 32 mins
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,JUNIN,HUANCAYO,Universidad Santo Tomás de Aquino de Ciencia e...,-12.084047,-75.208488,-11.538922,-74.876839,175 km,4 hours 29 mins,4 hours 26 mins,175 km,4 hours 29 mins,4 hours 33 mins,175 km,4 hours 29 mins,4 hours 20 mins
139,LIMA,LIMA,Universidad Privada SISE,-12.077645,-77.035855,-11.785115,-76.628934,68.5 km,2 hours 29 mins,2 hours 18 mins,68.1 km,2 hours 26 mins,3 hours 9 mins,72.3 km,2 hours 24 mins,2 hours 4 mins
140,LIMA,LIMA,Universidad Seminario Evangélico de Lima (*12),-12.063959,-76.960074,-11.785115,-76.628934,64.0 km,2 hours 13 mins,2 hours 7 mins,64.0 km,2 hours 13 mins,2 hours 41 mins,63.1 km,2 hours 7 mins,1 hour 52 mins
141,LIMA,LIMA,Universidad Seminario Bíblico Andino (*12),-12.069621,-77.053398,-11.785115,-76.628934,69.4 km,2 hours 26 mins,2 hours 17 mins,69.4 km,2 hours 22 mins,3 hours 1 min,69.4 km,2 hours 22 mins,2 hours 4 mins
142,LIMA,LIMA,Universidad Católica San José,-12.083682,-77.069168,-11.785115,-76.628934,71.4 km,2 hours 26 mins,2 hours 25 mins,71.0 km,2 hours 28 mins,3 hours 18 mins,71.5 km,2 hours 31 mins,2 hours 7 mins