# Part 1 â€“ Pandas DataFrames

In [70]:
!pip install pyreadstat
!pip install savReaderWriter

Requirement already satisfied: pyreadstat in /Users/freddyzutachavez/anaconda3/lib/python3.11/site-packages (1.3.1)
Requirement already satisfied: narwhals>=2.0 in /Users/freddyzutachavez/anaconda3/lib/python3.11/site-packages (from pyreadstat) (2.2.0)
Requirement already satisfied: numpy in /Users/freddyzutachavez/anaconda3/lib/python3.11/site-packages (from pyreadstat) (1.24.3)
Requirement already satisfied: savReaderWriter in /Users/freddyzutachavez/anaconda3/lib/python3.11/site-packages (3.4.2)

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [71]:
# 1. Importar dataset EducaciÃ³n (MÃ³dulo 300)
df300 = pd.read_csv(
    r"/Users/freddyzutachavez/Documents/ENAHO-2023/Enaho01A-2023-300.csv",
    encoding="ISO-8859-1",
    low_memory=False
)

In [73]:
# 2. Mostrar las primeras 5 filas
print("Primeras 5 filas del dataset:")
display(df300.head())

Primeras 5 filas del dataset:

,AÃ‘O,MES,CONGLOME,VIVIENDA,HOGAR,CODPERSO,UBIGEO,DOMINIO,ESTRATO,CODINFOR,...,I311D$5,I311D$6,I311D$7,I3121C,I3122C,I315B,FACTOR07,FACTORA07,NCONGLOME,SUB_CONGLOME
0,2023,1,5030,2,11,1,10201,7,4,1,...,,,,,,,118.374542,165.623856,6618,0
1,2023,1,5030,2,11,2,10201,7,4,2,...,,,,,,,118.374542,112.328087,6618,0
2,2023,1,5030,2,11,3,10201,7,4,2,...,,,,,,,118.374542,120.091476,6618,0
3,2023,1,5030,2,11,4,10201,7,4,2,...,,,8,,,,118.374542,110.974678,6618,0
4,2023,1,5030,11,11,1,10201,7,4,1,...,,,,,,,118.374542,96.035370,6618,0

In [74]:
# 3. Convertir nombres de columnas a lista
columnas = df300.columns.tolist()
print("\nLista de nombres de columnas:")
print(columnas)

Lista de nombres de columnas:
['AÃ‘O', 'MES', 'CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO', 'UBIGEO', 'DOMINIO', 'ESTRATO', 'CODINFOR', 'P300N', 'P300I', 'P300A', 'P301A', 'P301B', 'P301C', 'P301D', 'P301A0', 'P301A1', 'P301B0', 'P301B1', 'P301B3', 'P302', 'P302X', 'P302A', 'P302B', 'P303', 'P304A', 'P304B', 'P304C', 'P304D', 'P305', 'P306', 'P307', 'P307A1', 'P307A2', 'P307A3', 'P307A4', 'P307A4_5', 'P307A4_6', 'P307A4_7', 'P307B1', 'P307B2', 'P307B3', 'P307B4', 'P307B4_5', 'P307B4_6', 'P307B4_7', 'P307C', 'P308A', 'P308B', 'P308C', 'P308D', 'P308B1', 'P308B2', 'P308B3', 'P308B4', 'P308B5', 'P308C1', 'P308C2', 'P310', 'P310B1', 'P310C0', 'P310C1', 'P310D1', 'P310D2', 'P310E0', 'P310E1', 'P310E3', 'P311N$1', 'P311N$2', 'P311N$3', 'P311N$4', 'P311N$5', 'P311N$6', 'P311N$7', 'P311N$8', 'P311N$9', 'P311$1', 'P311$2', 'P311$3', 'P311$4', 'P311$5', 'P311$6', 'P311$7', 'P311$8', 'P311$9', 'P311A1$1', 'P311A1$2', 'P311A1$3', 'P311A1$4', 'P311A1$5', 'P311A1$6', 'P311A1$7', 'P311A1$8', 'P311A1$9', 'P311A2$1', 'P311A2$2', 'P311A2$3', 'P311A2$4', 'P311A2$5', 'P311A2$6', 'P311A2$7', 'P311A2$8', 'P311A2$9', 'P311A3$1', 'P311A3$2', 'P311A3$3', 'P311A3$4', 'P311A3$5', 'P311A3$6', 'P311A3$7', 'P311A3$8', 'P311A3$9', 'P311A4$1', 'P311A4$2', 'P311A4$3', 'P311A4$4', 'P311A4$5', 'P311A4$6', 'P311A4$7', 'P311A4$8', 'P311A4$9', 'P311A5$1', 'P311A5$2', 'P311A5$3', 'P311A5$4', 'P311A5$5', 'P311A5$6', 'P311A5$7', 'P311A5$8', 'P311A5$9', 'P311A6$1', 'P311A6$2', 'P311A6$3', 'P311A6$4', 'P311A6$5', 'P311A6$6', 'P311A6$7', 'P311A6$8', 'P311A6$9', 'P311A7$1', 'P311A7$2', 'P311A7$3', 'P311A7$4', 'P311A7$5', 'P311A7$6', 'P311A7$7', 'P311A7$8', 'P311A7$9', 'P311B$1', 'P311B$2', 'P311B$3', 'P311B$4', 'P311B$5', 'P311B$6', 'P311B$7', 'P311B$8', 'P311B$9', 'P311C$1', 'P311C$2', 'P311C$3', 'P311C$4', 'P311C$5', 'P311C$6', 'P311C$7', 'P311C$8', 'P311C$9', 'P311D$1', 'P311D$2', 'P311D$3', 'P311D$4', 'P311D$5', 'P311D$6', 'P311D$7', 'P311D$8', 'P311D$9', 'P311D2$1', 'P311D2$2', 'P311D2$3', 'P311D2$4', 'P311D2$5', 'P311D2$6', 'P311D2$7', 'P311D2$8', 'P311D2$9', 'P311D3$1', 'P311D3$2', 'P311D3$3', 'P311D3$4', 'P311D3$5', 'P311D3$6', 'P311D3$7', 'P311D3$8', 'P311D3$9', 'P311D4$1', 'P311D4$2', 'P311D4$3', 'P311D4$4', 'P311D4$5', 'P311D4$6', 'P311D4$7', 'P311D4$8', 'P311D4$9', 'P311D5$1', 'P311D5$2', 'P311D5$3', 'P311D5$4', 'P311D5$5', 'P311D5$6', 'P311D5$7', 'P311D5$8', 'P311D5$9', 'P311D6$1', 'P311D6$2', 'P311D6$3', 'P311D6$4', 'P311D6$5', 'P311D6$6', 'P311D6$7', 'P311D6$8', 'P311D6$9', 'P311D7$1', 'P311D7$2', 'P311D7$3', 'P311D7$4', 'P311D7$5', 'P311D7$6', 'P311D7$7', 'P311D7$8', 'P311D7$9', 'P311E$1', 'P311E$2', 'P311E$3', 'P311E$4', 'P311E$5', 'P311E$6', 'P311E$7', 'P311E$8', 'P311E$9', 'P311T1', 'P311T22', 'P311T23', 'P311T24', 'P311T25', 'P311T26', 'P311T27', 'P311T2', 'P3121', 'P3121A1', 'P3121A2', 'P3121A3', 'P3121A4', 'P3121A5', 'P3121A6', 'P3121B', 'P3121C', 'P3121C2', 'P3121C3', 'P3121C4', 'P3121C5', 'P3121C6', 'P3121D', 'P3122', 'P3122A1', 'P3122A2', 'P3122A3', 'P3122A4', 'P3122A5', 'P3122A6', 'P3122B', 'P3122C', 'P3122C2', 'P3122C3', 'P3122C4', 'P3122C5', 'P3122C6', 'P3122D', 'P312T1', 'P312T22', 'P312T23', 'P312T24', 'P312T25', 'P312T26', 'P312T2', 'P313', 'P314A', 'P314B$1', 'P314B$2', 'P314B$3', 'P314B$4', 'P314B$5', 'P314B$6', 'P314B$7', 'P314B1_1', 'P314B1_2', 'P314B1_6', 'P314B1_7', 'P314B1_8', 'P314B1_9', 'P314D', 'P3151', 'P3152', 'P3153', 'P3154', 'P3155', 'P3156', 'P315A', 'P315B', 'P315B2', 'P315B3', 'P315B4', 'P315B5', 'P315B6', 'P316$1', 'P316$2', 'P316$3', 'P316$4', 'P316$5', 'P316$6', 'P316$7', 'P316$8', 'P316$9', 'P316$10', 'P316$11', 'P316$12', 'P316A1', 'P316A2', 'P316A3', 'P316A4', 'P316A5', 'P316A6', 'P316B', 'P316C1', 'P316C2', 'P316C3', 'P316C4', 'P316C5', 'P316C6', 'P316C7', 'P316C8', 'P316C9', 'P316C10', 'T313A', 'P203', 'P204', 'P205', 'P206', 'P207', 'P208A', 'P209', 'IMPUTADO', 'TICUEST01A', 'D311B$1', 'D311D2$1', 'D311D3$1', 'D311D4$1', 'D311D5$1', 'D311D6$1', 'D311D7$1', 'D311D$1', 'D311B$2', 'D311D2$2', 'D311D3$2', 'D311D4$2', 'D311D5$2', 'D311D6$2', 'D311D7$2', 'D311D$2', 'D311B$3', 'D311D2$3', 'D311D3$3', 'D311D4$3', 'D311D5$3', 'D311D6$3', 'D311D7$3', 'D311D$3', 'D311B$4', 'D311D2$4', 'D311D3$4', 'D311D4$4', 'D311D5$4', 'D311D6$4', 'D311D7$4', 'D311D$4', 'D311B$5', 'D311D2$5', 'D311D3$5', 'D311D4$5', 'D311D5$5', 'D311D6$5', 'D311D7$5', 'D311D$5', 'D311B$6', 'D311D2$6', 'D311D3$6', 'D311D4$6', 'D311D5$6', 'D311D6$6', 'D311D7$6', 'D311D$6', 'D311B$7', 'D311D2$7', 'D311D3$7', 'D311D4$7', 'D311D5$7', 'D311D6$7', 'D311D7$7', 'D311D$7', 'D3121B', 'D3121C2', 'D3121C3', 'D3121C4', 'D3121C5', 'D3121C6', 'D3121C', 'D3122B', 'D3122C2', 'D3122C3', 'D3122C4', 'D3122C5', 'D3122C6', 'D3122C', 'D315A', 'D315B2', 'D315B3', 'D315B4', 'D315B5', 'D315B6', 'D315B', 'I311B$1', 'I311B$2', 'I311B$4', 'I311B$6', 'I311B$3', 'I311B$5', 'I311B$7', 'I311D2$1', 'I311D3$1', 'I311D4$1', 'I311D5$1', 'I311D6$1', 'I311D7$1', 'I311D2$2', 'I311D3$2', 'I311D4$2', 'I311D5$2', 'I311D6$2', 'I311D7$2', 'I311D2$4', 'I311D3$4', 'I311D4$4', 'I311D5$4', 'I311D6$4', 'I311D7$4', 'I311D2$6', 'I311D3$6', 'I311D4$6', 'I311D5$6', 'I311D6$6', 'I311D7$6', 'I311D2$3', 'I311D3$3', 'I311D4$3', 'I311D5$3', 'I311D6$3', 'I311D7$3', 'I311D2$5', 'I311D3$5', 'I311D4$5', 'I311D5$5', 'I311D6$5', 'I311D7$5', 'I311D2$7', 'I311D3$7', 'I311D4$7', 'I311D5$7', 'I311D6$7', 'I311D7$7', 'I3121B', 'I3122B', 'I3121C2', 'I3121C3', 'I3121C4', 'I3121C5', 'I3121C6', 'I3122C2', 'I3122C3', 'I3122C4', 'I3122C5', 'I3122C6', 'I315A', 'I315B2', 'I315B3', 'I315B4', 'I315B5', 'I315B6', 'I311D$1', 'I311D$2', 'I311D$3', 'I311D$4', 'I311D$5', 'I311D$6', 'I311D$7', 'I3121C', 'I3122C', 'I315B', 'FACTOR07', 'FACTORA07', 'NCONGLOME', 'SUB_CONGLOME']

In [75]:
# 4. Revisar tipos de datos
print("\nTipos de datos del DataFrame:")
print(df300.dtypes)

Tipos de datos del DataFrame:
AÃ‘O               int64
MES               int64
CONGLOME          int64
VIVIENDA          int64
HOGAR             int64
                 ...
I315B            object
FACTOR07        float64
FACTORA07       float64
NCONGLOME         int64
SUB_CONGLOME      int64
Length: 511, dtype: object

In [76]:
# 5. SelecciÃ³n de un subconjunto con variables clave + adicionales
sub300 = df300[['CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO',
                'P301A', 'P301B', 'P302A']]  # <-- aquÃ­ puse ejemplos, ajusta a tu interÃ©s
print("\nSubmuestra seleccionada:")
display(sub300.head())

Submuestra seleccionada:

   CONGLOME  VIVIENDA  HOGAR  CODPERSO  P301A P301B P302A
0      5030         2     11         1      8     3
1      5030         2     11         2     10     5
2      5030         2     11         3      3     0
3      5030         2     11         4      3     0
4      5030        11     11         1      4     5

In [77]:
# 6. ExploraciÃ³n del DataFrame
print("\nResumen estadÃ­stico:")
print(sub300.describe(include='all'))

Resumen estadÃ­stico:
             CONGLOME       VIVIENDA          HOGAR       CODPERSO  \
count   108354.000000  108354.000000  108354.000000  108354.000000
unique            NaN            NaN            NaN            NaN
top               NaN            NaN            NaN            NaN
freq              NaN            NaN            NaN            NaN
mean     16944.756797      77.820330      11.146271       2.546293
std       3144.386733      68.547022       1.370084       1.577737
min       5007.000000       1.000000      11.000000       1.000000
25%      16028.000000      31.000000      11.000000       1.000000
50%      17500.000000      66.000000      11.000000       2.000000
75%      19014.000000     106.000000      11.000000       3.000000
max      21001.000000     991.000000      44.000000      22.000000

                P301A   P301B   P302A
count   108354.000000  108354  108354
unique            NaN      10       3
top               NaN       5
freq              NaN   33141   93236
mean         5.258652     NaN     NaN
std          3.807669     NaN     NaN
min          1.000000     NaN     NaN
25%          3.000000     NaN     NaN
50%          5.000000     NaN     NaN
75%          6.000000     NaN     NaN
max         99.000000     NaN     NaN

In [78]:
# 7. Identificar valores faltantes
print("\nValores faltantes por columna:")
print(sub300.isnull().sum())

Valores faltantes por columna:
CONGLOME    0
VIVIENDA    0
HOGAR       0
CODPERSO    0
P301A       0
P301B       0
P302A       0
dtype: int64

In [79]:

# 8. Eliminar filas con valores faltantes
sub300_clean = sub300.dropna()
print("\nSubmuestra despuÃ©s de eliminar NA:")
display(sub300_clean.head())

Submuestra despuÃ©s de eliminar NA:

   CONGLOME  VIVIENDA  HOGAR  CODPERSO  P301A P301B P302A
0      5030         2     11         1      8     3
1      5030         2     11         2     10     5
2      5030         2     11         3      3     0
3      5030         2     11         4      3     0
4      5030        11     11         1      4     5

In [80]:
# ==========================
# Importar librerÃ­as
# ==========================
import pandas as pd
import numpy as np

In [81]:
# ==========================
# Dataset 2: Vivienda (200)
# ==========================
df200 = pd.read_csv(
    r"/Users/freddyzutachavez/Documents/ENAHO-2023/Enaho01-2023-200.csv",
    encoding="ISO-8859-1",
    low_memory=False
)

In [82]:
print("Primeras 5 filas del dataset 200 (Vivienda):")
display(df200.head())

Primeras 5 filas del dataset 200 (Vivienda):

,AÃ‘O,MES,CONGLOME,VIVIENDA,HOGAR,CODPERSO,UBIGEO,DOMINIO,ESTRATO,P201P,...,OCUPAC_R3,OCUPAC_R4,RAMA_R3,RAMA_R4,CODTAREA,CODTIEMPO,TICUEST01,FACPOB07,NCONGLOME,SUB_CONGLOME
0,2023,2,5007,22,11,1,10101,4,4,20190050070221101,...,,,,,,,2,50.466671,7070,0
1,2023,2,5007,22,11,2,10101,4,4,20190050070221102,...,,,,,,,2,50.466671,7070,0
2,2023,2,5007,22,11,3,10101,4,4,20190050070221104,...,,,,,,,2,50.466671,7070,0
3,2023,2,5007,31,11,1,10101,4,4,20190050070311102,...,,,,,,,2,50.466671,7070,0
4,2023,2,5007,31,11,2,10101,4,4,20230050070311102,...,,,,,,,2,50.466671,7070,0

In [83]:
print("\nColumnas (200):")
print(df200.columns.tolist())

Columnas (200):
['AÃ‘O', 'MES', 'CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO', 'UBIGEO', 'DOMINIO', 'ESTRATO', 'P201P', 'P203', 'P203A', 'P203B', 'P204', 'P205', 'P206', 'P207', 'P208A', 'P208B', 'P209', 'P210', 'P211A', 'P211D', 'P212', 'P213', 'P214', 'P215', 'P216', 'P217', 'T211', 'OCUPAC_R3', 'OCUPAC_R4', 'RAMA_R3', 'RAMA_R4', 'CODTAREA', 'CODTIEMPO', 'TICUEST01', 'FACPOB07', 'NCONGLOME', 'SUB_CONGLOME']

In [84]:
print("\nTipos de datos (200):")
print(df200.dtypes)

Tipos de datos (200):
AÃ‘O               int64
MES               int64
CONGLOME          int64
VIVIENDA          int64
HOGAR             int64
CODPERSO          int64
UBIGEO            int64
DOMINIO           int64
ESTRATO           int64
P201P             int64
P203              int64
P203A            object
P203B            object
P204             object
P205             object
P206             object
P207             object
P208A            object
P208B            object
P209             object
P210             object
P211A            object
P211D            object
P212             object
P213             object
P214             object
P215             object
P216             object
P217             object
T211             object
OCUPAC_R3        object
OCUPAC_R4        object
RAMA_R3          object
RAMA_R4          object
CODTAREA         object
CODTIEMPO        object
TICUEST01         int64
FACPOB07        float64
NCONGLOME         int64
SUB_CONGLOME      int64
dtype: object

In [89]:

# Mostrar las columnas de cada dataset
print("Columnas del primer dataset (EducaciÃ³n - 300):")
print(df300.columns.tolist())

print("\nColumnas del segundo dataset (Vivienda - 200):")
print(df200.columns.tolist())

# ðŸ”Ž Identificar las columnas comunes entre ambos
common_columns = list(set(df300.columns).intersection(set(df200.columns)))
print("\nColumnas comunes entre los dos datasets:")
print(common_columns)

Columnas del primer dataset (EducaciÃ³n - 300):
['AÃ‘O', 'MES', 'CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO', 'UBIGEO', 'DOMINIO', 'ESTRATO', 'CODINFOR', 'P300N', 'P300I', 'P300A', 'P301A', 'P301B', 'P301C', 'P301D', 'P301A0', 'P301A1', 'P301B0', 'P301B1', 'P301B3', 'P302', 'P302X', 'P302A', 'P302B', 'P303', 'P304A', 'P304B', 'P304C', 'P304D', 'P305', 'P306', 'P307', 'P307A1', 'P307A2', 'P307A3', 'P307A4', 'P307A4_5', 'P307A4_6', 'P307A4_7', 'P307B1', 'P307B2', 'P307B3', 'P307B4', 'P307B4_5', 'P307B4_6', 'P307B4_7', 'P307C', 'P308A', 'P308B', 'P308C', 'P308D', 'P308B1', 'P308B2', 'P308B3', 'P308B4', 'P308B5', 'P308C1', 'P308C2', 'P310', 'P310B1', 'P310C0', 'P310C1', 'P310D1', 'P310D2', 'P310E0', 'P310E1', 'P310E3', 'P311N$1', 'P311N$2', 'P311N$3', 'P311N$4', 'P311N$5', 'P311N$6', 'P311N$7', 'P311N$8', 'P311N$9', 'P311$1', 'P311$2', 'P311$3', 'P311$4', 'P311$5', 'P311$6', 'P311$7', 'P311$8', 'P311$9', 'P311A1$1', 'P311A1$2', 'P311A1$3', 'P311A1$4', 'P311A1$5', 'P311A1$6', 'P311A1$7', 'P311A1$8', 'P311A1$9', 'P311A2$1', 'P311A2$2', 'P311A2$3', 'P311A2$4', 'P311A2$5', 'P311A2$6', 'P311A2$7', 'P311A2$8', 'P311A2$9', 'P311A3$1', 'P311A3$2', 'P311A3$3', 'P311A3$4', 'P311A3$5', 'P311A3$6', 'P311A3$7', 'P311A3$8', 'P311A3$9', 'P311A4$1', 'P311A4$2', 'P311A4$3', 'P311A4$4', 'P311A4$5', 'P311A4$6', 'P311A4$7', 'P311A4$8', 'P311A4$9', 'P311A5$1', 'P311A5$2', 'P311A5$3', 'P311A5$4', 'P311A5$5', 'P311A5$6', 'P311A5$7', 'P311A5$8', 'P311A5$9', 'P311A6$1', 'P311A6$2', 'P311A6$3', 'P311A6$4', 'P311A6$5', 'P311A6$6', 'P311A6$7', 'P311A6$8', 'P311A6$9', 'P311A7$1', 'P311A7$2', 'P311A7$3', 'P311A7$4', 'P311A7$5', 'P311A7$6', 'P311A7$7', 'P311A7$8', 'P311A7$9', 'P311B$1', 'P311B$2', 'P311B$3', 'P311B$4', 'P311B$5', 'P311B$6', 'P311B$7', 'P311B$8', 'P311B$9', 'P311C$1', 'P311C$2', 'P311C$3', 'P311C$4', 'P311C$5', 'P311C$6', 'P311C$7', 'P311C$8', 'P311C$9', 'P311D$1', 'P311D$2', 'P311D$3', 'P311D$4', 'P311D$5', 'P311D$6', 'P311D$7', 'P311D$8', 'P311D$9', 'P311D2$1', 'P311D2$2', 'P311D2$3', 'P311D2$4', 'P311D2$5', 'P311D2$6', 'P311D2$7', 'P311D2$8', 'P311D2$9', 'P311D3$1', 'P311D3$2', 'P311D3$3', 'P311D3$4', 'P311D3$5', 'P311D3$6', 'P311D3$7', 'P311D3$8', 'P311D3$9', 'P311D4$1', 'P311D4$2', 'P311D4$3', 'P311D4$4', 'P311D4$5', 'P311D4$6', 'P311D4$7', 'P311D4$8', 'P311D4$9', 'P311D5$1', 'P311D5$2', 'P311D5$3', 'P311D5$4', 'P311D5$5', 'P311D5$6', 'P311D5$7', 'P311D5$8', 'P311D5$9', 'P311D6$1', 'P311D6$2', 'P311D6$3', 'P311D6$4', 'P311D6$5', 'P311D6$6', 'P311D6$7', 'P311D6$8', 'P311D6$9', 'P311D7$1', 'P311D7$2', 'P311D7$3', 'P311D7$4', 'P311D7$5', 'P311D7$6', 'P311D7$7', 'P311D7$8', 'P311D7$9', 'P311E$1', 'P311E$2', 'P311E$3', 'P311E$4', 'P311E$5', 'P311E$6', 'P311E$7', 'P311E$8', 'P311E$9', 'P311T1', 'P311T22', 'P311T23', 'P311T24', 'P311T25', 'P311T26', 'P311T27', 'P311T2', 'P3121', 'P3121A1', 'P3121A2', 'P3121A3', 'P3121A4', 'P3121A5', 'P3121A6', 'P3121B', 'P3121C', 'P3121C2', 'P3121C3', 'P3121C4', 'P3121C5', 'P3121C6', 'P3121D', 'P3122', 'P3122A1', 'P3122A2', 'P3122A3', 'P3122A4', 'P3122A5', 'P3122A6', 'P3122B', 'P3122C', 'P3122C2', 'P3122C3', 'P3122C4', 'P3122C5', 'P3122C6', 'P3122D', 'P312T1', 'P312T22', 'P312T23', 'P312T24', 'P312T25', 'P312T26', 'P312T2', 'P313', 'P314A', 'P314B$1', 'P314B$2', 'P314B$3', 'P314B$4', 'P314B$5', 'P314B$6', 'P314B$7', 'P314B1_1', 'P314B1_2', 'P314B1_6', 'P314B1_7', 'P314B1_8', 'P314B1_9', 'P314D', 'P3151', 'P3152', 'P3153', 'P3154', 'P3155', 'P3156', 'P315A', 'P315B', 'P315B2', 'P315B3', 'P315B4', 'P315B5', 'P315B6', 'P316$1', 'P316$2', 'P316$3', 'P316$4', 'P316$5', 'P316$6', 'P316$7', 'P316$8', 'P316$9', 'P316$10', 'P316$11', 'P316$12', 'P316A1', 'P316A2', 'P316A3', 'P316A4', 'P316A5', 'P316A6', 'P316B', 'P316C1', 'P316C2', 'P316C3', 'P316C4', 'P316C5', 'P316C6', 'P316C7', 'P316C8', 'P316C9', 'P316C10', 'T313A', 'P203', 'P204', 'P205', 'P206', 'P207', 'P208A', 'P209', 'IMPUTADO', 'TICUEST01A', 'D311B$1', 'D311D2$1', 'D311D3$1', 'D311D4$1', 'D311D5$1', 'D311D6$1', 'D311D7$1', 'D311D$1', 'D311B$2', 'D311D2$2', 'D311D3$2', 'D311D4$2', 'D311D5$2', 'D311D6$2', 'D311D7$2', 'D311D$2', 'D311B$3', 'D311D2$3', 'D311D3$3', 'D311D4$3', 'D311D5$3', 'D311D6$3', 'D311D7$3', 'D311D$3', 'D311B$4', 'D311D2$4', 'D311D3$4', 'D311D4$4', 'D311D5$4', 'D311D6$4', 'D311D7$4', 'D311D$4', 'D311B$5', 'D311D2$5', 'D311D3$5', 'D311D4$5', 'D311D5$5', 'D311D6$5', 'D311D7$5', 'D311D$5', 'D311B$6', 'D311D2$6', 'D311D3$6', 'D311D4$6', 'D311D5$6', 'D311D6$6', 'D311D7$6', 'D311D$6', 'D311B$7', 'D311D2$7', 'D311D3$7', 'D311D4$7', 'D311D5$7', 'D311D6$7', 'D311D7$7', 'D311D$7', 'D3121B', 'D3121C2', 'D3121C3', 'D3121C4', 'D3121C5', 'D3121C6', 'D3121C', 'D3122B', 'D3122C2', 'D3122C3', 'D3122C4', 'D3122C5', 'D3122C6', 'D3122C', 'D315A', 'D315B2', 'D315B3', 'D315B4', 'D315B5', 'D315B6', 'D315B', 'I311B$1', 'I311B$2', 'I311B$4', 'I311B$6', 'I311B$3', 'I311B$5', 'I311B$7', 'I311D2$1', 'I311D3$1', 'I311D4$1', 'I311D5$1', 'I311D6$1', 'I311D7$1', 'I311D2$2', 'I311D3$2', 'I311D4$2', 'I311D5$2', 'I311D6$2', 'I311D7$2', 'I311D2$4', 'I311D3$4', 'I311D4$4', 'I311D5$4', 'I311D6$4', 'I311D7$4', 'I311D2$6', 'I311D3$6', 'I311D4$6', 'I311D5$6', 'I311D6$6', 'I311D7$6', 'I311D2$3', 'I311D3$3', 'I311D4$3', 'I311D5$3', 'I311D6$3', 'I311D7$3', 'I311D2$5', 'I311D3$5', 'I311D4$5', 'I311D5$5', 'I311D6$5', 'I311D7$5', 'I311D2$7', 'I311D3$7', 'I311D4$7', 'I311D5$7', 'I311D6$7', 'I311D7$7', 'I3121B', 'I3122B', 'I3121C2', 'I3121C3', 'I3121C4', 'I3121C5', 'I3121C6', 'I3122C2', 'I3122C3', 'I3122C4', 'I3122C5', 'I3122C6', 'I315A', 'I315B2', 'I315B3', 'I315B4', 'I315B5', 'I315B6', 'I311D$1', 'I311D$2', 'I311D$3', 'I311D$4', 'I311D$5', 'I311D$6', 'I311D$7', 'I3121C', 'I3122C', 'I315B', 'FACTOR07', 'FACTORA07', 'NCONGLOME', 'SUB_CONGLOME']

Columnas del segundo dataset (Vivienda - 200):
['AÃ‘O', 'MES', 'CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO', 'UBIGEO', 'DOMINIO', 'ESTRATO', 'P201P', 'P203', 'P203A', 'P203B', 'P204', 'P205', 'P206', 'P207', 'P208A', 'P208B', 'P209', 'P210', 'P211A', 'P211D', 'P212', 'P213', 'P214', 'P215', 'P216', 'P217', 'T211', 'OCUPAC_R3', 'OCUPAC_R4', 'RAMA_R3', 'RAMA_R4', 'CODTAREA', 'CODTIEMPO', 'TICUEST01', 'FACPOB07', 'NCONGLOME', 'SUB_CONGLOME']

Columnas comunes entre los dos datasets:
['AÃ‘O', 'SUB_CONGLOME', 'P209', 'DOMINIO', 'ESTRATO', 'NCONGLOME', 'MES', 'P208A', 'P204', 'VIVIENDA', 'HOGAR', 'P206', 'CONGLOME', 'P203', 'P207', 'P205', 'CODPERSO', 'UBIGEO']

## Merge

In [90]:

# 1) Definir columnas clave recomendadas para ENAHO
common_columns = ['CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO']

# Verificar que existan en ambos DataFrames
faltan_300 = [c for c in common_columns if c not in df300.columns]
faltan_200 = [c for c in common_columns if c not in df200.columns]
if faltan_300 or faltan_200:
    raise KeyError(f"Faltan columnas: en df300 {faltan_300} | en df200 {faltan_200}")

# 2) Estandarizar y corregir tipos en las claves
def limpiar_claves(df, key_cols):
    df = df.copy()

    # Quitar espacios si vinieran como strings
    for c in key_cols:
        if pd.api.types.is_object_dtype(df[c]):
            df[c] = df[c].astype(str).str.strip().replace({'': np.nan})

    # Convertir a numÃ©rico (muchas veces vienen como '123.0' o texto)
    for c in key_cols:
        df[c] = pd.to_numeric(df[c], errors='coerce')  # NaN si no se puede convertir
        # Si quedan floats por decimales .0, pÃ¡salos a enteros (Int64 tolera NaN)
        if pd.api.types.is_float_dtype(df[c]):
            # Si hay valores no enteros verdaderos, redondea (ajusta segÃºn tu criterio)
            # AquÃ­ asumimos que deben ser enteros:
            df[c] = df[c].round().astype('Int64')
        else:
            df[c] = df[c].astype('Int64')

    # Eliminar filas con NaN en claves (no se pueden unir)
    antes = len(df)
    df = df.dropna(subset=key_cols)
    despues = len(df)

    if antes != despues:
        print(f"Se eliminaron {antes - despues} filas con claves nulas.")

    return df

df300_keys = limpiar_claves(df300, common_columns)
df200_keys = limpiar_claves(df200, common_columns)

# 3) Detectar duplicados de clave (claves no Ãºnicas complican el merge 1:1)
dup300 = df300_keys.duplicated(subset=common_columns, keep=False).sum()
dup200 = df200_keys.duplicated(subset=common_columns, keep=False).sum()
print(f"Duplicados de clave en df300: {dup300}")
print(f"Duplicados de clave en df200: {dup200}")

# 4) Anti-joins para ver claves que NO coinciden entre ambos
# Crear tuplas de clave para comparar conjuntos
keys300 = set(map(tuple, df300_keys[common_columns].astype('Int64').values))
keys200 = set(map(tuple, df200_keys[common_columns].astype('Int64').values))

solo_en_300 = keys300 - keys200
solo_en_200 = keys200 - keys300

print(f"Claves presentes solo en df300: {len(solo_en_300)}")
print(f"Claves presentes solo en df200: {len(solo_en_200)}")

# Muestras de las primeras diferencias (si existen)
if solo_en_300:
    print("\nEjemplos de claves solo en df300 (primeras 5):")
    for t in list(solo_en_300)[:5]:
        print(t)

if solo_en_200:
    print("\nEjemplos de claves solo en df200 (primeras 5):")
    for t in list(solo_en_200)[:5]:
        print(t)

# (Opcional) DataFrames con filas no emparejadas - Ãºtil para inspeccionar y corregir a mano si hace falta
unmatched_300 = df300_keys.merge(df200_keys[common_columns].drop_duplicates(),
                                 on=common_columns, how='left', indicator=True)
unmatched_300 = unmatched_300[unmatched_300['_merge'] == 'left_only']
print(f"\nFilas en df300 sin match en df200: {len(unmatched_300)}")

unmatched_200 = df200_keys.merge(df300_keys[common_columns].drop_duplicates(),
                                 on=common_columns, how='left', indicator=True)
unmatched_200 = unmatched_200[unmatched_200['_merge'] == 'left_only']
print(f"Filas en df200 sin match en df300: {len(unmatched_200)}")

# 5) Merge final
#    - 'inner' conserva solo las claves comunes (uniÃ³n mÃ¡s "segura")
#    - 'left' conserva todas las filas de df300 (Ãºtil si 300 es el universo principal)
#    - 'outer' conserva todo y ayuda a auditar faltantes
merge_how = 'inner'  # ajusta a 'left' o 'outer' segÃºn tu necesidad

df_merged = pd.merge(
    df300_keys,
    df200_keys,
    on=common_columns,
    how=merge_how,
    suffixes=('_300', '_200')
)

print(f"\nResultado del merge ({merge_how}): {df_merged.shape[0]} filas x {df_merged.shape[1]} columnas")
display(df_merged.head())

Duplicados de clave en df300: 0
Duplicados de clave en df200: 0
Claves presentes solo en df300: 0
Claves presentes solo en df200: 11393

Ejemplos de claves solo en df200 (primeras 5):
(17672, 1, 11, 3)
(16904, 72, 11, 3)
(18765, 134, 11, 6)
(17052, 11, 11, 3)
(15378, 9, 11, 9)

Filas en df300 sin match en df200: 0
Filas en df200 sin match en df300: 11393

Resultado del merge (inner): 108354 filas x 547 columnas

,AÃ‘O_300,MES_300,CONGLOME,VIVIENDA,HOGAR,CODPERSO,UBIGEO_300,DOMINIO_300,ESTRATO_300,CODINFOR,...,OCUPAC_R3,OCUPAC_R4,RAMA_R3,RAMA_R4,CODTAREA,CODTIEMPO,TICUEST01,FACPOB07,NCONGLOME_200,SUB_CONGLOME_200
0,2023,1,5030,2,11,1,10201,7,4,1,...,,,,,,,2,118.374542,6618,0
1,2023,1,5030,2,11,2,10201,7,4,2,...,,,,,,,2,118.374542,6618,0
2,2023,1,5030,2,11,3,10201,7,4,2,...,,,,,,,2,118.374542,6618,0
3,2023,1,5030,2,11,4,10201,7,4,2,...,,,,,,,2,118.374542,6618,0
4,2023,1,5030,11,11,1,10201,7,4,1,...,,,,,,,2,118.374542,6618,0

## Muestra las primeras 5 filas del DataFrame resultante

In [91]:
# Mostrar las primeras 5 filas del DataFrame resultante
df_merged.head()

,AÃ‘O_300,MES_300,CONGLOME,VIVIENDA,HOGAR,CODPERSO,UBIGEO_300,DOMINIO_300,ESTRATO_300,CODINFOR,...,OCUPAC_R3,OCUPAC_R4,RAMA_R3,RAMA_R4,CODTAREA,CODTIEMPO,TICUEST01,FACPOB07,NCONGLOME_200,SUB_CONGLOME_200
0,2023,1,5030,2,11,1,10201,7,4,1,...,,,,,,,2,118.374542,6618,0
1,2023,1,5030,2,11,2,10201,7,4,2,...,,,,,,,2,118.374542,6618,0
2,2023,1,5030,2,11,3,10201,7,4,2,...,,,,,,,2,118.374542,6618,0
3,2023,1,5030,2,11,4,10201,7,4,2,...,,,,,,,2,118.374542,6618,0
4,2023,1,5030,11,11,1,10201,7,4,1,...,,,,,,,2,118.374542,6618,0

## Agrupa los datos por una variable de tu elecciÃ³n usando groupby()

In [94]:
# Contar el nÃºmero de registros por estrato
conteo_estrato = df_merged.groupby("ESTRATO_300").size()

print("NÃºmero de registros por ESTRATO_300:")
print(conteo_estrato)

NÃºmero de registros por ESTRATO_300:
ESTRATO_300
1    19761
2    21144
3     8950
4     8342
5    13883
6     5654
7    22093
8     8527
dtype: int64

## Ingreso_promedio_estrato

In [100]:
ingreso_promedio_estrato = df_merged.groupby("ESTRATO_300")["FACPOB07"].mean().reset_index()
ingreso_promedio_estrato = ingreso_promedio_estrato.rename(columns={"FACPOB07": "Ingreso_Promedio"})

print("Ingreso promedio por ESTRATO:")
print(ingreso_promedio_estrato)

Ingreso promedio por ESTRATO:
   ESTRATO_300  Ingreso_Promedio
0            1        664.365874
1            2        212.885385
2            3        169.092461
3            4        309.468629
4            5        355.167710
5            6        163.467631
6            7        186.470077
7            8        165.213455

# Parte 2 - If Conditions

## Basic If Condition

In [5]:
def check_number(x):
    if x > 0:
        return f"The number {x} is positive."
    else:
        return f"The number {x} is not positive."

check_number(4)

'The number 4 is positive.'

In [6]:
check_number(-1)

'The number -1 is not positive.'

## If Condition with Multiple Expressions

In [9]:
def check_temperature(temp):
    if temp < 0:
        return "Clima muy frÃ­o"
    elif temp < 20:
        return "Clima fresco"
    elif temp < 30:
        return "Clima agradable"
    else:
        return "Clima caluroso"

In [10]:
print(check_temperature(-5))

Clima muy frÃ­o

In [11]:
print(check_temperature(36))

Clima caluroso

## Logical Operators

In [13]:
def scholarship_eligibility(gpa, extracurricular, community_hours):
    if gpa > 3.5 and (extracurricular == "Yes" or community_hours > 50):
        return "Eligible for scholarship."
    else:
        return "Not eligible for scholarship."

In [14]:
print(scholarship_eligibility(3.8, "Yes", 10))

Eligible for scholarship.

In [15]:
print(scholarship_eligibility(3.2, "Yes", 60))

Not eligible for scholarship.

## Python Identity Operators

In [16]:
list1 = [1, 2, 3]
list2 = [1, 2, 3]
list3 = list1

In [17]:
print("list1 is list2:", list1 is list2)

list1 is list2: False

In [18]:
print("list1 is list3:", list1 is list3)

list1 is list3: True

In [19]:
print("list1 == list2:", list1 == list2)

list1 == list2: True

## Nested If Statement

In [21]:
def assign_grade(score):
    if score >= 90:
        return "A"
    elif 80 <= score <= 89:
        if score == 85:
            return "B+"
        else:
            return "B"
    elif 70 <= score <= 79:
        return "C"
    else:
        return "Fail"

In [22]:
print(assign_grade(92))

A

In [23]:
print(assign_grade(85))

B+

In [24]:
print(assign_grade(83))

B

In [25]:
print(assign_grade(75))

C

In [26]:
print(assign_grade(60))

Fail

In [27]:
print(assign_grade(40))

Fail

## Part 3

11) For Loop in NumPy

In [4]:
array1 = np.array([10,20,30,40,50])
print(array1)

[10 20 30 40 50]

In [5]:
for x in array1:
    print(x*2)

20
40
60
80
100

In [ ]:
Re-question:

In [6]:
for i, x in enumerate(array1):
    if i == 0:
        result = []
    result.append(x * 2)
    if i == len(array1)-1:
        new_arr=np.array(result)
        print(new_arr)

[ 20  40  60  80 100]

12) For Loop in List

In [8]:
wordlist=["python", "loop", "list", "iteration"]

In [9]:
wordlist

['python', 'loop', 'list', 'iteration']

In [10]:
for e in wordlist:
    print(len(e))

6
4
4
9

Re-question:

In [11]:
newlist = [len(e) for e in wordlist]
newlist

[6, 4, 4, 9]

13) For Loop in Dictionary

In [12]:
scores = {"Alice": 85, "Bob": 92, "Charlie": 78, "Diana": 88}

for Students, Grades in scores.items():
    print(Students, Grades)

Alice 85
Bob 92
Charlie 78
Diana 88

Re-question

In [13]:
for Students, Grades in scores.items():
    if Grades > 80:
        print(Students)

Alice
Bob
Diana

In [ ]:
14) For Loop using Range

In [14]:
for x in range(1, 21):
    if x % 2 == 0:
        print(x)

2
4
6
8
10
12
14
16
18
20

Re-question

In [15]:
sumran = 0

for x in range(1, 21):
    if x % 2 == 0:
        sumran = sumran+x
        print(sumran)

2
6
12
20
30
42
56
72
90
110

15) Iterations over Pandas (ENAHO dataset)
Suppose you are analyzing the National Household Survey (ENAHO) dataset, specifically the file ENAHO01A-2023-400.
The question of interest is P41601: â€œÂ¿CuÃ¡nto fue el monto total por la compra o servicio?â€.

Write a for loop that iterates over the column P41601 and prints values greater than 5000.

Re-question: How would you optimize this task using pandas vectorized operations (e.g., boolean indexing) instead of a for loop, to make the analysis faster and more efficient?

In [43]:
ena400 = pd.read_csv(r"..\group_03_assignment2_2025\Enaho01A-2023-400.csv", encoding="ISO-8859-10", low_memory=False)

In [44]:
display(ena400.head())

,AÅ…O,MES,CONGLOME,VIVIENDA,HOGAR,CODPERSO,UBIGEO,DOMINIO,ESTRATO,CODINFOR,...,I41810,I41811,I41812,I41813,I41814,I41815,I41816,FACTOR07,NCONGLOME,SUB_CONGLOME
0,2023,1,5030,2,11,1,10201,7,4,1,...,,,,,,,,118.374542,6618,0
1,2023,1,5030,2,11,2,10201,7,4,2,...,,,204,,,,,118.374542,6618,0
2,2023,1,5030,2,11,3,10201,7,4,2,...,,,,,,,,118.374542,6618,0
3,2023,1,5030,2,11,4,10201,7,4,2,...,,,,,,,,118.374542,6618,0
4,2023,1,5030,11,11,1,10201,7,4,1,...,,,,,,,,118.374542,6618,0

In [35]:
for que15 in ena400["P41601"]:
    if pd.notna(que15):
        try:
            if float(que15) > 5000:
                print(que15)
        except ValueError:
            pass

99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9

Re-question

In [41]:
ena400["P41601"] = pd.to_numeric(ena400["P41601"])

over5000 = ena400.loc[ena400["P41601"] > 5000, "P41601"]

print(over5000)

784       99999.9
794       99999.9
797       99999.9
799       99999.9
3925      99999.9
5731      99999.9
7555      99999.9
8007      99999.9
13958     99999.9
17211     99999.9
26244     99999.9
26639     99999.9
28578     99999.9
36256     99999.9
43753     99999.9
43754     99999.9
45170     99999.9
47369     99999.9
48779     99999.9
49699     99999.9
52736     99999.9
53781     99999.9
66071     99999.9
71331     99999.9
75239     99999.9
76090     99999.9
80685     99999.9
84911     99999.9
87190     99999.9
92416     99999.9
96582     99999.9
99087     99999.9
103332    99999.9
104854    99999.9
107255    99999.9
107757    99999.9
109416    99999.9
110537    99999.9
Name: P41601, dtype: float64