# 1 Assignment

It is totally prohibited to use any kind of loop. You can use stackoverflow. If you copy codes from previous answers, explain each step. No explanation is `0 points`.

## 1.1 Tuple



1. Print the first item of the second item of `tuple1` object. **Hint: Use indexing**<br><br>
2. Print the last item of the `tuple1` object.**Hint: Use indexing**<br><br>
3. Change the value "orange" for "pink grapefruit". Comment the output. **Hint: Is it possible?** <br><br>
4. Print the length of `tuple1`. **Hint: Length function**<br><br>
5. Sum all the elements of tuple2 and describe your steps and explain each of them. **Hint: Use `map` function.**<br><br>
6. Generate a new tuple object named as `tuple3` with the half values of `tuple2`. This tuple should be similar as `tuple2`, tuple of lists.  **Hint: Use `map` funciont.**<br><br>

In [1]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple2 = ([7, 8], [9, 1], [10, 7])

### Solution

### 1.1.1. Print the first item of the second item of tuple1 object

We use 'indexing' function to print the first element of the object of tuple 1

In [2]:
#tuple1[1]: Accesses the second item of tuple1, which is a list [10, 20, 30]
#[tuple1][0]: Accesses the first item of that list, which is 10
print("The first item of the second item of tuple1:", tuple1[1][0])

The first item of the second item of tuple1: 10

### 1.1.2. Print the last item of the tuple1 object

We use the 'indexing' function to print the last element of object 1

In [3]:
#tuple1[-1]: Accesses the last item of tuple1
print("The last item of the tuple1:", tuple1[-1])

The last item of the tuple1: (5, 15, 25)

### 1.1.3 Change the value "orange" for "pink grapefruit"

In [4]:
#No, it's not possible because a tuple is inmmutable. Therefore, when the code is run, an error appears as shown below
tuple1[0] = "pink grapefruit"
print(tuple1)

#An alternative would be to create a new tuple with this modification

TypeError: 'tuple' object does not support item assignment

### 1.1.4 Print the length of tuple1

We use the length function to print the length of tuple 1

In [5]:
#tuple1 has three elements: a string, a list, and another tuple
print("Length of tuple1:", len(tuple1))

Length of tuple1: 3

### 1.1.5 Sum all the elements of tuple2, describe and explain the steps

We use the map function which applies a specific function to all elements of one or more sequences (such as lists or tuples). Let's analyze each step:

In [6]:
#STEP 1: CREATE A MAP OBJECT WITH THE SUM FUNCTION
#       map(sum, tuple2) applies the sum function to each sublist in tuple2
#        partial_sum is a map object that contains the partial sums of each sublist

partial_sum = map(sum, tuple2)

#STEP 2: CALCULATE THE TOTAL SUM OF PARTIAL SUMS
#        sum(partial_sum) sums all elements in partial_sum, which are the partial sums of each sublist in tuple2

total_sum = sum(partial_sum)

#STEP 3: PRINT THE RESULT 

print("The sum of all the elements in tuple2 is:", total_sum)

The sum of all the elements in tuple2 is: 42

### 1.1.6 Generate a new tuple object named as tuple3 with the half values of tuple2

We also use the 'lambda' function to define anonymous functions that apply to each element of the sublists in tuple2. Let's analyze each part:

In [7]:
#PART 1: map(lambda x: x / 2, sublist)
#        For each element 'x' in sublist 'sublist' of tuple2, apply the function 'lambda' that divides each element 'x' by 2
#        Then, returns a 'map' object (an iterator) that contains the results


#PART 2: list(map(lambda x: x / 2, sublist)
#        Converts the result of the previous operation (a map object) to a list

#PART 3: map(lambda sublist: ..., tuple2)
#        'lambda' function is applied to each sublist of tuple2
#        Like step 1, it returns a 'map' object that contains the results of applying the lambda function to each element of tuple2

#PART 4: tuple(...)
#        Convert the result to a tuple

tuple3 = tuple(map(lambda sublist: list(map(lambda x: x / 2, sublist)), tuple2))

#PART 5: Print the result
print("Tuple3 with half values of Tuple2:", tuple3)

Tuple3 with half values of Tuple2: ([3.5, 4.0], [4.5, 0.5], [5.0, 3.5])

## 1.2 Lists
1. Show the indices of the `np.nan` values  in the `f_list` list. We want to see this output: `The indices 0, 1, 4, 7 have np.nan values.` **Hint: Use print function and [f-strings](https://realpython.com/python-f-strings/) to insert the indices values.**<br><br>

2. Replicate 4 times the values of the list `p2_list`. We expect an ouput like this: `[ 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5]`.  **Hint: Use multiplication function in `lists`and see the output.**<br><br>
3. Print the length of `f_list`. **Hint: Length function**<br><br>
4. Print `My teacher assistant is so boring.` using `text1` list. **Hint: Use the [`join` function](https://stackoverflow.com/questions/493819/why-is-it-string-joinlist-instead-of-list-joinstring)**<br><br>
5. Print `My TA is so boring, but is very funny.` using `text1` list.**Hint: Use the `join` function, and `extend` method.**<br><br>
6. Print <br>
`The max value of values1 is 86 and is located in the 0 index. ` <br>
`The min value of values1 is 0 and is located in the 7 index. ` <br> **Hint: Use the `f-string`, `min`, and `max` functions.**
<br>
7. Get two lists: `names` and `last_names` using `last_and_name` list. **Hint: Use `map` and `split`.**
<br>
8. Give only the last names of students who do not have email. Use the `emails` and `last_names` listt. **Hint: Use `map` and `split`.**
<br>

In [8]:
import numpy as np

In [9]:
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]

In [10]:
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']

In [11]:
p2_list = [ 2 , 3, 4, 5 ]

In [12]:
values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1 ]

In [13]:
# These two lists a
last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe", "", "", "", "", "", "f0873079@pucp.edu.pe", "", "", "", "", "", "", "", "", "", "", "flores.alexis@pucp.edu.pe", ]

### Solution
### 1.2.1. Show the indices of the np.nan

In [14]:
# Creating a list
f_list = [np.nan, np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan]

# Find indices of np.nan values
nan_indices = [i for i, value in enumerate(f_list) if isinstance(value, float) and np.isnan(value)]

# Print the indices using f-strings
if nan_indices:
    indices_str = ", ".join(map(str, nan_indices))
    print(f"The indices {indices_str} have np.nan values.")
else:
    print("No np.nan values found in the list.")

The indices 0, 1, 4, 7 have np.nan values.

### 1.2.2. Replicate 4 times the values of the list p2_list.

In [15]:
# Creating a list    
p2_list = [2, 3, 4, 5]

# Replicate 4 times using "listsand" function
replicated_list = p2_list*4

# Print the output
print(replicated_list)

[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

### 1.2.3. Print the length of f_list.

In [16]:
# Get the length of the list
l_f_list = len(f_list)

# Print the length of the list using an f-string
print(f"The length of the list is: {l_f_list}")

The length of the list is: 8

### 1.2.4. Print My teacher assistant is so boring.

In [17]:
# List of words
text1 = ["My", "teacher", "assistant", "is", "so", "boring."]

# Concatenate the words from the list into a string separated by spaces 
sentence = ' '.join(text1)

# Print the resulting string
print(sentence)

My teacher assistant is so boring.

### 1.2.5. Print My TA is so boring, but is very funny.

In [18]:
# Original list
text2 = ["My", "TA", "is", "so", "boring,"]

# Extend the list by adding more elements
text2.extend(["but", "is", "very", "funny."])

# Join the elements of the list to from a sentence
final_sentence = ' '.join(text2)

# Print the final sentence
print(final_sentence)

My TA is so boring, but is very funny.

### 1.2.6. Print max and min.

In [19]:
# Original list
values1 = [86, 45, 67, 86, 12, 9, 5, 0, 34]

# Find the maximun value and its index
max_value = max(values1)
max_index = values1.index(max(values1))

# Find the minimum value and its index
min_value = min(values1)
min_index = values1.index(min_value)

# Displaying the results using f-strings
print(f"The max value of values1 is {max_value} and is located in the {max_index} index.")
print(f"The min value of values1 is {min_value} and is located in the {min_index} index.")

The max value of values1 is 86 and is located in the 0 index.
The min value of values1 is 0 and is located in the 7 index.

### 1.2.7. Get two lists: names and last_names using last_and_name list.

In [20]:
# Original list
last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]

# Using a list comprehension to split each element in the original list and then using zip to transpose the resulting lists.
names, last_names = zip(*map(lambda s: s.rsplit(', ', 1), last_and_name))

# Printing the list names
print("Names:", names)

# Printing the list last names
print("Last Names:", last_names)

Names: ('CORNEJO SANCHEZ', 'ORELLANA QUISPE', 'MORALES CHOQUEHUANCA', 'GUIMARAY RIBEYRO', 'CAMACHO GAVIDIA', 'TINTAYA ORIHUELA', 'CHAVEZ MARTINEZ', 'FIGUEROA MURO', 'GOMEZ CRIBILLERO', 'PALOMINO SEGUÍN', 'LUZON CUEVA', 'SUAÑA ZEGARRA', 'SOTO POMACHAGUA', 'FIORENTINO MARTINEZ', 'LAMA MAVILA', 'MEZA HINOJO', 'LOZADA MURILLO', 'ZAMBRANO JIMENEZ', 'JACOBS LUQUE', 'VIDAL VIDAL', 'TORRES ANICAMA', 'LOPEZ ESTRADA', 'BOYCO ORAMS', 'DIAZ BERROSPI', 'RIEGA ESCALANTE', 'LEVANO TORRES', 'ESQUIVES BRAVO', 'PEREZ GONZALES', 'OTERO MAGUIÑA', 'CLAVO CAMPOS', 'AGUILAR GARCIA', 'CALDAS VELASQUEZ', 'SALAS NUÑEZ BORJA', 'PIZARRO VILLANES', 'QUILLATUPA MORALES', 'HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'HINOJOSA CAHUANA', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ', 'FLORES CADILLO')
Last Names: ('CHRISTIAN SANTOS', 'CRISTIAN NASSER', 'ANGELICA KARINA', 'JOSE ROBERTO', 'ABEL FERNANDO', 'MEIR ALVARO', 'JOSELIN ALEXANDRA', 'LEONEL ARTURO', 'JOSE FELIPE', 'AFRANIA', 'BIANCA MARIETTE', 'ADRIAN ANDRE', 'DORKAS YOMIRA JHERMY', 'LADY ALY', 'HECTOR ANDRE', 'GUSTAVO', 'PERSEO MARCELO', 'MIGUEL ALONZO', 'NICOLAS', 'ROCIO GABRIELA', 'JANE CAMILA', 'MARIA ELISA', 'ALEJANDRO', 'KARLINE ROSMELI', 'STEPHY ROSARIO', 'VALERIA CECILIA', 'SEBASTIAN RENATO', 'JUAN CARLOS', 'MARIANA', 'ANDREA BRIZETH', 'ERICK JOSUE', 'JOSUE DANIEL', 'FABIO MANUEL', 'FERNANDA NICOLLE', 'ANGELA ADELINA', 'CESAR DANTE', 'GABRIELA ISABEL', 'ANGEL MAURICIO', 'JUAN DIEGO', 'ARONE', 'PERCY ALBERTH', 'KEVIN ARTURO', 'CESAR ERNESTO', 'CÉSAR AGUSTO', 'DIANA EDITH', 'RODRIGO FRANCO', 'GRETTEL ALEXANDRA', 'ROSA ANGELA', 'DANTE OMAR', 'YAJAIRA ALEXANDRA', 'JORGE ALBERTO', 'ALEXIS')

### 1.2.8. Give only the last names of students who do not have email.

In [21]:
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe", "", "", "", "", "", "f0873079@pucp.edu.pe", "", "", "", "", "", "", "", "", "", "", "flores.alexis@pucp.edu.pe", ]

# Extract last names of students without an email using map and split
no_email = [last_name for last_name, emails in zip(last_names, [emails.split('@')[0] for emails in emails]) if not emails]

# Print last names of students without an email
print("Last names of students without an email:", no_email)

Last names of students without an email: ['CESAR DANTE', 'GABRIELA ISABEL', 'ANGEL MAURICIO', 'JUAN DIEGO', 'ARONE', 'KEVIN ARTURO', 'CESAR ERNESTO', 'CÉSAR AGUSTO', 'DIANA EDITH', 'RODRIGO FRANCO', 'GRETTEL ALEXANDRA', 'ROSA ANGELA', 'DANTE OMAR', 'YAJAIRA ALEXANDRA', 'JORGE ALBERTO']

## 1.3 Strings


1. Drop the duplicated blank spaces in `str1`. Do not use the regular expresions. Do not use the code shown in class. Explain your steps.**Hint: Use `split` method and `join` function.**

2. Get the number of letters in the string .**Hint: Use `len`function.**

3. Get the number of blank spaces (all of them) in the string .**Hint: Use `len`function.**

4. Get the position of `@` in each string in the emails list. **Hint: Use `map`function and `find` method.**

5. Identifies if exists `.edu.`  in each string in the `emails` list. Get a list of Booleans. **Hint: Use `map`function and `find` method.**

6. Get all the strings before the first dot `.`in each string in the `emails` list. Identifies how many of them has `@`. **Hint: Use `map`function and `find` method.**

In [2]:
str1 = 'I am                            too                                                        old'

In [3]:
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

## Solution

### 1.3.1. Drop duplicated blank spaces

In [4]:
#drop spaces
str1_1 = str1.split()

#view results
print(str1_1)

#defining separator
Separador = " "

#creating a new string using the function join. This string will not contain duplicated blank spaces.
str1_2 = Separador.join(str1_1)

#view result
print(str1_2)

['I', 'am', 'too', 'old']
I am too old

### 1.3.2. Get the number of letters in the string

In [5]:
#create a new string without spaces
str1_3 = str1.replace(" ",'')

#apply function len to obtain lenght of the string without spaces
len(str1_3)

9

### 1.3.3. Get the number of blank spaces
The simplest way to do this is by using the function count.

In [6]:
str1.count(" ") #apply function count to find out how many blank spaces are there in the string

85

However, if we wanted to use the function length, we would have to do unnecessary steps:

In [7]:
str_len = len(str1)
spaces = str1.count(' ')
non_spaces = str_len - spaces

str_len - non_spaces

85

### 1.3.4. Get the position of @

In [8]:
#creating an object that uses map to create a function that iterates find for each string on the list
positions_of_at = list(map(lambda email: email.find('@'), emails))

#calling the object
positions_of_at

[9,
 11,
 14,
 9,
 12,
 8,
 14,
 9,
 8,
 16,
 12,
 13,
 6,
 9,
 10,
 12,
 8,
 11,
 14,
 6,
 11,
 7,
 15,
 9,
 12,
 8,
 9,
 11,
 13,
 6,
 9,
 12,
 11,
 16,
 11]

### 1.3.5. Identify if exists .edu. in each string

In [9]:
#creating an object to store the results. Then, with map, iteration of the find function for each element of the list
contains_edu = list(map(lambda email: email.find(".edu.") != -1, emails)) #We check if the index return value is not equal to -1. Returns True if found, False if .edu. doesn't exist

#calling the object to view results
contains_edu

[True,
 True,
 True,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False]

### 1.3.6. Get all the strings before the first dot .in each string in the emails list. Identify how many of them have @.

In [10]:
#PART 1: GET ALL THE STRINGS BEFORE THE FIRST DOT

def usuario(email): #defining the first function, usuario
    return email[:email.find(".")] #defining what the function will do: find the dot

users = list(map(usuario, emails)) #creating an object to store the result of the function just created. Applying the function with map and iterating for each element of emails
users #view result

['cscornejo@pucp',
 'orellana',
 'karina',
 'a20083223@pucp',
 'abel',
 'mtintaya@pucp',
 'joselin',
 'a20105737@pucp',
 'jfgomezc@pucp',
 'afrania',
 'luzon',
 'adrian',
 'soto',
 'a20132766@pucp',
 'andre',
 'gustavo',
 'pmlozada@pucp',
 'm',
 'nicolas',
 'gvidal@pucp',
 'jane',
 'm',
 'alejandro',
 'a20167070@pucp',
 'riega',
 'vlevanot@pucp',
 'sesquives@pucp',
 'perez',
 'mariana',
 'aclavo@pucp',
 'a20182474@pucp',
 'josue',
 'fabio',
 'fernanda',
 'aquillatupa@pucp']

In [11]:
#PART 2: GET THE LIST OF THE EMAILS THAT HAVE A @ BEFORE THE FIRST DOT

def arroba(user): #defining the second function, arroba
    return user.find("@") != -1 #defining what the function will do: find the at ("@"), and return booleans

arroba_list = list(map(arroba, users)) #creating an object to store the function. Applying the function to each element of the list with map
arroba_list # viewing the result

[True,
 False,
 False,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 True,
 False,
 False,
 True,
 False,
 False,
 False,
 True,
 False,
 True,
 True,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 True]

In [12]:
#PART 2.2: COUNT HOW MANY EMAILS HAVE A @ BEFORE THE FIRST DOT

cantidad = sum(arroba_list) #applying the function sum to the previously obtained list
cantidad

14