# **1 Assignment**

It is totally prohibited to use any kind of loop. You can use stackoverflow. If you copy codes from previous answers, explain each step. No explanation is 0 points.

## **1.1 Tuple**

Print the first item of the second item of tuple1 object. Hint: Use indexing

Print the last item of the tuple1 object.Hint: Use indexing

Change the value "orange" for "pink grapefruit". Comment the output. Hint: Is it possible?

Print the length of tuple1. Hint: Length function

Sum all the elements of tuple2 and describe your steps and explain each of them. Hint: Use map function.

Generate a new tuple object named as tuple3 with the half values of tuple2. This tuple should be similar as tuple2, tuple of lists. Hint: Use map funciont.

In [1]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple2 = ([7, 8], [9, 1], [10, 7])

**Print the first item of the second item of tuple1 object. Hint: Use indexing**

In [2]:
second_item = tuple1[1]
result = second_item[0]
print(result)

10

**Print the last item of the tuple1 object.Hint: Use indexing**

In [3]:
tuple1[-1]

(5, 15, 25)

**Change the value "orange" for "pink grapefruit". Comment the output. Hint: Is it possible?**

NO es posible cambiar los elementos de la tupla. Para ello, se recomienta usar una lista

In [4]:
List1 = ["Orange", [10, 20, 30], (5, 15, 25)]
List1[0] = "pink grapefruit"
print(List1)

['pink grapefruit', [10, 20, 30], (5, 15, 25)]

**Print the length of tuple1. Hint: Length function**

In [5]:
len(tuple1)

3

**Sum all the elements of tuple2 and describe your steps and explain each of them. Hint: Use map function.**

In [6]:
sumas_por_lista = [sum(sublista) for sublista in tuple2]
suma_total = sum(sumas_por_lista)
print("La suma de los elementos de cada lista es:", sumas_por_lista)
print("La suma total de todos los elementos de la tupla es:", suma_total)

La suma de los elementos de cada lista es: [15, 10, 17]
La suma total de todos los elementos de la tupla es: 42

**Generate a new tuple object named as tuple3 with the half values of tuple2. This tuple should be similar as tuple2, tuple of lists. Hint: Use map funciont.**

In [7]:
tuple2 = ([7, 8], [9, 1], [10, 7])
tuple3 = tuple(map(lambda sublist:[value / 2 for value in sublist], tuple2))
print("Original tuple2:", tuple2)
print("New tuple3 with half values:", tuple3)

Original tuple2: ([7, 8], [9, 1], [10, 7])
New tuple3 with half values: ([3.5, 4.0], [4.5, 0.5], [5.0, 3.5])

## 1.2 Lists

In [8]:
import numpy as np

In [9]:
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]

**Show the indices of the np.nan values in the f_list list. We want to see this output: The indices 0, 1, 4, 7 have np.nan values. Hint: Use print function and f-strings to insert the indices values.**

In [10]:
import numpy as np
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]
nan_indices = [index for index, value in enumerate(f_list) if isinstance(value, float) and np.isnan(value)]
print(f"The indices {', '.join(map(str, nan_indices))} have np.nan values.")

The indices 0, 1, 4, 7 have np.nan values.

**Replicate 4 times the values of the list p2_list. We expect an ouput like this: [ 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5]. Hint: Use multiplication function in listsand see the output.**

In [20]:
p2_list = [ 2 , 3, 4, 5 ]

In [21]:
4*p2_list

[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

**Print the length of f_first**

In [11]:
len(f_list)

8

**Print My teacher assistant is so boring. using text1 list. Hint: Use the join function**

In [12]:
text1 = ['My ', 'teacher ', 'assistant ', 'is ', 'so ', 'boring.']
sentence = "".join(text1)
print(sentence)

My teacher assistant is so boring.

**Print My TA is so boring, but is very funny. using text1 list.Hint: Use the join function, and extend method.**

In [13]:
text1 = ['My ', 'teacher ', 'assistant ', 'is ', 'so ', 'boring']
text1.extend([', but ','is ','very ', 'funny.'])
sentence = "".join(text1)
print(sentence)

My teacher assistant is so boring, but is very funny.

**The max value of values1 is 86 and is located in the 0 index. The min value of values1 is 0 and is located in the 7 index. Hint: Use the f-string, min, and max functions.**

In [23]:
values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1 ]

In [24]:
max_value = max(values1)
max_index = values1.index(max_value)

min_value = min(values1)
min_index = values1.index(min_value)

print(f"The max value of values1 is {max_value} and is located in the {max_index} index.")
print(f"The min value of values1 is {min_value} and is located in the {min_index} index.")

The max value of values1 is 86 and is located in the 0 index.
The min value of values1 is 0 and is located in the 7 index.

**Get two lists: `names` and `last_names` using `last_and_name` list. Hint: Use `map` and `split`.**

In [14]:
last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]
split_name = lambda full_name: full_name.split(',')
split_name = map(split_name , last_and_name)
last_names , names = map(list,zip(*split_name))
print("Names:", names)
print("Last Names:", last_names)

Names: [' CHRISTIAN SANTOS', ' CRISTIAN NASSER', ' ANGELICA KARINA', ' JOSE ROBERTO', ' ABEL FERNANDO', ' MEIR ALVARO', ' JOSELIN ALEXANDRA', ' LEONEL ARTURO', ' JOSE FELIPE', ' AFRANIA', ' BIANCA MARIETTE', ' ADRIAN ANDRE', ' DORKAS YOMIRA JHERMY', ' LADY ALY', ' HECTOR ANDRE', ' GUSTAVO', ' PERSEO MARCELO', ' MIGUEL ALONZO', ' NICOLAS', ' ROCIO GABRIELA', ' JANE CAMILA', ' MARIA ELISA', ' ALEJANDRO', ' KARLINE ROSMELI', ' STEPHY ROSARIO', ' VALERIA CECILIA', ' SEBASTIAN RENATO', ' JUAN CARLOS', ' MARIANA', ' ANDREA BRIZETH', ' ERICK JOSUE', ' JOSUE DANIEL', ' FABIO MANUEL', ' FERNANDA NICOLLE', ' ANGELA ADELINA', ' CESAR DANTE', ' GABRIELA ISABEL', ' ANGEL MAURICIO', ' JUAN DIEGO', ' ARONE', ' PERCY ALBERTH', ' KEVIN ARTURO', ' CESAR ERNESTO', ' CÉSAR AGUSTO', ' DIANA EDITH', ' RODRIGO FRANCO', ' GRETTEL ALEXANDRA', ' ROSA ANGELA', ' DANTE OMAR', ' YAJAIRA ALEXANDRA', ' JORGE ALBERTO', ' ALEXIS']
Last Names: ['CORNEJO SANCHEZ', 'ORELLANA QUISPE', 'MORALES CHOQUEHUANCA', 'GUIMARAY RIBEYRO', 'CAMACHO GAVIDIA', 'TINTAYA ORIHUELA', 'CHAVEZ MARTINEZ', 'FIGUEROA MURO', 'GOMEZ CRIBILLERO', 'PALOMINO SEGUÍN', 'LUZON CUEVA', 'SUAÑA ZEGARRA', 'SOTO POMACHAGUA', 'FIORENTINO MARTINEZ', 'LAMA MAVILA', 'MEZA HINOJO', 'LOZADA MURILLO', 'ZAMBRANO JIMENEZ', 'JACOBS LUQUE', 'VIDAL VIDAL', 'TORRES ANICAMA', 'LOPEZ ESTRADA', 'BOYCO ORAMS', 'DIAZ BERROSPI', 'RIEGA ESCALANTE', 'LEVANO TORRES', 'ESQUIVES BRAVO', 'PEREZ GONZALES', 'OTERO MAGUIÑA', 'CLAVO CAMPOS', 'AGUILAR GARCIA', 'CALDAS VELASQUEZ', 'SALAS NUÑEZ BORJA', 'PIZARRO VILLANES', 'QUILLATUPA MORALES', 'HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'HINOJOSA CAHUANA', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ', 'FLORES CADILLO']

**Give only the last names of students who do not have email. Use the `emails` and `last_names` listt. Hint: Use `map` and `split`.**

In [15]:
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe", "", "", "", "", "", "f0873079@pucp.edu.pe", "", "", "", "", "", "", "", "", "", "", "flores.alexis@pucp.edu.pe", ]

last_names_without_email = list(map(lambda name_email: name_email[0].split(", ")[0],filter(lambda name_email: name_email[1] == "", zip(last_and_name, emails))))
print("Last names of students without an email:")
print(last_names_without_email)

Last names of students without an email:
['HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ']

## 1.3 Strings

In [16]:
str1 = 'I am                            too                                                        old'

**Get the number of letters in the string. Hint: Use lenfunction.**

In [17]:
len(str1)

94

**Get the number of blank spaces (all of them) in the string .Hint: Use lenfunction.**

In [25]:
str1 = 'I am                            too                                                        old'
num_blank_spaces = str1.count(" ")
print(f"The number of blank spaces in the string is: {num_blank_spaces}")

The number of blank spaces in the string is: 85

**Get the position of @ in each string in the emails list. Hint: Use mapfunction and find method.**

In [29]:
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]
positions = map(lambda emails: emails.find("@"), emails)
for index, position in enumerate(positions):
    print(f"The position of '@' in emails at index {index} is: {position}")

The position of '@' in emails at index 0 is: 9
The position of '@' in emails at index 1 is: 11
The position of '@' in emails at index 2 is: 14
The position of '@' in emails at index 3 is: 9
The position of '@' in emails at index 4 is: 12
The position of '@' in emails at index 5 is: 8
The position of '@' in emails at index 6 is: 14
The position of '@' in emails at index 7 is: 9
The position of '@' in emails at index 8 is: 8
The position of '@' in emails at index 9 is: 16
The position of '@' in emails at index 10 is: 12
The position of '@' in emails at index 11 is: 13
The position of '@' in emails at index 12 is: 6
The position of '@' in emails at index 13 is: 9
The position of '@' in emails at index 14 is: 10
The position of '@' in emails at index 15 is: 12
The position of '@' in emails at index 16 is: 8
The position of '@' in emails at index 17 is: 11
The position of '@' in emails at index 18 is: 14
The position of '@' in emails at index 19 is: 6
The position of '@' in emails at index 20 is: 11
The position of '@' in emails at index 21 is: 7
The position of '@' in emails at index 22 is: 15
The position of '@' in emails at index 23 is: 9
The position of '@' in emails at index 24 is: 12
The position of '@' in emails at index 25 is: 8
The position of '@' in emails at index 26 is: 9
The position of '@' in emails at index 27 is: 11
The position of '@' in emails at index 28 is: 13
The position of '@' in emails at index 29 is: 6
The position of '@' in emails at index 30 is: 9
The position of '@' in emails at index 31 is: 12
The position of '@' in emails at index 32 is: 11
The position of '@' in emails at index 33 is: 16
The position of '@' in emails at index 34 is: 11