# 1 Assignment 3

In [13]:
import os
import os
import pickle
import pandas as pd
import numpy as np
import urllib.request

1. Import the `REC0111.sav`, `RE223132.sav` and `RE516171.sav` files and their variables and values labels from this path `"../../_data/endes/2019"`. The name of imported files should be named as `rec_1`, `rec_2` and `rec_3` for files `REC0111.sav`, `RE223132.sav` and `RE516171.sav` respectively. The name of the variable and value labels should be `var_labels1` and `value_labels1` for `rec1`, `var_labels2` and `value_labels2` for `rec2`, and `var_labels3` and `value_labels3` for `rec3`. **Hint: See the section 3.3.4 of [the lecture 3](https://github.com/alexanderquispe/Diplomado_PUCP/blob/main/Lecture_3/Lecture_3.ipynb)**

In [15]:
!pip uninstall pyreadstat
!pip install pyreadstat
import pyreadstat

^C
Requirement already satisfied: pyreadstat in c:\users\leo_f\anaconda3\lib\site-packages (1.2.5)
Requirement already satisfied: pandas>=1.2.0 in c:\users\leo_f\anaconda3\lib\site-packages (from pyreadstat) (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\leo_f\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\leo_f\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\leo_f\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\leo_f\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\leo_f\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.2.0->pyreadstat) (1.16.0)

In [16]:
import pyreadstat
#pyreadstat.read_sav('../../_data/endes/2019/REC0111.sav')
rec_1, meta = pyreadstat.read_sav('../../_data/endes/2019/REC0111.sav')
rec_1

,ID1,HHID,CASEID,V001,V002,V003,V004,V007,V008,V009,...,QD333_4,QD333_5,QD333_6,UBIGEO,V022,V005,V190,V191,mujeres12a49,NCONGLOME
0,2019.0,000100201,000100201 2,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,...,2.0,2.0,2.0,010101,3.0,154803.0,4.0,1.234450,2.0,7065.0
1,2019.0,000100201,000100201 3,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,...,2.0,2.0,2.0,010101,3.0,154803.0,4.0,1.234450,0.0,7065.0
2,2019.0,000102801,000102801 2,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,...,2.0,2.0,2.0,010101,3.0,154803.0,4.0,1.295611,2.0,7065.0
3,2019.0,000102801,000102801 6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,...,2.0,2.0,2.0,010101,3.0,154803.0,4.0,1.295611,2.0,7065.0
4,2019.0,000104801,000104801 2,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,...,2.0,2.0,2.0,010101,3.0,154803.0,2.0,-0.256431,2.0,7065.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38330,2019.0,325406201,325406201 2,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,...,2.0,2.0,2.0,250401,249.0,244995.0,1.0,-1.750187,2.0,15783.0
38331,2019.0,325406301,325406301 2,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,...,2.0,2.0,2.0,250401,249.0,244995.0,1.0,-1.676861,2.0,15783.0
38332,2019.0,325407001,325407001 2,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,...,2.0,2.0,2.0,250401,249.0,459792.0,1.0,-1.585333,2.0,15783.0
38333,2019.0,325407201,325407201 2,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,...,2.0,2.0,2.0,250401,249.0,459792.0,1.0,-1.650159,2.0,15783.0
38334,2019.0,325407401,325407401 2,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,...,2.0,2.0,2.0,250401,249.0,244995.0,1.0,-1.644720,2.0,15783.0

In [17]:
var_labels1 = meta.variable_value_labels
value_labels1 = meta.value_labels
value_labels1

{'labels0': {0.0: 'De 12 a 14 años de edad',
  1.0: 'De 15 a 19 años de edad',
  2.0: 'De 20 a 24 años de edad',
  3.0: 'De 25 a 29 años de edad',
  4.0: 'De 30 a 34 años de edad',
  5.0: 'De 35 a 39 años de edad',
  6.0: 'De 40 a 44 años de edad',
  7.0: 'De 45 a 49 años de edad'},
 'labels1': {1.0: 'Mes y año',
  2.0: 'Mes y edad - año imputado',
  3.0: 'Año y edad - mes imputado',
  4.0: 'Año y edad - año ignorado supera el año de entrevista',
  5.0: 'Año - edad y mes imputados',
  6.0: 'Edad - año y mes imputados',
  7.0: 'Mes - edad y año imputados',
  8.0: 'Ninguno - edad, mes y año imputados'},
 'labels2': {1.0: 'Completa',
  2.0: 'Ausente',
  3.0: 'Aplazada',
  4.0: 'Rechazada',
  5.0: 'Incoompleta',
  6.0: 'Discapacitada',
  7.0: 'Otra'},
 'labels3': {0.0: 'Sin calendario'},
 'labels4': {0.0: 'Sin calendario'},
 'labels5': {0.0: 'Toda la mujer muestra', 1.0: 'Alguna muestra casada'},
 'labels6': {1.0: 'Amazonas',
  2.0: 'Ancash',
  3.0: 'Apurimac',
  4.0: 'Arequipa',
  5.0: 'Ayacucho',
  6.0: 'Cajamarca',
  7.0: 'Callao',
  8.0: 'Cusco',
  9.0: 'Huancavelica',
  10.0: ' Huanuco',
  11.0: ' Ica',
  12.0: ' Junin',
  13.0: ' La Libertad',
  14.0: ' Lambayeque',
  15.0: ' Lima',
  16.0: ' Loreto',
  17.0: ' Madre de Dios',
  18.0: ' Moquegua',
  19.0: ' Pasco',
  20.0: ' Piura',
  21.0: ' Puno',
  22.0: ' San Martin',
  23.0: ' Tacna',
  24.0: ' Tumbes',
  25.0: ' Ucayali'},
 'labels7': {1.0: 'Amazonas',
  2.0: 'Ancash',
  3.0: 'Apurimac',
  4.0: 'Arequipa',
  5.0: 'Ayacucho',
  6.0: 'Cajamarca',
  7.0: 'Callao',
  8.0: 'Cusco',
  9.0: 'Huancavelica',
  10.0: ' Huanuco',
  11.0: ' Ica',
  12.0: ' Junin',
  13.0: ' La Libertad',
  14.0: ' Lambayeque',
  15.0: ' Lima',
  16.0: ' Loreto',
  17.0: ' Madre de Dios',
  18.0: ' Moquegua',
  19.0: ' Pasco',
  20.0: ' Piura',
  21.0: ' Puno',
  22.0: ' San Martin',
  23.0: ' Tacna',
  24.0: ' Tumbes',
  25.0: ' Ucayali'},
 'labels8': {1.0: 'Urbano', 2.0: 'Rural'},
 'labels9': {0.0: 'Capital, gran ciudad',
  1.0: 'Pequeña ciudad',
  2.0: 'Pueblo',
  3.0: 'Campo'},
 'labels10': {0.0: 'El esposo no está en el hogar'},
 'labels11': {0.0: 'No sabeleccionado', 1.0: 'Seleccionado'},
 'labels12': {0.0: 'Mujer No sabeleccionada', 1.0: 'Mujer seleccionada'},
 'labels13': {0.0: 'Mujer No sabeleccionada',
  1.0: 'Mujer seleccionada y entrevistada',
  2.0: 'Mujer seleccionada, pero la privacidad no es posible',
  3.0: 'Mujer seleccionada, pero no entrevistada'},
 'labels14': {31.0: '1', 98.0: 'No sabe el dia'},
 'labels15': {1.0: 'Amazonas',
  2.0: 'Ancash',
  3.0: 'Apurimac',
  4.0: 'Arequipa',
  5.0: 'Ayacucho',
  6.0: 'Cajamarca',
  7.0: 'Callao',
  8.0: 'Cusco',
  9.0: 'Huancavelica',
  10.0: 'Huanuco',
  11.0: 'Ica',
  12.0: 'Junin',
  13.0: 'La Libertad',
  14.0: 'Lambayeque',
  15.0: 'Lima',
  16.0: 'Loreto',
  17.0: 'Madre de Dios',
  18.0: 'Moquegua',
  19.0: 'Pasco',
  20.0: 'Piura',
  21.0: 'Puno',
  22.0: 'San Martin',
  23.0: 'Tacna',
  24.0: 'Tumbes',
  25.0: 'Ucayali'},
 'labels16': {1.0: 'Urbano', 2.0: 'Rural'},
 'labels17': {0.0: 'Capital, gran ciudad',
  1.0: 'Ciudad',
  2.0: 'Pueblo',
  3.0: 'Campo',
  4.0: 'En el extranjero'},
 'labels18': {95.0: 'Siempre',
  96.0: 'Visitante',
  97.0: 'Inconsistente',
  98.0: 'No sabe'},
 'labels19': {0.0: 'Capital, gran ciudad',
  1.0: 'Ciudad',
  2.0: 'Pueblo',
  3.0: 'Campo',
  4.0: 'En el extranjero'},
 'labels20': {0.0: 'Sin educación',
  1.0: 'Primario',
  2.0: 'Secundario',
  3.0: 'Mayor'},
 'labels21': {11.0: 'Dentro de la vivienda',
  12.0: 'Fuera de la vivienda, pero dentro del edificio',
  13.0: 'Pilón/Grifo público',
  21.0: 'Pozo en la casa/patio/lote',
  22.0: 'Pozo Público',
  41.0: 'Manantial (puquio)',
  43.0: 'Río/Acequia/Laguna',
  51.0: 'Agua de lluvia',
  61.0: 'Camión tanque/Aguatero',
  71.0: 'Agua embotellada',
  96.0: 'Otro',
  97.0: 'No es residente habitual'},
 'labels22': {996.0: 'En los lugares', 997.0: 'No residente de jure'},
 'labels23': {11.0: 'Vivienda interior',
  12.0: 'Vivienda exterior',
  21.0: 'Letrina ventilada',
  22.0: 'Pozo séptico',
  23.0: 'Latrina (ciego o negro)',
  24.0: 'Latrina sobre el río/lago',
  31.0: 'Río, canal',
  32.0: 'Sin servicio',
  96.0: 'Otro',
  97.0: 'No es residente habitual'},
 'labels24': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'labels25': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'labels26': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'labels27': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'labels28': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'labels29': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'labels30': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'labels31': {11.0: 'Tierra/arena',
  21.0: 'Madera (entablados)',
  31.0: 'Parquet o madera pulida',
  32.0: 'Làminas asfálticas, vinílicos o similares',
  33.0: 'Losetas, terrazos o similares',
  34.0: 'Cemento/ladrillo',
  96.0: 'Pona',
  97.0: 'Otro(pona)'},
 'labels32': {11.0: 'Tablones/madera',
  12.0: 'Estera',
  13.0: 'Caña/bambu/pona/palma/troncos/tabique',
  21.0: 'Adobe o tapia tarrajeados',
  22.0: 'Quincha (caña con barro)',
  23.0: 'Piedra con barro',
  24.0: 'Cartón',
  31.0: 'Ladrillo o /Bloques de cemento',
  32.0: 'Piedra o sillar con cal o cemento',
  33.0: 'Tripley',
  41.0: 'Sin paredes',
  96.0: 'Otro',
  97.0: 'No es residente habitual'},
 'labels33': {11.0: 'Paja, hojas de palmera etc.',
  12.0: 'Estera',
  21.0: 'Caña o estera con torta de barro',
  22.0: 'Cartón',
  31.0: 'Concreto armado',
  32.0: 'Madera',
  33.0: 'Tejas',
  34.0: 'Plancha de calamina, fibra de cemento o similares',
  41.0: 'Sin techo',
  96.0: 'Otro',
  97.0: 'No es residente habitual'},
 'labels34': {96.0: 'Otra'},
 'labels35': {1.0: 'Quechua',
  2.0: 'Aimara',
  3.0: 'Ashaninka',
  4.0: 'Awajún/Aguaruna',
  5.0: 'Shipibo/Konibo',
  6.0: 'Shawi/Chayahuita',
  7.0: 'Matsigenka/ Machiguenga',
  8.0: 'Achuar',
  9.0: 'Otra lengua nativa u originaria',
  10.0: 'Castellano',
  11.0: 'Portugués',
  12.0: 'Otra lengua extranjera'},
 'labels36': {97.0: 'Inconsistente'},
 'labels37': {0.0: 'Capital, ciudad grande',
  1.0: 'Ciudad pequeña',
  2.0: 'Pueblo',
  3.0: 'Campo'},
 'labels38': {1.0: 'Residente habitual', 2.0: 'Visitante'},
 'labels39': {0.0: 'En el extranjero',
  1.0: 'Amazonas',
  2.0: 'Ancash',
  3.0: 'Apurimac',
  4.0: 'Arequipa',
  5.0: 'Ayacucho',
  6.0: 'Cajamarca',
  7.0: 'Callao',
  8.0: 'Cusco',
  9.0: 'Huancavelica',
  10.0: 'Huanuco',
  11.0: 'Ica',
  12.0: 'Junin',
  13.0: 'La Libertad',
  14.0: 'Lambayeque',
  15.0: 'Lima',
  16.0: 'Loreto',
  17.0: 'Madre de Dios',
  18.0: 'Moquegua',
  19.0: 'Pasco',
  20.0: 'Piura',
  21.0: 'Puno',
  22.0: 'San Martin',
  23.0: 'Tacna',
  24.0: 'Tumbes',
  25.0: 'Ucayali',
  97.0: 'No es residente habitual'},
 'labels40': {1.0: 'Área urbana',
  2.0: 'Área rural',
  7.0: 'No es residente habitual'},
 'labels41': {0.0: 'Capital, ciudad grande',
  1.0: 'Ciudad pequeña',
  2.0: 'Pueblo',
  3.0: 'Campo',
  7.0: 'No es residente habitual'},
 'labels42': {0.0: 'Sin educación',
  1.0: 'Primaria incompleta',
  2.0: 'Primaria completa',
  3.0: 'Secundaria incompleta',
  4.0: 'Secundaria completa',
  5.0: 'Superior'},
 'labels43': {1.0: 'Jefe del hogar',
  2.0: 'Esposa/esposo',
  3.0: 'Hijo/Hija',
  4.0: 'Yerno/Nuera',
  5.0: 'Nieto/Nieta',
  6.0: 'Padre/Madre',
  7.0: 'Suegro/Suegra',
  8.0: 'Hermano/a',
  9.0: 'Conviviente',
  10.0: 'Otro pariente',
  11.0: 'Hijo adoptado/hijo de crianza',
  12.0: 'Sin parentesco',
  15.0: 'Empleada domésdtica',
  98.0: 'No sabe'},
 'labels44': {1.0: 'Hombre', 2.0: 'Mujer'},
 'labels45': {97.0: '97+', 98.0: 'NS'},
 'labels46': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'labels47': {0.0: 'No puede leer',
  1.0: 'Puede leer sólo parte de la frase',
  2.0: 'Puede leer la frase',
  3.0: 'No hay tarjeta en el idioma requerido',
  4.0: 'Ciega/problemas visuales'},
 'labels48': {0.0: 'No', 1.0: 'Si'},
 'labels49': {0.0: 'Nunca',
  1.0: 'De vez en cuando',
  2.0: 'Una vez por semana',
  3.0: 'Casi todos los días'},
 'labels50': {0.0: 'Nunca',
  1.0: 'De vez en cuando',
  2.0: 'Una vez por semana',
  3.0: 'Casi todos los días'},
 'labels51': {0.0: 'Nunca',
  1.0: 'De vez en cuando',
  2.0: 'Una vez por semana',
  3.0: 'Casi todos los días'},
 'labels52': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'labels53': {1.0: 'Electricidad',
  2.0: 'Gas Licuado (GLP)',
  3.0: 'Gas natural(Tuberia)',
  5.0: 'Kerosene',
  6.0: 'Carbón mineral',
  7.0: 'Carbon vegetal',
  8.0: 'Leña',
  9.0: 'Cañas/Arbustos (secos)',
  10.0: 'Residuos agricolas',
  11.0: 'Bosta',
  95.0: 'No cocina',
  96.0: 'Otro',
  97.0: 'No es residente habitual'},
 'labels54': {0.0: 'Sin coloración  - 0 ppm (sin yodo)',
  7.0: 'Coloración tenue - 7 ppm',
  15.0: 'Coloración azul o morado - 15 ppm',
  30.0: 'Coloración morado oscuro - 30 ppm a más',
  994.0: 'No se pudo realizar la prueba',
  995.0: 'No hay sal en el hogar'},
 'labels55': {0.0: 'Ninguno'},
 'labels56': {0.0: 'No', 1.0: 'Si'},
 'labels57': {0.0: 'Sin mosquitero',
  1.0: 'Solo mosquiteros tratados',
  2.0: 'Ambos mosquiteros tratados y no tratados',
  3.0: 'Solo mosquiteros no tratados'},
 'labels58': {1.0: 'Si', 2.0: 'No'},
 'labels59': {1.0: 'Si', 2.0: 'No'},
 'labels60': {1.0: 'Si', 2.0: 'No'},
 'labels61': {1.0: 'Si', 2.0: 'No'},
 'labels62': {1.0: 'Si', 2.0: 'No'},
 'labels63': {1.0: 'Si', 2.0: 'No'},
 'labels64': {1.0: 'El más pobre',
  2.0: 'Pobrer',
  3.0: 'Medio',
  4.0: 'Rico',
  5.0: 'Más rico'},
 'labels65': {0.0: 'Mujeres de 12 a 14 de edad, nunca embarazadas',
  1.0: 'Mujeres de 12 a 49 de edad, alguna vez emabrazadas',
  2.0: 'Mujeres de 15 a 49 años de edad'}}

In [18]:
rec_2, meta = pyreadstat.read_sav('../../_data/endes/2019/RE223132.sav')
rec_2

,ID1,CASEID,V201,V202,V203,V204,V205,V206,V207,V208,...,V307_09,V307_10,V307_11,V307_12,V307_13,V307_14,V307_15,V307_16,QI302_05A,QI302_05B
0,2019.0,000100201 2,2.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,2.0
1,2019.0,000100201 3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019.0,000102801 2,3.0,1.0,2.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,2.0,1.0
3,2019.0,000102801 6,3.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0
4,2019.0,000104801 2,3.0,1.0,2.0,0.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36917,2019.0,325406201 2,5.0,1.0,1.0,2.0,1.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0
36918,2019.0,325406301 2,5.0,2.0,2.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0
36919,2019.0,325407001 2,8.0,2.0,0.0,5.0,0.0,0.0,1.0,0.0,...,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0
36920,2019.0,325407201 2,2.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0
36921,2019.0,325407401 2,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0

In [19]:
var_labels2 = meta.variable_value_labels
value_labels2 = meta.value_labels
value_labels2

{'labels0': {0.0: 'No o no está segura', 1.0: 'Sí'},
 'labels1': {994.0: 'En la menopausia',
  995.0: 'Antes del último nacimiento',
  996.0: 'Nunca menstruado',
  997.0: 'Inconsistente',
  998.0: 'No sabe'},
 'labels2': {0.0: 'No', 1.0: 'Si'},
 'labels3': {1.0: 'Durante su periodo',
  2.0: 'Después de su período',
  3.0: 'En medio del ciclo',
  4.0: 'Antes del período',
  5.0: 'En cualquier momento',
  6.0: 'Otro',
  8.0: 'No sabe'},
 'labels4': {6.0: '6+'},
 'labels5': {996.0: 'Intervalo Negativo'},
 'labels6': {7.0: 'Mes - fecha exacta', 8.0: 'Ninguno - fecha de colocación'},
 'labels7': {1.0: 'En ese momento',
  2.0: 'Querìa esperar',
  3.0: 'No querìa tener (màs) hijas/hijos'},
 'labels8': {994.0: 'En la menopausia',
  995.0: 'Antes del último nacimiento',
  996.0: 'Nunca menstruado',
  997.0: 'Inconsistente',
  998.0: 'No sabe'},
 'labels9': {0.0: 'No marcado',
  1.0: 'N> int. desde el nacimiento',
  2.0: 'N + amen > intervalo',
  3.0: 'N, pero per no ret',
  4.0: '95, pero sin nacimiento',
  5.0: '95, pero per. devuelto',
  6.0: '96, pero por vuelta',
  7.0: 'N, last per Emba',
  8.0: '96, tuvo hijos',
  9.0: 'N, per antes ult nac'},
 'labels10': {0.0: 'No', 1.0: 'Si'},
 'labels11': {97.0: 'Inconsistente', 98.0: 'No Sabe'},
 'labels12': {9997.0: 'Inconsistente', 9998.0: 'No Sabe'},
 'labels13': {9997.0: 'Inconsistente', 9998.0: 'No Sabe'},
 'labels14': {1.0: 'Mes y año',
  2.0: 'De calendario',
  5.0: 'Año',
  7.0: 'Mes',
  8.0: 'Ninguna'},
 'labels15': {97.0: 'Inconsistente', 98.0: 'NS'},
 'labels16': {0.0: 'No', 1.0: 'Si'},
 'labels17': {0.0: 'No niño anterior'},
 'labels18': {0.0: 'No', 1.0: 'Si'},
 'labels19': {0.0: 'No', 1.0: 'Si'},
 'labels20': {97.0: 'Inconsistente', 98.0: 'No sabe'},
 'labels21': {9997.0: 'Inconsistente', 9998.0: 'No sabe'},
 'labels22': {9997.0: 'Inconsistente', 9998.0: 'No sabe'},
 'labels23': {1.0: 'Mes y año',
  2.0: 'De calendario',
  5.0: 'Año',
  7.0: 'Mes',
  8.0: 'Ninguna'},
 'labels24': {0.0: 'No conoce ningún método',
  1.0: 'Sabe sólo folklórico',
  2.0: 'Sólo sabe trad. mes',
  3.0: 'Conoce el método moderno'},
 'labels25': {0.0: 'Nunca usado',
  1.0: 'Otros metodos',
  2.0: 'Metodos tradicionales',
  3.0: 'Metodos modernos'},
 'labels26': {4.0: '4 a más', 5.0: 'Nunca usado'},
 'labels27': {0.0: 'No usando',
  1.0: 'Píldora',
  2.0: 'DIU',
  3.0: 'Inyección',
  4.0: 'Diafragma',
  5.0: 'Condón',
  6.0: 'Esterilización femenina',
  7.0: 'Esterilización masculina',
  8.0: 'Abstinencia periódica',
  9.0: 'Retiro',
  10.0: 'Otro',
  11.0: 'Norplant/Implantes',
  12.0: 'Abstinencia',
  13.0: 'Amenorrea por lactancia (MELA)',
  14.0: 'Condón femenino',
  15.0: 'Espuma, jalea, óvulos (vaginales)',
  16.0: 'Anticoncepción oral de emergencia',
  17.0: 'Método específico 1',
  18.0: 'Método específico 2',
  19.0: 'Método específico 3',
  20.0: 'Método específico 4'},
 'labels28': {0.0: 'No hay método',
  1.0: 'Método folclórico',
  2.0: 'Método tradicional',
  3.0: 'Método moderno'},
 'labels29': {1.0: 'Mes y año',
  5.0: 'Año - m imp, una calc',
  7.0: 'Mes - fecha de publicación',
  8.0: 'Ninguno - fecha de colocación',
  9.0: 'De calendario'},
 'labels30': {1.0: 'menor de 2',
  2.0: 'de 2 a 3',
  3.0: 'de 4 a 5',
  4.0: 'de 6 a 7',
  5.0: 'de 8 a 9',
  6.0: 'de 10 a más'},
 'labels31': {1.0: 'menor de 25',
  2.0: 'de 25 a 29',
  3.0: 'de 30 a 34',
  4.0: 'de 35 a 39',
  5.0: 'de 40 a 44',
  6.0: 'de 45 a 49'},
 'labels32': {0.0: 'Soltero, antes del matrimonio',
  1.0: 'de 0 a 4',
  2.0: 'de 5 a 9',
  3.0: 'de 10 a 14',
  4.0: 'de 15 a 19',
  5.0: 'de 20 a 24',
  6.0: 'de 25 a más'},
 'labels33': {5.0: 'de 5 a más'},
 'labels34': {1.0: 'Microginon',
  2.0: 'Nordet',
  3.0: 'Lofemenal',
  4.0: 'Gynera',
  5.0: 'Ciclomex',
  6.0: 'Triciclomex',
  7.0: 'Femiane',
  8.0: 'Mercilon',
  9.0: 'Marvelon',
  10.0: 'Lindiol-e',
  11.0: 'Dione 35',
  12.0: 'Cilest',
  13.0: 'Triquilar',
  14.0: 'Trinordiol',
  15.0: 'Minigynon',
  16.0: 'Exluton',
  17.0: 'Ovrette',
  18.0: 'Ovral',
  19.0: 'Mirelle',
  20.0: 'Yasmin Drospyperona',
  21.0: 'Peldura',
  22.0: 'Anuletyc',
  23.0: 'Rigevidon',
  24.0: 'Oral Con-F',
  25.0: 'Canesa',
  26.0: 'Belara',
  27.0: 'Tri_Regol',
  93.0: 'Sin marca (H. FF.AA., FF.PP)',
  94.0: 'Sin marca (ESSALUD)',
  95.0: 'Sin marca (MINSA)',
  96.0: 'Otro',
  98.0: 'No sabe'},
 'labels35': {1.0: 'OK',
  2.0: 'Piel',
  3.0: 'Royal',
  4.0: 'Jontex',
  5.0: 'Contempo',
  6.0: 'Gens',
  7.0: 'LifeStyle',
  8.0: 'Sultan',
  9.0: 'Durex',
  10.0: 'Preventor',
  11.0: 'Hanson plans',
  12.0: 'Sensitive',
  13.0: 'Play boy',
  14.0: 'Lubritec',
  15.0: 'Pantera',
  16.0: 'Tex',
  17.0: 'Seohung',
  18.0: 'Aladan corporation',
  19.0: 'Vladi',
  20.0: 'Stalion',
  21.0: 'Latex',
  22.0: 'Pussy Cat',
  23.0: 'Sensación',
  24.0: 'Karex',
  25.0: 'Do it Loverly',
  26.0: 'Nonoxinol - 9',
  27.0: 'Famila 28',
  93.0: 'Sin marca (H. FF.AA., FF.PP)',
  94.0: 'Sin marca (ESSALUD)',
  95.0: 'Sin marca (MINSA)',
  96.0: 'Otro',
  98.0: 'No sabe'},
 'labels36': {9999995.0: 'Gratis', 9999998.0: 'No sabe'},
 'labels37': {11.0: 'Hospital MINSA',
  12.0: 'Centro de salud MINSA',
  13.0: 'Puesto de salud MINSA',
  14.0: 'Promotor de salud MINSA',
  15.0: 'Hospital ESSALUD',
  16.0: 'Policlìnico/Centro/Posta ESSALUD',
  17.0: 'Hospital/Otros de las FFAA & PNP',
  18.0: 'Hospital/Otro de la Municipalidad',
  19.0: 'Otro gobierno',
  21.0: 'Clínica particular',
  22.0: 'Farmacia/botica',
  23.0: 'Consultorio médico particular',
  24.0: 'Clínica/Posta de ONG',
  25.0: 'Promotor de ONG',
  31.0: 'Tienda/supermercado/hostal',
  32.0: 'Hospital/Otro de la Iglesia',
  33.0: 'Amigos/parientes',
  95.0: 'Automedicación',
  96.0: 'Otro',
  98.0: 'No sabe'},
 'labels38': {1.0: 'Hospital, Centro de Salud, Puesto de Salud, Policlínico del Gobierno',
  2.0: 'Promotor de Salud',
  3.0: 'Clínica/Posta/ Promotor ONG',
  4.0: 'Clínica/Consultorio médico particular',
  5.0: 'Farmacia/botica',
  6.0: 'Tienda, iglesia, amigo',
  7.0: 'Automedicación/Otro',
  8.0: 'No sabe',
  9.0: 'Otro gobierno'},
 'labels39': {95.0: 'Todas cal {A core}',
  96.0: '96+ {B core}',
  997.0: 'Inconsistente',
  998.0: 'No sabe'},
 'labels40': {1.0: 'Píldora',
  2.0: 'DIU',
  3.0: 'Inyecciones',
  4.0: 'Diafragma',
  5.0: 'Condón',
  6.0: 'Esterilización femenina',
  7.0: 'Esterilización masculina',
  8.0: 'Abstinencia periódica',
  9.0: 'Retiro',
  10.0: 'Otro',
  11.0: 'Norplant/Implantes',
  12.0: 'Abstinencia',
  13.0: 'Amenorrea por lactancia (MELA)',
  14.0: 'Condón femenino',
  15.0: 'Espuma, jalea, óvulos (vaginales)',
  16.0: 'Anticoncepción oral de emergencia',
  17.0: 'Método específico 1',
  18.0: 'Método específico 2',
  19.0: 'Método específico 3',
  20.0: 'Método específico 4'},
 'labels41': {1.0: 'Quedó embarazada',
  2.0: 'Quería quedar embarazada',
  3.0: 'Marido desaprobó',
  4.0: 'Efectos secundarios',
  5.0: 'Motivos de salud',
  6.0: 'Acceso, disponibilidad',
  7.0: 'Deseaba método más efectivo',
  8.0: 'Uso inconveniente',
  9.0: 'Sexo poco frecuente/Marido ausente',
  10.0: 'Costo',
  11.0: 'Fatalista',
  12.0: 'Dificil quedar embarazda/menopausia',
  13.0: 'Disolución matrimonial',
  14.0: 'Otro',
  98.0: 'No sabe'},
 'labels42': {1.0: 'Actualmente usando',
  2.0: 'Usado desde el último nacimiento',
  3.0: 'Usado antes del último nacimiento',
  4.0: 'Nunca usado'},
 'labels43': {1.0: 'En los próximos 12 meses',
  2.0: 'Usar más tarde',
  3.0: 'No está seguro sobre el momento',
  4.0: 'No está seguro sobre el uso',
  5.0: 'No tiene la intención',
  6.0: 'Nunca tuve relaciones sexuales'},
 'labels44': {1.0: 'Píldora',
  2.0: 'DIU',
  3.0: 'Inyección',
  4.0: 'Diafragma',
  5.0: 'Condón',
  6.0: 'Esterilización femenina',
  7.0: 'Esterilización masculina',
  8.0: 'Abstinencia periódica',
  9.0: 'Retiro',
  10.0: 'Otro',
  11.0: 'Norplant/Implantes',
  12.0: 'Abstinencia',
  13.0: 'Amenorrea por lactancia (MELA)',
  14.0: 'Condón femenino',
  15.0: 'Espuma, jalea, óvulos (vaginales)',
  16.0: 'Anticoncepción oral de emergencia',
  98.0: 'No sabe'},
 'labels45': {1.0: 'Usando el método moderno',
  2.0: 'Usando el método tradicional',
  3.0: 'No-usuario tiene la intención de',
  4.0: 'No tiene la intención de',
  5.0: 'Nunca tuve relaciones sexuales'},
 'labels46': {1.0: 'Entonces', 2.0: 'Esperar más', 3.0: 'No quería más'},
 'labels47': {0.0: 'Paquete no visto', 1.0: 'Paquete visto'},
 'labels48': {0.0: 'Paquete no visto', 1.0: 'Paquete visto'},
 'labels49': {11.0: 'No casado',
  21.0: 'No tiene relaciones sexuales',
  22.0: 'Sexo poco frecuente',
  23.0: 'Menopausia',
  24.0: 'Infertilidad/Subfecundidad',
  25.0: 'Postparto/Lactancia',
  26.0: 'Quiere más hijas(os)',
  27.0: 'Embarazada',
  28.0: 'Histerectomìa',
  31.0: 'Entrevistada se opone',
  32.0: 'Esposo/compañero se opuso',
  33.0: 'Otros se oponen',
  34.0: 'Prohibición religiosa',
  41.0: 'No conoce ningún método',
  42.0: 'No conoce ninguna fuente',
  51.0: 'Problemas de salud',
  52.0: 'Miedo a efectos secundarios',
  53.0: 'Falta de acceso',
  54.0: 'Muy costoso',
  55.0: 'Uso inconveniente',
  56.0: 'Interfiere con procesos normales del cuerpo',
  96.0: 'Otro',
  98.0: 'No sabe'},
 'labels50': {11.0: 'No casado',
  22.0: 'Sexo poco frecuente',
  23.0: 'Menopáusica/histerectomizada',
  24.0: 'Infertilidad mujer',
  25.0: 'Infertilidad hombre',
  26.0: 'Quiere más hijas(os)',
  31.0: 'Entrevistada se opone',
  32.0: 'Esposo/compañero se opuso',
  33.0: 'Otros se oponen',
  34.0: 'Prohibición religiosa',
  41.0: 'No conoce ningún método',
  42.0: 'No conoce ninguna fuente',
  51.0: 'Problemas de salud',
  52.0: 'Miedo a efectos secundarios',
  53.0: 'Falta de acceso',
  54.0: 'Muy costoso',
  55.0: 'Uso inconveniente',
  56.0: 'Interfiere con procesos normales del cuerpo',
  96.0: 'Otro',
  98.0: 'No sabe'},
 'labels51': {0.0: 'No', 1.0: 'Si', 8.0: 'No sabe'},
 'labels52': {11.0: 'Hospital MINSA',
  12.0: 'Centro de salud MINSA',
  13.0: 'Puesto de salud MINSA',
  14.0: 'Trabajadora sanitaria MINSA',
  15.0: 'Hospital ESSALUD',
  16.0: 'Centro/Correo ESSALUD',
  17.0: 'Campaña/feria',
  18.0: 'Otro gobierno',
  21.0: 'Clínica privada',
  22.0: 'Farmacia',
  23.0: 'Médico privado',
  24.0: 'Clínica/FP post ONG',
  25.0: 'ONG de trabajadores de la salud',
  31.0: 'Tienda/supermercado',
  32.0: 'Iglesia',
  33.0: 'Amigos/parientes',
  95.0: 'Automedicación',
  96.0: 'Otro',
  98.0: 'No sabe'},
 'labels53': {1.0: 'Govt Clinical/Pharm',
  2.0: 'Casa de Gobierno/Comm liv',
  3.0: 'ONG',
  4.0: 'Private Clin/Deliv',
  5.0: 'Farmacia Privada',
  6.0: 'Tienda, iglesia, amigo',
  7.0: 'Otro',
  8.0: 'No sabe'},
 'labels54': {0.0: 'No', 1.0: 'Si'},
 'labels55': {0.0: 'No', 1.0: 'Si'},
 'labels56': {0.0: 'No', 1.0: 'Si'},
 'labels57': {0.0: 'No', 1.0: 'Si'},
 'labels58': {0.0: 'No', 1.0: 'Si'},
 'labels59': {0.0: 'No', 1.0: 'Si'},
 'labels60': {0.0: 'No', 1.0: 'Hospital del gobierno'},
 'labels61': {0.0: 'No', 1.0: 'Centro de salud del gobierno'},
 'labels62': {0.0: 'No', 1.0: 'Puesto de salud del gobierno'},
 'labels63': {0.0: 'No', 1.0: 'Clínica móvil pública'},
 'labels64': {0.0: 'No', 1.0: 'Trabajador de salud comunitario'},
 'labels65': {0.0: 'No', 1.0: 'CS sector público'},
 'labels66': {0.0: 'No', 1.0: 'CS sector público'},
 'labels67': {0.0: 'No', 1.0: 'CS sector público'},
 'labels68': {0.0: 'No', 1.0: 'Other sector público'},
 'labels69': {0.0: 'No', 1.0: 'Hospítal/clínica particular'},
 'labels70': {0.0: 'No', 1.0: 'Famacia privada'},
 'labels71': {0.0: 'No', 1.0: 'Doctor privado'},
 'labels72': {0.0: 'No', 1.0: 'Clínica móvil privada'},
 'labels73': {0.0: 'No', 1.0: 'Trabajador de salud comunitario'},
 'labels74': {0.0: 'No', 1.0: 'CS sector privado'},
 'labels75': {0.0: 'No', 1.0: 'CS sector privado'},
 'labels76': {0.0: 'No', 1.0: 'CS sector privado'},
 'labels77': {0.0: 'No', 1.0: 'Otro sector privado'},
 'labels78': {0.0: 'No', 1.0: 'Tienda'},
 'labels79': {0.0: 'No', 1.0: 'Práctica tradicional'},
 'labels80': {0.0: 'No', 1.0: 'CS otro sector privavdo'},
 'labels81': {0.0: 'No', 1.0: 'CS otro sector privado'},
 'labels82': {0.0: 'No', 1.0: 'CS otro sector privado'},
 'labels83': {0.0: 'No', 1.0: 'Otro'},
 'labels84': {0.0: 'No: conoce una fuente',
  1.0: 'Sí: no conoce ninguna fuente'},
 'labels85': {0.0: 'No', 1.0: 'Si'},
 'labels86': {0.0: 'No', 1.0: 'Si', 8.0: 'No sabe'},
 'labels87': {0.0: 'No', 1.0: 'Si'},
 'labels88': {0.0: 'No', 1.0: 'Si'},
 'labels89': {0.0: 'No', 1.0: 'Si'},
 'labels90': {0.0: 'No', 1.0: 'Si'},
 'labels91': {0.0: 'No', 1.0: 'Si'},
 'labels92': {11.0: 'Hospital MINSA',
  12.0: 'Centro de salud MINSA',
  13.0: 'Puesto de salud MINSA',
  14.0: 'Promotor de salud  MINSA',
  15.0: 'Hospital ESSALUD',
  16.0: 'Policlìnico/Centro/Posta ESSALUD',
  17.0: 'Hospital/Otros de las FFAA & PNP',
  18.0: 'Hospital/Otro de la Municipalidad',
  19.0: 'Otro gobierno',
  21.0: 'Clínica particular',
  22.0: 'Farmacia/botica',
  23.0: 'Consultorio médico particular',
  24.0: 'Clínica /Posta de ONG',
  25.0: 'Promotores de ONG',
  31.0: 'Tienda/supermercado/hostal',
  32.0: 'Hospital/otro de la Iglesia',
  33.0: 'Amigos/parientes',
  95.0: 'Automedicación',
  96.0: 'Otro',
  97.0: 'No se pregunto fuente',
  98.0: 'No sabe'},
 'labels93': {0.0: 'No', 1.0: 'No en unión'},
 'labels94': {0.0: 'No', 1.0: 'No tiene relaciones sexuales'},
 'labels95': {0.0: 'No', 1.0: 'Sexo poco frecuente'},
 'labels96': {0.0: 'No', 1.0: 'Menopáusica/histerectomizada'},
 'labels97': {0.0: 'No', 1.0: 'Infertilidad de la mujer'},
 'labels98': {0.0: 'No', 1.0: 'Amenorrea posparto'},
 'labels99': {0.0: 'No', 1.0: 'Lactancia'},
 'labels100': {0.0: 'No', 1.0: 'Fatalista'},
 'labels101': {0.0: 'No', 1.0: 'Entrevistada se opone'},
 'labels102': {0.0: 'No', 1.0: 'Esposo/compañero se opone'},
 'labels103': {0.0: 'No', 1.0: 'Otros se oponen'},
 'labels104': {0.0: 'No', 1.0: 'Prohibición religiosa'},
 'labels105': {0.0: 'No', 1.0: 'No conoce ningún método'},
 'labels106': {0.0: 'No', 1.0: 'No conoce ninguna fuente'},
 'labels107': {0.0: 'No', 1.0: 'Problemas de salud'},
 'labels108': {0.0: 'No', 1.0: 'Miedo a los efectos secundarios'},
 'labels109': {0.0: 'No', 1.0: 'Falta de acceso/demasiado lejos'},
 'labels110': {0.0: 'No', 1.0: 'Muy costoso'},
 'labels111': {0.0: 'No', 1.0: 'Uso inconveniente'},
 'labels112': {0.0: 'No', 1.0: 'Interfiere con procesos normales del cuerpo'},
 'labels113': {0.0: 'No', 1.0: 'Infertilidad masculina'},
 'labels114': {0.0: 'No', 1.0: 'CS'},
 'labels115': {0.0: 'No', 1.0: 'CS'},
 'labels116': {0.0: 'No', 1.0: 'Otra'},
 'labels117': {0.0: 'No', 1.0: 'No sabe'},
 'labels118': {998.0: 'No sabe'},
 'labels119': {998.0: 'No sabe'},
 'labels120': {0.0: 'No', 1.0: 'Sí'},
 'labels121': {0.0: 'No', 1.0: 'Sí'},
 'labels122': {0.0: 'No', 1.0: 'Sí'},
 'labels123': {0.0: 'No', 1.0: 'Sí'},
 'labels124': {0.0: 'No', 1.0: 'Sí'},
 'labels125': {0.0: 'No', 1.0: 'Sí'},
 'labels126': {0.0: 'No', 1.0: 'Sí'},
 'labels127': {0.0: 'No', 1.0: 'Sí'},
 'labels128': {0.0: 'No', 1.0: 'Sí'},
 'labels129': {0.0: 'No', 1.0: 'Sí'},
 'labels130': {0.0: 'No', 1.0: 'Sí'},
 'labels131': {0.0: 'No', 1.0: 'Sí'},
 'labels132': {0.0: 'No', 1.0: 'Sí'},
 'labels133': {0.0: 'No', 1.0: 'Sí'},
 'labels134': {0.0: 'No', 1.0: 'Sí'},
 'labels135': {0.0: 'No', 1.0: 'Sí'},
 'labels136': {0.0: 'No', 1.0: 'Sí'},
 'labels137': {0.0: 'No', 1.0: 'Sí'},
 'labels138': {0.0: 'No', 1.0: 'Sí'},
 'labels139': {0.0: 'No', 1.0: 'Sí'},
 'labels140': {0.0: 'No', 1.0: 'Sí'},
 'labels141': {0.0: 'No', 1.0: 'Sí'},
 'labels142': {0.0: 'No', 1.0: 'Sí'},
 'labels143': {0.0: 'No', 1.0: 'Sí'},
 'labels144': {0.0: 'No', 1.0: 'Sí'},
 'labels145': {0.0: 'No', 1.0: 'Sí'},
 'labels146': {0.0: 'No', 1.0: 'Sí'},
 'labels147': {0.0: 'No', 1.0: 'Sí'},
 'labels148': {0.0: 'No', 1.0: 'Sí'},
 'labels149': {0.0: 'No', 1.0: 'Sí'},
 'labels150': {1.0: 'Sí', 2.0: 'No'},
 'labels151': {1.0: 'Sí', 2.0: 'No'}}

In [20]:
rec_3, meta = pyreadstat.read_sav('../../_data/endes/2019/RE516171.sav')
var_labels3 = meta.variable_value_labels
value_labels3 = meta.value_labels
value_labels3

{'labels0': {0.0: 'Nunca casada',
  1.0: 'Casado',
  2.0: 'Viviendo juntos',
  3.0: 'Viuda',
  4.0: 'Divorciada',
  5.0: 'No viven juntos'},
 'labels1': {0.0: 'Nunca casada',
  1.0: 'Actualmente casada',
  2.0: 'Anteriormente casada'},
 'labels2': {1.0: 'Una vez', 2.0: 'Mas de una vez'},
 'labels3': {1.0: 'Vive con ella', 2.0: 'Vive en otro sitio'},
 'labels4': {0.0: 'No otras esposas', 98.0: 'No sabe'},
 'labels5': {98.0: 'No sabe'},
 'labels6': {1.0: 'Tiene mes y año',
  2.0: 'Tiene mes y edad - imputa año',
  3.0: 'Tiene año y edad - imputa mes',
  5.0: 'Tiene año - imputa mes',
  6.0: 'Tiene edad - imputa mes año',
  7.0: 'Tiene mes - imputa año',
  8.0: 'Ninguno - imputa todo'},
 'labels7': {0.0: 'Nunca casada',
  1.0: 'De 0 a 4 años',
  2.0: 'De 5 a 9 años',
  3.0: 'De 10 a 14 años',
  4.0: 'De 15 a 19 años',
  5.0: 'De 20 a 24 años',
  6.0: 'De 25 a 29 años',
  7.0: 'De 30 a más años'},
 'labels8': {0.0: 'Nunca tuvo relaciones sexuales',
  96.0: 'En la primera union'},
 'labels9': {100.0: 'Menos de un día',
  101.0: 'Días:',
  201.0: 'Semanas:',
  301.0: 'Meses:',
  401.0: 'Años:'},
 'labels10': {31.0: '31 ó más días'},
 'labels11': {997.0: 'Inconsistente'},
 'labels12': {0.0: 'Sin marcador',
  1.0: 'N> int. desde el nacimiento',
  2.0: 'N + abst. > intervalo',
  3.0: 'N, pero el sexo no res.',
  4.0: '96, pero sin nacimiento',
  5.0: '96, pero act emb',
  6.0: '96, pero reanudó el sexo',
  7.0: 'N, último sexo antes de',
  8.0: 'N, inconsis 4 semanas',
  9.0: 'N, sex bef last birt'},
 'labels13': {0.0: 'No tuve relaciones sexuales',
  97.0: 'Inconsistente',
  98.0: 'No sabe'},
 'labels14': {0.0: 'Sin bandera',
  1.0: 'Despues de la entrevista',
  2.0: 'Después de concep> = 1 año',
  3.0: 'Después de concep <1 año',
  4.0: 'En marr, nunca marr',
  5.0: 'En marr, despues de concep',
  6.0: 'Despues del matrimonio'},
 'labels15': {0.0: 'No', 1.0: 'Sí, estuvo casada', 2.0: 'Sí, convivió'},
 'labels16': {0.0: 'Nunca tuvo relaciones sexuales',
  1.0: 'Activo en las últimas 4 semanas',
  2.0: 'No activo en las últimas 4 semanas - abstinencia postparto',
  3.0: 'No activo en las últimas 4 semanas - no abstinencia postparto'},
 'labels17': {60.0: '60 meses o más', 97.0: 'Inconsistente'},
 'labels18': {1.0: 'Muerte/viudez', 2.0: 'Divorcio', 3.0: 'Separación'},
 'labels19': {1.0: 'Informante',
  2.0: 'Otra esposa',
  3.0: 'Hijos del cónyuge',
  4.0: 'Familia del cónyuge',
  6.0: 'Otro',
  7.0: 'Sin propiedad'},
 'labels20': {0.0: 'No', 1.0: 'Sí'},
 'labels21': {0.0: 'No', 1.0: 'Sí', 8.0: 'No sabe/insegura'},
 'labels22': {1.0: 'Tener un/otro hijo',
  2.0: 'No sabe/insegura',
  3.0: 'No más/ninguno',
  4.0: 'Esterilizada',
  5.0: 'Infertilidad'},
 'labels23': {993.0: 'Despues del matrimonio',
  994.0: 'Pronto, ahora',
  996.0: 'Otro, No numérico',
  998.0: 'No sabe'},
 'labels24': {0.0: 'De 0 a 11 meses',
  1.0: '1 año',
  2.0: '2 años',
  3.0: '3 años',
  4.0: '4 años',
  5.0: '5 años',
  6.0: '6 ó más años',
  7.0: 'No numérico',
  8.0: 'No sabe'},
 'labels25': {1.0: 'Quiere dentro de 2 años',
  2.0: 'Quiere después de 2 ó más años',
  3.0: 'Quiere, no está seguro de tiempo',
  4.0: 'Indecisa',
  5.0: 'No quiere mas',
  6.0: 'Esterilizada',
  7.0: 'Infértil'},
 'labels26': {96.0: 'Respuesta no numérica'},
 'labels27': {6.0: '6 ó más', 7.0: 'Respuesta no numérica'},
 'labels28': {993.0: 'Despues del matrimonio',
  994.0: 'Pronto/ahora',
  995.0: 'No puede quedar embarazada',
  996.0: 'Otro',
  998.0: 'No sabe'},
 'labels29': {1.0: 'Ambos quieren el mismo número',
  2.0: 'Quiere más hijas/hijos',
  3.0: 'Quiere menos hijas/hijos',
  8.0: 'No sabe'},
 'labels30': {0.0: 'Fértil',
  1.0: 'Embarazada',
  2.0: 'Amenorrea',
  3.0: 'Infértil, menopausia'},
 'labels31': {0.0: 'Nunca tuvo relaciones sexuales',
  1.0: 'NeceSIDAd insatisfecha de espacio',
  2.0: 'NeceSIDAd insatisfecha de limite',
  3.0: 'Uso de espacio',
  4.0: 'Uso de límite',
  5.0: 'Falla de espacio',
  6.0: 'Falla de límite',
  7.0: 'Deseo de nacimiento <2 años',
  8.0: 'No sexo, quiere esperar',
  9.0: 'Infértil, menopausia'},
 'labels32': {0.0: 'Fértil',
  1.0: 'Embarazada',
  2.0: 'Amenorreica',
  3.0: 'Infértil, menopausia'},
 'labels33': {0.0: 'Nunca tuve relaciones sexuales',
  1.0: 'NeceSIDAd insatisfecha de espacio',
  2.0: 'NeceSIDAd insatisfecha de limitar',
  3.0: 'Uso de espacio',
  4.0: 'Uso de límite',
  5.0: 'Falla de espacio',
  6.0: 'Falla de límite',
  7.0: 'Deseo de nacimiento <2 años',
  8.0: 'No sexo, quiere esperar',
  9.0: 'Infértil, menopausia'},
 'labels34': {96.0: 'Otro'},
 'labels35': {96.0: 'Otro'},
 'labels36': {96.0: 'Otro'},
 'labels37': {1.0: 'Un gran problema',
  2.0: 'Un pequeño problema',
  3.0: 'No seria problema',
  4.0: 'No puede quedar embarazada/No tiene relaciones sexuales'},
 'labels38': {1.0: 'Entrevistada principalmente',
  2.0: 'Esposo, compañero principalmente',
  3.0: 'Decisión conjunta',
  6.0: 'Otro'},
 'labels39': {0.0: 'No', 1.0: 'Sí', 8.0: 'No sabe'},
 'labels40': {0.0: 'No', 1.0: 'Sí', 8.0: 'No sabe'},
 'labels41': {0.0: 'No', 1.0: 'Sí', 8.0: 'No sabe'},
 'labels42': {0.0: 'No', 1.0: 'Sí', 8.0: 'No sabe'},
 'labels43': {0.0: 'No', 1.0: 'Sí', 8.0: 'No sabe'},
 'labels44': {0.0: 'No', 1.0: 'Sí', 8.0: 'No sabe'},
 'labels45': {0.0: 'No', 1.0: 'Sí', 8.0: 'No sabe'},
 'labels46': {0.0: 'No', 1.0: 'Sí', 8.0: 'No sabe'},
 'labels47': {0.0: 'Sin educación',
  1.0: 'Primario',
  2.0: 'Secundario',
  3.0: 'Superior',
  8.0: 'No sabe'},
 'labels48': {98.0: 'No sabe'},
 'labels49': {0.0: 'Otro, no trabaja, no especificada',
  1.0: 'Fuerzas Armadas',
  2.0: 'Fuerzas Policiales',
  5.0: 'Pensionado, Jubilado, Rentista, Estudiante.',
  11.0: 'Miembros del Poder Ejecutivo y de los Cuerpos Legislativos del Personal',
  12.0: 'Directores de Empresa (con 3 o más Directores)',
  13.0: 'Directores de la Educación',
  14.0: 'Gerente de Pequeñas Empresas (Talleres)',
  21.0: 'Profesionales de las Ciencias Físicas, Químicas, Matemáticas e Ingeniería, Civil, Arquitecto',
  22.0: 'Ingenierías (diferentes a Ing. Civil)',
  23.0: 'Profesionales de las Ciencias Biológicas, la Medicina y la Salud.',
  24.0: 'Profesores (Maestros y/o Pedagogos), Auxiliar de Educación',
  25.0: 'Profesionales de Derecho, Ciencias Económicas Administrativas',
  26.0: 'Bibliotecario, Ciencias Sociales, Periodistas, Psicólogos',
  27.0: 'Profesionales de las Artes, Escultura, Música y Afines',
  28.0: 'Otros Profesionales y Trabajadores Varios: Turismo y Hotelería, Relacionista Público, Diplomáticos, Sacerdotes',
  31.0: 'Técnicos de Nivel Medio en Ciencias Físicas, Químicas, Matemáticas e Ingeniería',
  32.0: 'Operadores de Equipos Especializados, Fotógrafos y Afines',
  33.0: 'Técnicos en Navegación Marítima y Aeronáutica e Inspectores de Seguridad, Salud y Control de Calidad',
  34.0: 'Técnicos de Nivel Medio y Trabajadores Asimilados de las Ciencias Biológicas',
  35.0: 'Técnicos de Nivel Medio y Trabajadores Asimilados de la Medicina y la Salud, Aplicación de Inyectables, Enfermera Técnic',
  36.0: 'Jefes de Ventas y Técnicos en Administración, Contabilidad, Economía y Operaciones Financieras y Comerciales (Afines), T',
  37.0: 'Agentes de Servicios Administrativos (Asesor Previsional AFP)',
  38.0: 'Asistentes y Auxiliares en la Administración',
  39.0: 'Artistas Afines, Trabajadores del Espectáculo, Atletas y Auxiliares de Cultos Religiosos',
  41.0: 'Jefes de Dependencias Administrativas, Oficinistas, Secretarias, Digitador, Tipeos por Computadora',
  42.0: 'Personal Administrativo y Empleados Afines',
  43.0: 'Jefes de Servicios de Transportes y Trabajadores Afines, Controlador de Microbús',
  44.0: 'Jefes de Servicios de Correos; Empleados de Bibliotecas, de Imprenta y Afines, Carteros, Mensajeros',
  45.0: 'Cajeros, Recepcionistas y Trabajadores Asimilados, Telefonista, Cobradores (Excluye el Cobrador de Microbús)',
  46.0: 'Empleados de Oficina en Operación de Campo y Otros Oficinistas, Encuestadores, Registradores, Supervisor de Campo, Auxil',
  51.0: 'Personal al Servicio Directo de los Pasajeros, Guía de Turismo, Aeromoza',
  52.0: 'Jefes, Ecónomas y Mayordomos, Azafata, Mozo',
  53.0: 'Trabajadores de los Cuidados Personales,  Auxiliar de Enfermería, Ayudante en Consultorio Dental',
  54.0: 'Peluqueros, Especialistas en Tratamiento de Belleza y Trabajadores Asimilados',
  55.0: 'Trabajadores de Servicios Varios, Modelos, Tramitador de Documentos para Sepelio, Cartomancia',
  56.0: 'Personal de los Servicios de Protección y Seguridad, Bombero, Policía Municipal, Serenazgo, Policía Particular',
  57.0: 'Comerciantes Vendedores al Por Mayor y Por Menor, Vendedor en Kiosko, Vendedora en Puesto de Mercado, Demostrador de Art',
  58.0: 'Comerciantes y Vendedores (No ambulatorio), No Clasificados Bajo otros Epígrafes, Vendedor Comisionista, Vendedor, Agent',
  61.0: 'Agricult. (Expl.) y Trab. Calificados de Cultivos Extensivos: Peones de Labranza y Peones Agropecuarios,Peones Forestale',
  62.0: 'Criadores y Trabajadores Pecuarios Calificados de Cría de Animales para el Mercado y Afines',
  63.0: 'Pescadores, Cazadores y Tramperos Peones de la Pesca, la Caza y la Trampa',
  71.0: 'Mineros, Canteros, Sondistas y Trabajadores Asimilados',
  72.0: 'Obreros de Tratamiento de la Madera y de la Fabricación de Papel',
  73.0: 'Obreros de los Tratamientos Químicos y Trabajadores Asimilados',
  74.0: 'Hilanderos, Tejedores, Tintoreros y Trabajadores Asimilados',
  75.0: 'Obreros de la Preparación, Curtido y Tratamiento de Pieles',
  76.0: 'Obreros de la Preparación de Alimentos y Bebidas Degollador de Reses, Cortador de Carne, Panadero, Pastelero',
  77.0: 'Obreros de Calzado, Sastres, Modistos, Peleteros, Ebanistas, Tapiceros y Otros Afines, Sombrerero',
  78.0: 'Obreros, Mecánicos y Ajustadores de Metales, Equipos Eléctricos, Electrónicos y de Vehículos de Motor, Mecánico de Vehíc',
  79.0: 'Ajustadores, Montadores e Instaladores de Máquinas e Instrumentos de Precisión, Relojeros, Mecánicos, Joyeros y Plateros',
  81.0: 'Obreros de la Fabricación de Productos de Caucho y Plástico, Instrumentos de Música, Pintores y Conductores de Maquinari',
  82.0: 'Confeccionadores de Productos de Papel y Cartón',
  83.0: 'Obreros de las Artes Gráficas, Fotógrafo (Excluye Fotógrafo Ambulante)',
  84.0: 'Obreros Manufactureros y Trabajadores Asimilados No Clasificados en Otras Clasificaciones',
  85.0: 'Pintores de Edificios, de Decoración de Teatro, de Construcción Metálica, de Autos, de Pincel y de Rodillo',
  86.0: 'Obreros en la Construcción, Albañil, Carpintero, Ebanista',
  87.0: 'Operadores de Máquinas Agrícolas, Fijas y de Instalaciones Similares y Obreros de la Manipulación de Mercancías y Materi',
  88.0: 'Conductores de Medios de Transporte y Personas en Ocupaciones Afines (Excepto a Pedal y a Mano), Chofer, Taxista',
  91.0: 'Vendedores Ambulantes',
  93.0: 'Cobradores y Vendedores de los Servicios de Transporte y Afines, Cobrador de Microbús',
  94.0: 'Personal Doméstico, Limpiadores, Lavanderos, Planchadores y Afines, Conserje, Limpiabotas, Fotógrafo Ambulante, Jardiner',
  95.0: 'Mensajeros, Repartidores, Porteros y Afines, Lector de Medidores, Guardián',
  96.0: 'Recolectores de Basura',
  98.0: 'Peones de la Minería, Suministro Electricidad, Gas y Agua, la Construcción, la Industria Manufacturera y el Transporte'},
 'labels50': {0.0: 'No trabaja',
  1.0: 'Profesional, Técnico, Gerente',
  2.0: 'Eclesiástico',
  3.0: 'Ventas',
  4.0: 'Agricultor, trabajador independiente',
  5.0: 'Agricultor, empleado',
  6.0: 'Empleado del hogar',
  7.0: 'Servicios',
  8.0: 'Habilidades manuales',
  9.0: 'Sin habilidades manuales'},
 'labels51': {0.0: 'No', 1.0: 'Sí'},
 'labels52': {0.0: 'No', 1.0: 'Sí'},
 'labels53': {98.0: 'No sabe'},
 'labels54': {0.0: 'Otro, no trabaja, no especificada',
  1.0: 'Fuerzas Armadas',
  2.0: 'Fuerzas Policiales',
  5.0: 'Pensionado, Jubilado, Rentista, Estudiante.',
  11.0: 'Miembros del Poder Ejecutivo y de los Cuerpos Legislativos del Personal',
  12.0: 'Directores de Empresa (con 3 o más Directores)',
  13.0: 'Directores de la Educación',
  14.0: 'Gerente de Pequeñas Empresas (Talleres)',
  21.0: 'Profesionales de las Ciencias Físicas, Químicas, Matemáticas e Ingeniería, Civil, Arquitecto',
  22.0: 'Ingenierías (diferentes a Ing. Civil)',
  23.0: 'Profesionales de las Ciencias Biológicas, la Medicina y la Salud.',
  24.0: 'Profesores (Maestros y/o Pedagogos), Auxiliar de Educación',
  25.0: 'Profesionales de Derecho, Ciencias Económicas Administrativas',
  26.0: 'Bibliotecario, Ciencias Sociales, Periodistas, Psicólogos',
  27.0: 'Profesionales de las Artes, Escultura, Música y Afines',
  28.0: 'Otros Profesionales y Trabajadores Varios: Turismo y Hotelería, Relacionista Público, Diplomáticos, Sacerdotes',
  31.0: 'Técnicos de Nivel Medio en Ciencias Físicas, Químicas, Matemáticas e Ingeniería',
  32.0: 'Operadores de Equipos Especializados, Fotógrafos y Afines',
  33.0: 'Técnicos en Navegación Marítima y Aeronáutica e Inspectores de Seguridad, Salud y Control de Calidad',
  34.0: 'Técnicos de Nivel Medio y Trabajadores Asimilados de las Ciencias Biológicas',
  35.0: 'Técnicos de Nivel Medio y Trabajadores Asimilados de la Medicina y la Salud, Aplicación de Inyectables, Enfermera Técnic',
  36.0: 'Jefes de Ventas y Técnicos en Administración, Contabilidad, Economía y Operaciones Financieras y Comerciales (Afines), T',
  37.0: 'Agentes de Servicios Administrativos (Asesor Previsional AFP)',
  38.0: 'Asistentes y Auxiliares en la Administración',
  39.0: 'Artistas Afines, Trabajadores del Espectáculo, Atletas y Auxiliares de Cultos Religiosos',
  41.0: 'Jefes de Dependencias Administrativas, Oficinistas, Secretarias, Digitador, Tipeos por Computadora',
  42.0: 'Personal Administrativo y Empleados Afines',
  43.0: 'Jefes de Servicios de Transportes y Trabajadores Afines, Controlador de Microbús',
  44.0: 'Jefes de Servicios de Correos; Empleados de Bibliotecas, de Imprenta y Afines, Carteros, Mensajeros',
  45.0: 'Cajeros, Recepcionistas y Trabajadores Asimilados, Telefonista, Cobradores (Excluye el Cobrador de Microbús)',
  46.0: 'Empleados de Oficina en Operación de Campo y Otros Oficinistas, Encuestadores, Registradores, Supervisor de Campo, Auxil',
  51.0: 'Personal al Servicio Directo de los Pasajeros, Guía de Turismo, Aeromoza',
  52.0: 'Jefes, Ecónomas y Mayordomos, Azafata, Mozo',
  53.0: 'Trabajadores de los Cuidados Personales,  Auxiliar de Enfermería, Ayudante en Consultorio Dental',
  54.0: 'Peluqueros, Especialistas en Tratamiento de Belleza y Trabajadores Asimilados',
  55.0: 'Trabajadores de Servicios Varios, Modelos, Tramitador de Documentos para Sepelio, Cartomancia',
  56.0: 'Personal de los Servicios de Protección y Seguridad, Bombero, Policía Municipal, Serenazgo, Policía Particular',
  57.0: 'Comerciantes Vendedores al Por Mayor y Por Menor, Vendedor en Kiosko, Vendedora en Puesto de Mercado, Demostrador de Art',
  58.0: 'Comerciantes y Vendedores (No ambulatorio), No Clasificados Bajo otros Epígrafes, Vendedor Comisionista, Vendedor, Agent',
  61.0: 'Agricult. (Expl.) y Trab. Calificados de Cultivos Extensivos: Peones de Labranza y Peones Agropecuarios,Peones Forestale',
  62.0: 'Criadores y Trabajadores Pecuarios Calificados de Cría de Animales para el Mercado y Afines',
  63.0: 'Pescadores, Cazadores y Tramperos Peones de la Pesca, la Caza y la Trampa',
  71.0: 'Mineros, Canteros, Sondistas y Trabajadores Asimilados',
  72.0: 'Obreros de Tratamiento de la Madera y de la Fabricación de Papel',
  73.0: 'Obreros de los Tratamientos Químicos y Trabajadores Asimilados',
  74.0: 'Hilanderos, Tejedores, Tintoreros y Trabajadores Asimilados',
  75.0: 'Obreros de la Preparación, Curtido y Tratamiento de Pieles',
  76.0: 'Obreros de la Preparación de Alimentos y Bebidas Degollador de Reses, Cortador de Carne, Panadero, Pastelero',
  77.0: 'Obreros de Calzado, Sastres, Modistos, Peleteros, Ebanistas, Tapiceros y Otros Afines, Sombrerero',
  78.0: 'Obreros, Mecánicos y Ajustadores de Metales, Equipos Eléctricos, Electrónicos y de Vehículos de Motor, Mecánico de Vehíc',
  79.0: 'Ajustadores, Montadores e Instaladores de Máquinas e Instrumentos de Precisión, Relojeros, Mecánicos, Joyeros y Plateros',
  81.0: 'Obreros de la Fabricación de Productos de Caucho y Plástico, Instrumentos de Música, Pintores y Conductores de Maquinari',
  82.0: 'Confeccionadores de Productos de Papel y Cartón',
  83.0: 'Obreros de las Artes Gráficas, Fotógrafo (Excluye Fotógrafo Ambulante)',
  84.0: 'Obreros Manufactureros y Trabajadores Asimilados No Clasificados en Otras Clasificaciones',
  85.0: 'Pintores de Edificios, de Decoración de Teatro, de Construcción Metálica, de Autos, de Pincel y de Rodillo',
  86.0: 'Obreros en la Construcción, Albañil, Carpintero, Ebanista',
  87.0: 'Operadores de Máquinas Agrícolas, Fijas y de Instalaciones Similares y Obreros de la Manipulación de Mercancías y Materi',
  88.0: 'Conductores de Medios de Transporte y Personas en Ocupaciones Afines (Excepto a Pedal y a Mano), Chofer, Taxista',
  91.0: 'Vendedores Ambulantes',
  93.0: 'Cobradores y Vendedores de los Servicios de Transporte y Afines, Cobrador de Microbús',
  94.0: 'Personal Doméstico, Limpiadores, Lavanderos, Planchadores y Afines, Conserje, Limpiabotas, Fotógrafo Ambulante, Jardiner',
  95.0: 'Mensajeros, Repartidores, Porteros y Afines, Lector de Medidores, Guardián',
  96.0: 'Recolectores de Basura',
  98.0: 'Peones de la Minería, Suministro Electricidad, Gas y Agua, la Construcción, la Industria Manufacturera y el Transporte,'},
 'labels55': {0.0: 'No trabaja',
  1.0: 'Profesional, Técnico, Gerente',
  2.0: 'Eclesiástico',
  3.0: 'Ventas',
  4.0: 'Agricultor, trabajador independiente',
  5.0: 'Agricultor, empleado',
  6.0: 'Empleada del hogar',
  7.0: 'Servicios',
  8.0: 'Habilidades manuales',
  9.0: 'Sin habilidades manuales'},
 'labels56': {1.0: 'Para un familiar',
  2.0: 'Para alguien más',
  3.0: 'Por cuenta propia'},
 'labels57': {1.0: 'En el hogar', 2.0: 'Fuera del hogar'},
 'labels58': {0.0: 'Sin educación',
  1.0: 'Primaria incompleta',
  2.0: 'Primaria completa',
  3.0: 'Secundaria incompleta',
  4.0: 'Secundaria completa',
  5.0: 'Superior',
  8.0: 'No sabe'},
 'labels59': {96.0: '96+', 98.0: 'No sabe'},
 'labels60': {0.0: 'No',
  1.0: 'En el año pasado',
  2.0: 'Actualmente trabajando',
  3.0: 'Tener un trabajo, pero en licencia los últimos 7 días'},
 'labels61': {1.0: 'Todo el año',
  2.0: 'Por temporada',
  3.0: 'De vez en cuando'},
 'labels62': {1.0: 'Entrevistada',
  2.0: 'Entrevistada y esposo/compañero',
  3.0: 'Entrevistada y alguien más',
  4.0: 'Esposo/compañero',
  5.0: 'Alguien más'},
 'labels63': {0.0: 'Propio',
  1.0: 'Familiar',
  2.0: 'De alguien más',
  3.0: 'Alquilado',
  4.0: 'Comunitario'},
 'labels64': {0.0: 'No le pagan',
  1.0: 'Solo en efectivo',
  2.0: 'Efectivo y especie',
  3.0: 'Solo en especie'},
 'labels65': {0.0: 'Nadie',
  1.0: 'Entrevistada',
  2.0: 'Entrevistada y esposo/compañero',
  3.0: 'Entrevistada y otra persona',
  4.0: 'Solo esposo/compañero',
  5.0: 'Alguien más'},
 'labels66': {0.0: 'Nadie',
  1.0: 'Entrevistada',
  2.0: 'Entrevistada y esposo/compañero',
  3.0: 'Entrevistada y alguien más',
  4.0: 'Esposo/compañero',
  5.0: 'Alguien más'},
 'labels67': {0.0: 'Nadie',
  1.0: 'Entrevistada',
  2.0: 'Entrevistada y esposo/compañero',
  3.0: 'Entrevistada y alguien más',
  4.0: 'Esposo/compañero',
  5.0: 'Alguien más'},
 'labels68': {0.0: 'Nadie',
  1.0: 'Entrevistada',
  2.0: 'Entrevistada y esposo/compañero',
  3.0: 'Entrevistada y alguien más',
  4.0: 'Esposo/compañero',
  5.0: 'Alguien más'},
 'labels69': {0.0: 'Nadie',
  1.0: 'Entrevistada',
  2.0: 'Entrevistada y esposo/compañero',
  3.0: 'Entrevistada y alguien más',
  4.0: 'Esposo/compañero',
  5.0: 'Alguien más'},
 'labels70': {1.0: 'Entrevistada',
  2.0: 'Entrevistada y esposo/compañero',
  3.0: 'Entrevistada y alguien más',
  4.0: 'Esposo/compañero',
  5.0: 'Alguien más',
  6.0: 'Otro',
  7.0: 'Esposo/compañero no tiene ganancias'},

2. Select the following columns for each data set:
|Data|Columns|
|---|---|
|rec1| CASEID, V000, V001, V002, V003, V004, V007, V008, V009, V010, V011, V012, V024, V102, V120, V121, V122, V123, V124, V125, V127, V133 |
|rec2| CASEID, V201, V218, V301, V302, V323, V323A, V325A, V326, V327, V337, V359, V360, V361, V362, V363, V364, V367, V372, V372A, V375A, V376, V376A, V379, V380 |
|rec3| CASEID, V501, V502, V503, V504, V505, V506, V507, V508, V509, V510, V511, V512, V513, V525, V613, V714, V715 |


Additioanlly, you should update the variables and value labels objects. They must have information only for the selected columns. The new dataframes should be name as `rec1_1`, `rec2_1`, and `rec3_1`. The new varible labels objects should be named as `new_var_labels1`, `new_var_labels2`, and `new_var_labels3`. The new value labels objects should be named as `new_value_labels1`, `new_value_labels2`, and `new_value_labels3` **Hint: Use the `loc` and column names to filter. Update the dictionary.**

In [21]:
columnas_rec1 = ['CASEID', 'V000', 'V001', 'V002', 'V003', 'V004', 'V007', 'V008', 'V009', 'V010', 'V011', 'V012', 'V024', 'V102', 'V120', 'V121', 'V122', 'V123', 'V124', 'V125', 'V127', 'V133']
rec1_1 = rec_1.loc[:, columnas_rec1]
new_var_labels1 = {k: var_labels1[k] for k in columnas_rec1 if k in var_labels1}
new_value_labels1 = {k: value_labels1[k] for k in columnas_rec1 if k in value_labels1}
columnas_rec1

['CASEID',
 'V000',
 'V001',
 'V002',
 'V003',
 'V004',
 'V007',
 'V008',
 'V009',
 'V010',
 'V011',
 'V012',
 'V024',
 'V102',
 'V120',
 'V121',
 'V122',
 'V123',
 'V124',
 'V125',
 'V127',
 'V133']

In [22]:
columnas_rec2 = ['CASEID', 'V201', 'V218', 'V301', 'V302', 'V323', 'V323A', 'V325A', 'V326', 'V327', 'V337', 'V359', 'V360', 'V361', 'V362', 'V363', 'V364', 'V367', 'V372', 'V372A', 'V375A', 'V376', 'V376A', 'V379', 'V380']
rec2_1 = rec_2.loc[:, columnas_rec2]
new_var_labels2 = {k: var_labels2[k] for k in columnas_rec2 if k in var_labels2}
new_value_labels2 = {k: value_labels2[k] for k in columnas_rec2 if k in value_labels2}

In [23]:
columnas_rec3 = ['CASEID', 'V501', 'V502', 'V503', 'V504', 'V505', 'V506', 'V507', 'V508', 'V509', 'V510', 'V511', 'V512', 'V513', 'V525', 'V613', 'V714', 'V715']
rec3_1 = rec_3.loc[:, columnas_rec3]
new_var_labels3 = {k: var_labels3[k] for k in columnas_rec3 if k in var_labels3}
new_value_labels3 = {k: value_labels3[k] for k in columnas_rec3 if k in value_labels3}

In [24]:
print(rec_1.dtypes)

ID1             float64
HHID             object
CASEID           object
V001            float64
V002            float64
                 ...
V005            float64
V190            float64
V191            float64
mujeres12a49    float64
NCONGLOME       float64
Length: 105, dtype: object

In [25]:
rec1_1['year'] = 2019
rec1_1

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V102,V120,V121,V122,V123,V124,V125,V127,V133,year
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,33.0,16.0,2019
1,000100201 3,PE6,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,2007.0,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,33.0,6.0,2019
2,000102801 2,PE6,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,33.0,16.0,2019
3,000102801 6,PE6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,33.0,4.0,2019
4,000104801 2,PE6,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0,1.0,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38330,325406201 2,PE6,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,1971.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,4.0,2019
38331,325406301 2,PE6,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,1988.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,6.0,2019
38332,325407001 2,PE6,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,1973.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,3.0,2019
38333,325407201 2,PE6,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,1994.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,9.0,2019
38334,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,9.0,2019

3. Generate a new column for `rec1_1` named as `year`. It should be equal to `2019`. Also, you must update this new variable for the `var_labels` dictionary. Generate a new key for `new_var_labels1` and the value for this key should be **"Year of the survey"** **Hint: Use `loc` and `update` method.**

In [26]:
print(rec_1.dtypes)

ID1             float64
HHID             object
CASEID           object
V001            float64
V002            float64
                 ...
V005            float64
V190            float64
V191            float64
mujeres12a49    float64
NCONGLOME       float64
Length: 105, dtype: object

In [27]:
rec1_1['year'] = 2019
rec1_1

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V102,V120,V121,V122,V123,V124,V125,V127,V133,year
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,33.0,16.0,2019
1,000100201 3,PE6,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,2007.0,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,33.0,6.0,2019
2,000102801 2,PE6,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,33.0,16.0,2019
3,000102801 6,PE6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,33.0,4.0,2019
4,000104801 2,PE6,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0,1.0,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38330,325406201 2,PE6,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,1971.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,4.0,2019
38331,325406301 2,PE6,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,1988.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,6.0,2019
38332,325407001 2,PE6,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,1973.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,3.0,2019
38333,325407201 2,PE6,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,1994.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,9.0,2019
38334,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,9.0,2019

In [28]:
new_var_labels1['year'] = 'Year of the survey'
new_var_labels1

{'V024': {1.0: 'Amazonas',
  2.0: 'Ancash',
  3.0: 'Apurimac',
  4.0: 'Arequipa',
  5.0: 'Ayacucho',
  6.0: 'Cajamarca',
  7.0: 'Callao',
  8.0: 'Cusco',
  9.0: 'Huancavelica',
  10.0: ' Huanuco',
  11.0: ' Ica',
  12.0: ' Junin',
  13.0: ' La Libertad',
  14.0: ' Lambayeque',
  15.0: ' Lima',
  16.0: ' Loreto',
  17.0: ' Madre de Dios',
  18.0: ' Moquegua',
  19.0: ' Pasco',
  20.0: ' Piura',
  21.0: ' Puno',
  22.0: ' San Martin',
  23.0: ' Tacna',
  24.0: ' Tumbes',
  25.0: ' Ucayali'},
 'V102': {1.0: 'Urbano', 2.0: 'Rural'},
 'V120': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'V121': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'V122': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'V123': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'V124': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'V125': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'V127': {11.0: 'Tierra/arena',
  21.0: 'Madera (entablados)',
  31.0: 'Parquet o madera pulida',
  32.0: 'Làminas asfálticas, vinílicos o similares',
  33.0: 'Losetas, terrazos o similares',
  34.0: 'Cemento/ladrillo',
  96.0: 'Pona',
  97.0: 'Otro(pona)'},
 'V133': {97.0: 'Inconsistente'},
 'year': 'Year of the survey'}

4. Merge `rec1_1`, `rec2_1`, and `rec3_1` using **CASEID**. Name this new object as `endes_2019`. **Hint: Use [this link](https://stackoverflow.com/questions/53645882/pandas-merging-101)**

In [29]:
#First we make the fusion between "rec1_1" and rec2_1 using the variable "CASEID"
rec_1_rec_2= rec1_1.merge(rec2_1,on='CASEID', how='outer')

In [30]:
#Then we perform the same procedure again but the fusion is between "rec_1_rec_2" and "rec3_1". Finally, we name this change as "endes_2019"
endes_2019= rec_1_rec_2.merge(rec3_1,on='CASEID', how='outer')
endes_2019.head()

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V508,V509,V510,V511,V512,V513,V525,V613,V714,V715
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,2008.0,1297.0,1.0,21.0,11.0,3.0,17.0,2.0,1.0,11.0
1,000100201 3,PE6,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,2007.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,000102801 2,PE6,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,2011.0,1344.0,1.0,28.0,7.0,2.0,18.0,3.0,1.0,14.0
3,000102801 6,PE6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,1984.0,1016.0,5.0,14.0,34.0,7.0,14.0,0.0,0.0,6.0
4,000104801 2,PE6,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,2009.0,1320.0,1.0,18.0,9.0,2.0,15.0,2.0,0.0,6.0

5. Unify all the `new_var_labels` in one object and `new_value_labels` in another one object. Name these two objects as `var_labels` and `value_labels`. Use them to generate new attributes for `endes_2019`. These attributes should be named as `var_labels` and `value_labels`. **Hint: Use `update` method.**

In [31]:
#Variable labeling
var_labels = new_var_labels1.copy() #Generating a dictionary that contains the dictionary of the variable labels
var_labels.update(new_var_labels2) #Dictionary update
var_labels.update(new_var_labels3) #Dictionary update

In [32]:
#Values label
value_labels = new_value_labels1.copy() #We replicate the same procedure for this case
value_labels.update(new_value_labels2) #Dictionary update
value_labels.update(new_value_labels3) #Dictionary update

In [33]:
#Finally, we assign the values
endes_2019.attrs['value_labels'] = value_labels
endes_2019.attrs['var_labels'] = var_labels

6. Get the min, max, sd, n_obs, n_missing for the following columns **total children ever born (V201)**, **Ideal number of children (V613)**, **Husbands education-single yrs (V715)**, and **Age at first marriage (V511)**. We want a dataframe with the following columns **Variables, Min, Max, Mean, N_obs, N_missing** and sort by the number of missing rows. **Hint: Use `describe` and `pivot` methods**

In [34]:
#Transformation of variables from text string type to float for the calculation of statistics
endes_2019['V613'] = endes_2019['V613'].replace('Non-numeric answer', np.nan).astype(str).astype(float)
endes_2019['V715'] = endes_2019['V715'].replace('Does not know', np.nan).astype(str).astype(float)

In [35]:
#Then we will use the "describe" function to calculate the information. 
#Also, a row is added that counts the missing values for each variable.
#Now that we have all the statistics, we use the "loc" method to select only the ones we want and with the "transpose" method we change rows to columns and columns to rows.
#Finally, we will rename the columns and sort by the total number of missing values.

table_endes = endes_2019.loc[:,['V201','V613','V715','V511']].describe(include='all')
table_endes.loc['N_missing']=endes_2019.loc[:,['V201','V613','V715','V511']].isna().sum()
table_endes = table_endes.loc[['min','max','mean','count','N_missing']].transpose().reset_index()
table_endes = table_endes.rename(columns = {'index':'Variables','min':'Min','max':'Max','mean':'Mean','count':'N_obs'}).sort_values('N_missing')
table_endes

  Variables   Min   Max       Mean    N_obs  N_missing
0      V201   0.0  13.0   1.781946  36922.0     1413.0
1      V613   0.0  96.0   2.455345  33311.0     5024.0
2      V715   0.0  98.0  11.624474  25881.0    12454.0
3      V511  10.0  48.0  20.463738  25881.0    12454.0

7. Use `endes_2019` data to generate a new object named `mean_key_vars` to find the mean of **total children ever born (V201)**, **Ideal number of children (V613)**, **Husbands education-single yrs (V715)**, and **Age at first marriage (V511)** by year and department **(V024)**. Name these columns as **mean_total_children, mean_ideal_children, mean_hb_yr_educ and mean_first_marriage**, respectively. **Hint: Use groupby and [this link](https://stackoverflow.com/questions/40901770/is-there-a-simple-way-to-change-a-column-of-yes-no-to-1-0-in-a-pandas-dataframe).**

In [36]:
# apartir de v024 seleccionamos el resto de columnas para sacar las media de los datos requeridos
mean_key_vars = endes_2019.groupby(["V024"],as_index=False)[["V201","V613","V715","V511"]].mean().rename(columns = {"V201":"mean_total_children","V613":"mean_ideal_children","V715":"mean_hb_yr_educ","V511":"mean_first_marriage"})
mean_key_vars.head()

,V024,mean_total_children,mean_ideal_children,mean_hb_yr_educ,mean_first_marriage
0,1.0,1.980892,2.519355,9.611379,19.266152
1,2.0,1.771065,2.383260,11.789534,20.591581
2,3.0,2.003463,2.391176,11.063779,20.064982
3,4.0,1.539910,2.441390,13.714898,22.304394
4,5.0,1.848787,2.209026,11.285419,20.340228

8. Reshape `mean_key_vars` from wide to long. We want a dataframe with three columns **dpto, variables, values**. Name this object as `reshape_mean_key_vars`. **Hint: Use melt method**.

In [48]:
# cambiamos la forma de ancho a largo, solo con 3 variables, y al final renombramos v024 a dpto
reshape_mean_key_vars=pd.melt(mean_key_vars,id_vars=['V024'],var_name='variables',value_name= 'values').rename(columns={'V024':'dpto'})
reshape_mean_key_vars

    dpto            variables     values
0    1.0  mean_total_children   1.980892
1    2.0  mean_total_children   1.771065
2    3.0  mean_total_children   2.003463
3    4.0  mean_total_children   1.539910
4    5.0  mean_total_children   1.848787
..   ...                  ...        ...
95  21.0  mean_first_marriage  20.398964
96  22.0  mean_first_marriage  18.953155
97  23.0  mean_first_marriage  22.065095
98  24.0  mean_first_marriage  19.409821
99  25.0  mean_first_marriage  18.985481

[100 rows x 3 columns]

9. Replicate your answers for questions 7 and 8, but in one line of code. Make it the most simple as possible. **NO HINT**

In [49]:
# Use the agg function to calculate two statistics (mean and first) at the same time. Then replicate process of questions 7 & 8 
endes_2019.groupby(['V024']).agg({'V201': 'mean', 'V613': 'mean', 'V715': 'mean', 'V511': 'mean', 'V024': 'first'}).rename(columns={'V201': 'mean_total_children', 'V613': 'mean_ideal_children', 'V715': 'mean_hb_yr_educ', 'V511': 'mean_first_marriage'}).melt(id_vars = ["V024"], value_vars = ["mean_total_children", "mean_ideal_children", "mean_hb_yr_educ", "mean_first_marriage"])

    V024             variable      value
0    1.0  mean_total_children   1.980892
1    2.0  mean_total_children   1.771065
2    3.0  mean_total_children   2.003463
3    4.0  mean_total_children   1.539910
4    5.0  mean_total_children   1.848787
..   ...                  ...        ...
95  21.0  mean_first_marriage  20.398964
96  22.0  mean_first_marriage  18.953155
97  23.0  mean_first_marriage  22.065095
98  24.0  mean_first_marriage  19.409821
99  25.0  mean_first_marriage  18.985481

[100 rows x 3 columns]

10. Merge `reshape_mean_key_vars` with `endes_2019`. Name this object `final_result`. **Hint: Use merge.**

In [55]:
#Con la función .merge() agregamos a endes_2019 el objeto reshape_mean_key_vars con la columna dpto renombrada como V024 para 
# utilizarla como el punto de referencia para la unión.

final_result = endes_2019.merge(reshape_mean_key_vars.rename(columns={"dpto":"V024"}), on = ['V024'], how = "left", validate = "m:m")
final_result

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V510,V511,V512,V513,V525,V613,V714,V715,variables,values
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,1.0,21.0,11.0,3.0,17.0,2.0,1.0,11.0,mean_total_children,1.980892
1,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,1.0,21.0,11.0,3.0,17.0,2.0,1.0,11.0,mean_ideal_children,2.519355
2,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,1.0,21.0,11.0,3.0,17.0,2.0,1.0,11.0,mean_hb_yr_educ,9.611379
3,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,1.0,21.0,11.0,3.0,17.0,2.0,1.0,11.0,mean_first_marriage,19.266152
4,000100201 3,PE6,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,2007.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,mean_total_children,1.980892
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153335,325407201 2,PE6,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,1994.0,...,1.0,13.0,11.0,3.0,13.0,2.0,0.0,11.0,mean_first_marriage,18.985481
153336,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,1.0,16.0,6.0,2.0,15.0,2.0,0.0,11.0,mean_total_children,2.012258
153337,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,1.0,16.0,6.0,2.0,15.0,2.0,0.0,11.0,mean_ideal_children,2.388399
153338,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,1.0,16.0,6.0,2.0,15.0,2.0,0.0,11.0,mean_hb_yr_educ,10.788566
153339,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,1.0,16.0,6.0,2.0,15.0,2.0,0.0,11.0,mean_first_marriage,18.985481