In [2]:
import numpy as np

In [7]:
np.random.seed(123)
students = np.arange( 1, 53 )

In [8]:
original = np.arange( 0 , 52 ).tolist()
results = []

In [9]:
for i in range(10):
    try:
        values = np.random.choice( original, size=5, replace=False)
    except:
        values = np.random.choice( original, size=4, replace=False)
    original = list(set(original).difference(values))
    results.append( values )

In [10]:
import random

def chunks(l, n):
    """Yield successive n-sized chunks from l."""
    for i in range(0, len(l), n):
        yield l[i:i + n]

In [11]:
grupos = list(chunks( np.arange(0, 52), 4))

In [12]:
import pandas as pd

In [14]:
!pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 96.5/96.5 kB 2.8 MB/s eta 0:00:00
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

In [15]:
data1 = pd.read_excel( r"/Users/ar8787/Downloads/Lista Participantes.xls" )

In [17]:
df2 = data1.loc[:, ['Código', 'Apellidos y nombres']].copy()

In [18]:
s = pd.Series([None,None],index=['Código', 'Apellidos y nombres'])

# Appending empty series to df
data1 = df2.append(s,ignore_index=True)

AttributeError: 'DataFrame' object has no attribute 'append'

In [19]:
data1['Grupos'] = "" 

i = 1
for gr in grupos:
    data1.iloc[ gr, -1 ] = f"Grupo {i}"
    i = i + 1

In [20]:
groups = data1.loc[:, [ 'Apellidos y nombres', 'Grupos' ]] \
                .assign(order= data1.groupby(['Grupos']).cumcount()) \
                .pivot( index = ['order'] , columns = ['Grupos']) \
                .replace( np.nan, "")

In [21]:
groups

                        Apellidos y nombres                                   \
Grupos                              Grupo 1                         Grupo 10
order
0              ORTIZ PAREDES, CÉSAR MARCELO      CALDERON NEYRA, JOSE DANIEL
1       CHINCHAY HABICH, FIORELLA ALEXANDRA    PINCHI MOREY, CINTHYA VALERIA
2               RAMIREZ GOMERO, VIVIAN RUTH      HERRERA ALCOCER, MARIA INES
3          MENCHOLA GUERRERO, JULISSA ELENA  SÁNCHEZ PRIETO, FERNANDO ALONSO

                                                                        \
Grupos                          Grupo 11                      Grupo 12
order
0       FLOREZ OKUMURA, LEONARDO ANTONIO    SORIA PEÑA, CARLOS ALFREDO
1                    MORRO MUÑOZ, AURI W            MOLLA LEON, WALTER
2                   HUAMAN LOAYZA, GUIDO  CAJAS FALCÓN, ALONDRA NICOLE
3                  TOLEDO RENGIFO, NURIA  PANDO PILCO, MARTIN DE JESUS

                                                                             \
Grupos                            Grupo 13                          Grupo 2
order
0                  DIAZ GONZALES, EMMANUEL     TITO SANTA CRUZ, KERLY MABEL
1       ALARCON GUTIERREZ, EDUARDO BASILIO           MEZA VASQUEZ, MILAGROS
2               ABURTO CAMACLLANQUI, ELÍAS     REYNA NIEVA, GINO SALVATTORE
3                  SANTANDER ALVA, DANIELA  ARISTA APARI, SERGHI GIANFRANCO

                                            \
Grupos                             Grupo 3
order
0                CORDOVA GAMBOA, ANA PAOLA
1       GAVILAN CASTAÑEDA, MAYRA ALEXANDRA
2                     RIVAS SU, JUAN DIEGO
3            AVILES ELIAS, GABRIEL MARCIAL

                                                 \
Grupos                                  Grupo 4
order
0                ZUÑIGA ROMERO, ADRIANA VIOLETA
1            PLASENCIA CUSTODIO, CLAUDIA JIMENA
2       ECHEVARRIA CARHUANCHO, FRANCISCO ANDRES
3                 VERA ROMAN, JOSSELYNE ANTUANE

                                                                          \
Grupos                          Grupo 5                          Grupo 6
order
0          MIÑAN SANCHEZ, LUIS FERNANDO   QUISPE MACAVILCA, LUIS CLAUDIO
1         HUAMAN GARCIA, YANELL VALERYN  VENERO ACURIO, MARIA DEL CARMEN
2          PASAPERA OROZCO, OSMAN ALDER      DELGADO DIAZ, DIEGO GONZALO
3       FLORES GOICOCHEA, DANIELA SOFIA  CANELO CASTILLO, GONZALO ANDRES

                                             \
Grupos                              Grupo 7
order
0       RAMIREZ DE LA CRUZ, KELLY GUADALUPE
1                ZAPATA ROJAS, ALVARO DANTE
2        REMUZGO MELENDEZ, CARMEN ELIZABETH
3                    VELAZCO MUÑOZ, ANAMILE


Grupos                             Grupo 8                             Grupo 9
order
0          BENITES GARNIQUE, JOSUE MARCIAL          MONTJOY PITA, DANIEL GERAY
1       SUAREZ PATILONGO, MICHAEL SALVADOR         VISURRAGA RODIL, JOEL ANDRE
2               SILVA ZARATE, CECILIA ISAI  SALAZAR RODRIGUEZ, MATTIAS GUSTAVO
3       TORREJON MAGUIÑA, CLAUDIA FIORELLA     RIVAS MADUEÑO, MAURICIO RICARDO

In [22]:
col1, col2 = zip(*groups.columns)

In [23]:
groups.columns = list(col2)

In [26]:
groups

,Grupo 1,Grupo 10,Grupo 11,Grupo 12,Grupo 13,Grupo 2,Grupo 3,Grupo 4,Grupo 5,Grupo 6,Grupo 7,Grupo 8,Grupo 9
order,,,,,,,,,,,,,
0,"ORTIZ PAREDES, CÉSAR MARCELO","CALDERON NEYRA, JOSE DANIEL","FLOREZ OKUMURA, LEONARDO ANTONIO","SORIA PEÑA, CARLOS ALFREDO","DIAZ GONZALES, EMMANUEL","TITO SANTA CRUZ, KERLY MABEL","CORDOVA GAMBOA, ANA PAOLA","ZUÑIGA ROMERO, ADRIANA VIOLETA","MIÑAN SANCHEZ, LUIS FERNANDO","QUISPE MACAVILCA, LUIS CLAUDIO","RAMIREZ DE LA CRUZ, KELLY GUADALUPE","BENITES GARNIQUE, JOSUE MARCIAL","MONTJOY PITA, DANIEL GERAY"
1,"CHINCHAY HABICH, FIORELLA ALEXANDRA","PINCHI MOREY, CINTHYA VALERIA","MORRO MUÑOZ, AURI W","MOLLA LEON, WALTER","ALARCON GUTIERREZ, EDUARDO BASILIO","MEZA VASQUEZ, MILAGROS","GAVILAN CASTAÑEDA, MAYRA ALEXANDRA","PLASENCIA CUSTODIO, CLAUDIA JIMENA","HUAMAN GARCIA, YANELL VALERYN","VENERO ACURIO, MARIA DEL CARMEN","ZAPATA ROJAS, ALVARO DANTE","SUAREZ PATILONGO, MICHAEL SALVADOR","VISURRAGA RODIL, JOEL ANDRE"
2,"RAMIREZ GOMERO, VIVIAN RUTH","HERRERA ALCOCER, MARIA INES","HUAMAN LOAYZA, GUIDO","CAJAS FALCÓN, ALONDRA NICOLE","ABURTO CAMACLLANQUI, ELÍAS","REYNA NIEVA, GINO SALVATTORE","RIVAS SU, JUAN DIEGO","ECHEVARRIA CARHUANCHO, FRANCISCO ANDRES","PASAPERA OROZCO, OSMAN ALDER","DELGADO DIAZ, DIEGO GONZALO","REMUZGO MELENDEZ, CARMEN ELIZABETH","SILVA ZARATE, CECILIA ISAI","SALAZAR RODRIGUEZ, MATTIAS GUSTAVO"
3,"MENCHOLA GUERRERO, JULISSA ELENA","SÁNCHEZ PRIETO, FERNANDO ALONSO","TOLEDO RENGIFO, NURIA","PANDO PILCO, MARTIN DE JESUS","SANTANDER ALVA, DANIELA","ARISTA APARI, SERGHI GIANFRANCO","AVILES ELIAS, GABRIEL MARCIAL","VERA ROMAN, JOSSELYNE ANTUANE","FLORES GOICOCHEA, DANIELA SOFIA","CANELO CASTILLO, GONZALO ANDRES","VELAZCO MUÑOZ, ANAMILE","TORREJON MAGUIÑA, CLAUDIA FIORELLA","RIVAS MADUEÑO, MAURICIO RICARDO"

In [26]:
data1.loc[:, : ].to_excel(r"C:\Users\Anzony\Downloads/alumnos_diplomado.xlsx", index = False )

In [29]:
groups.to_html( r"../_data/groups2023.html", index = False )

In [29]:
groups.iloc[:, :].to_html( r"C:\Users\Anzony\Documents\GitHub\Diplomado_PUCP/groups2022_2_pt2.html", index = False )

In [28]:
groups

,Grupo 1,Grupo 2,Grupo 3,Grupo 4,Grupo 5,Grupo 6
order,,,,,,
0,"ORELLANA QUISPE, CRISTIAN NASSER","SUAÑA ZEGARRA, ADRIAN ANDRE","VIDAL VIDAL, ROCIO GABRIELA","CALDAS VELASQUEZ, JOSUE DANIEL","MELÉNDEZ APONTE, JUAN DIEGO","INGARUCA RIVERA, GRETTEL ALEXANDRA"
1,"CAMACHO GAVIDIA, ABEL FERNANDO","LAMA MAVILA, HECTOR ANDRE","BOYCO ORAMS, ALEJANDRO","SALAS NUÑEZ BORJA, FABIO MANUEL","CRISTIAN SERRANO, ARONE","HUERTA ESPINOZA, YAJAIRA ALEXANDRA"
2,"TINTAYA ORIHUELA, MEIR ALVARO","MEZA HINOJO, GUSTAVO","RIEGA ESCALANTE, STEPHY ROSARIO","CALVO PORTOCARRERO, GABRIELA ISABEL","NÚÑEZ HUAMÁN, CÉSAR AGUSTO","HUANCA MARTINEZ, JORGE ALBERTO"
3,"PALOMINO SEGUÍN, AFRANIA","JACOBS LUQUE, NICOLAS","PEREZ GONZALES, JUAN CARLOS","IBAÑEZ ABANTO, ANGEL MAURICIO","SOTO PACHERRES, RODRIGO FRANCO",