# This is the second lecture
## This is the second lecture
#### This is the second lecture

This is the second lecture!

# Introduction to Python: Tuples, Lists, Dictionaries, Arrays

## Variables
Containers for store data values. This variable has a label or name. This variable is an object in memory.

### Python Types

There are three key python types: int, float, string and boolean.

### integer

a = 50

In [2]:
a

50

In [3]:
print(a)

50

In [4]:
type(a)

int

In [5]:
b = 30
type(b)

int

### float

In [6]:
c = 30.3
type(c)

float

In [8]:
c = 30.0 # float
type(c)

float

### string

In [76]:
d = "30"
print(d)
type(d)

30

str

In [18]:
my_string = "Hello%15#$"
print(my_string , "\n")

Hello%15#$

In [14]:
# defining strings in Python
# all of the following are equivalent
# comillas simples afuera porque la información adentro tiene comillas dobles
my_string = ' ""Hello"" '
print(my_string)

 ""Hello""

In [77]:
# cuando hay muchos espacios en blanco, y son dos o más líneas, usar 3 comillas
my_string = ''' Hello$%&15
\n aca puede seguir el texto'''
print(my_string , "\n")

 Hello$%&15

 aca puede seguir el texto

In [31]:
my_string = """ Hello, welcome to 
                the world of Python """
print(my_string)

 Hello, welcome to
                the world of Python

In [32]:
# triple quotes string can extend multiple lines
my_string = '''  Hello, welcome to
           the world of "Python" '''
print(my_string)

  Hello, welcome to
           the world of "Python"

In [34]:
len(my_string)

53

In [48]:
"the name of the student is Raul"

'the name of the student is Raul'

In [47]:
print("the name of the student is Raul")

the name of the student is Raul

In [81]:
str = 'Introduction to Python'
print( "pregunta de heidi" , str, "Luciana pregunta" )

pregunta de heidi Introduction to Python Luciana pregunta

In [79]:
str_1 = "The name"
str_2 = "of the course"
str_3 = "is python"
print(str_1, str_2, str_3)

The name of the course is python

In [82]:
str = 'Introduction to Python'
print( "pregunta de heidi" + str + "Luciana pregunta" )

pregunta de heidiIntroduction to PythonLuciana pregunta

In [84]:
print( "pregunta de heidi" + " " + str + " " + "Luciana pregunta" )

pregunta de heidi Introduction to Python Luciana pregunta

In [85]:
course_name = str_1 + " " + str_2 + " " + str_3
course_name

'The name of the course is python'

In [86]:
dir = "C:/Users/Alexander/Dropbox/Pakistan_ID_DIME/Data/Data_requests/"
dir + "data_1"

'C:/Users/Alexander/Dropbox/Pakistan_ID_DIME/Data/Data_requests/data_1'

In [87]:
dir + "data_2"

'C:/Users/Alexander/Dropbox/Pakistan_ID_DIME/Data/Data_requests/data_2'

#### Indexing

In [59]:
str = "Introduction to Python"
str

'Introduction to Python'

In [88]:
str[0]

'I'

In [65]:
#first character
print('str[0] = ', str[0])

str[0] =  I

In [89]:
str[10]

'o'

In [90]:
str[-1 # último caracter

'n'

In [91]:
str[-6]

'P'

In [95]:
#slicing 1st to 3rd character
print(str[0:3])

Int

In [96]:
#slicing 2nd to 5th character
print(str[1:5])

ntro

In [98]:
#slicing 6th to 2nd last character
print(str[5:-2]) # desde el sexto hasta antes de los dos últimos

duction to Pyth

### [Bool](https://www.w3schools.com/python/python_booleans.asp)

The Python Boolean type is one of Python’s built-in data types. It’s used to represent the truth value of an expression. For example, the expression 1 <= 2 is True, while the expression 0 == 1 is False.

In [99]:
10 > 5

True

In [100]:
response = 10 > 9
response

True

In [101]:
type(response)

bool

In [102]:
print(10 == 9)

False

In [104]:
print(10 < 9)

False

In [105]:
True == 1

True

In [107]:
False == 0

True

In [108]:
False == 1

False

In [109]:
True + (False / True)

1.0

## [Tuple](https://www.datacamp.com/community/tutorials/python-tuples-tutorial?utm_source=adwords_ppc&utm_medium=cpc&utm_campaignid=1455363063&utm_adgroupid=65083631748&utm_device=c&utm_keyword=&utm_matchtype=b&utm_network=g&utm_adpostion=&utm_creative=278443377092&utm_targetid=dsa-429603003980&utm_loc_interest_ms=&utm_loc_physical_ms=9060932&gclid=CjwKCAiAvriMBhAuEiwA8Cs5lSzvIp9Hmu0C0HearAmYt_xmqCwjL-nbi0j1e-WlDcBcm2owtmfvGBoCjhEQAvD_BwE)
It is an ordered and unchangeable Python container. We cannot change, add or remove items after the tuple has been created. Tuple items are ordered, unchangeable, and allow duplicate values.

Las tuplas son muy importantes cuando se trabajan con funciones, ya que éstas retornan tuplas (no modificables)

#### Example 1

In [43]:
tuple0 = (1, 3, 3, 5, 10, "py", False)
tuple0

(1, 3, 3, 5, 10, 'py', False)

In [41]:
tuple0[3] # posición 4

5

In [62]:
tuple0[-1] # the last one

False

In [3]:
tuple0[0] = 15 # no se puede modificar el valor de una tupla

TypeError: 'tuple' object does not support item assignment

| Method | Definition |
|------ |---------- |
| count() | Returns the number of times <br> a specified value occurs in a tuple |
| index() |	Searches the tuple for a specified value <br> and returns the position of where it was found |

#### Example 2

In [51]:
tuple1 = (1, 3, 3, 5, 10, 5, 5, 5)
print(tuple1)

(1, 3, 3, 5, 10, 5, 5, 5)

In [52]:
tuple1

(1, 3, 3, 5, 10, 5, 5, 5)

In [53]:
# count
print(tuple1)
tuple1.count(5) # ¿Cuántas veces aparece el número 5?

(1, 3, 3, 5, 10, 5, 5, 5)

4

In [54]:
# index
print(tuple1)
tuple1.index(5) # ¿Cuál es el índice de la primera aparición de 5?

(1, 3, 3, 5, 10, 5, 5, 5)

3

In [55]:
tuple1.index( 3 )

1

| Function | Definition |
| --- | --- |
| type(tuple) | It returns the class type of an object. 	|
| max(tuple) | It returns an item from the tuple with max value. 	|
| min(tuple) | It returns an item from the tuple with min value. 	|
| len(tuple) | It gives the total length of the tuple. 	|
| tuple( list ) | Converts a list into a tuple. 	|

In [56]:
print(tuple1)
type(tuple1) # ¿Cuál es el tipo del objeto?

(1, 3, 3, 5, 10, 5, 5, 5)

tuple

In [60]:
print(tuple1)
max(tuple1) # ¿Cuál es el valor máximo del objeto?

(1, 3, 3, 5, 10, 5, 5, 5)

10

In [27]:
print(tuple1)
min(tuple1) # ¿Cuál es el valor mínimo del objeto?

(1, 3, 3, 5, 10, 5, 5, 5)

1

In [28]:
print(tuple1)
len(tuple1) # ¿Cuántos elementos tiene el objeto (no la longitud)?

(1, 3, 3, 5, 10, 5, 5, 5)

8

#### Example 3

In [31]:
tuple2 = ( 1, 3, 3, 5, 10, (5, 6, 7) )

In [32]:
print(tuple2)
type(tuple2)

(1, 3, 3, 5, 10, (5, 6, 7))

tuple

In [33]:
print(tuple2)
max(tuple2)

(1, 3, 3, 5, 10, (5, 6, 7))

TypeError: '>' not supported between instances of 'tuple' and 'int'

In [34]:
print(tuple2)
min(tuple2)

(1, 3, 3, 5, 10, (5, 6, 7))

TypeError: '<' not supported between instances of 'tuple' and 'int'

In [35]:
print(tuple2)
len(tuple2)

(1, 3, 3, 5, 10, (5, 6, 7))

6

#### Example 4

In [38]:
tuple3 = ("alex", 5, True)
tuple3

('alex', 5, True)

In [39]:
len(tuple3)

3

In [40]:
len(tuple3[0])

4

## [Lists](https://www.freecodecamp.org/news/lists-in-python-comprehensive-guide/)
It is an ordered and mutable Python container. Its itmes are orderd, changeable, and allow duplicate values and different type of objects. Finally, every item has index because lists have a defined order.

| Method | Definition |
|--- |--- |
| sort() 	| Sorts the list in ascending order. 	|
| append() 	| Adds a single element to a list. <br> This element will be located at the end of the list. 	|
| extend() 	| Adds multiple elements to a list. 	|
| index() 	| Returns the first appearance of the specified value. 	|

Estos métodos son propios de los objetos de tipo lista

#### Example 1

In [68]:
# We use brackets to create a list
a = [18, 1.36, "alex", False]
a

[18, 1.36, 'alex', False]

In [69]:
a[0]

18

In [70]:
a[-1]

False

In [71]:
type(a)

list

In [72]:
a.sort() # no puede ordenar entre string y float

TypeError: '<' not supported between instances of 'str' and 'float'

#### Example 2: sort

In [76]:
b = [ 3, 13, 2, 56, 76, 16]
b

[3, 13, 2, 56, 76, 16]

Al aplicar sort, se ordena el objeto original. Si no se quiere perder el ordenamiento original, entonces crear una copia.

In [86]:
b_sort = b.copy()
b_sort.sort()
print(b)
print(b_sort)

[3, 13, 2, 56, 76, 16]
[2, 3, 13, 16, 56, 76]

#### Example 3: sort

Si no se crea una copia y solo se trabaja con "=", también se ordena la lista original

In [89]:
grades = [15, 20, 16, 5, 8 ]
grades

[15, 20, 16, 5, 8]

In [90]:
grades_sort = grades
grades_sort.sort()
print(grades)
print(grades_sort)

[5, 8, 15, 16, 20]
[5, 8, 15, 16, 20]

#### Example 4: append

In [93]:
b = [ 3, 13, 2, 56, 76, 16]
print(b)
b.append(87) # agrega información a la lista
print(b) # se actualiza la lista original

[3, 13, 2, 56, 76, 16]
[3, 13, 2, 56, 76, 16, 87]

#### Example 5: extend

In [106]:
a = [ 19, 25, 76 ]
print(a)
print(b)
a.extend(b) # la lista a se extenderá con los elementos de la lista b
print(a)

[19, 25, 76]
[3, 13, 2, 56, 76, 16, 87]
[19, 25, 76, 3, 13, 2, 56, 76, 16, 87]

In [107]:
print(a)
print(tuple0)
a.extend(tuple0) # se puede extender incluso con elemento de una tupla
print(a)

[19, 25, 76, 3, 13, 2, 56, 76, 16, 87]
(1, 3, 3, 5, 10, 'py', False)
[19, 25, 76, 3, 13, 2, 56, 76, 16, 87, 1, 3, 3, 5, 10, 'py', False]

In [154]:
print(a.index(76))

2

| Function 	| Definition 	|
| --- | ---  |
| type(list) 	| It returns the class type of an object. 	|
| max(list) 	| It returns an item from the list with max value. 	|
| min(list) 	| It returns an item from the list with min value. 	|
| len(list) 	| It gives the total length of the list. 	|
| list(seq) 	| Converts a tuple into a list. 	|

#### Example 6: Functions

In [114]:
b

[3, 13, 2, 56, 76, 16, 87]

In [115]:
# type of object
print( b )
type( b )

[3, 13, 2, 56, 76, 16, 87]

list

In [116]:
# max
print( b )
max( b )

[3, 13, 2, 56, 76, 16, 87]

87

In [117]:
# min
print( b )
min( b )

[3, 13, 2, 56, 76, 16, 87]

2

In [119]:
# length of a list
print( b )
len( b )

[3, 13, 2, 56, 76, 16, 87]

7

## [Dictionaries](https://realpython.com/python-dicts/)

It is a ordered (Python >= 3.7) and mutable Python container. It does not allow duplicate key. They must be unique.

| Method 	| Definition 	|
| --- | --- |
|clear()|	Removes all the elements from the dictionary|
|copy() |	Returns a copy of the dictionary|
|fromkeys() |	Returns a dictionary with the specified keys and value|
|get() |	Returns the value of the specified key|
|items() |	Returns a list containing a tuple for each key value pair|
|keys() | Returns a list containing the dictionary's keys|
|pop() | Removes the element with the specified key|
|popitem() | Removes the last inserted key-value pair|
|setdefault() | Returns the value of the specified key. <br> If the key does not exist: insert the key, with the specified value|
|update() |	Updates the dictionary with the specified key-value pairs |
|values() | Returns a list of all the values in the dictionary|

#### Example 1

In [121]:
alexander = { 'lastname': "Quispe,", 'age': 28, 'birth_place': "SJL", 'male' : True}
maria = { 'lastname': "rojas", 'age': 27, 'birth_place': "SMP", 'male' : False}
# se puede crear con una o dos comillas, pero se suele usar una comilla para las keys

In [122]:
alexander

{'lastname': 'Quispe,', 'age': 28, 'birth_place': 'SJL', 'male': True}

In [137]:
alexander.keys()

dict_keys(['lastname', 'age', 'birth_place', 'male'])

#### Example 2

In [132]:
last_name = ["Quispe", "Rojas", "Rodriguez"]
ages = [28, 29, 30]
dict_1 = {"lastname"    : last_name,
          "ages"        : ages, 
          "birth_place" : "SJL", 
          'male'        : True}
dict_1

{'lastname': ['Quispe', 'Rojas', 'Rodriguez'],
 'ages': [28, 29, 30],
 'birth_place': 'SJL',
 'male': True}

In [136]:
dict_1.keys()

dict_keys(['lastname', 'ages', 'birth_place', 'male'])

In [138]:
dict_1[0] # la indexación es a través de los keys

KeyError: 0

In [133]:
dict_1["lastname"]

['Quispe', 'Rojas', 'Rodriguez']

In [134]:
dict_1["male"]

True

In [135]:
type(dict_1)

dict

#### Example 3: clear

In [150]:
# dictionary containing the population of the 5 largest german cities
population = {'Berlin': 3748148, 'Hamburg': 1822445, 'Munich': 1471508, 'Cologne': 1085664, 'Frankfurt': 753056 }

In [151]:
# clear
print( population )
type( population )

{'Berlin': 3748148, 'Hamburg': 1822445, 'Munich': 1471508, 'Cologne': 1085664, 'Frankfurt': 753056}

dict

In [152]:
print("this is pre clear: ", population)
population.clear() # limpia la información contenida en el diccionario
print("this is after clear: ", population)

this is pre clear:  {'Berlin': 3748148, 'Hamburg': 1822445, 'Munich': 1471508, 'Cologne': 1085664, 'Frankfurt': 753056}
this is after clear:  {}

#### Example 4: copy

In [159]:
population = {'Berlin': 3748148, 'Hamburg': 1822445, 'Munich': 1471508, 'Cologne': 1085664, 'Frankfurt': 753056 }
pop_2 = population.copy() # pop2 es una copia independiente de population
print(population)
print(pop_2)

{'Berlin': 3748148, 'Hamburg': 1822445, 'Munich': 1471508, 'Cologne': 1085664, 'Frankfurt': 753056}
{'Berlin': 3748148, 'Hamburg': 1822445, 'Munich': 1471508, 'Cologne': 1085664, 'Frankfurt': 753056}

In [160]:
population.clear()
print(population)
print(pop_2)

{}
{'Berlin': 3748148, 'Hamburg': 1822445, 'Munich': 1471508, 'Cologne': 1085664, 'Frankfurt': 753056}

In [163]:
population = {'Berlin': 3748148, 'Hamburg': 1822445, 'Munich': 1471508, 'Cologne': 1085664, 'Frankfurt': 753056 }
pop_3 = population # pop3 es una copia dependiente de population
print(population)
print(pop_3)

{'Berlin': 3748148, 'Hamburg': 1822445, 'Munich': 1471508, 'Cologne': 1085664, 'Frankfurt': 753056}
{'Berlin': 3748148, 'Hamburg': 1822445, 'Munich': 1471508, 'Cologne': 1085664, 'Frankfurt': 753056}

In [164]:
population.clear()
print(population)
print(pop_3)

{}
{}

#### Example 5

In [177]:
population = {'Berlin': 3748148, 'Hamburg': 1822445, 'Munich': 1471508, 'Cologne': 1085664, 'Frankfurt': 753056 }
population["Berlin"]

3748148

In [178]:
# Get information from key (equivalente a la línea anterior)
population.get('Berlin')

3748148

In [179]:
# Get information from key
population.items() # devuelve tuplas en pares ordenados (como si fuera fila por fila)

dict_items([('Berlin', 3748148), ('Hamburg', 1822445), ('Munich', 1471508), ('Cologne', 1085664), ('Frankfurt', 753056)])

In [180]:
population.pop("Frankfurt") # para remover un elemento (no se puede colocar dos keys en pop)

753056

In [181]:
population # ya no aparece Frankfurt

{'Berlin': 3748148, 'Hamburg': 1822445, 'Munich': 1471508, 'Cologne': 1085664}

#### Example 6

In [209]:
stadiums = { "munich":"Alianz Arena", "dormundt": "SIP", "ulm": "VFLULM", "shalke": "GAZPROM"}
stadiums

{'munich': 'Alianz Arena',
 'dormundt': 'SIP',
 'ulm': 'VFLULM',
 'shalke': 'GAZPROM'}

In [210]:
population.update( {"stadiums": stadiums} )
population

{'Berlin': 3748148,
 'Hamburg': 1822445,
 'Munich': 1471508,
 'Bonn': {'population': 100, 'km2': 500, 'president': 'Anzony'},
 'Ulm': 100000,
 'stadiums': {'munich': 'Alianz Arena',
  'dormundt': 'SIP',
  'ulm': 'VFLULM',
  'shalke': 'GAZPROM'}}

In [211]:
print(type(population["Berlin"]))
print(type(population["stadiums"]))

<class 'int'>
<class 'dict'>

#### Example 7: popitem and update

In [212]:
# Drop an item
print(population)
population.popitem( ) # Elimina el último par (clave, valor) del diccionario
print(population)

{'Berlin': 3748148, 'Hamburg': 1822445, 'Munich': 1471508, 'Bonn': {'population': 100, 'km2': 500, 'president': 'Anzony'}, 'Ulm': 100000, 'stadiums': {'munich': 'Alianz Arena', 'dormundt': 'SIP', 'ulm': 'VFLULM', 'shalke': 'GAZPROM'}}
{'Berlin': 3748148, 'Hamburg': 1822445, 'Munich': 1471508, 'Bonn': {'population': 100, 'km2': 500, 'president': 'Anzony'}, 'Ulm': 100000}

In [213]:
# Add an item
print(population)
population.update( { "Bonn" :  327258 } )
population.update( { "Ulm" : 100000  } )
population

{'Berlin': 3748148, 'Hamburg': 1822445, 'Munich': 1471508, 'Bonn': {'population': 100, 'km2': 500, 'president': 'Anzony'}, 'Ulm': 100000}

{'Berlin': 3748148,
 'Hamburg': 1822445,
 'Munich': 1471508,
 'Bonn': 327258,
 'Ulm': 100000}

In [214]:
# Modify an item
print( population )
population.update( { "Munich" :  {"population":100 , "km2" : 500, "president" : "Anzony"} } )
print( population )

{'Berlin': 3748148, 'Hamburg': 1822445, 'Munich': 1471508, 'Bonn': 327258, 'Ulm': 100000}
{'Berlin': 3748148, 'Hamburg': 1822445, 'Munich': {'population': 100, 'km2': 500, 'president': 'Anzony'}, 'Bonn': 327258, 'Ulm': 100000}

#### Example 8: values

In [215]:
# Get all values from all keys
population.values()

dict_values([3748148, 1822445, {'population': 100, 'km2': 500, 'president': 'Anzony'}, 327258, 100000])

In [219]:
print(population)
print(population['Berlin'])
print(population["Munich"].get("km2"))

{'Berlin': 3748148, 'Hamburg': 1822445, 'Munich': {'population': 100, 'km2': 500, 'president': 'Anzony'}, 'Bonn': 327258, 'Ulm': 100000}
3748148
500

#### Example 9: From lists to dictionaries

In [221]:
# keys
cities = ['Fray Martin','Santa Rosa de Puquio','Cuchicorral','Santiago de Punchauca',
          'La Cruz (11 Amigos)','Cerro Cañon','Cabaña Suche','San Lorenzo',
          'Jose Carlos Mariategui','Pascal','La Esperanza','Fundo Pancha Paula','Olfa',
          'Rio Seco','Paraiso','El Rosario','Cerro Puquio','La Campana','Las Animas',
          'Vetancio','Roma Alta','San Jose','San Pedro de Carabayllo','Huacoy',
          'Fundo Pampa Libre','Ex Fundo Santa Ines','Reposo','Carmelito','Santa Elena','Don Luis','Santa Ines Parcela','Asociacion Santa Ines','Roma Baja','Residencial Santa Lucia','San Francisco','Santa Margarita - Molinos','Sipan Peru','Fundo Cuadros','Bello Horizonte','El Hueco','Ex Fundo Mariategui','Naranjito','Vista Hermosa','El Sabroso de Jose Carlos Mariategui','Granja Carabayllo','Agropecuario Valle el Chillon','Camino Real','Copacabana','El Trebol','Tablada la Virgen','San Fernando de Carabayllo','San Fernando de Copacabana','La Manzana','Chacra Grande','Torres de Copacabana','San Pedro de Carabayllo','San Lorenzo','Chaclacayo','Chorrillos','Cieneguilla','Lindero','Pichicato','San Isidro','San Vicente','Piedra Liza','Santa Rosa de Chontay (Chontay)','La Libertad','El Agustino','Independencia','Jesus Maria','La Molina','La Victoria','Lince','Las Palmeras','Chosica','Lurin','Los Almacigos','Rinconada del Puruhuay','Fundo Santa Genoveva','Los Maderos','Casco Viejo','Vista Alegre','Buena Vista Alta','Lomas Pucara','Fundo la Querencia','Magdalena del Mar','Pueblo Libre','Miraflores','Pachacamac','Puente Manchay','Tambo Inga','Pampa Flores','Manchay Alto Lote B','Invasion Cementerio','Manchay Bajo','Santa Rosa de Mal Paso','Cardal','Jatosisa','Tomina','Pucusana','Honda','Quipa','Los Pelicanos','Playa Puerto Bello','Ñaves','Granja Santa Elena','Alvatroz II','Poseidon - Lobo Varado','Playa Minka Mar','Playa Acantilado','Puente Piedra','Punta Hermosa','Capilla Lucumo','Cucuya','Pampapacta','Avicola San Cirilo de Loma Negra - 03','Avicola San Cirilo de Loma Negra - 02','Avicola San Cirilo de Loma Negra - 01','Pampa Mamay','Cerro Botija','Agricultores y Ganaderos','Pampa Malanche Avicola Puma','Punta Negra','Chancheria','Rimac','San Bartolo','Plantel 41','Granja 4','Granja 5','Granja 07','Granja 44','Granja 47','Santa Maria I','Las Torres Santa Fe','San Francisco de Borja','San Isidro','San Juan de Lurigancho','Ciudad de Dios','San Luis','Barrio Obrero Industrial','San Miguel','Santa Anita - los Ficus','Santa Maria del Mar','Don Bruno','Santa Rosa','Santiago de Surco','Surquillo','Villa el Salvador','Villa Maria del Triunfo', 'Pueblo libre']
# values
postal_code = [15001,15003,15004,15006,15018,15019,15046,15072,15079,15081,15082,15083,15088,15123,15004,15011,15012,15019,15022,15023,15026,15476,15479,15483,15487,15491,15494,15498,15047,15049,15063,15082,15083,15121,15122,15313,15316,15318,15319,15320,15321,15324,15320,15320,15320,15320,15320,15320,15121,15320,15320,15121,15320,15320,15121,15121,15122,15122,15121,15121,15121,15320,15320,15320,15320,15320,15320,15121,15121,15121,15320,15121,15319,15121,15121,15121,15320,15320,15121,15121,15121,15121,15320,15320,15320,15122,15122,15122,15122,15122,15122,15122,15122,15121,15121,15122,15122,15121,15121,15122,15122,15121,15122,15122,15122,15472,15476,15054,15056,15057,15058,15063,15064,15066,15067,15593,15594,15593,15593,15593,15593,15593,15593,15593,15311,15312,15313,15314,15316,15324,15326,15327,15328,15332,15003,15004,15006,15007,15008,15009,15011,15018,15022,15311,15328,15331,15332,15333,15046, 15001]

In [222]:
print(type(cities))
print(len(cities))

<class 'list'>
150

In [223]:
print(type(postal_code))
print(len(postal_code))

<class 'list'>
150

In [230]:
list_pc = list(zip(cities , postal_code))
list_pc

[('Fray Martin', 15001),
 ('Santa Rosa de Puquio', 15003),
 ('Cuchicorral', 15004),
 ('Santiago de Punchauca', 15006),
 ('La Cruz (11 Amigos)', 15018),
 ('Cerro Cañon', 15019),
 ('Cabaña Suche', 15046),
 ('San Lorenzo', 15072),
 ('Jose Carlos Mariategui', 15079),
 ('Pascal', 15081),
 ('La Esperanza', 15082),
 ('Fundo Pancha Paula', 15083),
 ('Olfa', 15088),
 ('Rio Seco', 15123),
 ('Paraiso', 15004),
 ('El Rosario', 15011),
 ('Cerro Puquio', 15012),
 ('La Campana', 15019),
 ('Las Animas', 15022),
 ('Vetancio', 15023),
 ('Roma Alta', 15026),
 ('San Jose', 15476),
 ('San Pedro de Carabayllo', 15479),
 ('Huacoy', 15483),
 ('Fundo Pampa Libre', 15487),
 ('Ex Fundo Santa Ines', 15491),
 ('Reposo', 15494),
 ('Carmelito', 15498),
 ('Santa Elena', 15047),
 ('Don Luis', 15049),
 ('Santa Ines Parcela', 15063),
 ('Asociacion Santa Ines', 15082),
 ('Roma Baja', 15083),
 ('Residencial Santa Lucia', 15121),
 ('San Francisco', 15122),
 ('Santa Margarita - Molinos', 15313),
 ('Sipan Peru', 15316),
 ('Fundo Cuadros', 15318),
 ('Bello Horizonte', 15319),
 ('El Hueco', 15320),
 ('Ex Fundo Mariategui', 15321),
 ('Naranjito', 15324),
 ('Vista Hermosa', 15320),
 ('El Sabroso de Jose Carlos Mariategui', 15320),
 ('Granja Carabayllo', 15320),
 ('Agropecuario Valle el Chillon', 15320),
 ('Camino Real', 15320),
 ('Copacabana', 15320),
 ('El Trebol', 15121),
 ('Tablada la Virgen', 15320),
 ('San Fernando de Carabayllo', 15320),
 ('San Fernando de Copacabana', 15121),
 ('La Manzana', 15320),
 ('Chacra Grande', 15320),
 ('Torres de Copacabana', 15121),
 ('San Pedro de Carabayllo', 15121),
 ('San Lorenzo', 15122),
 ('Chaclacayo', 15122),
 ('Chorrillos', 15121),
 ('Cieneguilla', 15121),
 ('Lindero', 15121),
 ('Pichicato', 15320),
 ('San Isidro', 15320),
 ('San Vicente', 15320),
 ('Piedra Liza', 15320),
 ('Santa Rosa de Chontay (Chontay)', 15320),
 ('La Libertad', 15320),
 ('El Agustino', 15121),
 ('Independencia', 15121),
 ('Jesus Maria', 15121),
 ('La Molina', 15320),
 ('La Victoria', 15121),
 ('Lince', 15319),
 ('Las Palmeras', 15121),
 ('Chosica', 15121),
 ('Lurin', 15121),
 ('Los Almacigos', 15320),
 ('Rinconada del Puruhuay', 15320),
 ('Fundo Santa Genoveva', 15121),
 ('Los Maderos', 15121),
 ('Casco Viejo', 15121),
 ('Vista Alegre', 15121),
 ('Buena Vista Alta', 15320),
 ('Lomas Pucara', 15320),
 ('Fundo la Querencia', 15320),
 ('Magdalena del Mar', 15122),
 ('Pueblo Libre', 15122),
 ('Miraflores', 15122),
 ('Pachacamac', 15122),
 ('Puente Manchay', 15122),
 ('Tambo Inga', 15122),
 ('Pampa Flores', 15122),
 ('Manchay Alto Lote B', 15122),
 ('Invasion Cementerio', 15121),
 ('Manchay Bajo', 15121),
 ('Santa Rosa de Mal Paso', 15122),
 ('Cardal', 15122),
 ('Jatosisa', 15121),
 ('Tomina', 15121),
 ('Pucusana', 15122),
 ('Honda', 15122),
 ('Quipa', 15121),
 ('Los Pelicanos', 15122),
 ('Playa Puerto Bello', 15122),
 ('Ñaves', 15122),
 ('Granja Santa Elena', 15472),
 ('Alvatroz II', 15476),
 ('Poseidon - Lobo Varado', 15054),
 ('Playa Minka Mar', 15056),
 ('Playa Acantilado', 15057),
 ('Puente Piedra', 15058),
 ('Punta Hermosa', 15063),
 ('Capilla Lucumo', 15064),
 ('Cucuya', 15066),
 ('Pampapacta', 15067),
 ('Avicola San Cirilo de Loma Negra - 03', 15593),
 ('Avicola San Cirilo de Loma Negra - 02', 15594),
 ('Avicola San Cirilo de Loma Negra - 01', 15593),
 ('Pampa Mamay', 15593),
 ('Cerro Botija', 15593),
 ('Agricultores y Ganaderos', 15593),
 ('Pampa Malanche Avicola Puma', 15593),
 ('Punta Negra', 15593),
 ('Chancheria', 15593),
 ('Rimac', 15311),
 ('San Bartolo', 15312),
 ('Plantel 41', 15313),
 ('Granja 4', 15314),
 ('Granja 5', 15316),
 ('Granja 07', 15324),
 ('Granja 44', 15326),
 ('Granja 47', 15327),
 ('Santa Maria I', 15328),
 ('Las Torres Santa Fe', 15332),
 ('San Francisco de Borja', 15003),
 ('San Isidro', 15004),
 ('San Juan de Lurigancho', 15006),
 ('Ciudad de Dios', 15007),
 ('San Luis', 15008),
 ('Barrio Obrero Industrial', 15009),
 ('San Miguel', 15011),
 ('Santa Anita - los Ficus', 15018),
 ('Santa Maria del Mar', 15022),
 ('Don Bruno', 15311),
 ('Santa Rosa', 15328),
 ('Santiago de Surco', 15331),
 ('Surquillo', 15332),
 ('Villa el Salvador', 15333),
 ('Villa Maria del Triunfo', 15046),
 ('Pueblo libre', 15001)]

In [229]:
# zipeo: juntar información punto a punto
dict_pc = dict(zip(cities , postal_code)) # Return a dictionarie 
dict_pc

{'Fray Martin': 15001,
 'Santa Rosa de Puquio': 15003,
 'Cuchicorral': 15004,
 'Santiago de Punchauca': 15006,
 'La Cruz (11 Amigos)': 15018,
 'Cerro Cañon': 15019,
 'Cabaña Suche': 15046,
 'San Lorenzo': 15122,
 'Jose Carlos Mariategui': 15079,
 'Pascal': 15081,
 'La Esperanza': 15082,
 'Fundo Pancha Paula': 15083,
 'Olfa': 15088,
 'Rio Seco': 15123,
 'Paraiso': 15004,
 'El Rosario': 15011,
 'Cerro Puquio': 15012,
 'La Campana': 15019,
 'Las Animas': 15022,
 'Vetancio': 15023,
 'Roma Alta': 15026,
 'San Jose': 15476,
 'San Pedro de Carabayllo': 15121,
 'Huacoy': 15483,
 'Fundo Pampa Libre': 15487,
 'Ex Fundo Santa Ines': 15491,
 'Reposo': 15494,
 'Carmelito': 15498,
 'Santa Elena': 15047,
 'Don Luis': 15049,
 'Santa Ines Parcela': 15063,
 'Asociacion Santa Ines': 15082,
 'Roma Baja': 15083,
 'Residencial Santa Lucia': 15121,
 'San Francisco': 15122,
 'Santa Margarita - Molinos': 15313,
 'Sipan Peru': 15316,
 'Fundo Cuadros': 15318,
 'Bello Horizonte': 15319,
 'El Hueco': 15320,
 'Ex Fundo Mariategui': 15321,
 'Naranjito': 15324,
 'Vista Hermosa': 15320,
 'El Sabroso de Jose Carlos Mariategui': 15320,
 'Granja Carabayllo': 15320,
 'Agropecuario Valle el Chillon': 15320,
 'Camino Real': 15320,
 'Copacabana': 15320,
 'El Trebol': 15121,
 'Tablada la Virgen': 15320,
 'San Fernando de Carabayllo': 15320,
 'San Fernando de Copacabana': 15121,
 'La Manzana': 15320,
 'Chacra Grande': 15320,
 'Torres de Copacabana': 15121,
 'Chaclacayo': 15122,
 'Chorrillos': 15121,
 'Cieneguilla': 15121,
 'Lindero': 15121,
 'Pichicato': 15320,
 'San Isidro': 15004,
 'San Vicente': 15320,
 'Piedra Liza': 15320,
 'Santa Rosa de Chontay (Chontay)': 15320,
 'La Libertad': 15320,
 'El Agustino': 15121,
 'Independencia': 15121,
 'Jesus Maria': 15121,
 'La Molina': 15320,
 'La Victoria': 15121,
 'Lince': 15319,
 'Las Palmeras': 15121,
 'Chosica': 15121,
 'Lurin': 15121,
 'Los Almacigos': 15320,
 'Rinconada del Puruhuay': 15320,
 'Fundo Santa Genoveva': 15121,
 'Los Maderos': 15121,
 'Casco Viejo': 15121,
 'Vista Alegre': 15121,
 'Buena Vista Alta': 15320,
 'Lomas Pucara': 15320,
 'Fundo la Querencia': 15320,
 'Magdalena del Mar': 15122,
 'Pueblo Libre': 15122,
 'Miraflores': 15122,
 'Pachacamac': 15122,
 'Puente Manchay': 15122,
 'Tambo Inga': 15122,
 'Pampa Flores': 15122,
 'Manchay Alto Lote B': 15122,
 'Invasion Cementerio': 15121,
 'Manchay Bajo': 15121,
 'Santa Rosa de Mal Paso': 15122,
 'Cardal': 15122,
 'Jatosisa': 15121,
 'Tomina': 15121,
 'Pucusana': 15122,
 'Honda': 15122,
 'Quipa': 15121,
 'Los Pelicanos': 15122,
 'Playa Puerto Bello': 15122,
 'Ñaves': 15122,
 'Granja Santa Elena': 15472,
 'Alvatroz II': 15476,
 'Poseidon - Lobo Varado': 15054,
 'Playa Minka Mar': 15056,
 'Playa Acantilado': 15057,
 'Puente Piedra': 15058,
 'Punta Hermosa': 15063,
 'Capilla Lucumo': 15064,
 'Cucuya': 15066,
 'Pampapacta': 15067,
 'Avicola San Cirilo de Loma Negra - 03': 15593,
 'Avicola San Cirilo de Loma Negra - 02': 15594,
 'Avicola San Cirilo de Loma Negra - 01': 15593,
 'Pampa Mamay': 15593,
 'Cerro Botija': 15593,
 'Agricultores y Ganaderos': 15593,
 'Pampa Malanche Avicola Puma': 15593,
 'Punta Negra': 15593,
 'Chancheria': 15593,
 'Rimac': 15311,
 'San Bartolo': 15312,
 'Plantel 41': 15313,
 'Granja 4': 15314,
 'Granja 5': 15316,
 'Granja 07': 15324,
 'Granja 44': 15326,
 'Granja 47': 15327,
 'Santa Maria I': 15328,
 'Las Torres Santa Fe': 15332,
 'San Francisco de Borja': 15003,
 'San Juan de Lurigancho': 15006,
 'Ciudad de Dios': 15007,
 'San Luis': 15008,
 'Barrio Obrero Industrial': 15009,
 'San Miguel': 15011,
 'Santa Anita - los Ficus': 15018,
 'Santa Maria del Mar': 15022,
 'Don Bruno': 15311,
 'Santa Rosa': 15328,
 'Santiago de Surco': 15331,
 'Surquillo': 15332,
 'Villa el Salvador': 15333,
 'Villa Maria del Triunfo': 15046,
 'Pueblo libre': 15001}

### Excersises
1. Write a Python script to check whether Lima is a key of ct_pc.
2. Write a Python script to join two Python dictionaries.
3. Write a Python script to add a key to a dictionary.

## [Numpy](https://numpy.org/doc/stable/user/numpy-for-matlab-users.html)
Numpy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. If you are already familiar with MATLAB, you might find this tutorial useful to get started with Numpy.

### Arrays
A numpy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. The number of dimensions is the rank of the array; the shape of an array is a tuple of integers giving the size of the array along each dimension.

In [93]:
import numpy as np

In [94]:
a = np.array( [1, 2, 3, 4, 5] )

In [95]:
a

array([1, 2, 3, 4, 5])

In [96]:
# 1D array
a = np.array( [1, 2, 3, 4, 5] )
print(a)

[1 2 3 4 5]

In [97]:
# 2D array
M = np.array( [ [1, 2, 3], [4, 5, 6] ] )

print(M)

[[1 2 3]
 [4 5 6]]

In [ ]:
X = np.array( [ [1, 2, 3, 4], [4, 5, 6, 7] ] )
X

|Function|	Description|
| --- |--- |
|np.array(a) |	Create -dimensional np array from sequence a|
|np.linspace(a,b,N) |	Create 1D np array with N equally spaced values <br> from a to b (inclusively)|
|np.arange(a,b,step) |	Create 1D np array with values from a to b (exclusively) <br> incremented by step|
|np.zeros(N)	| Create 1D np array of zeros of length |
|np.zeros((n,m)) |	Create 2D np array of zeros with  rows and  columns|
|np.ones(N) |	Create 1D np array of ones of length |
|np.ones((n,m))|	Create 2D np array of ones with  rows and  columns|
|np.eye(N)	| Create 2D np array with  rows and  columns  <br> with ones on the diagonal  (ie. the identity matrix of size )|
|np.concatenate( )|Join a sequence of arrays along an existing axis|
|np.hstack( )|Stack arrays in sequence horizontally(column wise)|
|np.vstack( )|Stack arrays in sequence vertically(row wise)|
|np.column_stack( )|Stack 1-D arrays as columns into a 2-D array|
|np.random.normal() | Draw random samples from a normal (Gaussian) distribution. |
|np.linalg.inv() | Compute the (multiplicative) inverse of a matrix. |
|np.dot() / @  | Matrix Multiplication. |

In [98]:
# Create a 1D NumPy array with 11 equally spaced values from 0 to 1:
x = np.linspace( 0, 1, 11 )
print(x)

[0.  0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1. ]

In [103]:
# Create a 1D NumPy array with values from 0 to 20 (exclusively) incremented by 5:
y = np.arange( 0, 20, 1 )
print(y)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]

In [104]:
# Create a 1D NumPy array of zeros of length 5:
z = np.zeros(5)
print(z)

[0. 0. 0. 0. 0.]

In [105]:
# Create a 2D NumPy array of zeros of shape ( 5, 10 ) :
M = np.zeros( (5, 10) )
print(M)

[[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]]

In [106]:
# Create a 1D NumPy array of ones of length 7:
w = np.ones(7)
print(w)

[1. 1. 1. 1. 1. 1. 1.]

In [107]:
# Create a 2D NumPy array of ones with 35ows and 25 columns:
N = np.ones( (5, 5) )
print(N)

[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]

In [112]:
np.eye(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [113]:
# Create the identity matrix of size 10:
I = np.eye(10)
print(I)

[[1. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 1. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 1. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 1. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 1. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 1. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 1. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 1.]]

In [114]:
# Shape
print( I.shape )

(10, 10)

In [116]:
# Size
print(I.size)

100

In [117]:
# Concateante
g = np.array([[5,6],[7,8]])
g

array([[5, 6],
       [7, 8]])

In [118]:
h = np.array([[1,2]])
h

array([[1, 2]])

In [119]:
print(g, "\n")
print(h , "\n")

[[5 6]
 [7 8]]

[[1 2]]

In [120]:
g.shape

(2, 2)

In [121]:
h.shape

(1, 2)

In [127]:
h.shape

(1, 2)

In [128]:
h_2 = h.reshape(2, 1)
h_2

array([[1],
       [2]])

In [130]:
g

array([[5, 6],
       [7, 8]])

In [131]:
g_h = np.concatenate((g, h_2), axis = 1)
g_h

array([[5, 6, 1],
       [7, 8, 2]])

In [ ]:
h_2 = h.reshape(2, 1)
h_2

In [132]:
jesus = np.hstack((g,h_2))
jesus

array([[5, 6, 1],
       [7, 8, 2]])

In [133]:
# vstack 
x = np.array([1,1,1])
y = np.array([2,2,2])
z = np.array([3,3,3])

array([3, 3, 3])

In [137]:
vstacked = np.vstack( (x, y, z) )
vstacked

array([[1, 1, 1],
       [2, 2, 2],
       [3, 3, 3]])

In [138]:
vstacked = np.vstack((x,y,z))
print(vstacked)

[[1 1 1]
 [2 2 2]
 [3 3 3]]

In [139]:
# hstack 
hstacked = np.hstack((x,y,z))
print(hstacked)

[1 1 1 2 2 2 3 3 3]

### OLS with Numpy

In [ ]:
x0.reshape(-1, 1).shape

In [ ]:
# X data generation
n_data = 200
x1 = np.linspace(200, 500, n_data)
x0 = np.ones(n_data)
X = np.hstack(( x0.reshape(-1, 1 ) , x1.reshape(-1, 1 ) ))
X.shape

In [ ]:
# select parameters
beta = np.array([5, -2]).reshape(-1, 1 )
beta.shape

In [ ]:
# y ture
y_true = X @ beta
y_true.shape

In [ ]:
y_true

In [ ]:
y_true + (np.random.normal(0, 1, n_data) * 20).reshape(-1, 1)

In [ ]:
#   add random normal noise
sigma = 20
y_actual = y_true + (np.random.normal(0, 1, n_data) * sigma).reshape(-1, 1)
print(y_actual[0:4, :])

The matrix equation for the estimated linear parameters is as below:
$${\hat {\beta }}=(X^{T}X)^{-1}X^{T}y.$$

In [ ]:
# estimations
beta_estimated = np.linalg.inv(X.T @ X) @ X.T @ y_actual

In [ ]:
import matplotlib.pyplot as plt

plt.plot(x1, y_actual, 'o')
plt.plot(x1, y_true, 'g-', c = 'black')

Calculate the sum of squared residual errors
$$
RSS=y^{T}y-y^{T}X(X^{T}X)^{{-1}}X^{T}y
$$

In [ ]:
y_actual

In [ ]:
RSS = ( y_actual.T @ y_actual - y_actual.T @ X @ np.linalg.inv(X.T @ X) @ X.T @ y_actual )

Calculated the Total Sum of Squares of the spread of the actual (noisy) values around their mean
$$
TSS=(y-{\bar  y})^{T}(y-{\bar  y})=y^{T}y-2y^{T}{\bar  y}+{\bar  y}^{T}{\bar  y}
$$

In [ ]:
y_mean = ( np.ones(n_data) * np.mean(y_actual) ).reshape( -1 , 1 )
TSS = (y_actual - y_mean).T @ (y_actual - y_mean)
TSS

In [ ]:
# get predictions
y_pred = X @ beta_estimated

Calculate the Sum of Squares of the spread of the predictions around their mean.
$$
ESS=({\hat  y}-{\bar  y})^{T}({\hat  y}-{\bar  y})={\hat  y}^{T}{\hat  y}-2{\hat  y}^{T}{\bar  y}+{\bar  y}^{T}{\bar  y}
$$

In [ ]:
ESS = (y_pred - y_mean).T @ (y_pred - y_mean)

ESS

In [ ]:
TSS, ESS + RSS

Get $R^2$
$$
1 - RSS / TSS
$$

In [ ]:
1 - RSS / TSS

###  Standard error of regression
Calculate the standard error of the regression. We divide by `(n-2)`, because the Expectation of the sum of squares is `(n-2)*sigma^2`.

In [ ]:
sr2 = ( (1 / (n_data - 2)) * (y_pred - y_actual).T  @ (y_pred - y_actual))
sr = np.sqrt(sr2)
sr

### Get variance and covariance Matrix
In order to get the standard errors for our linear parameters, we use the matrix formula below:
$$
Var(β^)=σ^2(X′X)^{-1}
$$

In [ ]:
var_beta = sr2 * np.linalg.inv(X.T @ X)
var_beta

In [ ]:
print(
    f'Std Error for b0 {np.sqrt(var_beta[0, 0])}, \nStd Error for b1 {np.sqrt(var_beta[1, 1])}'
)

In [ ]:
pwd