In [1]:
import os
import os
import pickle
import pandas as pd
import numpy as np

1. Import the `REC0111.sav`, `RE223132.sav` and `RE516171.sav` files and their variables and values labels from this path `"../../_data/endes/2019"`. The name of imported files should be named as `rec_1`, `rec_2` and `rec_3` for files `REC0111.sav`, `RE223132.sav` and `RE516171.sav` respectively. The name of the variable and value labels should be `var_labels1` and `value_labels1` for `rec1`, `var_labels2` and `value_labels2` for `rec2`, and `var_labels3` and `value_labels3` for `rec3`. **Hint: See the section 3.3.4 of [the lecture 3](https://github.com/alexanderquispe/Diplomado_PUCP/blob/main/Lecture_3/Lecture_3.ipynb)**

In [2]:
pip install pyreadstat

Requirement already satisfied: pyreadstat in c:\users\josue\anaconda3\lib\site-packages (1.2.5)
Requirement already satisfied: pandas>=1.2.0 in c:\users\josue\anaconda3\lib\site-packages (from pyreadstat) (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\josue\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\josue\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2023.3.post1)
Requirement already satisfied: numpy>=1.18.5 in c:\users\josue\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\users\josue\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=1.2.0->pyreadstat) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pyreadstat

In [4]:

# File paths for the .sav files
file_paths = {
    "REC0111.sav": "../../_data/endes/2019/REC0111.sav",
    "RE223132.sav": "../../_data/endes/2019/RE223132.sav",
    "RE516171.sav": "../../_data/endes/2019/RE516171.sav"
}

# Initialize dictionaries to store dataframes, variable labels, and value labels
dataframes = {}
var_labels = {}
value_labels = {}

# Read each .sav file and store its contents and metadata
for file_name, file_path in file_paths.items():
    df, meta = pyreadstat.read_sav(file_path)
    dataframes[file_name] = df
    var_labels[file_name] = meta.column_labels  # Updated this line
    value_labels[file_name] = meta.variable_value_labels

# Assigning the dataframes and labels to the specified names
rec_1, rec_2, rec_3 = [dataframes[file] for file in file_paths]
var_labels1, var_labels2, var_labels3 = [var_labels[file] for file in file_paths]
value_labels1, value_labels2, value_labels3 = [value_labels[file] for file in file_paths]

# Displaying the first few rows of each dataframe as an example
print(rec_1.head())
print(rec_2.head())
print(rec_3.head())

      ID1             HHID              CASEID  V001  V002  V003  V004  \
0  2019.0        000100201        000100201  2   1.0   2.0   2.0   1.0
1  2019.0        000100201        000100201  3   1.0   2.0   3.0   1.0
2  2019.0        000102801        000102801  2   1.0  28.0   2.0   1.0
3  2019.0        000102801        000102801  6   1.0  28.0   6.0   1.0
4  2019.0        000104801        000104801  2   1.0  48.0   2.0   1.0

     V007    V008  V009  ...  QD333_4  QD333_5  QD333_6  UBIGEO  V022  \
0  2019.0  1434.0   4.0  ...      2.0      2.0      2.0  010101   3.0
1  2019.0  1434.0   1.0  ...      2.0      2.0      2.0  010101   3.0
2  2019.0  1434.0   6.0  ...      2.0      2.0      2.0  010101   3.0
3  2019.0  1434.0   3.0  ...      2.0      2.0      2.0  010101   3.0
4  2019.0  1434.0   5.0  ...      2.0      2.0      2.0  010101   3.0

       V005  V190      V191  mujeres12a49  NCONGLOME
0  154803.0   4.0  1.234450           2.0     7065.0
1  154803.0   4.0  1.234450           0.0     7065.0
2  154803.0   4.0  1.295611           2.0     7065.0
3  154803.0   4.0  1.295611           2.0     7065.0
4  154803.0   2.0 -0.256431           2.0     7065.0

[5 rows x 105 columns]
      ID1              CASEID  V201  V202  V203  V204  V205  V206  V207  V208  \
0  2019.0        000100201  2   2.0   1.0   1.0   0.0   0.0   0.0   0.0   1.0
1  2019.0        000100201  3   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2  2019.0        000102801  2   3.0   1.0   2.0   0.0   0.0   0.0   0.0   2.0
3  2019.0        000102801  6   3.0   1.0   0.0   2.0   0.0   0.0   0.0   0.0
4  2019.0        000104801  2   3.0   1.0   2.0   0.0   0.0   0.0   0.0   1.0

   ...  V307_09  V307_10  V307_11  V307_12  V307_13  V307_14  V307_15  \
0  ...      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1  ...      NaN      NaN      NaN      NaN      NaN      NaN      NaN
2  ...      0.0      0.0      NaN      NaN      NaN      NaN      NaN
3  ...      NaN      NaN      NaN      NaN      NaN      NaN      NaN
4  ...      NaN      NaN      NaN      NaN      NaN      NaN      NaN

   V307_16  QI302_05A  QI302_05B
0      0.0        1.0        2.0
1      NaN        NaN        NaN
2      0.0        2.0        1.0
3      NaN        2.0        2.0
4      NaN        2.0        1.0

[5 rows x 176 columns]
      ID1              CASEID  V501  V502  V503  V504  V505  V506  V507  \
0  2019.0        000100201  2   1.0   1.0   1.0   1.0   NaN   NaN   1.0
1  2019.0        000102801  2   2.0   1.0   1.0   1.0   NaN   NaN  12.0
2  2019.0        000102801  6   5.0   2.0   1.0   NaN   NaN   NaN   8.0
3  2019.0        000104801  2   2.0   1.0   1.0   1.0   NaN   NaN  12.0
4  2019.0        000113601  2   2.0   1.0   2.0   1.0   NaN   NaN  12.0

     V508  ...  V743C  V743D  V743E  V743F  V744A  V744B  V744C  V744D  V744E  \
0  2008.0  ...    1.0    2.0    1.0    4.0    0.0    0.0    0.0    0.0    0.0
1  2011.0  ...    2.0    1.0    1.0    2.0    0.0    0.0    0.0    0.0    0.0
2  1984.0  ...    NaN    NaN    NaN    NaN    0.0    0.0    0.0    0.0    0.0
3  2009.0  ...    1.0    1.0    1.0    1.0    0.0    0.0    0.0    0.0    0.0
4  2005.0  ...    1.0    1.0    2.0    4.0    0.0    0.0    0.0    0.0    0.0

   V746
0   1.0
1   2.0
2   NaN
3   NaN
4   2.0

[5 rows x 84 columns]

In [5]:
rec_1

,ID1,HHID,CASEID,V001,V002,V003,V004,V007,V008,V009,...,QD333_4,QD333_5,QD333_6,UBIGEO,V022,V005,V190,V191,mujeres12a49,NCONGLOME
0,2019.0,000100201,000100201 2,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,...,2.0,2.0,2.0,010101,3.0,154803.0,4.0,1.234450,2.0,7065.0
1,2019.0,000100201,000100201 3,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,...,2.0,2.0,2.0,010101,3.0,154803.0,4.0,1.234450,0.0,7065.0
2,2019.0,000102801,000102801 2,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,...,2.0,2.0,2.0,010101,3.0,154803.0,4.0,1.295611,2.0,7065.0
3,2019.0,000102801,000102801 6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,...,2.0,2.0,2.0,010101,3.0,154803.0,4.0,1.295611,2.0,7065.0
4,2019.0,000104801,000104801 2,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,...,2.0,2.0,2.0,010101,3.0,154803.0,2.0,-0.256431,2.0,7065.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38330,2019.0,325406201,325406201 2,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,...,2.0,2.0,2.0,250401,249.0,244995.0,1.0,-1.750187,2.0,15783.0
38331,2019.0,325406301,325406301 2,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,...,2.0,2.0,2.0,250401,249.0,244995.0,1.0,-1.676861,2.0,15783.0
38332,2019.0,325407001,325407001 2,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,...,2.0,2.0,2.0,250401,249.0,459792.0,1.0,-1.585333,2.0,15783.0
38333,2019.0,325407201,325407201 2,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,...,2.0,2.0,2.0,250401,249.0,459792.0,1.0,-1.650159,2.0,15783.0
38334,2019.0,325407401,325407401 2,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,...,2.0,2.0,2.0,250401,249.0,244995.0,1.0,-1.644720,2.0,15783.0

2. Select the following columns for each data set:
|Data|Columns|
|---|---|
|rec1| CASEID, V000, V001, V002, V003, V004, V007, V008, V009, V010, V011, V012, V024, V102, V120, V121, V122, V123, V124, V125, V127, V133 |
|rec2| CASEID, V201, V218, V301, V302, V323, V323A, V325A, V326, V327, V337, V359, V360, V361, V362, V363, V364, V367, V372, V372A, V375A, V376, V376A, V379, V380 |
|rec3| CASEID, V501, V502, V503, V504, V505, V506, V507, V508, V509, V510, V511, V512, V513, V525, V613, V714, V715 |


Additioanlly, you should update the variables and value labels objects. They must have information only for the selected columns. The new dataframes should be name as `rec1_1`, `rec2_1`, and `rec3_1`. The new varible labels objects should be named as `new_var_labels1`, `new_var_labels2`, and `new_var_labels3`. The new value labels objects should be named as `new_value_labels1`, `new_value_labels2`, and `new_value_labels3` **Hint: Use the `loc` and column names to filter, `for loop`,   and [this link](https://stackoverflow.com/questions/3420122/filter-dict-to-contain-only-certain-keys) to update the var and value dictionary.**

In [6]:
# Column names to be selected for each dataframe
columns_rec1 = ["CASEID", "V000", "V001", "V002", "V003", "V004", "V007", "V008", "V009", "V010", "V011", "V012", "V024", "V102", "V120", "V121", "V122", "V123", "V124", "V125", "V127", "V133"]
columns_rec2 = ["CASEID", "V201", "V218", "V301", "V302", "V323", "V323A", "V325A", "V326", "V327", "V337", "V359", "V360", "V361", "V362", "V363", "V364", "V367", "V372", "V372A", "V375A", "V376", "V376A", "V379", "V380"]
columns_rec3 = ["CASEID", "V501", "V502", "V503", "V504", "V505", "V506", "V507", "V508", "V509", "V510", "V511", "V512", "V513", "V525", "V613", "V714", "V715"]

# Selecting columns
rec1_1 = rec_1.loc[:, columns_rec1]
rec2_1 = rec_2.loc[:, columns_rec2]
rec3_1 = rec_3.loc[:, columns_rec3]

# Función para actualizar las etiquetas de valor
def update_value_labels(original_value_labels, selected_columns):
    return {key: value for key, value in original_value_labels.items() if key in selected_columns}

# Actualizar solo las etiquetas de valor si son diccionarios
new_value_labels1 = update_value_labels(value_labels1, columns_rec1)
new_value_labels2 = update_value_labels(value_labels2, columns_rec2)
new_value_labels3 = update_value_labels(value_labels3, columns_rec3)

In [7]:
rec1_1

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V024,V102,V120,V121,V122,V123,V124,V125,V127,V133
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,33.0,16.0
1,000100201 3,PE6,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,2007.0,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,33.0,6.0
2,000102801 2,PE6,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,33.0,16.0
3,000102801 6,PE6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,33.0,4.0
4,000104801 2,PE6,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38330,325406201 2,PE6,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,1971.0,...,25.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,4.0
38331,325406301 2,PE6,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,1988.0,...,25.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,6.0
38332,325407001 2,PE6,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,1973.0,...,25.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,3.0
38333,325407201 2,PE6,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,1994.0,...,25.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,9.0
38334,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,25.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,9.0

3. Generate a new column for `rec1_1` named as `year`. It should be equal to `2019`. Also, you must update this new variable for the `var_labels` dictionary. Generate a new key for `new_var_labels1` and the value for this key should be **"Year of the survey"** **Hint: Use `loc` and `update` method.**

In [8]:
# Generar la nueva columna 'year' para rec_1_1

rec1_1.loc[:, 'year'] = 2019

# Añadir nueva etiqueta 'Year of the survey' a las etiquetas de variables

var_labels1.append('Year of the survey')

In [9]:
rec1_1

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V102,V120,V121,V122,V123,V124,V125,V127,V133,year
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,33.0,16.0,2019
1,000100201 3,PE6,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,2007.0,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,33.0,6.0,2019
2,000102801 2,PE6,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,33.0,16.0,2019
3,000102801 6,PE6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,33.0,4.0,2019
4,000104801 2,PE6,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0,1.0,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38330,325406201 2,PE6,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,1971.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,4.0,2019
38331,325406301 2,PE6,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,1988.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,6.0,2019
38332,325407001 2,PE6,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,1973.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,3.0,2019
38333,325407201 2,PE6,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,1994.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,9.0,2019
38334,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,9.0,2019

4. Merge `rec1_1`, `rec2_1`, and `rec3_1` using **CASEID**. Name this new object as `endes_2019`. **Hint: Use [this link](https://stackoverflow.com/questions/53645882/pandas-merging-101)**

In [10]:
endes_2019 = rec1_1.merge(rec2_1, on='CASEID', how='inner').merge(rec3_1, on='CASEID', how='inner')

In [11]:
endes_2019

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V508,V509,V510,V511,V512,V513,V525,V613,V714,V715
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,2008.0,1297.0,1.0,21.0,11.0,3.0,17.0,2.0,1.0,11.0
1,000102801 2,PE6,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,2011.0,1344.0,1.0,28.0,7.0,2.0,18.0,3.0,1.0,14.0
2,000102801 6,PE6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,1984.0,1016.0,5.0,14.0,34.0,7.0,14.0,0.0,0.0,6.0
3,000104801 2,PE6,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,2009.0,1320.0,1.0,18.0,9.0,2.0,15.0,2.0,0.0,6.0
4,000113601 2,PE6,1.0,136.0,2.0,1.0,2019.0,1434.0,11.0,1988.0,...,2005.0,1272.0,1.0,17.0,13.0,3.0,15.0,2.0,1.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33306,325406201 2,PE6,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,1971.0,...,1985.0,1032.0,1.0,14.0,34.0,7.0,12.0,3.0,0.0,5.0
33307,325406301 2,PE6,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,1988.0,...,2002.0,1236.0,1.0,14.0,17.0,4.0,12.0,3.0,0.0,7.0
33308,325407001 2,PE6,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,1973.0,...,1986.0,1043.0,1.0,13.0,33.0,7.0,12.0,4.0,0.0,5.0
33309,325407201 2,PE6,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,1994.0,...,2008.0,1301.0,1.0,13.0,11.0,3.0,13.0,2.0,0.0,11.0
33310,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,2013.0,1362.0,1.0,16.0,6.0,2.0,15.0,2.0,0.0,11.0

5. Unify all the `new_var_labels` in one object and `new_value_labels` in another one object. Name these two objects as `var_labels` and `value_labels`. Use them to generate new attributes for `endes_2019`. These attributes should be named as `var_labels` and `value_labels`. **Hint: Use `update` method.**

In [12]:
# Convertir listas de etiquetas de variables a diccionarios
def labels_to_dict(column_names, labels):
    return dict(zip(column_names, labels))

# Asumiendo que var_labels1, var_labels2 y var_labels3 son listas, los convertimos en diccionarios
var_labels1_dict = labels_to_dict(columns_rec1, var_labels1)
var_labels2_dict = labels_to_dict(columns_rec2, var_labels2)
var_labels3_dict = labels_to_dict(columns_rec3, var_labels3)

# Unificar var_labels
combined_var_labels = {}
combined_var_labels.update(var_labels1_dict)
combined_var_labels.update(var_labels2_dict)
combined_var_labels.update(var_labels3_dict)

# Unificar value_labels
combined_value_labels = {}
combined_value_labels.update(new_value_labels1)
combined_value_labels.update(new_value_labels2)
combined_value_labels.update(new_value_labels3)

# Asignar los diccionarios combinados a endes_2019
endes_2019.var_labels = combined_var_labels
endes_2019.value_labels = combined_value_labels

C:\Users\josue\AppData\Local\Temp\ipykernel_13116\1371913307.py:23: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  endes_2019.var_labels = combined_var_labels
C:\Users\josue\AppData\Local\Temp\ipykernel_13116\1371913307.py:24: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  endes_2019.value_labels = combined_value_labels

## 6. Replicate using `loop`

6. Now, replicate your code of the prevoius sections but for years **2019, 2018, 2017, 2016, 2015**. Import the `REC0111.sav`, `RE223132.sav` and `RE516171.sav` files and their **variables and values labels** from this path `"../../_data/endes/"`. For this excersie you must use a for loop. This loop must iterate over **2019, 2018, 2017, 2016, 2015 folders** and import these files. All the files have the same name. You must store these files and their labels in a nested dictionary named as `all_data`. The keys of the dictionary should be named as `year_2019`, for example, and the keys of the nested dictionary should be `data`, `var_labels`, and `value_labels`. **Hint: Use [this link](https://notebooks.githubusercontent.com/view/ipynb?browser=chrome&color_mode=auto&commit=4d6de78e00e7001f16bf6473c2eb7ce24fb611cd&device=unknown_device&enc_url=68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f616c6578616e6465727175697370652f4469706c6f6d61646f5f505543502f346436646537386530306537303031663136626636343733633265623763653234666236313163642f4c6563747572655f342f4c6563747572655f342e6970796e62&logged_in=true&nwo=alexanderquispe%2FDiplomado_PUCP&path=Lecture_4%2FLecture_4.ipynb&platform=windows&repository_id=427747212&repository_type=Repository&version=95#4.2.)**

In [13]:
import pyreadstat
import pandas as pd
import savReaderWriter as sav
# Range of years
years_range = range(2015, 2020)  # Years from 2015 to 2019 (inclusive)

# Initialize dictionaries to store dataframes, variable labels, and value labels
all_data = {}
# Loop through each year in the range
for year in years_range:
    # Generate file path for the current year
    files = ["REC0111","RE223132","RE516171"]
    i = 1
    # Save value labels and variable labels
    combined_value_labels = {}
    combined_var_labels = {}
    for file in files: 
        # Create path by year-current data
        file_path = f"../../_data/endes/{year}/{file}.sav"
        rec_df = pd.read_spss(file_path)
        print(file_path)
        
        # Obtain metadata
        with sav.SavHeaderReader(file_path, ioUtf8=True) as header:
            metadata = header.all()
        # Save variable labels and value labels
        value_labels = metadata.valueLabels
        var_labels = metadata.varLabels
        # Adding labels from sav file    
        rec_df.attrs[ 'var_labels' ] = var_labels
        rec_df.attrs[ 'value_labels' ] = value_labels
        
        # Assign a name to the DataFrame based on the index
        rec_df_name = f"rec_{i}"
        globals()[rec_df_name] = rec_df     
        # Var labels
        rec_var_name = f"var_labels{i}"
        globals()[rec_var_name] = var_labels
        # Value labels
        rec_val_name = f"value_labels{i + 1}"
        globals()[rec_val_name] = value_labels
        # Subset each column by specific colnames
        rec_sdf_name = f"rec{i}_1"
        # Create a subset DataFrame only if the specified columns exist
        columns_to_subset = globals()[f"columns_rec{i}"]
        if all(column in rec_df.columns for column in columns_to_subset):
            globals()[f"rec_sdf_{i}"] = rec_df.loc[:, columns_to_subset]
            globals()[f"columns_rec{i}"] = labels_to_dict(globals()[f"columns_rec{i}"], globals()[f"var_labels{i}"])
        if i == 1:
            # When we upload all data, we gonna include a year column
            rec1_1.loc[:, 'year'] = year
            # Añadir nueva etiqueta 'Year of the survey' a las etiquetas de variables
            var_labels1['year'] = 'Year of the survey'
        # Value labels
        combined_var_labels.update(labels_to_dict(globals()[f"columns_rec{i}"], globals()[f"var_labels{i}"]))
        #Variable labels
        combined_value_labels.update(update_value_labels(globals()[f"value_labels{i}"], globals()[f"columns_rec{i}"]))
        i = i + 1
    # Merge data
    globals()[f"endes_{year}"] =rec1_1.merge(rec2_1, on='CASEID', how='inner').merge(rec3_1, on='CASEID', how='inner')
    # Include variable labels
    globals()[f"endes_{year}"].var_labels = combined_var_labels
    # Include values labels
    globals()[f"endes_{year}"].value_labels = combined_value_labels
    # Create dictionary
    all_data[f"year_{year}"] = {'data': globals()[f"endes_{year}"], 'var_labels': combined_var_labels, 'value_labels': combined_value_labels}

../../_data/endes/2015/REC0111.sav
../../_data/endes/2015/RE223132.sav
../../_data/endes/2015/RE516171.sav

C:\Users\josue\AppData\Local\Temp\ipykernel_13116\4118650581.py:62: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  globals()[f"endes_{year}"].var_labels = combined_var_labels
C:\Users\josue\AppData\Local\Temp\ipykernel_13116\4118650581.py:64: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  globals()[f"endes_{year}"].value_labels = combined_value_labels

../../_data/endes/2016/REC0111.sav

C:\Users\josue\AppData\Local\Temp\ipykernel_13116\4118650581.py:47: FutureWarning: Passing a dict as an indexer is deprecated and will raise in a future version. Use a list instead.
  globals()[f"rec_sdf_{i}"] = rec_df.loc[:, columns_to_subset]

../../_data/endes/2016/RE223132.sav

C:\Users\josue\AppData\Local\Temp\ipykernel_13116\4118650581.py:47: FutureWarning: Passing a dict as an indexer is deprecated and will raise in a future version. Use a list instead.
  globals()[f"rec_sdf_{i}"] = rec_df.loc[:, columns_to_subset]

../../_data/endes/2016/RE516171.sav

C:\Users\josue\AppData\Local\Temp\ipykernel_13116\4118650581.py:47: FutureWarning: Passing a dict as an indexer is deprecated and will raise in a future version. Use a list instead.
  globals()[f"rec_sdf_{i}"] = rec_df.loc[:, columns_to_subset]
C:\Users\josue\AppData\Local\Temp\ipykernel_13116\4118650581.py:62: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  globals()[f"endes_{year}"].var_labels = combined_var_labels
C:\Users\josue\AppData\Local\Temp\ipykernel_13116\4118650581.py:64: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  globals()[f"endes_{year}"].value_labels = combined_value_labels

../../_data/endes/2017/REC0111.sav

C:\Users\josue\AppData\Local\Temp\ipykernel_13116\4118650581.py:47: FutureWarning: Passing a dict as an indexer is deprecated and will raise in a future version. Use a list instead.
  globals()[f"rec_sdf_{i}"] = rec_df.loc[:, columns_to_subset]

../../_data/endes/2017/RE223132.sav

C:\Users\josue\AppData\Local\Temp\ipykernel_13116\4118650581.py:47: FutureWarning: Passing a dict as an indexer is deprecated and will raise in a future version. Use a list instead.
  globals()[f"rec_sdf_{i}"] = rec_df.loc[:, columns_to_subset]

../../_data/endes/2017/RE516171.sav

C:\Users\josue\AppData\Local\Temp\ipykernel_13116\4118650581.py:47: FutureWarning: Passing a dict as an indexer is deprecated and will raise in a future version. Use a list instead.
  globals()[f"rec_sdf_{i}"] = rec_df.loc[:, columns_to_subset]
C:\Users\josue\AppData\Local\Temp\ipykernel_13116\4118650581.py:62: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  globals()[f"endes_{year}"].var_labels = combined_var_labels
C:\Users\josue\AppData\Local\Temp\ipykernel_13116\4118650581.py:64: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  globals()[f"endes_{year}"].value_labels = combined_value_labels

../../_data/endes/2018/REC0111.sav
../../_data/endes/2018/RE223132.sav

C:\Users\josue\AppData\Local\Temp\ipykernel_13116\4118650581.py:47: FutureWarning: Passing a dict as an indexer is deprecated and will raise in a future version. Use a list instead.
  globals()[f"rec_sdf_{i}"] = rec_df.loc[:, columns_to_subset]

../../_data/endes/2018/RE516171.sav

C:\Users\josue\AppData\Local\Temp\ipykernel_13116\4118650581.py:47: FutureWarning: Passing a dict as an indexer is deprecated and will raise in a future version. Use a list instead.
  globals()[f"rec_sdf_{i}"] = rec_df.loc[:, columns_to_subset]
C:\Users\josue\AppData\Local\Temp\ipykernel_13116\4118650581.py:62: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  globals()[f"endes_{year}"].var_labels = combined_var_labels
C:\Users\josue\AppData\Local\Temp\ipykernel_13116\4118650581.py:64: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  globals()[f"endes_{year}"].value_labels = combined_value_labels

../../_data/endes/2019/REC0111.sav

C:\Users\josue\AppData\Local\Temp\ipykernel_13116\4118650581.py:47: FutureWarning: Passing a dict as an indexer is deprecated and will raise in a future version. Use a list instead.
  globals()[f"rec_sdf_{i}"] = rec_df.loc[:, columns_to_subset]

../../_data/endes/2019/RE223132.sav

C:\Users\josue\AppData\Local\Temp\ipykernel_13116\4118650581.py:47: FutureWarning: Passing a dict as an indexer is deprecated and will raise in a future version. Use a list instead.
  globals()[f"rec_sdf_{i}"] = rec_df.loc[:, columns_to_subset]

../../_data/endes/2019/RE516171.sav

C:\Users\josue\AppData\Local\Temp\ipykernel_13116\4118650581.py:47: FutureWarning: Passing a dict as an indexer is deprecated and will raise in a future version. Use a list instead.
  globals()[f"rec_sdf_{i}"] = rec_df.loc[:, columns_to_subset]
C:\Users\josue\AppData\Local\Temp\ipykernel_13116\4118650581.py:62: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  globals()[f"endes_{year}"].var_labels = combined_var_labels
C:\Users\josue\AppData\Local\Temp\ipykernel_13116\4118650581.py:64: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  globals()[f"endes_{year}"].value_labels = combined_value_labels

In [14]:
# Print dictionary 2019
all_data["year_2015"]["data"]

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V508,V509,V510,V511,V512,V513,V525,V613,V714,V715
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,2008.0,1297.0,1.0,21.0,11.0,3.0,17.0,2.0,1.0,11.0
1,000102801 2,PE6,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,2011.0,1344.0,1.0,28.0,7.0,2.0,18.0,3.0,1.0,14.0
2,000102801 6,PE6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,1984.0,1016.0,5.0,14.0,34.0,7.0,14.0,0.0,0.0,6.0
3,000104801 2,PE6,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,2009.0,1320.0,1.0,18.0,9.0,2.0,15.0,2.0,0.0,6.0
4,000113601 2,PE6,1.0,136.0,2.0,1.0,2019.0,1434.0,11.0,1988.0,...,2005.0,1272.0,1.0,17.0,13.0,3.0,15.0,2.0,1.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33306,325406201 2,PE6,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,1971.0,...,1985.0,1032.0,1.0,14.0,34.0,7.0,12.0,3.0,0.0,5.0
33307,325406301 2,PE6,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,1988.0,...,2002.0,1236.0,1.0,14.0,17.0,4.0,12.0,3.0,0.0,7.0
33308,325407001 2,PE6,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,1973.0,...,1986.0,1043.0,1.0,13.0,33.0,7.0,12.0,4.0,0.0,5.0
33309,325407201 2,PE6,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,1994.0,...,2008.0,1301.0,1.0,13.0,11.0,3.0,13.0,2.0,0.0,11.0
33310,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,2013.0,1362.0,1.0,16.0,6.0,2.0,15.0,2.0,0.0,11.0

## 7. Append all_data data set

7. Use `all_data` to append all the data sets. Store all data sets in a list using `for loop`. Then, use `pd.concat` to append all the data sets. Also, you must reset the index to have a good-looking data. This new object should be named as `endes_data_2015_2019`. **Hint: Use [this code](https://stackoverflow.com/questions/32444138/concatenate-a-list-of-pandas-dataframes-together)**

In [15]:
endes_data_2015_2019 = []
# Loop through each year in the range
for year in years_range:
    endes_data_2015_2019.append(all_data[f"year_{year}"]["data"])

endes_data_2015_2019 = pd.concat(endes_data_2015_2019, axis=0, ignore_index=True)
print(endes_data_2015_2019)

                    CASEID V000    V001   V002  V003    V004    V007    V008  \
0             000100201  2  PE6     1.0    2.0   2.0     1.0  2019.0  1434.0
1             000102801  2  PE6     1.0   28.0   2.0     1.0  2019.0  1434.0
2             000102801  6  PE6     1.0   28.0   6.0     1.0  2019.0  1434.0
3             000104801  2  PE6     1.0   48.0   2.0     1.0  2019.0  1434.0
4             000113601  2  PE6     1.0  136.0   2.0     1.0  2019.0  1434.0
...                    ...  ...     ...    ...   ...     ...     ...     ...
166550        325406201  2  PE6  3254.0   62.0   2.0  3254.0  2019.0  1440.0
166551        325406301  2  PE6  3254.0   63.0   2.0  3254.0  2019.0  1440.0
166552        325407001  2  PE6  3254.0   70.0   2.0  3254.0  2019.0  1440.0
166553        325407201  2  PE6  3254.0   72.0   2.0  3254.0  2019.0  1440.0
166554        325407401  2  PE6  3254.0   74.0   2.0  3254.0  2019.0  1440.0

        V009    V010  ...    V508    V509  V510  V511  V512  V513  V525  V613  \
0        4.0  1986.0  ...  2008.0  1297.0   1.0  21.0  11.0   3.0  17.0   2.0
1        6.0  1983.0  ...  2011.0  1344.0   1.0  28.0   7.0   2.0  18.0   3.0
2        3.0  1970.0  ...  1984.0  1016.0   5.0  14.0  34.0   7.0  14.0   0.0
3        5.0  1991.0  ...  2009.0  1320.0   1.0  18.0   9.0   2.0  15.0   2.0
4       11.0  1988.0  ...  2005.0  1272.0   1.0  17.0  13.0   3.0  15.0   2.0
...      ...     ...  ...     ...     ...   ...   ...   ...   ...   ...   ...
166550  12.0  1971.0  ...  1985.0  1032.0   1.0  14.0  34.0   7.0  12.0   3.0
166551   6.0  1988.0  ...  2002.0  1236.0   1.0  14.0  17.0   4.0  12.0   3.0
166552   7.0  1973.0  ...  1986.0  1043.0   1.0  13.0  33.0   7.0  12.0   4.0
166553  12.0  1994.0  ...  2008.0  1301.0   1.0  13.0  11.0   3.0  13.0   2.0
166554  10.0  1996.0  ...  2013.0  1362.0   1.0  16.0   6.0   2.0  15.0   2.0

        V714  V715
0        1.0  11.0
1        1.0  14.0
2        0.0   6.0
3        0.0   6.0
4        1.0  16.0
...      ...   ...
166550   0.0   5.0
166551   0.0   7.0
166552   0.0   5.0
166553   0.0  11.0
166554   0.0  11.0

[166555 rows x 64 columns]

## 8. Generate dictionary for endes_data_2015_2019

8. Store all the `var_labels` and `value_labels` in a dictionary named as `all_var_labels` and `all_value_labels`. The first keys should be the year for both dictionaries.Then, use them to generate new attributes for `endes_data_2015_2019`. These attributes should be named as `var_labels` and `value_labels`.  **Hint: Use [this link](https://notebooks.githubusercontent.com/view/ipynb?browser=chrome&color_mode=auto&commit=4d6de78e00e7001f16bf6473c2eb7ce24fb611cd&device=unknown_device&enc_url=68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f616c6578616e6465727175697370652f4469706c6f6d61646f5f505543502f346436646537386530306537303031663136626636343733633265623763653234666236313163642f4c6563747572655f342f4c6563747572655f342e6970796e62&logged_in=true&nwo=alexanderquispe%2FDiplomado_PUCP&path=Lecture_4%2FLecture_4.ipynb&platform=windows&repository_id=427747212&repository_type=Repository&version=95#4.2.3.)**

In [16]:
# Create dictionaries to store variable labels and value labels
var_labels = {}
value_labels = {}

# Populate dictionaries with data from endes_data_2015_2019
for year in years_range:
    var_labels[year] = all_data[f"year_{year}"]["var_labels"]
    value_labels[year] = all_data[f"year_{year}"]["value_labels"]
# Include dictionary attributes
endes_data_2015_2019.attrs["var_labels"] = var_labels
endes_data_2015_2019.attrs["value_labels"] = value_labels

9. Use `endes_data_2015_2019` data to generate a new object named `mean_key_vars` to find the mean of **total children ever born (V201)**, **Ideal number of children (V613)**, **Husbands education-single yrs (V715)**, and **Age at first marriage (V511)** by year and department **(V024)**. Name these columns as **mean_total_children, mean_ideal_children, mean_hb_yr_educ and mean_first_marriage**, respectively. **Hint: Use groupby and [this link](https://stackoverflow.com/questions/40901770/is-there-a-simple-way-to-change-a-column-of-yes-no-to-1-0-in-a-pandas-dataframe).**

In [17]:
# #Select the columns to group by
group_columns = ['year', 'V024']

# Select the vars
key_vars = ["V201","V613","V715","V511"]
#df['column_name'] = pd.factorize(df['column_name'])[0]

# Calculate mean by department
mean_key_vars = endes_data_2015_2019.groupby(group_columns)[key_vars].mean()

# Rename in order the variables
mean_key_vars.columns = ['mean_total_children', 'mean_ideal_children', 'mean_hb_yr_educ', 'mean_first_marriage']

10. Merge `mean_key_vars` with `endes_data_2015_2019`. Name this object `final_result`. **Hint: Use merge.**

In [18]:
# merge
final_result = endes_data_2015_2019.merge(mean_key_vars,on=group_columns, how = "left")
final_result

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V512,V513,V525,V613,V714,V715,mean_total_children,mean_ideal_children,mean_hb_yr_educ,mean_first_marriage
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,11.0,3.0,17.0,2.0,1.0,11.0,2.257258,2.519355,9.611379,19.266152
1,000102801 2,PE6,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,7.0,2.0,18.0,3.0,1.0,14.0,2.257258,2.519355,9.611379,19.266152
2,000102801 6,PE6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,34.0,7.0,14.0,0.0,0.0,6.0,2.257258,2.519355,9.611379,19.266152
3,000104801 2,PE6,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,9.0,2.0,15.0,2.0,0.0,6.0,2.257258,2.519355,9.611379,19.266152
4,000113601 2,PE6,1.0,136.0,2.0,1.0,2019.0,1434.0,11.0,1988.0,...,13.0,3.0,15.0,2.0,1.0,16.0,2.257258,2.519355,9.611379,19.266152
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166550,325406201 2,PE6,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,1971.0,...,34.0,7.0,12.0,3.0,0.0,5.0,2.290015,2.388399,10.788566,18.985481
166551,325406301 2,PE6,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,1988.0,...,17.0,4.0,12.0,3.0,0.0,7.0,2.290015,2.388399,10.788566,18.985481
166552,325407001 2,PE6,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,1973.0,...,33.0,7.0,12.0,4.0,0.0,5.0,2.290015,2.388399,10.788566,18.985481
166553,325407201 2,PE6,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,1994.0,...,11.0,3.0,13.0,2.0,0.0,11.0,2.290015,2.388399,10.788566,18.985481
166554,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,6.0,2.0,15.0,2.0,0.0,11.0,2.290015,2.388399,10.788566,18.985481