### Assignment 3

## Question 1

In [1]:
!pip install --upgrade pandas

Requirement already satisfied: pandas in c:\users\csiesoft\anaconda3\lib\site-packages (1.2.4)
Collecting pandas
  Downloading pandas-1.3.4-cp38-cp38-win_amd64.whl (10.2 MB)
Requirement already satisfied: numpy>=1.17.3 in c:\users\csiesoft\anaconda3\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\csiesoft\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\csiesoft\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\csiesoft\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 1.2.4
    Uninstalling pandas-1.2.4:
      Successfully uninstalled pandas-1.2.4
Successfully installed pandas-1.3.4

In [63]:
import pandas as pd
import numpy as np
greene = pd.read_csv(r"../../_data/christensen_greene_f4.csv")

In [64]:
import statsmodels.formula.api as smf
import pickle
import scipy.stats as stats

In [65]:
greene

,id,YEAR,COST,Q,PL,SL,PK,SK,PF,SF
0,1,1970,0.2130,8.0,6869.47,0.3291,64.945,0.4197,18.000,0.2512
1,4,1970,3.0427,869.0,8372.96,0.1030,68.227,0.2913,21.067,0.6057
2,5,1970,9.4059,1412.0,7960.90,0.0891,40.692,0.1567,41.530,0.7542
3,14,1970,0.7606,65.0,8971.89,0.2802,41.243,0.1282,28.539,0.5916
4,15,1970,2.2587,295.0,8218.40,0.1772,71.940,0.1623,39.200,0.6606
...,...,...,...,...,...,...,...,...,...,...
153,214,1970,6.8293,946.6,10642.16,0.0883,43.600,0.1914,51.463,0.7203
154,215,1970,3.7605,377.0,7432.24,0.2117,74.120,0.2274,33.436,0.5609
155,216,1970,3.9822,391.0,5826.04,0.1926,78.288,0.0924,44.633,0.7151
156,217,1970,30.1880,5317.0,9586.63,0.0845,78.008,0.2009,41.840,0.7147
157,218,1970,67.8562,15220.0,6986.09,0.1451,74.025,0.2596,25.662,0.5945

$$
\begin{aligned} 
lnCT &= \beta_{0}+\beta_{q}lnq+ \beta_{qq}(lnq)^2+\beta_{q1}lnqlnp_1+\beta_{q2}lnqlnp_2+ \beta_{q3}lnqlnp_{3} +\beta_{1}lnp_1+\beta_{2}lnp_2+ \beta_{3}lnp_3 \\
& + \beta_{11}(lnp_{1})^2+ \beta_{22}(lnp_{2})^2+ \beta_{33}(lnp_{3})^2 + \beta_{12}lnp_{1}lnp_{2}+ \beta_{13}lnp_{1}lnp_{3}+\beta_{23}lnp_{2}lnp_{3} 
\end{aligned}
$$

In [66]:
ct = greene.COST.values
q = greene.Q.values
p1 = greene.PL.values
p2 = greene.PF.values
p3 = greene.PK.values

In [67]:
lnct = np.log(ct)
lnq = np.log(q)
lnp1 = np.log(p1)
lnp2 = np.log(p2)
lnp3 = np.log(p3)

In [68]:
lnq_2 = np.multiply(lnq,lnq)
lnqlnp1 = np.multiply(lnq,lnp1)
lnqlnp2 = np.multiply(lnq,lnp2)
lnqlnp3 = np.multiply(lnq,lnp3)

In [69]:
lnp1_2 = np.multiply(lnp1,lnp1) 
lnp2_2 = np.multiply(lnp2,lnp2) 
lnp3_2 = np.multiply(lnp3,lnp3)

In [70]:
lnp1lnp2 = np.multiply (lnp1,lnp2)
lnp1lnp3 = np.multiply (lnp1,lnp3)
lnp2lnp3 = np.multiply (lnp2,lnp3)

In [71]:
#We have a look at the results that we should get
results = smf.ols( 'lnct ~ lnq + lnq_2 + lnqlnp1 + lnqlnp2 + lnqlnp3 + lnp1 + lnp2 + lnp3 + lnp1_2 + lnp2_2 + lnp3_2 + lnp1lnp2 + lnp1lnp3 + lnp2lnp3',
                  data = greene)

In [72]:
X_test = pd.DataFrame(results.exog, columns = results.exog_names).iloc[ : , 1: ]
y_test = pd.Series(results.endog , name = results.endog_names )
intercept_test = True

In [73]:
beta_OLS_output_test = results.fit().summary2().tables[1].iloc[ :, [0]]

In [74]:
beta_OLS_output_test

               Coef.
Intercept -76.259261
lnq        -1.080425
lnq_2       0.026489
lnqlnp1     0.131041
lnqlnp2     0.058652
lnqlnp3     0.040144
lnp1       14.718293
lnp2       -0.894733
lnp3        6.380797
lnp1_2     -0.769264
lnp2_2     -0.036753
lnp3_2     -0.163707
lnp1lnp2    0.162283
lnp1lnp3   -0.572050
lnp2lnp3   -0.024025

.
$$
\widehat{\boldsymbol{\beta}}^{(OLS)} = \left( \mathbf{X}^\top \mathbf{X}\right)^{-1} \mathbf{X}^\top \mathbf{Y}
$$
​

In [75]:
X_input = pd.DataFrame()
y_input = pd.DataFrame()

In [76]:
y_input['lnct'] = lnct
X_input['lnq'] = lnq
X_input['lnq_2'] = lnq_2
X_input['lnqlnp1'] = lnqlnp1
X_input['lnqlnp2'] = lnqlnp2
X_input['lnqlnp3'] = lnqlnp3
X_input['lnp1'] = lnp1
X_input['lnp2'] = lnp2
X_input['lnp3'] = lnp3
X_input['lnp1_2'] = lnp1_2
X_input['lnp2_2'] = lnp2_2
X_input['lnp3_2'] = lnp3_2
X_input['lnp1lnp2'] = lnp1lnp2
X_input['lnp1lnp3'] = lnp1lnp3
X_input['lnp2lnp3'] = lnp2lnp3

In [77]:
def beta_OLS(X:pd.DataFrame, y:pd.Series, intercept:bool=True) -> pd.DataFrame:
    
    if not isinstance(X, pd.DataFrame):
        raise TypeError('X is not a DataFrame')
        
    if not isinstance(y, pd.DataFrame):
        raise TypeError('y is not a pandas Series')
        
    if not isinstance(intercept, bool):
        raise TypeError('intercept is not boolean')
    
    if intercept:
        X_ = X.copy()
        X_.insert(0, 'Intercept', 1)
        betas = np.linalg.inv(X_.T @ X_) @ X_.T @ y
        betas['Params'] = X_.columns.tolist()
        betas.set_index('Params', inplace=True)
        betas.rename(columns={'lnct':'Coefs'}, inplace=True)
        return betas
    else:
        betas = np.linalg.inv(X.T @ X) @ X.T @ y
        betas['Params'] = X.columns.tolist()
        betas.set_index('Params', inplace=True)
        betas.rename(columns={'lnct':'Coefs'}, inplace=True)
        return betas

In [78]:
coeficientes=beta_OLS (X_input,y_input, intercept=False )
coeficientes

             Coefs
Params
lnq      -1.070405
lnq_2     0.025880
lnqlnp1   0.129652
lnqlnp2   0.059482
lnqlnp3   0.042202
lnp1      1.034946
lnp2     -1.331499
lnp3     -0.290481
lnp1_2   -0.150969
lnp2_2   -0.050645
lnp3_2    0.020552
lnp1lnp2  0.213817
lnp1lnp3 -0.004674
lnp2lnp3 -0.013750

## Question 2

In [79]:
## Matriz de covarianzas
##es (SCE/N-k)*(Xa la t* x)inversa
##ScE es igual a (y - y estimado) al cuadrado
##y estimado es igual a la sumatoria de betas que multiplican a las X)

In [88]:
def cov_OLS(X:pd.DataFrame, y:pd.Series, intercept:bool=True) -> pd.DataFrame:
    
    if not isinstance(X, pd.DataFrame):
        raise TypeError('X is not a DataFrame')
        
    if not isinstance(y, pd.DataFrame):
        raise TypeError('y is not a pandas Series')
        
    if not isinstance(intercept, bool):
        raise TypeError('intercept is not boolean')
    
    if intercept:
        X_ = X.copy()
        X_.insert(0, 'Intercept', 1)
        
        #se generan los betas
        betas_x = pd.DataFrame()
        betas_x = np.linalg.inv(X_.T @ X_) @ X_.T @ y
        
        #multiplicamos betas * x
        betas_por_x = np.dot(X_, betas_x)
        
        #hallamos error
        error= y -  betas_por_x
        
        #error al cuadrado
        error_cuadrado = error*error
        
        #sumatoria de errores
        suma_errores =error_cuadrado.sum()
        
        #se dividen los errores
        n=len(X_)
        k=len(X_.columns)
        dividir_errores = suma_errores/ ( n - k)
        float_error=float(dividir_errores)
        
        covariance =  float_error*np.linalg.inv(X_.T @ X_) 
        
        return covariance
    else:
        #se generan los betas
        betas_x = pd.DataFrame()
        betas_x = np.linalg.inv(X.T @ X) @ X.T @ y
        
        #multiplicamos betas * x
        betas_por_x = np.dot(X, betas_x)
        
        #hallamos error
        error= y -  betas_por_x
        
        #error al cuadrado
        error_cuadrado = error*error
        
        #sumatoria de errores
        suma_errores =error_cuadrado.sum()
        
        #se dividen los errores
        n=len(X)
        k=len(X.columns)
        dividir_errores = suma_errores/ ( n - k)
        float_error=float(dividir_errores)
        
        covariance =  float_error*np.linalg.inv(X.T @ X) 
        
        return covariance

In [89]:
covarianza=cov_OLS (X_input,y_input, intercept=Fal)
covarianza

array([[ 1.46536110e+03,  1.92536740e-01, -1.16979659e-02,
        -2.66773150e-02,  1.59486051e-02,  3.95384087e-02,
        -2.62932563e+02, -8.39267904e+00, -1.28192044e+02,
         1.18808561e+01, -2.66944449e-01,  3.54063857e+00,
         9.90253485e-01,  1.09024400e+01,  1.97434900e-01],
       [ 1.92536728e-01,  1.41034137e-01,  3.07890507e-04,
        -1.34594064e-02,  1.60640891e-04, -6.08917857e-03,
        -1.86223489e-01,  1.48319650e-01, -9.07141180e-02,
         1.53205939e-02,  3.80830555e-04, -8.98116093e-04,
        -1.50464186e-02,  1.75464885e-02, -3.57049546e-03],
       [-1.16979660e-02,  3.07890507e-04,  5.55394938e-06,
        -3.61593160e-05, -5.29801229e-06, -1.09771538e-05,
         1.49144271e-03,  1.05210637e-03,  8.61669743e-04,
        -4.29877568e-05,  1.30745782e-05, -5.98330951e-05,
        -9.89318972e-05, -1.41107631e-05, -4.82658796e-05],
       [-2.66773139e-02, -1.34594064e-02, -3.61593160e-05,
         1.46566524e-03, -1.67944936e-04,  3.47760749e-04,
         2.15611763e-02, -1.51273578e-02,  5.42962652e-03,
        -1.96138973e-03,  1.91785959e-05,  2.85283343e-04,
         1.84990165e-03, -1.14121525e-03, -8.50140766e-05],
       [ 1.59486051e-02,  1.60640891e-04, -5.29801228e-06,
        -1.67944936e-04,  6.52765758e-04, -1.88851599e-04,
        -8.29319190e-03,  3.30615523e-03,  8.03485079e-03,
         5.87298119e-04, -1.70180980e-04, -1.02723431e-04,
        -1.69800192e-04, -1.44294581e-04, -1.37538947e-03],
       [ 3.95384094e-02, -6.08917857e-03, -1.09771538e-05,
         3.47760749e-04, -1.88851599e-04,  8.87525906e-04,
        -3.36931470e-04, -8.85345494e-03,  2.68085343e-04,
         2.10564098e-04, -3.31465728e-05, -6.71332546e-05,
         1.02165169e-04, -1.53695486e-03,  2.21219121e-03],
       [-2.62932563e+02, -1.86223491e-01,  1.49144270e-03,
         2.15611765e-02, -8.29319190e-03, -3.36931341e-04,
         5.01947207e+01, -1.25353111e+00,  1.90995422e+01,
        -2.38898569e+00,  7.04933660e-02, -4.20153528e-01,
         3.84158045e-02, -1.78815828e+00,  1.32156869e-01],
       [-8.39267935e+00,  1.48319649e-01,  1.05210637e-03,
        -1.51273578e-02,  3.30615522e-03, -8.85345494e-03,
        -1.25353105e+00,  8.07874216e+00, -2.14871261e-01,
         1.61642957e-01, -5.86466224e-02, -3.31471878e-02,
        -6.85049984e-01,  1.99481626e-01, -3.67387882e-01],
       [-1.28192044e+02, -9.07141187e-02,  8.61669738e-04,
         5.42962657e-03,  8.03485080e-03,  2.68085399e-04,
         1.90995421e+01, -2.14871282e-01,  2.05137143e+01,
        -7.05213589e-01,  2.36648616e-02, -7.63050193e-01,
         3.62290409e-02, -1.55555340e+00, -7.25910014e-02],
       [ 1.18808561e+01,  1.53205940e-02, -4.29877563e-05,
        -1.96138974e-03,  5.87298119e-04,  2.10564092e-04,
        -2.38898569e+00,  1.61642960e-01, -7.05213591e-01,
         1.19855468e-01, -3.07942666e-03,  1.13534127e-02,
        -1.34127904e-02,  7.03806593e-02, -6.65610881e-03],
       [-2.66944449e-01,  3.80830552e-04,  1.30745782e-05,
         1.91785962e-05, -1.70180980e-04, -3.31465727e-05,
         7.04933660e-02, -5.86466225e-02,  2.36648616e-02,
        -3.07942666e-03,  8.28453236e-03, -2.04933568e-03,
        -1.55206207e-03, -2.48520753e-03,  4.46683323e-03],
       [ 3.54063856e+00, -8.98116076e-04, -5.98330950e-05,
         2.85283342e-04, -1.02723431e-04, -6.71332561e-05,
        -4.20153527e-01, -3.31471874e-02, -7.63050193e-01,
         1.13534127e-02, -2.04933568e-03,  4.85560369e-02,
         8.38629108e-03,  4.33143220e-02, -6.65267709e-03],
       [ 9.90253516e-01, -1.50464185e-02, -9.89318974e-05,
         1.84990165e-03, -1.69800191e-04,  1.02165168e-04,
         3.84157985e-02, -6.85049984e-01,  3.62290389e-02,
        -1.34127901e-02, -1.55206208e-03,  8.38629111e-03,
         7.29387820e-02, -1.54132743e-02,  9.94939068e-03],
       [ 1.09024400e+01,  1.75464886e-02, -1.41107626e-05,
        -1.14121525e-03, -1.44294582e-04, -1.53695487e-03,
        -1.78815827e+00,  1.99481628e-01, -1.55555339e+00,
         7.03806590e-02, -2.48520753e-03,  4.33143220e-02,
        -1.54132745e-02,  1.38302362e-01, -1.05335725e-02],
       [ 1.97434908e-01, -3.57049546e-03, -4.82658796e-05,
        -8.50140769e-05, -1.37538947e-03,  2.21219121e-03,
         1.32156867e-01, -3.67387883e-01, -7.25910020e-02,
        -6.65610874e-03,  4.46683322e-03, -6.65267708e-03,
         9.94939070e-03, -1.05335725e-02,  6.06781125e-02]])

## Question 3

In [ ]:
def reg_OLS(X:pd.DataFrame, y:pd.Series, intercept:bool=True) -> pd.DataFrame:
    
    if not isinstance(X, pd.DataFrame):
        raise TypeError('X is not a DataFrame')
        
    if not isinstance(y, pd.DataFrame):
        raise TypeError('y is not a pandas Series')
        
    if not isinstance(intercept, bool):
        raise TypeError('intercept is not boolean')
    
    if intercept:
        coeff = beta_OLS( X, y, intercept = True) 
        coeff_values=coef.values
        
        var = var_OLS ( X, y, interecept = True )       
        var = var.values
        return betas
    else:
        coeff = beta_OLS( X, y, intercept = False)
        coeff_values=coef.values
        
        var = var_OLS ( X, y, intercept = False )       
        var = var.values
        return betas