### Assignment 3

## Question 1

In [1]:
!pip install --upgrade pandas

Requirement already satisfied: pandas in c:\users\csiesoft\anaconda3\lib\site-packages (1.2.4)
Collecting pandas
  Downloading pandas-1.3.4-cp38-cp38-win_amd64.whl (10.2 MB)
Requirement already satisfied: numpy>=1.17.3 in c:\users\csiesoft\anaconda3\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\csiesoft\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\csiesoft\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\csiesoft\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 1.2.4
    Uninstalling pandas-1.2.4:
      Successfully uninstalled pandas-1.2.4
Successfully installed pandas-1.3.4

In [63]:
import pandas as pd
import numpy as np
greene = pd.read_csv(r"../../_data/christensen_greene_f4.csv")

In [64]:
import statsmodels.formula.api as smf
import pickle
import scipy.stats as stats

In [65]:
greene

,id,YEAR,COST,Q,PL,SL,PK,SK,PF,SF
0,1,1970,0.2130,8.0,6869.47,0.3291,64.945,0.4197,18.000,0.2512
1,4,1970,3.0427,869.0,8372.96,0.1030,68.227,0.2913,21.067,0.6057
2,5,1970,9.4059,1412.0,7960.90,0.0891,40.692,0.1567,41.530,0.7542
3,14,1970,0.7606,65.0,8971.89,0.2802,41.243,0.1282,28.539,0.5916
4,15,1970,2.2587,295.0,8218.40,0.1772,71.940,0.1623,39.200,0.6606
...,...,...,...,...,...,...,...,...,...,...
153,214,1970,6.8293,946.6,10642.16,0.0883,43.600,0.1914,51.463,0.7203
154,215,1970,3.7605,377.0,7432.24,0.2117,74.120,0.2274,33.436,0.5609
155,216,1970,3.9822,391.0,5826.04,0.1926,78.288,0.0924,44.633,0.7151
156,217,1970,30.1880,5317.0,9586.63,0.0845,78.008,0.2009,41.840,0.7147
157,218,1970,67.8562,15220.0,6986.09,0.1451,74.025,0.2596,25.662,0.5945

$$
\begin{aligned} 
lnCT &= \beta_{0}+\beta_{q}lnq+ \beta_{qq}(lnq)^2+\beta_{q1}lnqlnp_1+\beta_{q2}lnqlnp_2+ \beta_{q3}lnqlnp_{3} +\beta_{1}lnp_1+\beta_{2}lnp_2+ \beta_{3}lnp_3 \\
& + \beta_{11}(lnp_{1})^2+ \beta_{22}(lnp_{2})^2+ \beta_{33}(lnp_{3})^2 + \beta_{12}lnp_{1}lnp_{2}+ \beta_{13}lnp_{1}lnp_{3}+\beta_{23}lnp_{2}lnp_{3} 
\end{aligned}
$$

In [66]:
ct = greene.COST.values
q = greene.Q.values
p1 = greene.PL.values
p2 = greene.PF.values
p3 = greene.PK.values

In [67]:
lnct = np.log(ct)
lnq = np.log(q)
lnp1 = np.log(p1)
lnp2 = np.log(p2)
lnp3 = np.log(p3)

In [68]:
lnq_2 = np.multiply(lnq,lnq)
lnqlnp1 = np.multiply(lnq,lnp1)
lnqlnp2 = np.multiply(lnq,lnp2)
lnqlnp3 = np.multiply(lnq,lnp3)

In [69]:
lnp1_2 = np.multiply(lnp1,lnp1) 
lnp2_2 = np.multiply(lnp2,lnp2) 
lnp3_2 = np.multiply(lnp3,lnp3)

In [70]:
lnp1lnp2 = np.multiply (lnp1,lnp2)
lnp1lnp3 = np.multiply (lnp1,lnp3)
lnp2lnp3 = np.multiply (lnp2,lnp3)

In [71]:
#We have a look at the results that we should get
results = smf.ols( 'lnct ~ lnq + lnq_2 + lnqlnp1 + lnqlnp2 + lnqlnp3 + lnp1 + lnp2 + lnp3 + lnp1_2 + lnp2_2 + lnp3_2 + lnp1lnp2 + lnp1lnp3 + lnp2lnp3',
                  data = greene)

In [72]:
X_test = pd.DataFrame(results.exog, columns = results.exog_names).iloc[ : , 1: ]
y_test = pd.Series(results.endog , name = results.endog_names )
intercept_test = True

In [73]:
beta_OLS_output_test = results.fit().summary2().tables[1].iloc[ :, [0]]

In [74]:
beta_OLS_output_test

               Coef.
Intercept -76.259261
lnq        -1.080425
lnq_2       0.026489
lnqlnp1     0.131041
lnqlnp2     0.058652
lnqlnp3     0.040144
lnp1       14.718293
lnp2       -0.894733
lnp3        6.380797
lnp1_2     -0.769264
lnp2_2     -0.036753
lnp3_2     -0.163707
lnp1lnp2    0.162283
lnp1lnp3   -0.572050
lnp2lnp3   -0.024025

.
$$
\widehat{\boldsymbol{\beta}}^{(OLS)} = \left( \mathbf{X}^\top \mathbf{X}\right)^{-1} \mathbf{X}^\top \mathbf{Y}
$$
​

In [75]:
X_input = pd.DataFrame()
y_input = pd.DataFrame()

In [76]:
y_input['lnct'] = lnct
X_input['lnq'] = lnq
X_input['lnq_2'] = lnq_2
X_input['lnqlnp1'] = lnqlnp1
X_input['lnqlnp2'] = lnqlnp2
X_input['lnqlnp3'] = lnqlnp3
X_input['lnp1'] = lnp1
X_input['lnp2'] = lnp2
X_input['lnp3'] = lnp3
X_input['lnp1_2'] = lnp1_2
X_input['lnp2_2'] = lnp2_2
X_input['lnp3_2'] = lnp3_2
X_input['lnp1lnp2'] = lnp1lnp2
X_input['lnp1lnp3'] = lnp1lnp3
X_input['lnp2lnp3'] = lnp2lnp3

In [77]:
def beta_OLS(X:pd.DataFrame, y:pd.Series, intercept:bool=True) -> pd.DataFrame:
    
    if not isinstance(X, pd.DataFrame):
        raise TypeError('X is not a DataFrame')
        
    if not isinstance(y, pd.DataFrame):
        raise TypeError('y is not a pandas Series')
        
    if not isinstance(intercept, bool):
        raise TypeError('intercept is not boolean')
    
    if intercept:
        X_ = X.copy()
        X_.insert(0, 'Intercept', 1)
        betas = np.linalg.inv(X_.T @ X_) @ X_.T @ y
        betas['Params'] = X_.columns.tolist()
        betas.set_index('Params', inplace=True)
        betas.rename(columns={'lnct':'Coefs'}, inplace=True)
        return betas
    else:
        betas = np.linalg.inv(X.T @ X) @ X.T @ y
        betas['Params'] = X.columns.tolist()
        betas.set_index('Params', inplace=True)
        betas.rename(columns={'lnct':'Coefs'}, inplace=True)
        return betas

In [78]:
coeficientes=beta_OLS (X_input,y_input, intercept=False )
coeficientes

             Coefs
Params
lnq      -1.070405
lnq_2     0.025880
lnqlnp1   0.129652
lnqlnp2   0.059482
lnqlnp3   0.042202
lnp1      1.034946
lnp2     -1.331499
lnp3     -0.290481
lnp1_2   -0.150969
lnp2_2   -0.050645
lnp3_2    0.020552
lnp1lnp2  0.213817
lnp1lnp3 -0.004674
lnp2lnp3 -0.013750

## Question 2

In [79]:
## Matriz de covarianzas
##es (SCE/N-k)*(Xa la t* x)inversa
##ScE es igual a (y - y estimado) al cuadrado
##y estimado es igual a la sumatoria de betas que multiplican a las X)

In [18]:
#hallar betas*x
X_input

,lnq,lnq_2,lnqlnp1,lnqlnp2,lnqlnp3,lnp1,lnp2,lnp3,lnp1_2,lnp2_2,lnp3_2,lnp1lnp2,lnp1lnp3,lnp2lnp3
0,2.079442,4.324077,18.371538,6.010359,8.678634,8.834842,2.890372,4.173541,78.054437,8.354249,17.418442,25.535978,36.872574,12.063084
1,6.767343,45.796933,61.127805,20.624885,28.577410,9.032763,3.047708,4.222840,81.590803,9.288523,17.832381,27.529222,38.143915,12.869984
2,7.252762,52.602563,65.146469,27.026810,26.878966,8.982297,3.726416,3.706032,80.681665,13.886177,13.734670,33.471777,33.288677,13.810215
3,4.174387,17.425509,37.994654,13.989505,15.526556,9.101852,3.351272,3.719481,82.843703,11.231021,13.834542,30.502777,33.854168,12.464992
4,5.686975,32.341689,51.263140,20.863674,24.316554,9.014131,3.668677,4.275832,81.254554,13.459189,18.282743,33.069932,38.542913,15.686647
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,6.852877,46.961918,63.543838,27.006249,25.870001,9.272579,3.940863,3.775057,85.980717,15.530402,14.251056,36.541963,35.004515,14.876983
154,5.932245,35.191533,52.877557,20.820004,25.542382,8.913583,3.509633,4.305685,79.451954,12.317525,18.538927,31.283405,38.379082,15.111376
155,5.968708,35.625470,51.749248,22.671977,26.025919,8.670093,3.798473,4.360394,75.170509,14.428401,19.013039,32.933118,37.805024,16.562842
156,8.578665,73.593485,78.650266,32.031471,37.375623,9.168125,3.733853,4.356811,84.054510,13.941657,18.981805,34.232428,39.943790,16.267692
157,9.630366,92.743942,85.244879,31.250645,41.452974,8.851676,3.245011,4.304403,78.352173,10.530098,18.527884,28.723790,38.101181,13.967836

In [33]:
betas_x = pd.DataFrame()
betas_x = np.linalg.inv(X_input.T @ X_input) @ X_input.T @ y_input
betas_x

        lnct
0  -1.070405
1   0.025880
2   0.129652
3   0.059482
4   0.042202
5   1.034946
6  -1.331499
7  -0.290481
8  -0.150969
9  -0.050645
10  0.020552
11  0.213817
12 -0.004674
13 -0.013750

In [42]:
betas_por_x = np.dot(X_input, betas_x)
betas_por_x

array([[-1.65259314],
       [ 1.47279458],
       [ 2.25424735],
       [-0.3254346 ],
       [ 0.96781348],
       [ 0.6433487 ],
       [-0.49911141],
       [-1.03906406],
       [-0.15433845],
       [ 1.89829876],
       [ 0.95898198],
       [-0.24250781],
       [ 1.20515513],
       [ 2.24845177],
       [ 1.66394604],
       [ 1.12714802],
       [ 1.67378105],
       [ 1.25649824],
       [ 1.92500916],
       [ 2.66980011],
       [ 1.84194522],
       [ 2.50833621],
       [ 2.27397562],
       [ 1.91191938],
       [ 2.50267447],
       [ 1.96421334],
       [ 2.51578861],
       [ 2.58320483],
       [ 1.84442971],
       [ 2.26238163],
       [ 3.09541721],
       [ 3.03270359],
       [ 2.42598034],
       [ 2.44274516],
       [ 2.64446427],
       [ 3.7248608 ],
       [ 3.13217512],
       [ 3.45867296],
       [ 2.72340411],
       [ 2.55599447],
       [ 3.13667296],
       [ 3.48947009],
       [ 3.37201161],
       [ 3.28431982],
       [ 3.13096608],
       [ 2.91920527],
       [ 3.14744105],
       [ 3.53900936],
       [ 3.34852062],
       [ 3.26210282],
       [ 3.42421738],
       [ 3.48780399],
       [ 3.37285927],
       [ 3.88578165],
       [ 3.25525218],
       [ 3.4155174 ],
       [ 3.49471842],
       [ 3.8039169 ],
       [ 4.08749794],
       [ 3.61791154],
       [ 3.42947163],
       [ 3.22683003],
       [ 3.87740994],
       [ 3.99809733],
       [ 3.68079505],
       [ 4.57427487],
       [ 4.25148491],
       [ 4.50570276],
       [ 3.99690382],
       [ 3.72918855],
       [ 3.76561583],
       [ 4.30501034],
       [ 4.75956965],
       [ 4.25430536],
       [ 4.46018775],
       [ 3.78899038],
       [ 4.60981536],
       [ 5.21494855],
       [ 5.27831551],
       [ 4.43407192],
       [ 4.77441694],
       [ 5.1842912 ],
       [ 4.81844369],
       [ 5.20916667],
       [ 5.29636412],
       [-1.80598092],
       [-0.27851776],
       [ 0.45440685],
       [ 0.67377923],
       [ 0.77488186],
       [ 1.09455095],
       [ 2.20787422],
       [ 2.36650477],
       [ 2.29872791],
       [ 2.72909337],
       [ 2.97545836],
       [ 2.74145474],
       [ 3.07101411],
       [ 3.2951442 ],
       [ 3.09721336],
       [ 3.60600394],
       [ 3.19399052],
       [ 3.66472122],
       [ 4.28020193],
       [ 4.94737435],
       [ 3.88667479],
       [ 3.01436173],
       [ 2.47739578],
       [ 4.10032022],
       [ 4.58490271],
       [ 4.46070367],
       [ 5.47728524],
       [ 5.61201272],
       [ 4.4936256 ],
       [ 5.57026016],
       [ 4.68780661],
       [ 3.47411421],
       [ 2.67750828],
       [ 3.63836964],
       [ 4.29805257],
       [ 2.99450094],
       [ 5.68294032],
       [ 5.76134224],
       [ 6.13064045],
       [ 6.64025907],
       [ 3.16139135],
       [ 3.16131512],
       [ 3.03805282],
       [ 3.33097694],
       [ 3.73010219],
       [ 1.75220671],
       [ 3.27301031],
       [ 2.8621216 ],
       [ 0.42098813],
       [ 3.85567383],
       [ 3.9351696 ],
       [ 3.7030814 ],
       [ 3.17283063],
       [ 3.30372067],
       [ 3.4273142 ],
       [ 4.69625802],
       [ 4.01373522],
       [ 3.17701445],
       [ 3.2338445 ],
       [ 3.55319108],
       [ 4.67820847],
       [ 4.46959475],
       [ 4.76934845],
       [ 4.79280925],
       [ 2.691396  ],
       [-1.0608382 ],
       [ 2.43959984],
       [ 3.17179878],
       [ 2.04067663],
       [ 1.09841768],
       [ 1.28708053],
       [ 3.55667901],
       [ 4.13251527]])

In [44]:
error= y_input -  betas_por_x
error

         lnct
0    0.106130
1   -0.360049
2   -0.012910
3    0.051787
4   -0.153024
..        ...
153 -0.119454
154  0.226134
155  0.094754
156 -0.149235
157  0.084875

[158 rows x 1 columns]

In [45]:
error_cuadrado = error*error
error_cuadrado

         lnct
0    0.011264
1    0.129636
2    0.000167
3    0.002682
4    0.023416
..        ...
153  0.014269
154  0.051137
155  0.008978
156  0.022271
157  0.007204

[158 rows x 1 columns]

In [46]:
suma_errores =error_cuadrado.sum()
suma_errores

lnct    2.532741
dtype: float64

In [48]:
len(X_input)

158

In [50]:
len(X_input.columns)

14

In [56]:
dividir_errores = suma_errores/ ( len(X_input) - len(X_input.columns))
dividir_errores

lnct    0.017588
dtype: float64

In [61]:
float_error=float(dividir_errores)
covariance =  float_error*np.linalg.inv(X_input.T @ X_input)
covariance

array([[ 1.43915804e-01,  3.15806523e-04, -1.37333011e-02,
         1.61813861e-04, -6.22001204e-03, -1.54803132e-01,
         1.52502794e-01, -7.53935886e-02,  1.40432040e-02,
         4.24479000e-04, -1.39143334e-03, -1.54894014e-02,
         1.64461928e-02, -3.67057910e-03],
       [ 3.15806523e-04,  5.57313677e-06, -3.71221128e-05,
        -5.27729105e-06, -1.08813113e-05, -6.20070694e-04,
         1.00541615e-03, -1.65019565e-04,  5.29260802e-05,
         1.11691696e-05, -3.22189994e-05, -9.29032709e-05,
         7.44266781e-05, -4.76522901e-05],
       [-1.37333011e-02, -3.71221128e-05,  1.49538495e-03,
        -1.71110867e-04,  3.55664651e-04,  1.71202271e-02,
        -1.55951565e-02,  3.15967655e-03, -1.78107135e-03,
         1.46139855e-05,  3.56951764e-04,  1.90643776e-03,
        -9.62168136e-04, -8.30982240e-05],
       [ 1.61813861e-04, -5.27729105e-06, -1.71110867e-04,
         6.66045678e-04, -1.93184063e-04, -5.54347602e-03,
         3.46754001e-03,  9.62446451e-03,  4.67431686e-04,
        -1.70724094e-04, -1.44170928e-04, -1.84300550e-04,
        -2.68374793e-04, -1.40593692e-03],
       [-6.22001204e-03, -1.08813113e-05,  3.55664651e-04,
        -1.93184063e-04,  9.04733858e-04,  6.89683100e-03,
        -8.80485329e-03,  3.80379942e-03, -1.12273271e-04,
        -2.64787165e-05, -1.66020306e-04,  7.70014837e-05,
        -1.86887428e-03,  2.25235957e-03],
       [-1.54803132e-01, -6.20070694e-04,  1.71202271e-02,
        -5.54347602e-03,  6.89683100e-03,  3.07840562e+00,
        -2.81633296e+00, -3.98264891e+00, -2.62482704e-01,
         2.30608166e-02,  2.19585488e-01,  2.20553876e-01,
         1.71552734e-01,  1.71037797e-01],
       [ 1.52502794e-01,  1.00541615e-03, -1.55951565e-02,
         3.46754001e-03, -8.80485329e-03, -2.81633296e+00,
         8.19623030e+00, -9.68641415e-01,  2.34424283e-01,
        -6.14160617e-02, -1.31338992e-02, -6.93384138e-01,
         2.67323729e-01, -3.73807664e-01],
       [-7.53935886e-02, -1.65019565e-04,  3.15967655e-03,
         9.62446451e-03,  3.80379942e-03, -3.98264891e+00,
        -9.68641415e-01,  9.49098603e+00,  3.41030486e-01,
         3.18585557e-04, -4.62654878e-01,  1.25390716e-01,
        -6.14197375e-01, -5.64595221e-02],
       [ 1.40432040e-02,  5.29260802e-05, -1.78107135e-03,
         4.67431686e-04, -1.12273271e-04, -2.62482704e-01,
         2.34424283e-01,  3.41030486e-01,  2.40128891e-02,
        -9.33959309e-04, -1.77111282e-02, -2.18835968e-02,
        -1.83855249e-02, -8.42709105e-03],
       [ 4.24479000e-04,  1.11691696e-05,  1.46139855e-05,
        -1.70724094e-04, -2.64787165e-05,  2.30608166e-02,
        -6.14160617e-02,  3.18585557e-04, -9.33959309e-04,
         8.40569026e-03, -1.43328959e-03, -1.39994545e-03,
        -5.09402334e-04,  4.59562727e-03],
       [-1.39143334e-03, -3.22189994e-05,  3.56951764e-04,
        -1.44170928e-04, -1.66020306e-04,  2.19585488e-01,
        -1.31338992e-02, -4.62654878e-01, -1.77111282e-02,
        -1.43328959e-03,  4.08257073e-02,  6.11717955e-03,
         1.73214780e-02, -7.27670643e-03],
       [-1.54894014e-02, -9.29032709e-05,  1.90643776e-03,
        -1.84300550e-04,  7.70014836e-05,  2.20553876e-01,
        -6.93384138e-01,  1.25390716e-01, -2.18835968e-02,
        -1.39994545e-03,  6.11717955e-03,  7.37594663e-02,
        -2.32505025e-02,  1.00183302e-02],
       [ 1.64461928e-02,  7.44266781e-05, -9.62168136e-04,
        -2.68374793e-04, -1.86887428e-03,  1.71552734e-01,
         2.67323729e-01, -6.14197375e-01, -1.83855249e-02,
        -5.09402334e-04,  1.73214780e-02, -2.32505025e-02,
         5.83660057e-02, -1.22499463e-02],
       [-3.67057910e-03, -4.76522901e-05, -8.30982240e-05,
        -1.40593692e-03,  2.25235957e-03,  1.71037797e-01,
        -3.73807664e-01, -5.64595221e-02, -8.42709105e-03,
         4.59562727e-03, -7.27670643e-03,  1.00183302e-02,
        -1.22499463e-02,  6.19018712e-02]])

In [19]:
X_input_betas=pd.DataFrame()
X_input_betas['lnq']=X_input['lnq']*-1.070405
X_input_betas['lnq_2']=X_input['lnq_2']*0.025880
X_input_betas['lnqlnp1']=X_input['lnqlnp1']*0.129652
X_input_betas['lnqlnp2']=X_input['lnqlnp2']*0.059482
X_input_betas['lnqlnp3']=X_input['lnqlnp3']*0.042202
X_input_betas['lnp1']=X_input['lnp1']*1.034946
X_input_betas['lnp2']=X_input['lnp2']*-1.331499
X_input_betas['lnp3']=X_input['lnp3']*-0.290481
X_input_betas['lnp1_2']=X_input['lnp1_2']*-0.150969
X_input_betas['lnp2_2']=X_input['lnp2_2']*-0.050645
X_input_betas['lnp3_2']=X_input['lnp3_2']*0.020552
X_input_betas['lnp1lnp2']=X_input['lnp1lnp2']*0.213817
X_input_betas['lnp1lnp3']=X_input['lnp1lnp3']*-0.004674
X_input_betas['lnp2lnp3']=X_input['lnp2lnp3']*-0.013750
X_input_betas

,lnq,lnq_2,lnqlnp1,lnqlnp2,lnqlnp3,lnp1,lnp2,lnp3,lnp1_2,lnp2_2,lnp3_2,lnp1lnp2,lnp1lnp3,lnp2lnp3
0,-2.225845,0.111907,2.381907,0.357508,0.366256,9.143585,-3.848527,-1.212334,-11.783800,-0.423101,0.357984,5.460026,-0.172342,-0.165867
1,-7.243798,1.185225,7.925342,1.226809,1.206024,9.348422,-4.058020,-1.226655,-12.317682,-0.470417,0.366491,5.886216,-0.178285,-0.176962
2,-7.763393,1.361354,8.446370,1.607609,1.134346,9.296193,-4.961719,-1.076532,-12.180430,-0.703265,0.282275,7.156835,-0.155591,-0.189890
3,-4.468285,0.450972,4.926083,0.832124,0.655252,9.419925,-4.462215,-1.080439,-12.506831,-0.568795,0.284328,6.522012,-0.158234,-0.171394
4,-6.087367,0.837003,6.646369,1.241013,1.026207,9.329139,-4.884839,-1.242048,-12.266919,-0.681641,0.375747,7.070914,-0.180150,-0.215691
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,-7.335353,1.215374,8.238586,1.606386,1.091766,9.596618,-5.247255,-1.096582,-12.980423,-0.786537,0.292888,7.813293,-0.163611,-0.204559
154,-6.349905,0.910757,6.855681,1.238416,1.077940,9.225077,-4.673073,-1.250720,-11.994782,-0.623821,0.381012,6.688924,-0.179384,-0.207781
155,-6.388934,0.921987,6.709394,1.348575,1.098346,8.973078,-5.057664,-1.266612,-11.348417,-0.730726,0.390756,7.041660,-0.176701,-0.227739
156,-9.182645,1.904599,10.197164,1.905296,1.577326,9.488514,-4.971621,-1.265571,-12.689625,-0.706075,0.390114,7.319475,-0.186697,-0.223681
157,-10.308392,2.400213,11.052169,1.858851,1.749398,9.161007,-4.320729,-1.250347,-11.828749,-0.533297,0.380785,6.141635,-0.178085,-0.192058

In [26]:
#para hallar y estimado se suma los x multiplicado por betas
y_input_estimado = pd.DataFrame()
y_input_estimado['lnct']=X_input_betas.sum(axis=1)
y_input_estimado

         lnct
0   -1.652645
1    1.472710
2    2.254160
3   -0.325497
4    0.967736
..        ...
153  2.040590
154  1.098339
155  1.287003
156  3.556573
157  4.132401

[158 rows x 1 columns]

In [27]:
y_input

         lnct
0   -1.546463
1    1.112745
2    2.241337
3   -0.273648
4    0.814789
..        ...
153  1.921222
154  1.324552
155  1.381834
156  3.407444
157  4.217391

[158 rows x 1 columns]

In [29]:
#para hallar termino de error se resta el y brindado menos el hallado
y_input_menos_estimado= pd.DataFrame()
y_input_menos_estimado['lnct']=y_input['lnct']-y_input_estimado['lnct']
y_input_menos_estimado

         lnct
0    0.106182
1   -0.359964
2   -0.012823
3    0.051850
4   -0.152947
..        ...
153 -0.119368
154  0.226213
155  0.094832
156 -0.149128
157  0.084989

[158 rows x 1 columns]

In [ ]:
#se eleva al cuadrado

In [88]:
def cov_OLS(X:pd.DataFrame, y:pd.Series, intercept:bool=True) -> pd.DataFrame:
    
    if not isinstance(X, pd.DataFrame):
        raise TypeError('X is not a DataFrame')
        
    if not isinstance(y, pd.DataFrame):
        raise TypeError('y is not a pandas Series')
        
    if not isinstance(intercept, bool):
        raise TypeError('intercept is not boolean')
    
    if intercept:
        X_ = X.copy()
        X_.insert(0, 'Intercept', 1)
        
        #se generan los betas
        betas_x = pd.DataFrame()
        betas_x = np.linalg.inv(X_.T @ X_) @ X_.T @ y
        
        #multiplicamos betas * x
        betas_por_x = np.dot(X_, betas_x)
        
        #hallamos error
        error= y -  betas_por_x
        
        #error al cuadrado
        error_cuadrado = error*error
        
        #sumatoria de errores
        suma_errores =error_cuadrado.sum()
        
        #se dividen los errores
        n=len(X_)
        k=len(X_.columns)
        dividir_errores = suma_errores/ ( n - k)
        float_error=float(dividir_errores)
        
        covariance =  float_error*np.linalg.inv(X_.T @ X_) 
        
        return covariance
    else:
        #se generan los betas
        betas_x = pd.DataFrame()
        betas_x = np.linalg.inv(X.T @ X) @ X.T @ y
        
        #multiplicamos betas * x
        betas_por_x = np.dot(X, betas_x)
        
        #hallamos error
        error= y -  betas_por_x
        
        #error al cuadrado
        error_cuadrado = error*error
        
        #sumatoria de errores
        suma_errores =error_cuadrado.sum()
        
        #se dividen los errores
        n=len(X)
        k=len(X.columns)
        dividir_errores = suma_errores/ ( n - k)
        float_error=float(dividir_errores)
        
        covariance =  float_error*np.linalg.inv(X.T @ X) 
        
        return covariance

In [89]:
covarianza=cov_OLS (X_input,y_input, intercept=Fal)
covarianza

array([[ 1.46536110e+03,  1.92536740e-01, -1.16979659e-02,
        -2.66773150e-02,  1.59486051e-02,  3.95384087e-02,
        -2.62932563e+02, -8.39267904e+00, -1.28192044e+02,
         1.18808561e+01, -2.66944449e-01,  3.54063857e+00,
         9.90253485e-01,  1.09024400e+01,  1.97434900e-01],
       [ 1.92536728e-01,  1.41034137e-01,  3.07890507e-04,
        -1.34594064e-02,  1.60640891e-04, -6.08917857e-03,
        -1.86223489e-01,  1.48319650e-01, -9.07141180e-02,
         1.53205939e-02,  3.80830555e-04, -8.98116093e-04,
        -1.50464186e-02,  1.75464885e-02, -3.57049546e-03],
       [-1.16979660e-02,  3.07890507e-04,  5.55394938e-06,
        -3.61593160e-05, -5.29801229e-06, -1.09771538e-05,
         1.49144271e-03,  1.05210637e-03,  8.61669743e-04,
        -4.29877568e-05,  1.30745782e-05, -5.98330951e-05,
        -9.89318972e-05, -1.41107631e-05, -4.82658796e-05],
       [-2.66773139e-02, -1.34594064e-02, -3.61593160e-05,
         1.46566524e-03, -1.67944936e-04,  3.47760749e-04,
         2.15611763e-02, -1.51273578e-02,  5.42962652e-03,
        -1.96138973e-03,  1.91785959e-05,  2.85283343e-04,
         1.84990165e-03, -1.14121525e-03, -8.50140766e-05],
       [ 1.59486051e-02,  1.60640891e-04, -5.29801228e-06,
        -1.67944936e-04,  6.52765758e-04, -1.88851599e-04,
        -8.29319190e-03,  3.30615523e-03,  8.03485079e-03,
         5.87298119e-04, -1.70180980e-04, -1.02723431e-04,
        -1.69800192e-04, -1.44294581e-04, -1.37538947e-03],
       [ 3.95384094e-02, -6.08917857e-03, -1.09771538e-05,
         3.47760749e-04, -1.88851599e-04,  8.87525906e-04,
        -3.36931470e-04, -8.85345494e-03,  2.68085343e-04,
         2.10564098e-04, -3.31465728e-05, -6.71332546e-05,
         1.02165169e-04, -1.53695486e-03,  2.21219121e-03],
       [-2.62932563e+02, -1.86223491e-01,  1.49144270e-03,
         2.15611765e-02, -8.29319190e-03, -3.36931341e-04,
         5.01947207e+01, -1.25353111e+00,  1.90995422e+01,
        -2.38898569e+00,  7.04933660e-02, -4.20153528e-01,
         3.84158045e-02, -1.78815828e+00,  1.32156869e-01],
       [-8.39267935e+00,  1.48319649e-01,  1.05210637e-03,
        -1.51273578e-02,  3.30615522e-03, -8.85345494e-03,
        -1.25353105e+00,  8.07874216e+00, -2.14871261e-01,
         1.61642957e-01, -5.86466224e-02, -3.31471878e-02,
        -6.85049984e-01,  1.99481626e-01, -3.67387882e-01],
       [-1.28192044e+02, -9.07141187e-02,  8.61669738e-04,
         5.42962657e-03,  8.03485080e-03,  2.68085399e-04,
         1.90995421e+01, -2.14871282e-01,  2.05137143e+01,
        -7.05213589e-01,  2.36648616e-02, -7.63050193e-01,
         3.62290409e-02, -1.55555340e+00, -7.25910014e-02],
       [ 1.18808561e+01,  1.53205940e-02, -4.29877563e-05,
        -1.96138974e-03,  5.87298119e-04,  2.10564092e-04,
        -2.38898569e+00,  1.61642960e-01, -7.05213591e-01,
         1.19855468e-01, -3.07942666e-03,  1.13534127e-02,
        -1.34127904e-02,  7.03806593e-02, -6.65610881e-03],
       [-2.66944449e-01,  3.80830552e-04,  1.30745782e-05,
         1.91785962e-05, -1.70180980e-04, -3.31465727e-05,
         7.04933660e-02, -5.86466225e-02,  2.36648616e-02,
        -3.07942666e-03,  8.28453236e-03, -2.04933568e-03,
        -1.55206207e-03, -2.48520753e-03,  4.46683323e-03],
       [ 3.54063856e+00, -8.98116076e-04, -5.98330950e-05,
         2.85283342e-04, -1.02723431e-04, -6.71332561e-05,
        -4.20153527e-01, -3.31471874e-02, -7.63050193e-01,
         1.13534127e-02, -2.04933568e-03,  4.85560369e-02,
         8.38629108e-03,  4.33143220e-02, -6.65267709e-03],
       [ 9.90253516e-01, -1.50464185e-02, -9.89318974e-05,
         1.84990165e-03, -1.69800191e-04,  1.02165168e-04,
         3.84157985e-02, -6.85049984e-01,  3.62290389e-02,
        -1.34127901e-02, -1.55206208e-03,  8.38629111e-03,
         7.29387820e-02, -1.54132743e-02,  9.94939068e-03],
       [ 1.09024400e+01,  1.75464886e-02, -1.41107626e-05,
        -1.14121525e-03, -1.44294582e-04, -1.53695487e-03,
        -1.78815827e+00,  1.99481628e-01, -1.55555339e+00,
         7.03806590e-02, -2.48520753e-03,  4.33143220e-02,
        -1.54132745e-02,  1.38302362e-01, -1.05335725e-02],
       [ 1.97434908e-01, -3.57049546e-03, -4.82658796e-05,
        -8.50140769e-05, -1.37538947e-03,  2.21219121e-03,
         1.32156867e-01, -3.67387883e-01, -7.25910020e-02,
        -6.65610874e-03,  4.46683322e-03, -6.65267708e-03,
         9.94939070e-03, -1.05335725e-02,  6.06781125e-02]])

## Question 3

In [ ]:
def reg_OLS(X:pd.DataFrame, y:pd.Series, intercept:bool=True) -> pd.DataFrame:
    
    if not isinstance(X, pd.DataFrame):
        raise TypeError('X is not a DataFrame')
        
    if not isinstance(y, pd.DataFrame):
        raise TypeError('y is not a pandas Series')
        
    if not isinstance(intercept, bool):
        raise TypeError('intercept is not boolean')
    
    if intercept:
        coeff = beta_OLS( X, y, intercept = True) 
        coeff_values=coef.values
        
        var = var_OLS ( X, y, interecept = True )       
        var = var.values
        return betas
    else:
        coeff = beta_OLS( X, y, intercept = False)
        coeff_values=coef.values
        
        var = var_OLS ( X, y, intercept = False )       
        var = var.values
        return betas